<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            All criticism is just the difference between the other person’s idea of normal, their unconscious conditioning, and who we are. So when we are criticized, it tells us a lot about what the other person’s conditioning is.          
          </p>
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
        
        
