<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Introduction to HappierMe
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56 col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                  Welcome to HappierMe. Get to know the HappierMe app, it's many features, and how you can use it to flourish in life. Explore the key ideas and share your comments in the forum.
                </h4>
              </div>
            </div>

            <div class="row mtb30px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" (click)="routeVideoaudio('video','/teenagers/videopage/introduction_to_happierme-videos-welcome_to_happierme.mp4', 'Welcome to HappierMe')">
                <a class="">
                  <div class="prelative">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/welcome_to_happierme.webp" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tile_title" >
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
                        <h4 class="mtb0px fw_500 fs_14px lh_24px fc_ffffff whitespace_preline">
                          Welcome to HappierMe
                        </h4>
                      </div>

                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
                        <h4 class="mtb0px fs_12px lh_140p fc_ffffff_0_5 tright">
                          00:30
                        </h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="row mb30px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" (click)="routeVideoaudio('video','/teenagers/videopage/introduction_to_happierme-videos-video_tour_of_the_app.mp4', 'Video tour of the app')">
                <a class="">
                  <div class="prelative">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/overview_of_app.webp" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tile_title" >
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
                        <h4 class="mtb0px fw_500 fs_14px lh_24px fc_ffffff whitespace_preline">
                          Video tour of the app
                        </h4>
                      </div>

                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
                        <h4 class="mtb0px fs_12px lh_140p fc_ffffff_0_5 tright">
                          02:25
                        </h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="toc_adiv_img mb30px">
              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/introduction_to_happierme.mp3','Introduction to HappierMe')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/intro_introduction_to_happierme.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Introduction to HappierMe
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:56
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/different_ways_to_use_this_app.mp3','Different ways to use this app')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/intro_different_ways_to_use_this_app.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Different ways to use this app
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        02:24
                      </h4>
                    </div>

                  </div>
                </div>
              </a>
            </div>

            <div class="row mb15px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                  KEY IDEAS
                </h4>
              </div>
            </div>

            <div class="toc_adiv_img">
              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/the_trigger_and_the_reaction.mp3','The trigger and the reaction')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_the_trigger_and_the_reaction.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        The trigger and the reaction
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:31
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/where_do_our_reactions_come_from.mp3','Where do our reactions come from? ')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_where_do_our_reactions_come_from.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Where do our reactions come from?
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:32
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/look_at_yourself_without_judgement.mp3','Look at yourself without judgment')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_look_at_yourself_without_judgement.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Look at yourself without judgment
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:35
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/be_open_to_learning.mp3','Be open to learning')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_be_open_to_learning.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Be open to learning
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:16
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/our_minds_function_in_similar_ways.mp3','Our minds function in similar ways')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_our_minds_function_in_similar_ways.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Our minds function in similar ways
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:21
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/the_importance_of_being_curious_and_asking_questions.mp3','The importance of being curious and asking questions')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_the_importance_of_being_curious_and_asking_questions.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        The importance of being curious and asking questions
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:07
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/change_comes_from_understanding_ourselves.mp3','Change comes from understanding ourselves')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_change_comes_from_understanding_ourselves.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Change comes from understanding ourselves
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:46
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/only_you_can_find_out_what_water_tastes_like.mp3','Only you can find out what water tastes like')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_only_you_can_find_out_what_water_tastes_like.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Only you can find out what water tastes like
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:13
                      </h4>
                    </div>

                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/introduction_to_happierme/audios/key_ideas/everyone_who_wants_to_can_learn_how_to_lead_a_happier_life.mp3','Everyone who wants to, can learn how to lead a happier life')">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/key_ideas_everyone_who_wants_to_can_learn_how_to_lead_a_happier_life.webp" class="img-responsive w100 img_ki_bmp">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Everyone who wants to, can learn how to lead a happier life
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        01:18
                      </h4>
                    </div>

                  </div>
                </div>
              </a>
            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->
