<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">
  <form class="">

    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      Conditioning unconsciously affects our opinions, our relationships, our religious beliefs, and our aspirations. Think of other ways conditioning impacts your life. It’s not wrong, but just needs to be understood.
    </h1>
    <div class="clearfix"></div>
  </form>  
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="goNext()" (previousEmitter)="prev()"></app-course-footer>