<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We have explored the many ways you can do this in a separate section of the app. It's so important to have a regular practice of doing so because it slows down the reactive mind, and allows space for intelligence to act.
          <br> You can also more easily explore the deeper layers of your thinking. <br>
          This understanding of the deeper layers of your thinking, combined with a quiet mind, awakens your own inner intelligence, and leads to wisdom, which can be life-changing. You have to take the journey yourself and find out. Consider this entire program as a guide. 
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>