<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            The third is a fear of change. We are all attached to all our opinions, beliefs and the way we will live now, and do not want to change, unless we are suffering, in which case we want the pain to go away. Again, this fear, like most fears, is imaginary. There is no pressure to change from the outside. Any change that does occur is from the inside, and that involves no pressure and is based on your own intelligence and choices you make. It’s like suddenly waking up and realising that you've been traveling on a different path to the one you wanted – it’s still your choice if you want to change direction or carry on, on this one.
          </p>    
          <p>
            For example, when I first began this enquiry I was worried that I would have to surrender all my ambitions and felt threatened by that. That fear came entirely from my own thinking. What happened is that the ambition to be successful and better than others fell away, but was replaced by a passion to do things really well, and that led to its own success and has been a blessing.
          </p>     
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
