<!-- page content -->
<div class="right_col mc_03">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw"
        [ngClass]="isAdults ? 'v1_3_bg_splashnew' : 'v1_3_bg_splash_teens'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <div class="row mt50px mb5px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fw_600 fs_24px lh_140p fc_ffffff">
                  Hi, {{userName}}!
                </h4>
              </div>
            </div>
            <div class="row mb20px mt10px">
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
                <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff_0_5">
                  Life is short, and we all want to make the most of it. Begin your journey to a happier and more successful life, here.
                </h4>
              </div>
            </div>
            <div class="toc_adiv_imgmy mb30px">
              <ng-container *ngFor="let item of metadata">
                <div class="row mb15px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <h4 class="mtb0px fs_18px fw_600 lh_140p fc_ffffff">
                      {{ item.section_name }}
                    </h4>
                  </div>
                </div>
                <div *ngFor="let card of item.data">
                  <app-section-card [section]="card"></app-section-card>
                </div>
              </ng-container>
              <div class="row mtb20px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button (click)="routeToDashboard()" type="submit" class="btn mdp_add_to_journal">
                    Proceed to Home
                  </button>
                </div>
              </div>
            </div>
            <div class="pagebreak"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer -->
<app-bottom-navigation [dash]="true"></app-bottom-navigation>
<!-- /footer -->