<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Welcome to this module on conditioning, which is part of the third circle of wisdom - or How the Mind Works. It is connected to every other circle. Conditioning is at the heart of being human and influences our lives in subtle ways we are not aware of. In this module we are going to explore questions like 'Where do our opinions and beliefs come from, and why are we attached to them?' How can two people look at the same situation and have such completely different reactions to them? What is behind all the divisions we see in society? Why do we carry all the sorrows of our past and struggle to let them go? How can we live with compassion and forgive others. Let’s get started
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>