<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">
  <form class="">

    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      Pausing judgement allows us to:
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      1. Explore our inner spaces
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      2. Accept ourselves
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      3. Be kind to ourselves
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      4. Have empathy for others
    </h1>
    
  </form>  
  
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
