<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>               

    <h1 class="txt1">
      <p class="mb0px fw_bold">#1</p>
      If we can stop comparing ourselves with others, we can avoid the ache of envy and low self-esteem, and be content with what we have.
    </h1>

  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
