<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-oneline-text [bg]="bg">

  <form>

    <h1 class="txt8 fw_500 oneliner_txt_title">
      Our self-esteem is influenced by many unconscious factors:
    </h1>

    <div class="clearfix"></div>

    <!-- <h3 class="txt8">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/emoticons/sad.png" alt="">
    </h3> -->

    <h3 class="txt8">
      01. How we compare with others
    </h3>

    <h3 class="txt8">
      02. How we compare with our idea of who we should be
    </h3>

    <h3 class="txt8">
      03. What others think of us
    </h3>

    <h3 class="txt8">
      04. How good we think we are at something
    </h3>

    <h3 class="txt8">
      05. Our need to be important
    </h3>

    <h3 class="txt8">
      06. If we have had a painful past
    </h3>

  </form>          

</app-oneline-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>