<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Welcome to this session. I invite you to explore the art of listening well. It is something we can all learn to do, and it can enhance our lives in many ways. It can improve our personal relationships, and also contribute to our success in the world. We are going to explore what goes on in our thinking when we are listening, what gets  in the way of listening well, and how we can learn to listen with generosity and wisdom. Listening is also a simple way to understand how the mind works, and can be a great learning opportunity on the journey to wisdom.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>