<app-transcript-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            Some of our fears are conscious, but many are unconscious, and they operate from behind the screen of our awareness, directing the course of our lives. Examples here could include a fear of change, which makes us feel we have no options to escape our unhappy job, or a fear of a lack of money in the future which may push us to gambling, or a fear of being alone which may push us to join groups we are not comfortable in.
             </p>          
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>








