<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-quotation [bg]="bg">
  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation.svg" alt=""> -->
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation.svg" alt="">
      </div>
    </div>

    <hr class="quotation_hr mt30px">

    <h1 class="quotation_txt">
      Hire people who are better than you are and leave them to get on with it. Look for people who will aim for the remarkable
    </h1>

    <hr class="quotation_hr">

    <h1 class="quotation_writer">
      David Ogilvy



    </h1>

  </form>
</app-quotation>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
