<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path"></app-course-header>

<app-kta-prevnext>
  <form class="">
           
    <h1 class="txt3">
      Any attempt to exert control over the future invites fear. Accept. Be. Focus on living, loving and giving. All worry robs you of the gift of life right now.
    </h1>
    
  </form>
</app-kta-prevnext>

<app-course-footer [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
