<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            In this module we are going to explore the many internal obstacles we can encounter on this journey of learning about ourselves and the discovery of wisdom, which can be life-changing. We are used to external challenges and obstacles in our life, but unfamiliar with internal ones. They are subtle and operate from behind the curtain of our awareness. Shining a light onto them helps us avoid them, so we can experience the life-changing benefits of this wisdom for ourselves.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>