<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            When others are angry with us, you may realise that the other person's anger, like your own, is not within their control and just an automatic reaction from their thinking. If you watch your own reaction carefully, you can watch your anger bubbling up in response. The intelligent response may be just to listen with intent to the other person and try and understand why they are angry. You could ask what you can do to defuse the situation. It may be a simple matter of saying sorry, and that is often enough to allow the other person to calm down. If you find it hard to say sorry, you are missing out on something simple you can do to make life easier for yourself.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>