<div class="wrapper">
  <!-- top navigation -->
  <app-tn-advert></app-tn-advert>
  <!-- /top navigation -->

  <!-- page content -->
  <div class="right_col mc_01">
    <!-- Class -->
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 p0 bg_white">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row mt50px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fs_33px lh_130p fw_400 fc_1092a7 mtb0px">
                          HumanWisdom for Education
                        </h4>
                      </div>
                    </div>

                    <div class="row mt40px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/hwp_student_01.svg" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_24px lh_140p fc_1092a7 mtb0px">
                          Boost student well-being, learning, and soft skills
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Get your students all the support they need to help reduce stress and anxiety, and to be successful on the inside, and in the world
                        </h4>
                      </div>
                    </div>

                    <div class="row mt30px cmlr-10px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/hwp_student_02.svg" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_24px lh_140p fc_1092a7 mtb0px">
                          Develop a mind that is calm, and open to learning
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                          How we think matters! We can avoid and overcome so many challenges we face every day by understanding ourselves and how our minds work. Your students are going to be no different.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_24px lh_140p fc_1092a7 mtb0px">
                          Key benefits
                        </h4>
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/hwp_student_03.svg" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Soft skills
                        </h4>

                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mb0px mt20px">
                          50% of hiring managers say graduates lack soft skills such as communication, teamwork, emotional intelligence, critical thinking, and creativity needed for the workplace. These skills are a natural by-product of a deeper selfunderstanding, which is the foundation of the app.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Stress & anxiety relief
                        </h4>

                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mb0px mt20px">
                          Stress affects learning. The app offers immediate help for 
                          <span class="fw_700 fs_18px lh_140p fc_1092a7 underline">
                            stress 
                          </span>
                          and 
                          <span class="fw_700 fs_18px lh_140p fc_1092a7 underline">
                            anxiety
                          </span>
                          , and then explores the root cause, for lasting benefit. This can also boost learning.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Manage your own mental health
                        </h4>

                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mb0px mt20px">
                          A deeper understanding of yourself helps you meet challenges with calm, manage your emotions and your own mental health.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Relationships
                        </h4>

                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mb0px mt20px">
                          Happy relationships enhance learning and lay the foundation for long-term happiness. The app has a detailed section on 
                          <span class="fw_700 fs_18px lh_140p fc_1092a7 underline">
                            Relationships
                          </span>
                          , and another section on workplace relationships.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Deal with criticism
                        </h4>

                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mb0px mt20px">
                          The
                          <span class="fw_700 fs_18px lh_140p fc_1092a7 underline">
                            Criticism
                          </span> 
                          module helps students accept feedback with a positive attitude, which can make a positive difference to their learning and employability. They also learn how to offer criticism with care.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Enhancing inclusion
                        </h4>

                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mb0px mt20px">
                          The
                          <span class="fw_700 fs_18px lh_140p fc_1092a7 underline">
                            Conditioning
                          </span>
                          module helps students explore and overcome their own prejudices and this can enhance inclusion and reduce conflict between different groups.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_24px lh_140p fc_1092a7 mtb0px">
                          Packages
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                          HumanWisdom offers different annual packages, each of which can be costed and tailored to suit your requirements. 
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0px">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/bronze.svg" class="img-responsive w100">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px">
                            1-year subscription + 1-hour training session
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0px">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/silver.svg" class="img-responsive w100">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px">
                            Bronze + 12 hrs of training for facilitators over a year, to aid engagement, host discussions and answer questions
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0px">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/gold.svg" class="img-responsive w100">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px">
                            Silver + Coaching by trained HumanWisdom coaches
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0px">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/platinum.svg" class="img-responsive w100">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px">
                            Gold + Wisdom Leadership Training
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr class="hr_style_19 mt50px mb50px">
                      </div>
                    </div>

                    <div class="row center_flex">
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px tcenter">
                          Sign up to our newsletter and enter a prize draw for a free annual subscription to HumanWisdom Premium
                        </h4>
                      </div>
                    </div>

                    <div class="row center_flex mt20px">
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <!-- html -->
                        <app-newsletter></app-newsletter>
                        <!-- /html -->
                      </div>
                    </div>

                    <!-- <div class="row center_flex mt20px mb10px">                    
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="text" class="form-control cfc3 tleft" placeholder="Your name">
                      </div>
                    </div>

                    <div class="row center_flex">                    
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="text" class="form-control cfc3 tleft" placeholder="Your e-mail address">
                      </div>
                    </div>

                    <div class="row center_flex mt20px">
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <a>
                          <button type="button" class="btn h60px bg_lg_ffc4f5_01 bs_01 br_30px fw_500 fs_18px lh_21px fc_000000 m0px w100">
                            Sign up for newsletter
                          </button>
                        </a>
                      </div>
                    </div> -->

                    <div class="row mt50px mb50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tcenter">
                        <h4 class="fw_700 fs_14px lh_130p fc_59595b mtb0px">
                          GET IN TOUCH
                        </h4>

                        <h4 class="fw_700 fs_24px lh_130p fc_59595b mb0px mt10px">
                          <a href="mailto:info@humanwisdom.me" target="_top" class="">
                            info@humanwisdom.me
                          </a>
                        </h4>
                      </div>
                    </div>

                    <!-- accordion -->
                    <app-ft-advert></app-ft-advert>
                    <!-- /accordion -->


                    <div class="row mt50px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="mtb0px fw_400 fs_21px lh_140p fc_000000">
                          Get the app
                        </h4>
                      </div>
                    </div>

                    <div class="row mt10px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <!-- desktop playstore -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <a (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/playstore_black.svg" alt=""
                              class="img-responsive w100">
                          </a>
                        </div>
                        <!-- /desktop playstore -->
    
                        <!-- desktop appstore -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/appstore_black.svg" alt=""
                              class="img-responsive w100">
                          </a>
                        </div>
                        <!-- /desktop appstore -->
                      </div>
                    </div>

                  </div>
                </div>
                
                <!-- fixed footer -->
                <!-- <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter adverts_ft_social_btns">

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                        <a href="https://www.facebook.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://twitter.com/HumanWisdom_me">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/twitter_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.instagram.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/instagram_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.linkedin.com/company/humanwisdom">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/linkedin_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/youtube_01.svg"
                              class="">
                          </div>
                        </a>
                      </div>
                    </div>
    
                    <div class="row mt20px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_14px lh_130p fc_59595b mtb0px tcenter">
                          2022 HumanWisdom. All rights reserved.
                        </h4>
                      </div>
                    </div>

                  </div>
                </div> -->
                <!-- /fixed footer -->

                <div class="pb_30rem"></div>

                <!-- floatable footer -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tcenter adverts_ft_social_btns">

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                        <a href="https://www.facebook.com/humanwisdomguide">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://twitter.com/HumanWisdom_me">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/twitter_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://www.instagram.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/instagram_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://www.linkedin.com/company/humanwisdom">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/linkedin_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/youtube_01.svg"
                              class="">
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_14px lh_130p fc_59595b mtb0px tcenter">
                          2022 HumanWisdom. All rights reserved.
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /floatable footer -->

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class -->
  </div>
  <!-- /page content -->
</div>