<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Our fears can kill off the seeds of our dreams before they even have a chance to germinate.<br> 
          Our mind is averse to failure and regards it as a threat. Whenever there is a chance of failure our mind will present us many reasons why we could fail, so we don’t even begin. Do you have a dream in you that your fear is stopping you from pursuing? Abraham Lincoln lost 26 election campaigns for public office before becoming President of the United States. One way of not being afraid is to care passionately about what you do, but not to mind whatever happens. Acceptance of failure dissolves fear.

         </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>