<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          If we meet people who are different to us and our idea of what ‘normal’ is, it can trigger our prejudices – whether based on skin colour or sexual orientation or religion. This happens without our awareness. If I live in a conservative country where gay relationships are banned, I may react with anger when I see a gay couple. My mind compares what I see, with my conditioning which is unconscious and because there is such a difference, it creates a disturbance which expresses itself as a prejudice.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>