<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Meeting people who are different with curiosity rather than fear is so important.
      <br>
      Be a rainbow is someone else’s life. Be kind. Someone might be a rainbow in yours.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>