<!-- top navigation -->
<div class="bg_monte_carlo nav_search col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="" routerLink="/adults/adult-dashboard">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h4 class="fw_500 fs_16px lh_19px fc_ffffff tcenter mtb0px">
          FAQ
        </h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <!-- <a class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_white_02.svg" alt="" class="img-responsive">
        </a> -->
      </div>
    </div>
  </div>
</div>

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">    
    <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_white p0">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row center_flex faq_title">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_ai">
                    <h4 class="mtb0px fw_400 fs_24px lh_130p fc_5d5d5d">
                      How can we help you?
                    </h4>
                  </div>
                </div>
                
                <!-- <div class="row center_flex mb10px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback p0 zi0 div_search mt0px">
                    <input type="search" class="form-control has-feedback-left h60px searchtxt_02" id="searchtxt_02" placeholder="Search query">
                    <span class="form-control-feedback left sfeedback" aria-hidden="true">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/magnifying_glass_01.svg" alt="" class="">
                    </span>
                  </div>
                </div> -->
                <!-- /top navigation --> 
                
                <!-- content  -->
                <div class="plr10px">
                  <!-- category 1 -->
                  <div class="row center_flex faq_category">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="mtb0px fw_700 fs_18px lh_130p fc_000000">
                        About Wisdom
                      </h4>
                    </div>
                  </div>
                
                  <div class="row center_flex faq_category">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="panel-group" id="accordion_faq">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_01" aria-expanded="true">
                                <div class="faq_question">
                                  What is the HumanWisdom Program?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_01" class="panel-collapse collapse in">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              This is an online program to help you discover your own wisdom, so you may realise its many benefits.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_02">
                                <div class="faq_question">
                                  What is wisdom?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_02" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              It’s the ability to live with inner intelligence, and be an excellent human being who meets life’s challenges with calm, has happy relationships, and lives with compassion and a sense of peace. This comes naturally when you understand yourself and how your mind works.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_03">
                                <div class="faq_question">
                                  I’m not sure it is for me – how can I find out?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_03" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              This is not a program that is telling you how to live your life, or what to do. It’s going to help you understand yourself better, so you can live a rich life, free of conflict, and discover your own wisdom.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_04">
                                <div class="faq_question">
                                  How is this different from other methods?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_04" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              It depends what you are referring to. In general I would say this is different because it helps you to understand the root cause of a problem and address it at that deep level, rather than just treating the symptoms, or trying to do the change using will-power. For example, you may try and not be envious, but that does not work, but by understanding the root of it in your thinking, you can be free of it.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_05">
                                <div class="faq_question">
                                  Is this self-understanding difficult?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_05" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              No it’s not. It just feels strange because it was never part of our education and whatever is new feels strange. We are just exploring the way our minds function.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_06">
                                <div class="faq_question">
                                  How long does it take to learn?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_06" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              There is not fixed end-point to this. It’s a journey of learning about yourself and how your mind works. This learning is from moment to moment. It’s like learning to play the piano – difficult at first, but gets easier the more you practise. In the end, the more you put into this the more you learn.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_07">
                                <div class="faq_question">
                                  Is this based on any religious teaching or ideology?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_07" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              No. This is not based on any religious teaching or ideology, but you may find similarities between this program and other teachers and books. After all we are just exploring and understanding the mind we all share, and this has been studied by other human beings for thousands of years. The key thing is to explore it yourself and see what you can learn. That learning brings change. This program is a step-by-step approach to help you discover this wisdom for yourself.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_08">
                                <div class="faq_question">
                                  How best should you navigate the program?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_08" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              There are no rules, and you are free to explore it as you wish. There are a number of options:
                              <ul class="pl2rem">
                                <li>
                                  Start from the beginning and go through to the end
                                </li>
                                <li>
                                  Begin with ‘Nurturing a quiet mind’ and ‘The art of enquiry’ and then do the rest as
                                </li>
                                <li>
                                  Begin with a specific subject you are interested in, like stress, and then explore the
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title fw_500 fs_14px lh_130p fc_5d5d5d">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_09">
                                <div class="faq_question">
                                  What should I do if I want to teach this wisdom to children?
                                </div>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_09" class="panel-collapse collapse">
                            <div class="panel-body fw_400 fs_12px lh_130p fc_5d5d5d">
                              We have a separate children’s section which is designed for adults to explore this wisdom with young children, aged 5-15. After that, they can do the adult program. We would suggest you begin learning yourself, and do the adult program, and then use the resources in the kids section to explore this with your children.
                            </div>
                          </div>
                        </div>
                
                        <div class="row center_flex mlr-20px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <hr class="divider_01">
                          </div>
                        </div>
                
                      </div>
                    </div>
                  </div>
                  <!-- /category 1 -->
                
                  <!-- category 2 -->
                  <!-- /category 2 -->
                
                  <div class="pagebreak"></div>
                </div>
                <!-- /content  -->

              </form>          
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<div class="sidebar-footer ft_faq_01">  
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter center_flex footer_faq">
      <a id="mailto"  href="mailto:info@humanwisdom.me">
        <button  type="button" class="btn btn-warning btn_faq">
          Still need help?
        </button>
      </a>
    </div>
  </div>  
</div>
<!-- /footer -->