<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-lengthy-text [bg]="bg">
<form>
  <h1 class="txt2 fw_500 lengthy_txt_title">
    Happiness:
  </h1>
  <div class="clearfix"></div>

  <h3 class="txt2 lengthy_txt_pointer">
    <p class="mb0px fw_500">01</p>
     Is linked to some form of pleasure.
  </h3>

  <h3 class="txt2 lengthy_txt_pointer">
    <p class="mb0px fw_500">02</p>
    For children: presents, ice cream, holidays, and friends.
  </h3>

  <h3 class="txt2 lengthy_txt_pointer">
    <p class="mb0px fw_500">03</p>
    For adults: shopping, experiences, relationships, and receiving praise.
  </h3>

</form>
</app-lengthy-text>
 
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
                     
   
