<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu">
      <nav>          
          <ul class="nav navbar-nav navbar-right cnav">
              <li class="">                    
                  <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/header/pencil.png" alt="">
                  </a>                  
              </li>
              <li class="">                    
                <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                    <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/header/bookmark.png" alt="">
                </a>                  
            </li>
            <!-- <li class="">                    
              <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                  <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/header/share.png" alt="">
              </a>                  
          </li> -->
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->  

<!-- page content -->
<div class="right_col ml0 anger_w10" role="main">				
  <!-- Class -->  
  <div class="cw100p cabsolute">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel cxpanel center_flex dflexblock">                        
          <div class="x_content c_white fwunset tcenter">
            <form>
              <!-- <h5 class="txt4 justified_center"> -->
              <h5 class="txt1">
                What are the side-effects of long term anger?
              </h5>
              <div class="clearfix"></div>

              <!-- multistep wizard -->
              <div id="svg_wrap"></div>

              <section>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt44 tleft">
                      2. Headaches
                    </h4>

                    <h4 class="txt45 tleft">
                      a dull aching pain, or a pressure across your forehead or the sides of your head
                    </h4>
                  </div>
                </div>
              </section>

              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>             

              <!-- /multistep wizard -->       


              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                 
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<div class="sidebar-footer hidden-small">
  <div class="row lh5rem">
    <div class="col-md-12 col-sm-12 col-xs-12 tcenter center_flex">
      <div class="col-md-2 col-sm-2 col-xs-4">
        <a routerLink="/adults/anger/s188p1">
          <button type="button" class="btn w100 mb0 btn_prev">Previous</button>          
        </a>        
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6 p0">
        <a routerLink="/adults/anger/s188p3">
          <button type="button" class="btn btn-default w100 mb0 btn_next">Next</button>
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">        
      </div>
    </div>
  </div>
</div>
<!-- /footer -->

<!-- bottom navigation -->
<app-botnav></app-botnav>
<!-- /bottom navigation -->