<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      The quality and depth of your relationships, and your ability to connect with others will determine how effective a leader you will be.
      <span class="highligted_span">
        (See the module on Relationships, and Workplace Relationships)
      </span>            
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
