<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      Our criticism of others can sometimes be automatic and unconscious, if they are different to what we regard as ‘normal’. This can cause conflict. Just asking yourself ‘How is this going to be received?, can help avoid it.
    </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>