.toastr_absolute{
    position: absolute !important;
}
.toastr_top_center {
    top: 0;
    right: 0;
    width: 100%;
}

.div_forum_post .dropdown .btn,
.div_forum_post .dropdown .btn:hover,
.div_forum_post .dropdown .btn:focus,
.div_forum_post .dropdown .btn:active,
.div_forum_post .dropdown .btn:visited {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent !important;
}

.div_forum_post .dropdown-toggle::after {
    display: none !important;
}

.div_forum_post .btn.fc_e58d82,
.div_forum_post .btn.fc_e58d82:hover,
.div_forum_post .btn.fc_e58d82:focus,
.div_forum_post .btn.fc_e58d82:active {
    color: #ED7D6F !important;
}

.div_forum_post .btn.fc_e58d82 span,
.div_forum_post .btn.fc_e58d82:hover span,
.div_forum_post .btn.fc_e58d82:focus span,
.div_forum_post .btn.fc_e58d82:active span {
    color: #ED7D6F !important;
}
