.toastr_absolute{
    position: absolute !important;
}
.toastr_top_center {
    top: 0;
    right: 0;
    width: 100%;
}

.div_forum_post .dropdown .btn,
.div_forum_post .dropdown .btn:hover,
.div_forum_post .dropdown .btn:focus,
.div_forum_post .dropdown .btn:active,
.div_forum_post .dropdown .btn:visited {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent !important;
}

.div_forum_post .dropdown-toggle::after {
    display: none !important;
}

.div_forum_post .btn.fc_e58d82,
.div_forum_post .btn.fc_e58d82:hover,
.div_forum_post .btn.fc_e58d82:focus,
.div_forum_post .btn.fc_e58d82:active {
    color: #ED7D6F !important;
}

.div_forum_post .btn.fc_e58d82 span,
.div_forum_post .btn.fc_e58d82:hover span,
.div_forum_post .btn.fc_e58d82:focus span,
.div_forum_post .btn.fc_e58d82:active span {
    color: #ED7D6F !important;
}
.fa-minus{
  transform: scale(0.7);
    font-size: 12px;
}

// Tag color classes
.tag-mental-health { background: #803358; color: #FFFFFF !important; }
.tag-relationships { background: #D7586B; color: #FFFFFF !important; }
.tag-work-leadership { background: #05BBBF; color: #FFFFFF !important; }
.tag-be-happier { background: #EEA170; color: #FFFFFF !important; }
.tag-habits-addiction { background: #FFACA2; color: #FFFFFF !important; }
.tag-dealing-loss { background: #EEA170; color: #FFFFFF !important; }
.tag-meditation { background: #1092A7; color: #FFFFFF !important; }
.tag-managing-emotions { background: #803358; color: #FFFFFF !important; }
.tag-nuggets-inspiration { background: #D7586B; color: #FFFFFF !important; }
.tag-ask-coach { background: #EEA170; color: #FFFFFF !important; }
.tag-other { background: #FFE8BB; color: #FFFFFF !important; }

.tag-static {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  border: 0;
  pointer-events: none;
  cursor: default;
}
.div_forum_post .btn:active{
    border: transparent !important;
}