<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          There is just so much research suggesting that a mainly plant diet is much better for our long term health. All change feels difficult and breaking habits from childhood can seem hard. Begin slowly, with small changes, perhaps for one evening a week. If you can read you can cook. Discover the joy of cooking recipes from around the world. Make time for food.  Try new things. It's fun. Research suggests that people who have mainly vegetarian diets live longer, have less heart disease, diabetes, and a lower risk of some cancers. Of course you still need to keep your weight in check and have a balanced diet.
           </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>