<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mdp_header">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a routerLink="/adults/adult-dashboard">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/ws_back_white.svg" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <a>
        <h1 class="fw_500 fs_16px lh_19px fc_ffffff tcenter mtb0px">
          My daily practice
        </h1>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

    </div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 bg_mdp sc_01">
        <div class="x_panel p0">
          <div class="x_content p0 tcenter">
            <form>

              <!-- carousel -->
              <div class="container">
                <div id="mdp_carousel" class="carousel slide" data-ride="carousel" data-interval="3000000">

                  <div class="row center_flex">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 we_ci ci_ft_01">
                      <ol class="carousel-indicators">
                        <li data-target="#mdp_carousel" data-slide-to="0" [ngClass]="[dailyid === '0' ? 'active' : '']"></li>
                        <li data-target="#mdp_carousel" data-slide-to="1" [ngClass]="[dailyid === '1' ? 'active' : '']"></li>
                        <li data-target="#mdp_carousel" data-slide-to="2" [ngClass]="[dailyid === '2' ? 'active' : '']"></li>
                        <li data-target="#mdp_carousel" data-slide-to="3" [ngClass]="[dailyid === '3' ? 'active' : '']"></li>
                        <li data-target="#mdp_carousel" data-slide-to="4" [ngClass]="[dailyid === '4' ? 'active' : '']"></li>

                        <a class="left carousel-control jc_flexstart flex_ai">
                          <h4 class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px" href="#mdp_carousel" data-slide="prev">
                            Back
                          </h4>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control jc_flexend flex_ai" href="#mdp_carousel" data-slide="next">
                          <h4 class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px">
                            Next
                          </h4>
                          <span class="sr-only">Next</span>
                        </a>
                      </ol>
                    </div>
                  </div>

                  <div class="carousel-inner">
                    <!-- video -->
                    <div class="item" [ngClass]="[dailyid === '0' ? 'active' : '']">
                      <div class="row mdp_icon">
                        <div class="col-md-12 col-sm-12 col-xs-8 float_none">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_video.svg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mdp_audio">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px">
                            Breathing Exercise
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0" >
                          <div class="row tcenter">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" *ngIf="videoLink !== ''">
                              <!-- <video controls playinline class="cvideo" #video [poster]="poster" controlsList="nodownload">
                                <source [src]="videoLink" type="video/mp4">
                              </video>  -->
                              <video controls playinline class="cvideo" #video controlsList="nodownload" preload="metadata" onplay="Logevent('click_play_video_breathing_exercise')" >
                                <source [src]="videoLink" type="video/mp4" >
                              </video>
                            </div>
                          </div>

                          <div class="row mt15px">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h1 class="fw_400 fs_15px lh_18px fc_000000 tcenter mtb0px">
                                {{dailybreathTitle}}
                              </h1>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /video -->

                    <!-- journal -->
                    <div class="item" [ngClass]="[dailyid === '1' ? 'active' : '']">
                      <div class="row mdp_icon">
                        <div class="col-md-12 col-sm-12 col-xs-8 float_none">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_journal.svg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mdp_audio">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px">
                            Question of the day
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10 float_none">
                          <h4 class="fw_400 fs_24px lh_140p fc_000000 mtb0px">
                            {{dailyqus}}
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <textarea type="text" id="comment" name="thread" [disabled]="guest || !isloggedIn || this.Subscriber === '0'"
                           [(ngModel)]="questext" required="required" class="mdp_answer_here"
                           [placeholder]="placeholder" maxlength="256"></textarea>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 float_none">
                          <button type="submit" (click)="subdailyques()" [disabled]="guest || !isloggedIn || this.Subscriber === '0'" class="btn btn-default mdp_add_to_journal">
                            Add to journal
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-7 float_none">
                          <h4 class="fw_400 fs_12px lh_130p fc_000000 mtb0px">
                            Your online HumanWisdom journal is secure and private to you.
                          </h4>
                        </div>
                      </div>

                      <div class="pagebreak"></div>
                    </div>
                    <!-- /journal -->

                    <!-- quotation -->
                    <div class="item" [ngClass]="[dailyid === '2' ? 'active' : '']">
                      <div class="row mdp_icon">
                        <div class="col-md-12 col-sm-12 col-xs-8 float_none">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_quotation.svg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mdp_audio">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px">
                            Daily inspiration
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-8 float_none">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation_black.svg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mdp_quotation">
                        <div class="col-md-12 col-sm-12 col-xs-10 float_none">
                          <h4 class="fw_400 fs_24px lh_140p fc_000000 mtb0px italic">
                            {{dailyinstext}}
                          </h4>
                        </div>
                      </div>

                     <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10 float_none">
                          <hr class="mdp_hr">
                        </div>
                      </div>

                      <div class="row mdp_author">
                        <div class="col-md-12 col-sm-12 col-xs-7 float_none">
                          <h4 class="fw_400 fs_18px lh_140p fc_000000 ls_pt1em mtb0px">
                           {{dailyinsAuthor}}
                          </h4>
                        </div>
                      </div>
                    </div>
                    <!-- /quotation -->

                    <!-- audio -->
                    <div class="item" [ngClass]="[dailyid === '3' ? 'active' : '']">
                      <div class="row mdp_icon">
                        <div class="col-md-12 col-sm-12 col-xs-8 float_none">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_audio.svg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mdp_audio">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px">
                            Audio meditation
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h1 class="fw_400 fs_24px lh_140p fc_000000 tcenter mtb0px">
                               {{audioTitle}}
                              </h1>
                            </div>
                          </div>

                          <div class="row tcenter">
                            <div class="col-md-12 col-sm-12 col-xs-12 p7rem circular-player-container" *ngIf="audioLink !== ''">
                              <ngx-circular-player id="aud1"  [strokeColor]="yellow" [source]="audioLink" (click)="Logevent('click_play_audio_meditation')" #audio ></ngx-circular-player>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /audio -->

                    <!-- exercise -->
                    <div class="item" [ngClass]="[dailyid === '4' ? 'active' : '']">
                      <div class="row mdp_icon">
                        <div class="col-md-12 col-sm-12 col-xs-8 float_none">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_exercise.svg" alt="" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mdp_audio">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px">
                            Daily challenge
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10 float_none">
                          <h4 class="fw_400 fs_24px lh_140p fc_000000 mtb0px">
                            {{trythistoday}}
                          </h4>
                        </div>
                      </div>
                    </div>
                    <!-- /exercise -->
                  </div>

                  <!-- <a class="left carousel-control" href="#mdp_carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#mdp_carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a> -->

                </div>
              </div>
              <!-- /carousel -->

              <!-- <div class="pagebreak"></div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->
