<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path"></app-course-header>

<app-kta-prevnext>
  <form class="">
           
    <h1 class="txt3">
      If we could understand the unconscious process of comparison, and be conscious of it, we could be free.
    </h1>
    
  </form>
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
