<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        PATHWAY
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="mt20px">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 pimgrow">
                  <a>
                    <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_01_inactive.svg" class="img-responsive"> -->
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_01_active.svg" class="img-responsive active">
                  </a>

                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_02_inactive.svg" class="img-responsive">
                    <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_02_active.svg" class="img-responsive active"> -->
                  </a>

                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_03_inactive.svg" class="img-responsive">
                    <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_03_active.svg" class="img-responsive active"> -->
                  </a>

                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_04_inactive.svg" class="img-responsive">
                    <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_04_active.svg" class="img-responsive active"> -->
                  </a>

                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_05_inactive.svg" class="img-responsive">
                    <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_05_active.svg" class="img-responsive active"> -->
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt15px mb15px">
                  <h4 class="mtb0px fw_500 fs_24px lh_140p fc_ffffff">
                    Develop a calm mind
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                    A calm mind is able to deal better with challenges, make better decisions, and also notice what is going on inside us. The modules here explain the many different ways you can do that.
                  </h4>
                </div>
              </div>

              <!-- hr -->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <hr class="hr_style_v3_01 mtb10pxi">
                </div>
              </div>
              <!-- /hr -->

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                </div>
              </div>

              <div class="row mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 msrow">

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/adults/nature">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/28.png" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Nature meditations
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                8 videos
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/adults/breathing">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/29.png" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Breathing exercises
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                7 exercises
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/adults/noticing-thoughts">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/30.png" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Noticing thoughts
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/adults/meditation">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/22.png" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Meditation
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                3 sessions
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/adults/guided-meditation">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/51.png" class="img-responsive">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Guided audio meditation
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                12 meditations
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->
