
<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      For thousands of years, ordinary men and women from every continent (popularly called mystics), who have explored the nature of the ‘I’, have said that when the illusion of the ‘I’ is seen, it dissolves, and beyond that lies the sacred and a sense of peace. It is already within us, waiting to be discovered. You just need to begin.

       </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>