
<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      If I do not love the thing I am doing, and only do it for the praise, recognition and fame, not only will I live with chronic anxiety, eventually I will start hating the thing I do, because I blame it for making  me feel bad.
    <div class="clearfix"></div>
</h1>
  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>