<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          In this final session we are going to explore how you can become a great leader, and what role wisdom can play in helping you do that. In addition to all the things we have already covered, what more could you do to go from being ordinary to great. Great leaders are also great human beings. That's what sets them apart. To be a great human being, you need to lead with wisdom, and humility. To do that you need to understand yourself and how your mind works, which we have explored throughout this program. Living with wisdom means having a vibrant intelligence that can process not only what is happening in the world around you, 
          but with a full awareness and control over what is happening in your own thinking as well.
           </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>