<!-- <app-topnav></app-topnav> -->

<!-- header -->
<app-tn-hwp-project></app-tn-hwp-project>
<!-- <app-tn-dashboard-v03></app-tn-dashboard-v03> -->
<!-- /header -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">

    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_user_profile">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row forum_pt20px">
                <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                  <div class="opaque_border_outer">
                    <img
                      src="{{url === '' ||  url.includes('undefined') ? 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/profile_default.svg'  : 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/UsersAvatar/' + url}}"
                      alt="" class="p0 opaque_border_inner img-responsive img_profile_01">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                  <h4 class="tcenter txt139 mtb0px pt20px">
                    {{loginResponse.Name}}
                  </h4>

                  <h6 class="tcenter txt140 mtb0px mt5px mb0pxi">
                    {{email}}
                  </h6>
                </div>
              </div>

              <!-- <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <a class="" routerLink="/onboarding/profile-edit">
                      <h6 class="txt141 underline mtb0px pt20px">
                        Edit Profile
                      </h6>
                    </a>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <a class="" routerLink="/onboarding/change-password">
                      <h6 class="tcenter txt141 underline mtb0px mt10px">
                        Change Password
                      </h6>
                    </a>
                  </div>
                </div> -->

              <div class="row pt20px center_flex">
                <div class="col-md-8 col-sm-8 col-xs-12 center_flex">
                  <!-- <div class="col-md-6 col-sm-6 col-xs-6 tright pprofile_pwd">
                    <a class="" routerLink="/onboarding/profile-edit">
                      <h6 class="txt141 underline mtb0px">
                        Edit Profile
                      </h6>
                    </a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 tleft">
                    <a class="" routerLink="/onboarding/change-password">
                      <h6 class="txt141 underline mtb0px">
                        Change Password
                      </h6>
                    </a>
                  </div> -->
                  <a class="" routerLink="/onboarding/profile-edit">
                    <h6 class="txt141 underline mtb0px">
                      Edit Profile
                    </h6>
                  </a>
                  <hr class="vhr_01">
                  <a class="" routerLink="/onboarding/change-password">
                    <h6 class="txt141 underline mtb0px">
                      Change Password
                    </h6>
                  </a>

                  <!-- <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <a class="" (click)="deleteMyData()">
                        <h6 class="txt141 underline mtb0px">
                          Delete My Data
                        </h6>
                      </a>
                    </div> -->
                </div>


              </div>

              <div class="row" *ngIf="isPartner">
                <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                  <a class="" (click)="getAffiliate()" *ngIf="RoleID === 8">
                    <h6 class="tcenter txt141 underline mtb0px mt10px">
                      Partnership Report
                    </h6>
                  </a>
                </div>
              </div>

              <div class="row mt30px profile_div">
                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai forum_pt20px">
                  <div class="col-md-2 col-sm-2 col-xs-2 prelative tcenter">
                    <div class="wpts_circle">
                      <img
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/wisdom_points_circle_03.svg"
                        alt="" class="p0">
                      <h6 class="txt66 absolute_01">
                        {{loginResponse.Points}}
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-5 col-xs-5 p0">
                    <h4 class="txt142">
                      Wisdom Points
                    </h4>
                  </div>
                  <!-- <div class="col-md-6 col-sm-5 col-xs-5 tright">
                    <a>
                      <h4 class="txt60">
                        <span class="pr5px">
                          Redeem Now
                        </span>
                        <img
                          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg"
                          alt="" class="p0">
                      </h4>
                    </a>
                  </div> -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <hr class="hr_style_4">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt143 tleft mtb0px">
                      Overall Progress
                    </h4>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai pt10px_01">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="progress prelative profile_progress">
                      <div class="progress-bar prelative profile_pb" [style.width]="overallPercentage + '%'"></div>
                      <h6 class="absolute_02 txt144">
                        {{overallPercentage}}%
                      </h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                    <h6 class="txt143 mtb0px">
                      {{loginResponse.Modules}}
                    </h6>
                    <h6 class="txt145 mtb0px">
                      Modules
                    </h6>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                    <h6 class="txt143 mtb0px">
                      {{loginResponse.Notes}}
                    </h6>
                    <h6 class="txt145 mtb0px">
                      Notes
                    </h6>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                    <h6 class="txt143 mtb0px">
                      {{loginResponse.Surveys}}
                    </h6>
                    <h6 class="txt145 mtb0px">
                      Surveys
                    </h6>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <hr class="hr_style_4">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4 class="txt143">
                      Wisdom Survey Score
                    </h4>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 tright">
                    <a routerLink="/adults/wisdom-survey/wisdom-survey-insight">
                      <h4 class="txt60">
                        <span class="pr5px">
                          Insights
                        </span>
                        <img
                          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg"
                          alt="" class="p0">
                      </h4>
                    </a>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <div class="col-md-2 col-sm-2 col-xs-3">
                    <h4 class="txt146">
                      {{loginResponse.hwScore}}
                    </h4>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-9 p0 tleft">
                    <h4 class="txt145">
                      12% up since last survey
                    </h4>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" (click)="survey()" class="btn btn-warning w100 btn_tws">
                      Take the Wisdom Survey
                    </button>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt145">
                      Fill the wisdom survey once a week and track your wisdom progress
                    </h4>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <hr class="hr_style_4">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt143">
                      This week
                    </h4>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="sun ? 'btn_tw_01' : 'btn_tw_02'">
                      S
                    </button>
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="mon ? 'btn_tw_01' : 'btn_tw_02'">
                      M
                    </button>
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="tue ? 'btn_tw_01' : 'btn_tw_02'">
                      T
                    </button>
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="wed ? 'btn_tw_01' : 'btn_tw_02'">
                      W
                    </button>
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="thu ? 'btn_tw_01' : 'btn_tw_02'">
                      T
                    </button>
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="fri ? 'btn_tw_01' : 'btn_tw_02'">
                      F
                    </button>
                    <button type="submit" class="btn btn-warning btn-round" [ngClass]="sat ? 'btn_tw_01' : 'btn_tw_02'">
                      S
                    </button>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 pt16px">
                  <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                    <h6 class="txt143 mtb0px">
                      {{loginResponse.WkHours}} hours
                    </h6>
                    <h6 class="txt145 mtb0px">
                      This week
                    </h6>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                    <!-- <h6 class="txt143 mtb0px">
                      {{loginResponse.Streak}} days
                    </h6>
                    <h6 class="txt145 mtb0px">
                      Streak
                    </h6> -->
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                    <!-- <h6 class="txt143 mtb0px">
                      72 hours
                    </h6>
                    <h6 class="txt145 mtb0px">
                      Total usage
                    </h6> -->

                    <h6 class="txt143 mtb0px">
                      {{loginResponse.Streak}} days
                    </h6>
                    <h6 class="txt145 mtb0px">
                      Streak
                    </h6>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="enablepayment">
                  <hr class="hr_style_4">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="enablepayment">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4 class="txt143 mtb0px">
                        Payment Details
                      </h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 tright">
                      <a routerLink="/onboarding/payment-details">
                        <h4 class="txt60 mtb0px">
                          <span class="pr5px">
                            Update
                          </span>
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg"
                            alt="" class="p0">
                        </h4>
                      </a>
                    </div>

                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt147 mt5b0px" *ngIf="paymentDetail">
                      {{paymentDetail['CCName'] + ' ' + 'xxxx xxxx xxxx ' + paymentDetail['CCNumber']}}
                    </h4>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <hr class="hr_style_4">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4 class="txt143 mtb0px">
                        Subscriptions
                      </h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 tright">
                      <a routerLink="/onboarding/myprogram">
                        <h4 class="txt60 mtb0px">
                          <span class="pr5px">
                            Details
                          </span>
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg"
                            alt="" class="p0">
                        </h4>
                      </a>
                    </div>

                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 *ngFor="let p of myPrograms" class="txt147 mt5b0px">
                      {{p.Prog}} : {{p.ActKey}}
                    </h4>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <hr class="hr_style_4">
                </div>

                <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="txt143 mtb0px">
                          Certificates
                        </h4> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 tright">
                        <a>
                          <h4 class="txt148 mtb0px">
                            <span class="pr5px">
                              Details
                            </span>                        
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                          </h4>       
                        </a>                        
                      </div>
                      
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt147 mt5b0px">
                        No certificates earned yet
                      </h4> 
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div> -->

                <div class="col-md-12 col-sm-12 col-xs-12 pb5rem">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai" routerLink="/adults/refer-friend">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4 class="txt143 mtb0px">
                        Invite Friends
                      </h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 tright">
                      <a>
                        <h4 class="txt60 mtb0px">
                          <span class="pr5px">
                            Share
                          </span>
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg"
                            alt="" class="p0">
                        </h4>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <hr class="hr_style_4">
                </div>
                
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a (click)="deleteMyData()">
                    <h4 class="txt60 dmd">
                      Delete my data
                    </h4>       
                  </a>   
                  <!-- <button type="submit" class="btn btn-default" (click)="deleteMyData()">
                    <h4 class="txt60 dmd">
                      Delete my data
                    </h4>       
                  </button>  -->
                </div>

                <!-- delete my data using modal -->
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  delete my data modal
                </button>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- /delete my data using modal -->

              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->