<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          You may not have ever asked yourself this question and it may seem strange. Let’s explore it and see what we can discover. Are we at peace with ourselves or in conflict? What is our relationship with our body? Is it one of caring? Exploring this question may allow us to live in harmony with ourselves. Many people don’t and we are going to find out why
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>