<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          The mind and body are one and the division between is historical, and only in our thinking.
          <br> Stress can cause physical diseases, and an unhealthy body can cause mental health problems. 
           <br>Now we are also discovering links between the bacteria in our gut, our gut biome, and our mental health. There is so much research advice available about the importance of regular exercise, adequate sleep and a healthy diet. A lack of sleep contributes to stress by making us more irritable, and more prone to react, but stress can also result in poor sleep. Regular aerobic exercise is known to boost mood through the release of endorphins, and is used to treat mild depression and anxiety
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>