<!-- top navigation -->
<nav class="navbar navbar-default navbar-static-top cnavbar-default pt1rem">
    <div class="container ncenter_flex">
      <div class="navbar-header nh center_flex">
        <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="cimg" href="#">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse hide_nav">      
        <ul class="nav navbar-nav navbar-right">        
          <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">          
            <li class="libr"><a href="/onboarding/login">Login</a></li> 
            <li class="libr"><a href="https://humanwisdom.me/onboarding/login">{{userName}}</a></li>                    
            <li class="libr"><a href="https://humanwisdom.me/onboarding/signup">Register</a></li>
            <li class="libr"><a routerLink="/adults/framework/webpage-help">Help</a></li>
            <li class=""><a routerLink="/onboarding/profile">My Profile</a></li>          
            <li role="separator" class="divider"></li>
          </ul>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">        
          <ul class="nav navbar-nav cnavbar-nav">          
            <li><a href="">About</a></li>          
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/adults/framework/webpage-ops-childrens">Children</a></li>
                <li><a routerLink="/adults/framework/webpage-ops-teenagers">Teenager</a></li>
                <li><a routerLink="/adults/framework/webpage-ops-adults">Adults</a></li>
                <li><a routerLink="/adults/framework/webpage-ops-parents">Parents</a></li>
              </ul>
            </li>
            <li><a routerLink="/adults/framework/webpage-wisdom-community">Community</a></li>
            <li><a href="">Wisdom Survey</a></li>
            <li><a href="">Wisdom Journal</a></li>
            <li><a href="https://humanwisdom.me/onboarding/addcart">Subscribe</a></li>
            <li><a routerLink="/adults/framework/webpage-testimonials">Testimonials</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /top navigation -->