<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"  [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
           Lets explore this pyramid which represents the different layers of our thinking. We have seen it in the meditation module as well. In layer 4 is the ‘I’, with its restlessness. Above it, layer 1 is what is happening in the world, layer 2 is what we think and feel, and layer 3 our hidden patterns of thinking, like our conditioning. As we keep looking and learning about ourselves, we come upon this layer 4, with our deep inner restlessness, and feeling of emptiness. Our temptation is always to escape from this feeling. This is what our mind is programmed to do in a hundred different ways. If we continue to be with this feeling of emptiness, meeting it without language, it transforms to a sense of peace, which is layer 5 in this pyramid.. This may be fleeting - it does not matter. Keep going.
           </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>