<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Welcome to the art of enquiry which is the second circle of the 5 circles of wisdom, and influences all the other circles of wisdom. In this module, we are going to explore how we can look at and understand ourselves. It is one of the key sections of the HumanWisdom program. We know how to look at the world, but not how to look at ourselves or how our minds work. It was never taught to us in school. Once we master the art of observing and understanding ourselves we can set out on our own journey of learning and discover wisdom. It is a skill we can all learn and it can be life-changing.
          </p>

          <p>
            It is similar to learning a new language - and with that are better able to understand ourselves and others. Without that we risk getting frustrated and losing our way.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
