<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          This process of comparison sometimes makes us compare people with each other, particularly children. This is common all throughout education, and parents do it as well. In fact society regards it as normal. People say it’s a competitive world and we need children to learn to be competitive to succeed. What impact can that have on children though and what happens to those who fall behind? Is there a risk they could regard themselves as failures? We do all this unconsciously.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>