<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          What will make us value integrity, and organise our life around that? The one thing we all want in life is to be happy and live with a sense of peace inside. Without integrity this is not possible. The first step to living with integrity is to want to do so, because we regard it as important. The second step is to live with an awareness of all the unconscious thinking patterns that can push us to do the opposite. Our conditioning, our unconscious fears, and our greed can push us to take advantage of a person or situation for our own benefit, and then justify our actions to ourselves. As we continue this journey and learn about ourselves we can discover wisdom which leads to a sense of peace. This peace is not dependent on how much money we have. This allows us to live with integrity.
          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>