<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We have explored how the unconscious and automatic process of comparison operates in the background in our thinking, and can contribute to feelings of envy, low self-esteem and a general feeling we are not good enough. This can grumble away in the background and result in a sense of unease and a lack of peace.
          If we could wake up to this process going on in the background, and watch it in real time as it does so, we could realise it' not intelligent to do so and have an insight that just stops it in its tracks. So much inner conflict in our minds would end if we could do this.
           </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>