<app-tn-partnership-app></app-tn-partnership-app>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_treesisters">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row center_flex mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <div class="row ptreesisters_desc">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="txt337 mt0px mb10px">
                        Great choice!
                      </h4>

                      <h4 class="txt329 mtb0px">
                        As part of our mission to help make the world a better place, we have partnered with Treesisters, a social change and reforestation charity that works towards tropical forest restoration. With them, we will plant a tree in your name, for every person who subscribes to HumanWisdom Premium using your referral code. Begin sharing your code and help us plant more trees.
                      </h4>
                    </div>
                  </div>

                </div>
              </div>

              
                
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 row_bp">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl0px">
                    <button (click)="Cancel()" type="button" class="btn btn_pt_cancel" data-dismiss="modal">
                      Cancel
                    </button>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0px">
                    <button type="button" class="btn btn_ja_confirm" (click)="Submit()" data-dismiss="modal">
                      Confirm
                    </button>
                  </div>
                </div>
              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->