<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Consider this example where someone insults my religion.
          </p>

          <p>
            I feel hurt and react by getting really angry, and want to retaliate in some way.Some people do react with violence and feel it is entirely justified. We all feel our anger is always justified and caused by the behaviour and actions of others.This is where human awareness stops.
          </p>

          <p>
            If I ask myself why I got angry and what is going on in my thinking I discover so much more.
          </p>

          <p>
            I got hurt because I am attached to my religion. I am attached to it and identify myself with it, because it meets my deep emotional needs to feel secure, belong to a group, and so on. If it is challenged, I feel physical pain and react with anger. 
          </p>

          <p>
            Now that I am aware of this I can ask myself what is the intelligent way to respond.
          </p>
        </h3>                
      </div>
    </div>    
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>