<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Stress can make us lose our ability to think clearly, and make rational decisions. This is a natural effect of a fire in our thinking. It can make us tell a lie for example. When asked by your boss if you have done something you were supposed to do, the stress of being told off may make you say yes, even if you haven’t. When he finds out you lied, it can undermine the trust he has for you. Or stress can make us eat too much or drink too much alcohol, even though we know that is bad for our health. If we are stressed and cannot think clearly, we cannot make the best decisions, for example if we are having an argument at home, get upset and say we are leaving in the heat of the moment. If we are stressed its best therefore to delay making any important decisions if we can.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>