<div class="row div_is_02">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <a (click)="rouetToPath(section.path)">
            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4 p0 prelative">
                <img [src]="section.image_path" class="p0 session_imgforum">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                <div class="row mt10px mb5px">
                    <div id="photo">
                        <img style="vertical-align:middle" [src]="'https://humanwisdoms3.s3.eu-west-2.amazonaws.com' + section.icon_path" alt="">
                        <span style="vertical-align:middle"
                            class="mt0px  fw_400 fs_12px lh_130p fc_ffffff plr5px">{{section.module}}</span>
                    </div>

                </div>
                <h4 class="mt0px mb5px fs_15px fw_500  fc_ffffff ellipsis" style="line-height: 19.5px;">
                    {{section.title}}
                </h4>
                <h4 class="mt0px mb5px fs_12px  fc_ffffff_0_5 " style="line-height: 15.6px;">
                    {{section.timing}}
                </h4>
            </div>
        </a>
    </div>
</div>
<!-- hr -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-10px">
        <hr class="hr_style_v3_02">
    </div>
</div>