<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Many people are critical of themselves and feel sad and stressed. They get caught in a loop of negative self-talk from which there seems no escape. If you do, you are not alone.
          <br>
          Why does our mind do that ? The answer may lie in the deeper layers of our thinking. We get subtly conditioned by social media and our culture into what the accepted ideal is. This could be the ideal body shape, or personality, or what success means, or what you should be doing with your career, or the relationships you should have, or what a good parent should be. We are not aware of this. Our mind then compares who we are with this ideal, and since we always come up short we can feel terrible about who we are, and think we are lacking in some way. Since we never match our ideal of who we think we should be, our emotional pain continues          
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>