<nav class="lh0">
  <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox mc_main">
  <label class="m-menu__toggle m0px ihamburger" for="menu" (click)="disableClick ? $event.preventDefault() : null">
    <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/tn_hamburger.svg" class="" alt="" (click)="getmenuevent()">
  </label>
  <label class="m-menu__overlay" #closemodal for="menu"></label>
  <!-- submenu -->
  <div class="m-menu menu_parent">
    <div class="m-menu__header">
      <div class="row w100">
        <div class="col-md-12 col-sm-12 col-xs-12 p0">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
              <img src="{{getImageUrl()}}" alt="" class="img_profile">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 tright">
              <a class="" (click)="closemenuevent()">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/close.svg" alt="" class="p0 iclose">
              </a>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt20px mb15px">
            <h4 class="mt0px mb5px fs_20px fw_600 lh_150p fc_ffffff">
              {{getName()}}
            </h4>
            <a  (click)="Logevent('/onboarding/user-profile', '', 'click_profile')"  *ngIf="enableprofile">
              <h4 class="mtb0px fs_15px fw_500 lh_150p fc_e58d82 hc_profile" *ngIf="isloggedIn">
                View Profile
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    <ul class="dh_ul">

      <li id="liSubscribe" *ngIf="!subscriber">
        <a (click)="Logevent('/subscription/start-your-free-trial', '', 'click_Subscribe')"  class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_stp.svg" class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  Subscribe to Premium
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="getLoggedIn()  && getSubscriber()">
        <a (click)="routeManageSubscriptiont('/onboarding/myprogram', '', 'click_MySubscription_Hamburger')"   class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/06.svg" class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  {{GetSubscriptionText()}}
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <!-- <li>
        <a (click)="Logevent('/adults/wisdom-survey', '', 'click_survey')"  class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/03.svg" class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  Happiness Survey
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li> -->

      <li>
        <a (click)="Logevent('/adults/testimonials', '', 'click_testimonials')"  class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/03.svg" class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                 Testimonials
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <!-- multilayer li for partnership -->
      <li>
        <label class="a-label__chevron title_p" for="item-partnership">
          <!-- Item 2 -->
          <div class="row" (click)="setLogevent('click_Partnership_Program')">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/17.svg" class="img-responsive">
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  Partnership Program
                </h4>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 p0 tright">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/chevron_right_white.svg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </label>
        <input type="checkbox" id="item-partnership" name="item-partnership" class="m-menu__checkbox">

        <div class="m-menu">
          <div class="m-menu__header">
            <label class="m-menu__toggle" for="item-partnership">
              <div class="row mb30px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                  <div class="col-md-1 col-sm-1 col-xs-1 p0 mr20px">
                    <img
                      src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_back.svg"
                      alt="" class="img-responsive back_p">
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11 p0">
                    <h4 class="mtb0px fs_15px fw_500 lh_150p fc_e58d82">
                      Partnership Program
                    </h4>
                  </div>
                </div>
              </div>
            </label>
          </div>
          <ul class="dh_ul">

            <li id="isNotPartner" *ngIf="isPartner=='0'">
              <a (click)="RouteToBecomeAPartner()" class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/17.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Become a Partner
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li id="isPartner" *ngIf="isPartner=='1'">
              <a (click)="routeToPartnerScreen()" class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/17.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        My Partnership
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="p0 b0px" (click)="Logevent('/adults/partnership-webpage/partnership-index/', '', 'click_About_Partnership_Hamburger')"   >
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/17.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        About Partnership
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="p0 b0px" (click)="RouteToFaq()">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/17.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Partnership FAQ
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- /multilayer li for partnership -->

      <li *ngIf="!ios">
        <a  (click)="Logevent('/onboarding/add-to-cart', '', 'click_give_the_gift_happiness')"  class="p0 b0px">
        <!-- <a routerLink="/give-the-gift-of-wisdom/" class="p0 b0px"> -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/07.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px" (click)="giftwisdom()">
                  Give the gift of Happiness
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a  (click)="Logevent('/adults/refer-friend', '', 'click_refer_friend_Hamburger')"   class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/08.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px" data-toggle="modal" data-target="#refer_popup">
                  Refer a Friend
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <!-- <li>
        <a routerLink="/give-the-gift-of-wisdom/" class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/08.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px" data-toggle="modal" data-target="#refer_popup">
                  Give the gift of wisdom
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li> -->

      <li *ngIf="!ios">
        <a  (click)="Logevent('/adults/adverts-work', '', 'click_hwp_business_Hamburger')"   class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/20.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px" data-toggle="modal" data-target="#refer_popup">
                  HappierMe for Business
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="!ios">
        <a  (click)="Logevent('/adults/adverts-student', '', 'click_hwp_education_Hamburger')"   class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/21.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px" data-toggle="modal" data-target="#refer_popup">
                  HappierMe for Education
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a  (click)="Logevent('/adults/treesisters', '', 'click_treesisters_Hamburger')"  class="p0 b0px">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/11.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  Tree Planting Program
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a  (click)="Logevent('', '', 'click_newsletter_Hamburger')" href="https://humanwisdom.me/newsletter.html"  class="p0 b0px hc_sfn">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/15.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-11 col-sm-11 col-xs-11 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  Signup for our newsletter
                </h4>
              </div>
            </div>
          </div>
        </a>
      </li>

      <!-- multilayer li for about us -->
      <li *ngIf="!ios">
        <label class="a-label__chevron title_au" for="item-about_us">
          <!-- Item 2 -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/19.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  About Us
                </h4>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px tright">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/chevron_right_white.svg"
                  alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </label>
        <input type="checkbox" id="item-about_us" name="item-about_us" class="m-menu__checkbox">

        <div class="m-menu">
          <div class="m-menu__header">
            <label class="m-menu__toggle" for="item-about_us">
              <div class="row mb30px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                  <div class="col-md-1 col-sm-1 col-xs-1 p0 mr20px">
                    <img
                      src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_back.svg"
                      alt="" class="img-responsive back_au">
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11 p0">
                    <h4 class="mtb0px fs_15px fw_500 lh_150p fc_e58d82">
                      About Us
                    </h4>
                  </div>
                </div>
              </div>
            </label>
          </div>
          <ul class="dh_ul">
            <li>
              <a (click)="Logevent('/adults/hwp-project', '', 'click_hwp_project_Hamburger')" class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/10.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        HappierMe Project
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a (click)="Logevent('/adults/adverts-about', '', 'click_our_story_Hamburger')"  class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Our Story
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

           <!--  <li>
              <a (click)="Logevent('/adults/gpay', '', 'gpay')"  class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                      GPAY
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li> -->

          </ul>
        </div>
      </li>
      <!-- /multilayer li for about us -->

      <!-- multilayer li for help & support -->
      <li class="border_0i">
        <label class="a-label__chevron title_hs" for="item-2">
          <!-- Item 2 -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg" alt=""
                  class="img-responsive">
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10 p0">
                <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                  Help & Support
                </h4>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px tright">
                <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/chevron_right_white.svg"
                  alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </label>
        <input type="checkbox" id="item-2" name="item-2" class="m-menu__checkbox">

        <div class="m-menu">
          <div class="m-menu__header">
            <label class="m-menu__toggle" for="item-2">
              <div class="row mb30px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                  <div class="col-md-1 col-sm-1 col-xs-1 p0 mr20px">
                    <img
                      src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_back.svg"
                      alt="" class="img-responsive back_hs">
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11 p0">
                    <h4 class="mtb0px fs_15px fw_500 lh_150p fc_e58d82">
                      Help & Support
                    </h4>
                  </div>
                </div>
              </div>
            </label>
          </div>
          <ul class="dh_ul">
            <!-- <li>
              <a (click)="routeGuide()" class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        User Guides
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li> -->

            <li>
              <a (click)="Logevent('/adults/help-support/faq', '', 'click_FAQ_Hamburger')"  class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        FAQ
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <!-- <li>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                  <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                    <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg" alt="" class="img-responsive">
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11 p0">
                    <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                      Help Centre
                    </h4>
                  </div>
                </div>
              </div>
            </li> -->

            <li>
              <a  (click)="Logevent('/adults/help-support/support', '', 'click_Contact_Us_Hamburger')"  class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Contact Us
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a  (click)="Logevent('/adults/help-support/terms-conditions', '', 'click_terms_conditions_Hamburger')"  class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Terms & Conditions
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a  (click)="navigate('/adults/help-support/privacy-policy')" class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Privacy Policy
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a (click)="navigate('/adults/help-support/cookie-policy')" class="p0 b0px">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-1 col-sm-1 col-xs-1 p0 mr10px">
                      <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/dhamburger/12.svg"
                        alt="" class="img-responsive">
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="fw_500 fs_14px lh_16px fc_ffffff mtb0px">
                        Cookie Policy
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- /multilayer li for help & support -->
      <div class="row mtb50px">
        <div class="col-md-12 col-sm-12 col-xs-12 hamburger_sociali p0">
          <a class="" href="https://facebook.com/happiermeapp/" target="_blank">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_facebook.svg" alt="" class="img-responsive">
          </a>
          <a class="" href="https://twitter.com/happiermeapp" target="_blank">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_twitter.svg" alt="" class="img-responsive">
          </a>
          <a class="" href="https://www.instagram.com/happiermeapp/" target="_blank">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_instagram.svg" alt="" class="img-responsive">
          </a>
          <a class="" href="https://www.linkedin.com/company/humanwisdom" target="_blank">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_linkedin.svg" alt="" class="img-responsive">
          </a>
          <a class="" href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA" target="_blank">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hb_youtube.svg" alt="" class="img-responsive">
          </a>
        </div>
      </div>

      <div class="row" *ngIf="isloggedIn">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="submit" class="btn btn_ctd center_flex" data-toggle="modal" (click)="logout()" data-target="#modal_logout">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/btn_logout.svg" class="img-responsive mr5px">
            Logout
          </button>
        </div>
      </div>

      <div class="pagebreak"></div>
    </ul>
  </div>
  <!-- /submenu -->
</nav>

<!-- <app-modal *ngIf="enableAlert" [modalid]="'logout'" (closeEvent)="getAlertcloseEvent($event)" [okText]="'Ok'" [enableCancel]="true"
  [content]="content">
</app-modal> -->

<!-- modal logout -->
<div *ngIf="isloggedIn" class="modal fade in" id="modal_logout" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body col_cw">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <a class="">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/modal_logout.svg" alt="" class="p0">
          </a>
        </div>
      </div>

      <div class="row mtb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <h4 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
            Are you sure you want to logout?
          </h4>
        </div>
      </div>

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="btn" id="liLogout" #closeLogoutmodal class="btn btn_ctd" (click)="getAlertcloseEvent('ok')">
            Logout
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
          <a data-dismiss="modal" class="mtb0px fs_15px fw_400 lh_21px fc_e58d82 hcancel">
            Cancel
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /modal logout -->
