<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          This pyramid, which represents the different layers of our thinking, can explain why loss is so painful. Layer 1 is the word outside, which may be where we have lost a loved one. Layer 2 is our conscious mind where we experience all our emotional pain. Layer 3 represents our many emotional needs, which are hidden from our awareness. These needs covered over the feeling of emptiness and restlessness that we feel in layer 4. When our needs stop being met our emptiness is exposed, and felt most acutely and we experience that as pain. The pain eventually 
          eases when we find other ways of meeting our emotional needs, through a new relationship, for example.
         </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>