<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Though we use language to communicate and we are going to talk a lot about listening and speaking, we need to recognise that language has its limitations. If you walk into a room and are at all sensitive, you can pick up the energy in the room straight away - the peace in it if it is a place of prayer, or the disturbance in it if people are stressed, even if no one says a thing. Similarly if you are with someone who is angry, you can pick up that energy even if they don’t say a word. How can you get a feeling of a person without a single word being exchanged? The mechanism behind this remains a mystery. You can nurture this sensitivity through exercises for a quiet mind. It’s helpful in communication. It also means we can’t fake what we are feeling. The other person can usually pick that up.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>