<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          How does meditation and having a quiet mind lead to a discovery of the nourishing silence that lies beyond thinking? Consider this pyramid which represents the different layers of our thinking. As we meditate the conscious mind in layer 2 quietens down, allowing us to become aware of the hidden patterns of thinking like conditioning in layer 3. Beyond that we can explore the nature of the ‘I’ which is where our self-interest and inner boredom originate. As we continue observing the deeper layers of our thinking, without judgement, we may discover the nourishing silence that lies within all of us, represented here as layer 5. Meditation is the beginning of a journey of learning, and as our understanding and awareness deepens, we can discover the inner sense of peace that resides in us all. You have to travel and discover it for yourself. No one  can tell you what water, or that silence tastes like. All we can say is that it can be life-changing
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>