<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Managing relationships successfully is probably the key to successful leadership. 
          You will meet a diverse group of people, each with their own fixed opinions and beliefs 
          which come from their unconscious conditioning influences. You will meet them with your own 
          conditioning which you will think is right. How will you get them all to work together 
          towards your vision for your organisation? Because you have the power, you may insist you
           are right and they are wrong, and that can easily lead to arrogance. Leading with wisdom 
           means traveling inwards and having a deeper understanding of yourself and how your mind works.
            This will help you understand others better, help you work with people who are different,
             and get the best out of them. 
Most leaders who fail are poor at managing relationships, are arrogant, and get offended when their views are challenged. They lead with fear as a tool to get others to do what they want

        </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>