<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          It's a huge subject and there is so much more to discover. I hope this is the beginning of your own journey to find out how you can respond with wisdom. To do that we need to move away from labeling it as good or bad, or justifying it as only human, and actually observe how it shapes our life. There are so many benefits if we can live with this wisdom. We could avoid the problems of addiction, limit our consumption to what we need, which would be good for us, and the planet. Our relationships could be so much healthier and we would not then use people for our own needs. The list goes on. Pleasure is a beautiful thing if it has its rightful place in our lives. 
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>