<div class="row" *ngIf="!isSubscriber && dataloaded">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
    <button type="button" class="v3_btn_subscribe_premium">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_subscribe_premium.svg" class="v3_subscribe_premium">
          </div>

          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 tleft" (click)="SubscribeToPremium()">
            <h4 class="mtb0px fw_400 fs_18px lh_140p fc_ffffff">
              Subscribe to Premium
            </h4>

            <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff">
             {{pricingModel.PerMonthAmountOnAnnual}}/month, billed annually
            </h4>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>
