<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      It is better to speak up as soon as you feel a line is being crossed, for example if someone is trying to control you, or touch you inappropriately. The earlier you do this the better. It depends on the context of course.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>