<title>Wisdom Survey | HumanWisdom</title>

<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 gqtns_index_tn">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="" (click)="goBack()">                          
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg" alt="" class="p0">
      </a>  
    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
      <a  class="">                       
        <h1 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px tcenter">
          Wisdom Survey
        </h1>            
      </a>  
    </div>
    
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col mc_01" role="main">				
  <!-- Class -->  
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01" [ngClass]="bg">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row" id="div_graph" *ngIf="enablebtn">
                <div class="col-md-12 col-sm-12 col-xs-12">
            
                  <div class="row mt40px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    </div>
                  </div>
                
                  <div class="row mt17px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    </div>
                  </div>
                  
                  <div class="row mb30px" style="margin-top: 30px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <button type="button" class="btn btn-warning btn_vdi w100" routerLink="/adults/wisdom-survey/wisdom-survey-insight" data-dismiss="modal">View Survey Insights</button>
                    </div>
                  </div>
            
                </div>
              </div>
          
              <div class="row mt30px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="fw_500 fs_24px lh_28px fc_5d5d5d tcenter mb0px">
                    Take the survey
                  </h4>
                </div>
              </div>
          
              <div class="row mb30px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="fw_400 fs_12px lh_14px fc_5d5d5d tcenter">
                    We recommend taking this survey at least twice a month
                  </h6>
                </div>
              </div>    
           
              <app-progress-slider [q]="q1" r="1" nFilter="Very anxious" pFilter="Not at all anxious"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q2" r="2" pFilter="Not at all stressed" nFilter="Very stressed"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q3" r="3" pFilter="Very well" nFilter="Not well at all"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q4" r="4" pFilter="Very calm " nFilter="Not calm at all"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q5" r="5" pFilter="Very self confident" nFilter="Not self confident at all"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q6" r="6" pFilter="No conflict" nFilter="A lot of conflict"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q7" r="7" pFilter="I don’t have any addictions" nFilter="I struggle with an addiction"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q8" r="8" pFilter="I cope very well" nFilter="Not well at all, I get very upset"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q9" r="9" pFilter="I have a lot of compassion for others" nFilter="I don’t have much compassion for others"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>
              <app-progress-slider [q]="q10" r="10" pFilter="Very happy" nFilter="Not happy at all"  (sendRating)="receiveRating($event)"></app-progress-slider>
              <br>    
             
              <div class="row mt30px mb40px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <a (click)="submitProgress()">
                    <button type="button" class="btn btn-warning btn_ws_submit w100">Submit</button>
                  </a>
                </div>
              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->