<section id="bring_happierme">
  <div class="row center_flex div_subscription">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- <h4 class="mtb0px fs_24px fw_600 lh_120p fc_834b66">
        Signup Our  newsletter  </h4> -->
    </div>
    <div class="row center_flex mt40px mb20px" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0">
<div id="mlb2-5755373" class="ml-subscribe-form ml-subscribe-form-5755373">
  <div class="ml-vertical-align-center">
    <!-- <div class="row center_flex" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="mtb0px fs_24px fw_600 lh_120p fc_834b66">
          Signup for our newsletter  </h4>
      </div>
    </div> -->
    <div class="col-lg-10 col-md-10 col-sm-5 col-xs-12 p0 dnone">

      <h4 class="mtb0px fs_24px fw_600 lh_120p fc_834b66">
        Signup for our newsletter  </h4>
    
    <div class="subscribe-form ml-block-success" *ngIf="enableErrorAlert">
      <div class="form-section">
        <p>{{errMsg}}</p>
      </div>
    </div>
    <!-- <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/v8a6h0" data-id="515169"
      data-code="v8a6h0" method="POST" target="_blank"> -->
    <form class="ml-block-form" [formGroup]="newsletterForm">
      <div class="subscribe-form">
        <div class="form-section">
         
         
          <!-- <div class="row mb10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
              <input type="text" class="sp_fc" formControlName="fname" placeholder="First Name" required>
              <div class="fc_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_user.svg"
                  class="img-responsive">
              </div>
            </div>
            <div *ngIf="fname.invalid && fname.touched">
              <small *ngIf="fname.errors?.required" class="text danger">First Name is required</small>
              <small *ngIf="fname.errors?.minlength" class="text danger">First Name must be at least 3 characters</small>
            </div>
          </div> -->
          <div class="form-group ml-field-name">
            
            <input type="text" formControlName="Name" class="form-control fc_01" placeholder="Your name" autocomplete="name"
              x-autocompletetype="name" spellcheck="false" autocapitalize="off" autocorrect="off" required>
              <div class="fc_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/website/svgs/web_form_user.svg"style="margin-top:-70px;"
                  class="img-responsive">
              </div>
             
                <small *ngIf="fullname.errors?.required" class="fs_12px fw_400 lh_150p fc_ffffff_0_5">Full Name is required</small>
                <small *ngIf="fullname.errors?.minlength" class="fs_12px fw_400 lh_150p fc_ffffff_0_5">Full Name must be at least 6 characters</small>
              
            </div>
          <div class="form-group ml-field-email ml-validate-required ml-validate-email">
            <p *ngIf="EmailID.errors?.required && EmailID?.touched">Email is required. </p>
            <strong *ngIf="EmailID.errors?.pattern && EmailID?.touched">Error! Please enter a vaid email. </strong>
            <input pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" formControlName="EmailID" type="email" class="form-control fc_01"
              placeholder="Your e-mail address*" autocomplete="email" x-autocompletetype="email" spellcheck="false"
              autocapitalize="off" autocorrect="off" required>
              <div class="fc_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/website/svgs/web_form_mail.svg"style="margin-top:-70px;"
                  class="img-responsive">
              </div>
          </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 div_input">
        
        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
        <button type="submit" class="primary" (click)="submitNewsletter()" [disabled]="newsletterForm.invalid">
          Signup 
        </button>
        
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
          <input type="hidden" name="ml-submit" value="1" />
          <button type="submit" class="primary" (click)="submitNewsletter()">
             Back
          </button>
          </div>
        <!-- <button disabled="disabled" style="display: none;" type="button" class="loading">
          <img src="https://static.mailerlite.com/images/rolling@2x.gif" width="20" height="20"
            style="width: 20px; height: 20px;">
        </button> -->
      </div>
      </div>
    </form>
  </div>
  </div>
  </div>
</div>
    </div>
</div>
</div>
</section>