<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            How do our relationships with our friends differ from those with our brothers and sisters, and our parents? In some cases we seem to take our friends less for granted, are often kinder to them, hold fewer grudges against them, and more importantly have fewer expectations of them. In some cases we have less conflict with our friends and treat them better than our family members. Why is that? Is it because we know that our friends can walk away anytime, so we work harder at that relationship? When we take people for granted, we are less careful in how we treat them.
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>