<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
           You are the boss and your opinion is challenged openly by someone. It could be in front of your team, or in private. The tone of voice may be aggressive and edgy, and you feel yourself reacting with anger. How can you respond? The first thing you need to do is to breathe, see the reaction forming in yourself, and manage it so it does not erupt as anger. You could begin with a question and say you are curious and would like to understand why they think that way. Then ask yourself if there could be any merit in the criticism, and if there is something to learn. If you have made a mistake, own up to it and change your point of view, if needed. That is a sign of strength, not weakness. Or, if you need more time, say you will reflect on it and come back later. 
          If people feel properly listened to, often that is all that is needed to defuse the situation.
          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>