<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
        <h1 class="txt1">    
          We are not aware of many of our fears<br>
          which operate in the background, directing our lives.
        </h1>
            <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>



