<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            How do we begin to look at a feeling like envy, or any feeling? As we have explored in the art of enquiry, it’s as simple as watching birds fly across the sky.
          </p>

          <p>
            We just watch them and notice as much as we can, without thinking.                        
          </p>

          <p>
            Similarly if we see we are envious or judging others, can we just simply observe? 
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>