<app-course-header [bg_tn]="'bg_stake'" [bg]="'bg_FFF7E6'"></app-course-header>

<div class="right_col mc_01_v3">
    
    <div class="cw100p">
        <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw"  [ngClass]="isAdults ? 'bg_FFF7E6' : 'bg_stake'">
            <div class="learning">
                <div [ngSwitch]="contentData.layout">

                    <!-- Layout 1: Image Top -->
                    <div *ngSwitchCase="1">
                        <div class="row mb20px">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <img [src]="contentData.imgUrl" class="img-responsive w100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <h3 class="mt0px fs_36px fw_400 lh_130p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff'">
                                    {{contentData.title}}
                                </h3>
                                <p class="fs_18px fw_400 lh_140p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff_0_7'">
                                    {{contentData.description}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Layout 2: Image Center -->
                    <div *ngSwitchCase="2">
                        <div class="row mb10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <h3 class="mt0px fs_36px fw_400 lh_130p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff'">
                                    {{contentData.title}}
                                </h3>
                            </div>
                        </div>
                        <div class="row mb20px">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <img [src]="contentData.imgUrl" class="img-responsive w100" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <p class="fs_18px fw_400 lh_140p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff_0_7'">
                                    {{contentData.description}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Layout 3: Image Bottom -->
                    <div *ngSwitchCase="3">
                        <div class="row mb10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <h3 class="mt0px fs_36px fw_400 lh_130p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff'">
                                    {{contentData.title}}
                                </h3>
                                <p class="fs_18px fw_400 lh_140p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff_0_7'">
                                    {{contentData.description}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <img [src]="contentData.imgUrl" class="img-responsive w100" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<app-course-footer (nextEmitter)="next()" (previousEmitter)="goBack()"></app-course-footer>