
<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>
<!-- page content -->
<div class="right_col" role="main">
				
    <!-- Class -->
    <div class="">
            
        <div class="page-title">							
        </div>

        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                        
                    <div class="x_title">
                        <h2>Generate Activation Key</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a></li>
                                    <li><a href="#">Settings 2</a></li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
  
                    <div class="x_content">
                        <br />
                                                        
                        <form id="demo-form2" action="form_c.php" method="post">
                            
                            <div class="form-group">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        <label for="program" class="control-label">Select Program<span class="required">*</span></label>
                                        <select  name="program" class="select2_group form-control" [(ngModel)]="selectedProgramID"  (change)="selectProgram($event.target.value)"required>
                                            <option *ngFor="let p of programList" [value]="p.ID" >{{p.Program}}</option>
                                      
                                        </select>
                                    </div>
                                </div>
                            </div>

                           

                            <div class="form-group">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        <label for="patient_name" class="control-label">Email of recepient<span class="required">*</span></label>
                                        <input type="text" name="T" id="Na"  required="required" class="form-control" [(ngModel)]="this.emailRecepient">													
                                    </div>
                                </div>
                            
                            </div>
                            <div class="form-group">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        <label for="patient_name" class="control-label">Number of keys<span class="required">*</span></label>
                                        <input type="text" name="T" id="Na"  required="required" class="form-control" [(ngModel)]="this.numberKeys">													
                                    </div>
                                </div>
                            
                            </div> 
                            <div class="form-group">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        <label for="patient_name" class="control-label">Add Note<span class="required">*</span></label>
                                        <input type="text" name="Tf" id="Nf"  required="required" class="form-control" [(ngModel)]="this.note">													
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        <label for="program" class="control-label">Select Plan<span class="required">*</span></label>
                                        <select  name="program" class="select2_group form-control"  (change)="selectPlan($event.target.value)"required>
                                            <option value=1 >Monthly</option>
                                            <option value=2 >Annual</option>

                                      
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            
                                        
                            <div class="ln_solid"></div>
                        
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6 col-xs-12" style="text-align:center;">
                                    <div *ngIf="!selectedProgramID||!numberKeys||!emailRecepient||!note">
                                        <small class="text-danger">Please fill all details to submit</small>
                                    </div>
                                    <button type="reset" class="btn btn-primary" (click)="reset()">Reset</button>
                                    <input name="method" id="method" type="hidden" value="<?=$method?>">
                                    <input name="submit_Update" type="hidden">
                                    <button [disabled]="!selectedProgramID||!numberKeys||!emailRecepient||!note"type="submit" form="demo-form2" class="btn btn-success" id="next" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" (click)="generateKey()">Generate Key</button>
                                </div>
                            </div>
                        
                        </form>
                        
                    </div>
                        
                </div>

                <div class="x_panel">	
                    
                    <div class="x_title">
                        <h2>Generated Keys</h2>                                        
                        <ul class="nav navbar-right panel_toolbox">                                          
                        </ul>                                        
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="x_content">

                        <div class="x_content">                                                                                        

                            <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row">											
                                    
                                    <div class="col-md-8 col-sm-12 col-xs-12">                                                        
                                        
                                        <label class="filter_label display_initial"><input type="search" id="filter1" class="form-control input-sm w22" placeholder="Search by Key" aria-controls="datatable-checkbox" [(ngModel)]="this.searchedKey" (ngModelChange)="searchKey()"></label>
                                        <label class="filter_label display_initial"><input type="search" id="filter1" class="form-control input-sm w22" placeholder="Search by Learner's Email" aria-controls="datatable-checkbox" [(ngModel)]="this.searchedEmail" (ngModelChange)="searchEmail()"></label>
                                        <label class="filter_label display_initial"><input type="search" id="filter1" class="form-control input-sm w22" placeholder="Search by Notes" aria-controls="datatable-checkbox" [(ngModel)]="this.searchedNote" (ngModelChange)="searchNote()" ></label>														
														
                                        
                                        
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-12 col-xs-12">													
                                        <div class="search_btn">
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            
                            <div class="table-responsive">                                            
                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Activation Key</th>
                                        <th>Program</th>
                                        <th>Consumed By</th>
                                        <th>Notes</th>														
                                        <th style="width: 11%;">Commands</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let k of keyList;let i=index">                                                    
                                        <td>{{k.ActKey}}</td>                                                  
                                        <td>{{k.Program}}</td>
                                        <td>{{k.ConsumedEmail}}</td>
                                        <td>{{k.Note}}</td>														
                                        <td>
                                           
                                            <!--<button type="button" class="btn btn-xs btn-success command-add"><span class="glyphicon glyphicon-edit" data-toggle="modal"  [attr.data-target]="'#updateModal'+k.ActKeyId"></span></button>-->
                                            <button type="button" class="btn btn-xs btn-danger command-edit"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#editforum" (click)=deleteKey(k.ActKeyId)></span></button>                                                    
                                        </td>
                                       <!-- <div class="modal fade" [attr.id]="'updateModal'+listitem.SectID" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
                                            <div class="modal-dialog vc70" role="document">
                                              <div class="modal-content cmodal-content">
                                                <div class="modal-header cmodal-header tcenter white">
                                                  <h1 class="modal-title cmodal-title"
                                                  >Please enter the new name of the section</h1>
                                                  
                                                </div>
                                                <div class="modal-body">
                                                    {{listitem.Program}} | {{listitem.SectName}}
                                                    <input type="text" name="newProgram" id="newProgramName"  required="required" class="form-control" [(ngModel)]="this.updatedSectionName">
                                                 
                                                </div> 
                                                <div class="modal-footer cmodal-footer tcenter">        
                                                  <button type="button" class="btn fill_now" data-dismiss="modal" (click)="updateSection(listitem.SectID,listitem.ProgramID)" >UPDATE</button>
                                                  <button type="button" class="btn fill_later" data-dismiss="modal" >BACK</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>    -->
                                    </tr>
                                    
                                                                                                                                 
                                </tbody>
                                </table>
                            </div>
                            
                            
                          </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--/Class -->
    
</div>
<!-- /page content -->

<app-footer></app-footer>