<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Redeem points
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56 col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">

            <!-- content  -->
              <div class="row center_flex mt-20px mlr-20px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/wp_v3_03.webp" alt="" class="img-responsive w100p">
                </div>
              </div>

              <!-- points with validity -->
              <div class="row center_flex div_redeem_pts">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 brwpts">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px mb5px fs_12px fw_500 lh_140p fc_ffffff">
                        POINTS
                      </h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff_0_5">
                        <span class="mtb0px fs_15px fw_700 lh_140p fc_e58d82">
                          1000
                        </span>
                        wisdom points
                      </h4>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pvalidity">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px mb5px fs_12px fw_500 lh_140p fc_ffffff">
                        VALIDITY
                      </h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff_0_5">
                        08 Jan 2022
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /points with validity -->

              <!-- discount -->
              <div class="row center_flex">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">

                  <div class="row mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 prelative">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/wp_gift.svg" class="img-responsive">

                      <a>
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/wp_share_box.svg" class="img-responsive wp_share_absolute">
                      </a>
                    </div>
                  </div>

                  <div class="row mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 prelative">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/wp_discount.svg" class="img-responsive">

                      <h4 class="mtb0px wp_disc_absolute fs_18px fw_600 lh_150p fc_ffffff">
                        25% Discount
                      </h4>
                    </div>
                  </div>

                  <div class="row mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px">
                        <span class="fs_14px fw_400 lh_150p fc_e58d82">
                          Redeemed with:
                        </span>
                        <span class="fs_14px fw_700 lh_150p fc_ffffff">
                          1000 
                        </span>
                        <span class="fs_14px fw_400 lh_150p fc_ffffff">
                          wisdom points 
                        </span>
                      </h4>
                    </div>
                  </div>

                  <div class="row mb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                      <h4 class="mtb0px wp_rc">  
                        HAPPIERME25
                      </h4>

                      <div class="div_copy_01">
                        <a>
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/copy.svg" class="img-responsive" >
                        </a>

                        <!-- <a>
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/copied.svg" class="img-responsive">
                        </a> -->
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px">
                        <span class="fs_14px fw_400 lh_150p fc_e58d82">
                          Valid until:
                        </span>
                        <span class="fs_14px fw_400 lh_150p fc_ffffff">
                          08 Jan 2022
                        </span>
                      </h4>
                    </div>
                  </div>

                  <div class="row mt20px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <hr class="hr_style_v3_08">
                    </div>
                  </div>

                </div>
              </div>
              <!-- /discount -->

              <div class="row center_flex mt20px mb15px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_700 lh_150p fc_e58d82">
                    Description
                  </h4>
                </div>
              </div>

              <div class="row center_flex">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                    Exchange these wisdom points to avail a 25% discount on your next subscription of HappierMe.
                  </h4>
                  <h4 class="mtb10px fs_12px fw_700 lh_150p fc_ffffff">
                    Here’s how to redeem this reward:
                  </h4>
                  <ol class="mtb0px fs_12px fw_400 lh_150p fc_ffffff highlights_ol">
                    <li>
                      Copy the code to use it yourself or share with a friend.
                    </li>
                    <li>
                      Apply the discount code at checkout on 
                      <span class="underline">
                        happierme.app
                      </span>
                    </li>
                  </ol>
                </div>
              </div>

              <div class="row center_flex mt20px mb15px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_700 lh_150p fc_e58d82">
                    Terms & Conditions
                  </h4>
                </div>
              </div>

              <div class="row center_flex">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <ul class="mtb0px fs_12px fw_400 lh_150p fc_ffffff tandc_ul">
                    <li>
                      Voucher is valid till 8 January 2022 only
                    </li>
                    <li>
                      Voucher is applicable for single use only.
                    </li>
                    <li>
                      HappierMe reserves the right to cancel suspicious orders without prior notice. This includes voucher abuse, including vouchers redeemed using multiple accounts or multiple checkouts associated with the same customer or group of customers, and vouchers used in bad faith.
                    </li>
                    <li>
                      HappierMe reserves the right to change the Terms & Conditions at any time without prior notice.
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row center_flex mt20px mb15px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_700 lh_150p fc_e58d82">
                    Contact Info
                  </h4>
                </div>
              </div>

              <div class="row center_flex mb15px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                    Exchange these wisdom points to avail a 25% discount on your next subscription of HappierMe.
                  </h4>
                </div>
              </div>

              <div class="row center_flex">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mt0px mb15px fs_12px fw_400 lh_150p fc_ffffff flex_ai">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/wp_contact.svg" class="img-responsive mr5px">
                    220-552-5232                    
                  </h4>

                  <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff flex_ai">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/wp_mail.svg" class="img-responsive mr5px">
                    info@HappierMe.app        
                  </h4>
                </div>
              </div>


              <div class="pagebreak"></div>
            <!-- /content  -->

            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter p0 row_bp col_cw">
                <a>
                  <button type="button" class="btn btn_tfas" data-toggle="modal" data-target="#redeem">
                    Redeem
                  </button>
                </a>

                <!-- <a>
                  <button type="button" class="btn btn_tfas" data-toggle="modal" data-target="#redeemed">
                    Redeemed
                  </button>
                </a> -->
              </div>
            </div>  

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer  -->
<!-- <app-bottom-navigation></app-bottom-navigation> -->
<!-- /footer -->

<!-- redeem -->
<div class="modal fade in" id="redeem" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body col_cw">

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h3 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff tcenter">
            Get this reward!
          </h3>
        </div>
      </div>

      <div class="row mb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h3 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff_0_5 tcenter">
            Redeem with 1000 points?
          </h3>
        </div>
      </div>

      <div class="row mb10px" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="button" data-dismiss="modal"  class="btn btn_e58d82">
            Confirm
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="button" class="btn btn_e58d82t" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /redeem -->

<!-- redeemed -->
<div class="modal fade in" id="redeemed" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body col_cw">

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h3 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff tcenter">
            Redeemed with 1000 points!
          </h3>
        </div>
      </div>

      <div class="row mb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h3 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff_0_5 tcenter">
            Use this reward by 08 Jan 2022. 
            You have 2460 Wisdom Points left. 
          </h3>
        </div>
      </div>

      <div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="button" data-dismiss="modal"  class="btn btn_e58d82">
            Got it
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /redeemed -->