/* font size */
.fs_6px
{
    font-size: 6px;
}

.fs_9px
{
    font-size: 9px;
}

.fs_10px
{
    font-size: 10px;
}

.fs_12px
{
    font-size: 12px;
}

.fs_13px
{
    font-size: 13px;
}

.fs_14px
{
    font-size: 14px;
}

.fs_15px
{
    font-size: 15px;
}

.fs_16px
{
    font-size: 16px;
}

.fs_18px
{
    font-size: 18px;
}

.fs_20px
{
    font-size: 20px;
}

.fs_21px
{
    font-size: 21px;
}

.fs_24px
{
    font-size: 24px;
}

.fs_30px
{
    font-size: 30px;
}

.fs_32px 
{
    font-size: 32px;
}

.fs_33px 
{
    font-size: 33px;
}

.fs_36px 
{
    font-size: 36px;
}

.fs_45px 
{
    font-size: 45px;
}
/* /font size */