<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
<app-kta-prevnext>
  <form class="">

    <h1 class="txt21">
      Our emotional needs bring pleasure and cover over our inner emptiness.
      We are not aware we have them and turn to the world to have them met.
      They are powerful and control our thoughts and actions.
      Understanding them allows us to live with wisdom.
      
      
    </h1>
    
  </form>  
</app-kta-prevnext>
 
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
	