<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mdp_header">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <a href="mailto:info@humanwisdom.me">
        <h1 class="txt88 mtb0px">
          Submit your own story
        </h1>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

    </div>
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_white">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>                                
              
              <div class="row pt20px plr10px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt70">
                    Share a true story that you learned something from. Please change the names of the characters. All stories are subject to approval and may be edited.
                  </h6>
          
                  <h6 class="txt70 pgap">
                    Keep your wisdom story under 600 words (.doc/.pdf/.txt). Submit a picture (.jpg/.png) of max 4MB to go along with your story (optional). Let us know if you wish to keep it anonymous.
                  </h6>
                  
                  <h6 class="txt70 pgap">
                    Email us at 
                  </h6>

                  <h6 class="txt103 underline pgap">
                    stories@humanwisdom.me
                  </h6>
                </div>
              </div>
                     
            </form>              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->



