<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Begin with the 
      <a routerLink="/adults/wisdom-exercise/" class="fw_400 italic fc_ffc455 htxt">
        Awareness exercises 
      </a>
      section in the app.
      <br>
      Away from your problem you will learn, in a gentle way, how to deepen your self-awareness and understand how your own mind works. Take your time over that.
      <br>
      You can also explore the section - 
      <a routerLink="/adults/benefits-of-enquiry/" class="fw_400 italic fc_ffc455 htxt">
        How to Understand Yourself
      </a>
       - this explores the art of enquiry - or how to learn to look at ourselves
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>