<!-- top navigation -->
<nav class="navbar navbar-default navbar-static-top cnavbar-default">
  <div class="black_div"></div>
  <div class="container ncenter_flex pt1rem">
    <div class="navbar-header nh center_flex subscription_nav">
      <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="cimg" href="#">
        <img src="assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse hide_nav">      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">          
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/login">Login</a></li>                    
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/signup">Register</a></li>
          <li class="libr"><a href="https://humanwisdom.me/hwp/webpages/help.php">Help</a></li>
          <li class=""><a href="https://humanwisdom.me/hwp/webpages/profile.php">My Profile</a></li>          
          <li role="separator" class="divider"></li>
        </ul>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav">          
          <li><a href="">About</a></li>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_childrens.php">Children</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_teenagers.php">Teenager</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_adults.php">Adults</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_parents.php">Parents</a></li>
            </ul>
          </li>
          <li class="active"><a href="https://humanwisdom.me/hwp/webpages/wisdom_community.php">Community</a></li>
          <li><a href="">Wisdom Survey</a></li>
          <li><a href="">Wisdom Journal</a></li>
          <li><a href="https://humanwisdom.me/Course/#/onboarding/addcart">Subscribe</a></li>
          <li><a href="https://humanwisdom.me/hwp/webpages/testimonials.php">Testimonials</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0 bg_blur mt145px" role="main">				
  <!-- Class -->  
  <div class="">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel p0">
          <div class="x_content fwunset p0">
            <form>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="ob_txt1">
                      My Programs
                  </h4>  
                </div>                  
              </div>

              <hr class="shr1">

              <div class="row active_programs">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt59">
                          Active Programs 
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt59">
                          2
                      </h6>
                  </div>
              </div>

              <div class="row center_flex pt20px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Parents #1
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt120">
                          Auto-renew: 10 Apr 21
                      </h6>
                  </div>
              </div>

              <div class="row center_flex">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <h6 class="txt121 tleft mtb0px">
                          <img src="assets/svgs/icons/user/subscription_01.svg" alt="" class="">
                          Nita Hamm
                      </h6>                        
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <button class="btn btn-default dn_autorenew" type="button">                            
                          Do not Auto-renew
                      </button>
                  </div>
              </div>

              <hr class="shr2">

              <div class="row center_flex pt20px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Children (&lt;13 years)
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt120">
                          Expiry: 10 Apr 21
                      </h6>
                  </div>
              </div>

              <div class="row spt10px">
                  <div class="col-md-6 col-sm-6 col-xs-8 p0">
                      <div class="col-md-2 col-sm-2 col-xs-2 p0">
                          <img src="assets/svgs/icons/gift.svg" alt="" class="">
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h6 class="stxt61 tleft mtb0px">                            
                              Agata Corcrain
                          </h6>  
                          <h6 class="stxt61 tleft mtb0px">                            
                              agata.corcrain@gmail.com
                          </h6>  
                      </div>                                           
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-4 p0 tright">
                      <button class="btn btn-warning btn_apply_coupon w100" type="button">                            
                          Renew Now
                      </button>
                      <h6 class="stxt54 tright">                            
                          Activate Auto-Renew
                      </h6>  
                  </div>
              </div>

              <div class="row active_programs mt30px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt59">
                          Not Yet Started
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt59">
                          2
                      </h6>
                  </div>
              </div>

              <div class="row center_flex pt30px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Children (&lt;13 years)
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt122">
                          Invite Sent
                      </h6>
                  </div>
              </div>

              <hr class="shr2">

              <div class="row center_flex">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Children (&lt;13 years)
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt122">
                          Invite Sent
                      </h6>
                  </div>
              </div>

              <hr class="shr2">  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
      

