<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Welcome to this session where we are going to explore how we can use our understanding of how our minds function to have a healthier relationship to food. It is perhaps the single biggest contributor to our overall health. We may say our lives are busy and we have no time to focus on food, but forget what living with a chronic illness is like. This means we can use our intelligence to remain healthy, rather than just respond when a problem occurs. What we eat is just as important as how much we eat. We may not be overweight, or underweight, but still be unhealthy because we are eating too much processed food, or too much fat, or consuming too much sugar. There is plenty of information out there on what is a good, balanced diet. Take the time and effort to incorporate that into your life.
          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>