<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Have a look at the module 
      <span class="fw_400 italic fc_ffc455 htxtspan">
        Noticing thoughts 
      </span>
      in the app to explore the benefits of journaling further. 
      <a routerLink="/adults/noticing-thoughts/" class="fw_400 italic fc_ffc455 htxt">
        Click here
      </a>
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>