<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      In a reactive mind there is no gap between the stimulus and our reaction.
      The reaction is automatic and there is no judgement involved.

      
      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
                     
   
