<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">

  <form class="">
    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      1. Stress is very common
    </h1>
    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      2. Long term stress can affect our mental and physical health
    </h1>
    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      3. Exploring it in detail allows us to avoid it and manage it better
    </h1>
    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      4. Preventing it is far easier than dealing with it
    </h1>
    <div class="clearfix"></div>
  </form>  

</app-kta-prevnext>

<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>