<!-- top navigation -->
<div class="bg_white_01 nav_search col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="" routerLink="/adults/blog/blog-index">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_grey_03.svg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0 flexjc_end">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 p0 tright" (click)="likebtn()">
          <a class="">
            <img *ngIf="this.likecount !== 0" src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/like_red_01_active.svg" alt="" class="img-responsive">
            <img *ngIf="this.likecount === 0" src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/like_blue_01.svg" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 p0 tright">
          <a class="" (click)="commentbottom()">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/comment_blue_01.svg" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 p0 tright">
          <a class="" (click)="share()">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_blue_01.svg" alt="" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /top navigation --> 

<!-- content  -->
<div class="row img_mt_01 center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
    <img src="{{blogList['ImgPath']}}" alt="" class="img-responsive w100p br_blr_20px">
  </div>
</div>

<div class="plr10px">

  <div class="row center_flex blog_title">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt74">
        {{blogList['Title']}}
      </h4>
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01 flex_ai">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
        <h4 class="mtb0px txt61">
          {{blogList['CreatedDate'] | date:'dd MMM y'}}
        </h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tcenter p0">
        <img *ngIf="this.likecount === 0" src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/like_blue_01.svg" alt="" class="img-responsive">
        <img *ngIf="this.likecount !== 0" src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/like_red_01_active.svg" alt="" class="img-responsive">
        <h4 class="mtb0px txt220 like_count">
          {{blogList['LikeCnt']}}
        </h4>
      </div>
    </div>
  </div>

  <div class="row center_flex blog_desc">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt78">
        {{blogList['Blog']}}
      </h4>
    </div>
  </div>

  <!-- <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt221">
        Tags
      </h4>
    </div>
  </div> -->

  <!-- <div class="row center_flex mt15px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <button type="button" class="btn btn-default btn-sm btn_blog_tags">
        eating disorder                   
      </button>

      <button type="button" class="btn btn-default btn-sm btn_blog_tags">
        stress                
      </button>

      <button type="button" class="btn btn-default btn-sm btn_blog_tags">
        body image             
      </button>

      <button type="button" class="btn btn-default btn-sm btn_blog_tags">
        anorexia          
      </button>
    </div>
  </div> -->

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <hr class="hr_style_11">
    </div>
  </div>

  <div class="row center_flex blog_comment">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt212">
        {{'Comments' + '(' + BlogCommentsLen + ')'}}
      </h4>
    </div>
  </div>

  <div class="row center_flex blog_comment_desc" *ngFor="let item of BlogCommentsList">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tcenter pl0">
        <img src="{{'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/UsersAvatar/' + getimg(item['ProfilePic'])}}" alt="" class="img-responsive w100p">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
        <h4 class="mtb0px txt65 tleft">
          <span class="txt143">
           {{item['UpdatedBy']}}
          </span> 
          {{item['Comments']}}
          <span class="txt222">
            {{timeSince(item['UpdatedOn'])}}
          </span>
        </h4>
      </div>
    </div>
  </div>

  <div class="row center_flex blog_vac" *ngIf="BlogCommentsListabove.length !== 0">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <!-- <h4 class="mtb0px txt223">
        View all comments (47)
      </h4> -->
      <!-- accordion -->
      <div class="panel-group" id="accordion_blog">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="mtb0px txt223">
                  {{'View all comments' + '(' + BlogCommentsListabove.length  + ')'}}
                </h4>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" *ngFor="let item of BlogCommentsListabove">
            <div class="panel-body">
              <div class="row center_flex blog_comment_desc_01">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01 flex_ai p0">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tcenter pl0">
                    <img src="{{'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/UsersAvatar/' + getimg(item['ProfilePic'])}}" alt="" class="img-responsive w100p">
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
                    <h4 class="mtb0px txt65 tleft">
                      <span class="txt143">
                        {{item['UpdatedBy']}}
                      </span> 
                      {{item['Comments']}}
                      <span class="txt222">
                        {{timeSince(item['UpdatedOn'])}}
                      </span> 
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /accordion -->
    </div>
  </div>

  

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <input type="text" class="form-control cfc4" [(ngModel)]="comment" placeholder="Leave a comment">
      <!-- <i class="fa fa-send-o" style="font-size:24px" (click)="postcomment()"></i> -->
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tright mt5px">
      <button type="submit" class="btn btn-warning btn_post" (click)="postcomment()">
        <i class="fa fa-send-o fa_post_01" (click)="postcomment()"></i>
        <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/post_grey.svg" alt="" class=""> -->
        Post
      </button>             
    </div>     
  </div>

  <!-- <div class="row center_flex mlr-10px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <hr class="hr_style_12">
    </div>
  </div> -->

  <!-- <div class="row center_flex blog_related_articles">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt212">
        Related Articles
      </h4>
    </div>
  </div> -->

  <!-- <div class="row center_flex blog_related_articles">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prelative mb10px">
        <a href="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/blog/blog_related_articles_02.svg" alt="" class="img-responsive img_blog_ra">
          <h4 class="mtb0px txt210 absolute_blog_ra_title tleft">
            An eating disorder
          </h4>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prelative mb10px">
        <a href="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/blog/blog_related_articles_02.svg" alt="" class="img-responsive img_blog_ra">
          <h4 class="mtb0px txt210 absolute_blog_ra_title tleft">
            Angry Young Ryan
          </h4>
        </a>
      </div> -->

      <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prelative mb10px">
        <a href="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/blog/blog_related_articles_03.svg" alt="" class="img-responsive img_blog_ra">
          <h4 class="mtb0px txt210 absolute_blog_ra_title tleft">
            Getting over bereavement
          </h4>
        </a>
      </div> -->

      <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prelative mb10px">
        <a href="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/blog/blog_related_articles_04.svg" alt="" class="img-responsive img_blog_ra">
          <h4 class="mtb0px txt210 absolute_blog_ra_title tleft">
            Article Name
          </h4>
        </a>
      </div> -->
    <!-- </div>
  </div> -->

  <!-- <div class="pagebreak"></div> -->

</div>
<!-- /content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->