<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <div class="row mt100px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/saved_tick.svg"
                  class="img-responsive">
              </div>
            </div>
            <div class="row mt30px mb15px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_24px fw_600 lh_150p fc_ffffff tcenter">
                  Saved
                </h4>
              </div>
            </div>
            <div class="row mtb30px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff tcenter">
                  Your responses have been successfully saved to your journal. </h4>
              </div>
            </div>
            <div class="row mt30px mb15px">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <a>
                  <button type="button" (click)="SubmitButton()" class="btn mdp_add_to_journal">
                    Continue to Journal
                  </button>
                </a>
              </div>
            </div>
            <div class="row prelative pt30px plr20px">

              <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="fw_400 fs_12px lh_130p fc_ffffff mtb0px">
                    CONTINUE WHERE YOU LEFT
                  </h4>
                </div>
              </div> -->

              <h4 class="fw_400 fs_12px lh_130p fc_ffffff mb10px">
                YOU MIGHT ALSO LIKE </h4>
              <!-- CONTINUE WHERE YOU LEFT -->
              <a *ngFor="let item of moduleData" (click)="routeResume(item['moduleId'],item['path'])">
                <div class="row div_is_02">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">

                    <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                      <img src="{{item['']}}" alt=""
                        class="p0 session_img">

                      <!-- <div class="progress dprogress">
                        <div class="progress-bar" role="progressbar" [style.width]="guideP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>


                    <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                      <div class="row">
                        <h4 class="mt0px fs_12px fw_500 lh_130p fc_e58d82 ellipsis">
                          {{item['sectionName']}} </h4>
                        <h6 class="mtb0px fs_18px fw_500 lh_150p fc_ffffff">
                          {{item['moduleName']}}</h6>
                        <h6 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff">
                          {{item['SessionCnt']}} Sessions </h6>
                        <!-- <h4 class="mt0px fs_12px fw_400 lh_130p fc_e58d82 ellipsis">
                            2 sessions </h4> -->

                        <!-- <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                        01:01
                      </h4> -->
                      </div>
                    </div>


                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                      <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
                    </div>

                  </div>
                </div>
              </a>


              <!-- CONTINUE WHERE YOU LEFT -->
            </div>

           
            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->