.display-contents {
  display: contents;
}
.ws-read-icon {
    bottom: 40px !important;
}
.ws-lock-icon {
    top: 40px !important;
}
.session_img_play{
  right: 12px !important;
}
.btn_podcast .btn {
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin: 0 10px 0 0;
  padding: 9px 10px;
  height: 36px;
  box-shadow: unset;
  transition: all 0.3s ease;
}

#MiniPodcast {
  // background-color: #ed7d6f;
  // color: #fff;
}

.btn_podcast .btn.active,
.btn_podcast .btn.focus {
  background: white !important;
  color: #000 !important;
  filter: unset !important;
  /* box-shadow: inset 0 3px 5px #00000020; */
  border-color: #ffd889 !important;
}
.btn_podcast_t .btn.active,
.btn_podcast_t .btn.focus {
  background: #ffffff !important;
  color: #000 !important;
}
.btn_podcast .btn:not(.active):not(#MiniPodcast) {
  background: #ffd889;
  color: #000;
}

.btn_podcast .btn:focus-visible {
  outline: none;
}
/* Adults only scrollbar styling */
.adults-scroll .odiv,
.adults-scroll .odiv_pathway,
.adults-scroll .odiv_wfgi,
.adults-scroll .ae_days {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #eea170 #f6d1b7;
}

.adults-scroll .odiv:not(:hover),
.adults-scroll .odiv_pathway:not(:hover),
.adults-scroll .odiv_wfgi:not(:hover),
.adults-scroll .ae_days:not(:hover) {
  scrollbar-color: transparent transparent;
}

.adults-scroll .odiv::-webkit-scrollbar,
.adults-scroll .odiv_pathway::-webkit-scrollbar,
.adults-scroll .odiv_wfgi::-webkit-scrollbar,
.adults-scroll .ae_days::-webkit-scrollbar {
  height: 2px;
  border-radius: 6px;
}

.adults-scroll .odiv::-webkit-scrollbar-thumb,
.adults-scroll .odiv_pathway::-webkit-scrollbar-thumb,
.adults-scroll .odiv_wfgi::-webkit-scrollbar-thumb,
.adults-scroll .ae_days::-webkit-scrollbar-thumb {
  background-color: #eea170;
  border-radius: 6px;
}

.adults-scroll .odiv::-webkit-scrollbar-track,
.adults-scroll .odiv_pathway::-webkit-scrollbar-track,
.adults-scroll .odiv_wfgi::-webkit-scrollbar-track,
.adults-scroll .ae_days::-webkit-scrollbar-track {
  background-color: #f6d1b7;
  border-radius: 10px;
}
