<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Any strong emotion, like stress, anxiety or anger can cloud our judgment and influence our decision making.
          </p>

          <p>
            If we have suffered from trauma in the past we can be easily triggered to anger or stress and make decisions that are not always in our best interest - like drinking too much for example. 
          </p>

          <p>
            When our emotions are running high we can make decisions without considering all the options available to us and often make the wrong ones - a sort of knee jerk reaction. Politicians do this  in reaction to an adverse newspaper report for example.
          </p>

          <p>
            Or if we are angry we may decide to leave a relationship or hit someone - all of which can impact our future.
          </p>

          <p>
            It is common sense to postpone any decisions to when we are feeling more calm.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>