
<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      We are going to explore 5 thinking patterns that influence our use of social media

    
    </h1>
    <p>Comparison</p>
    
    <p>Conditioning</p>
        <p> Our need to be occupied</p>
          <p>Our loneliness</p>
            <p>Our need for external approval</p>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>