button.fc_000000_0_5 {
  color: rgba(0, 0, 0, 0.5) !important;
}
button.fc_000000_0_5:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}
button.fc_000000_0_5 span.underline:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}


/* Unfollow button: always black with 50% opacity */
button.fc_e8a880_0_5 {
  color: rgb(232, 168, 128, 0.5) !important;
  &:hover {
    color: rgb(232, 168, 128, 0.5) !important;
  }
}
button.fc_e8a880_0_5 span.underline:hover {
  color: rgba(232, 168, 128,0.5);
}


.div_forum_post  {
      margin-bottom: 20px;
}

.div_forum_post .btn{
  border-color: transparent !important;
}
.fa-minus{
  transform: scale(0.7);
    font-size: 12px;
}
.btn_fpfy_mh:hover{
  color: #ffffff !important;
}

// Tag color classes
.tag-mental-health { background: #803358; color: #FFFFFF !important; }
.tag-relationships { background: #D7586B; color: #FFFFFF !important; }
.tag-work-leadership { background: #05BBBF; color: #FFFFFF !important; }
.tag-be-happier { background: #EEA170; color: #FFFFFF !important; }
.tag-habits-addiction { background: #FFACA2; color: #FFFFFF !important; }
.tag-dealing-loss { background: #EEA170; color: #FFFFFF !important; }
.tag-meditation { background: #1092A7; color: #FFFFFF !important; }
.tag-managing-emotions { background: #803358; color: #FFFFFF !important; }
.tag-nuggets-inspiration { background: #D7586B; color: #FFFFFF !important; }
.tag-ask-coach { background: #ED7D6F; color: #FFFFFF !important; }
.tag-other { background: #FFE8BB; color: #FFFFFF !important; }

.tag-static {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  border: 0;
  pointer-events: none;
  cursor: default;
}
.btn:hover {
    color: #000;
}

.img_profile_01 {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
  position: relative;
  z-index: 8;
  border: 0px solid #fff;
  object-fit: cover;
}

.forum_profile_desc, .forum_profile_desc_teenagers {
  // background-repeat: no-repeat !important;
  padding: 60px 20px 20px 20px !important; 
  margin-top: -60px !important; 
  text-align: center;
  position: relative;
  z-index: 5;
  border-radius: 16px;
}
.forum_profile_desc{
  // background-size: 100% 100% !important;
}

.forum_profile_desc {
  background-image: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/aduts_profilenew.svg') !important;
  // background-color: transparent !important;
}

.forum_profile_desc_teenagers {
  background-image: url('https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v_1_4/forum_profile_box_teens.svg') !important;
  background-color: transparent !important;
  // background: #0C2B5F !important;
}
