<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="back()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Cancel subscription
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- <app-bg-video></app-bg-video> -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01  col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row mb20px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_600 lh_140p fc_ffffff">
                    What’s making you cancel?
                  </h4>
                </div>
              </div>

              <!-- radio group -->
              <div class="cs_reason">
                <div class="row" *ngFor="let item of reasonList">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tleft rgdivs">
                      <div class=""  data-toggle="modal" data-target="#register">
                        <input id="rg_1" type="radio" name="radio_group" [(ngModel)]="selectedId"  [value]="item.ReasonId" checked>
                        <label for="rg_1" class=""></label>
                      </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                      {{item.Reason}}
                      </h4>
                    </div>
                  </div>
                </div>
                </div>

                <!-- <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tleft rgdivs">
                      <div class="">
                        <input id="rg_1" type="radio" name="radio_group" value="1">
                        <label for="rg_1" class=""></label>
                      </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                        I found a better app
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tleft rgdivs">
                      <div class="">
                        <input id="rg_1" type="radio" name="radio_group" value="1">
                        <label for="rg_1" class=""></label>
                      </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                        I don’t use this service enough
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tleft rgdivs">
                      <div class="">
                        <input id="rg_1" type="radio" name="radio_group" value="1">
                        <label for="rg_1" class=""></label>
                      </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                        Technical issues
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tleft rgdivs">
                      <div class="">
                        <input id="rg_1" type="radio" name="radio_group" value="1">
                        <label for="rg_1" class=""></label>
                      </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                        Other
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tleft rgdivs">
                      <div class="">
                        <input id="rg_1" type="radio" name="radio_group" value="1">
                        <label for="rg_1" class=""></label>
                      </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                        Decline to answer
                      </h4>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- /radio group -->

              <button type="button" style="display: none;" class="btn mt10px" data-toggle="modal" data-target="#cancel_subscription_add_info">
                cancel subscription additional info
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer  -->
<div class="mfooter">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12  col_cw" [ngClass]="isAdults ? ' v1_3_sfooter v1_3_sfooter_ext' : 'ftray'"> 
      <a>
        <button type="button" data-toggle="modal" data-target="#cancel_subscription_add_info" class="btn btn_tfas">
          Continue
        </button>
      </a>
    </div>
  </div>
</div>
<!-- /footer -->

<!-- cancel subscription-additional info -->
<div class="modal fade in" id="cancel_subscription_add_info" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body">

      <div class="row">                    
        <div class="col-md-12 col-sm-12 col-xs-12 p0">
          <h4 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
            Cancel subscription?
          </h4>
        </div>
      </div>

      <div class="row mt10px mb30px">                    
        <div class="col-md-12 col-sm-12 col-xs-12 p0">
          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff_0_5">
            Your subscription will be cancelled at the end of your billing period on Jul 29, 2024, and you won’t be charged any more. You can change your mind any time before this date.
          </h4>
        </div>
      </div>

      <div class="row">                    
        <div class="col-md-12 col-sm-12 col-xs-12 p0">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl0px">
            <button type="button" data-dismiss="modal" class="btn btn_subscription_cancel">
              Keep subscription
            </button>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0px" (click)="cancelSubscription()">
            <button type="button" class="btn btn_tfas" >
              Cancel subscription
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /cancel subscription-additional info -->