<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Here is an exercise you can try.
          </p>
          <p>
            The next time you are critical of yourself, see if you can catch that moment and pause.
          </p>
          <p>
            Do one of the breathing exercises you learned in the section on nurturing a quiet mind.
          </p>
          <p>
            Just observe both the feeling of envy for example, and the thought, which is critical of yourself for feeling envious.
          </p>
          <p>
            If you look carefully you may see the process of comparison and conditioning at work.
          </p>
          <p>
            Now ask why do you think or feel what you do? This allows you to continue exploring the feeling of envy in yourself.
          </p>
          <p>
            You are the same human being as everyone else - that may make it easier.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
