<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 gqtns_index_tn">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a (click)="goBack()" class="">
        <img
          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg"
          alt=""
          class="p0"
        />
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
      <a class="">
        <h1 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px tcenter">Journal</h1>
      </a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->


<!-- <app-modal *ngIf="enableAlert" [enableCancel]="true" (closeEvent)="getAlertcloseEvent($event)" [okText]="'Ok'"
  [content]="'Please subscribe to activate this feature'">
</app-modal> -->