<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            We all need to ask this question before making a decision, especially in a difficult situation. Our mind may be in flight or flight mode and be rushing to react. 
          </p>

          <p>
            In an argument for example it is worth asking if one needs to react even though we feel we are right, or if it is better to defuse the situation and say nothing at all.
          </p>

          <p>
            Or, if one is being bullied at work, the tempting thing might be to do nothing because of our fear, but the right thing may be to report the problem and speak to someone about it.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>