<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">
  <form>
    <h1 class="txt2 fw_500 lengthy_txt_title">
      How to use the program?
    </h1>
    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">      
      01. Do a daily exercise to calm your mind
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      02. Learn something about yourself every day
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      03. Write in your journal regularly
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      04. Complete the wisdom survey once a month
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      05. Discuss what you are learning with your friends
    </h3>

  </form>
</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>