<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      There are times when my depression makes me feel I am not doing anything right in my life. Once you're convinced you are worthless, you stop doing anything worthwhile. And suddenly you’ve become the person who naps for hours and looks for any excuse to get up or even turn on the light
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>