.txt55
{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt56
{   
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt57 
{   
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt58 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFC455;
}

.txt59 
{   
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.txt60 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #1092A7;
}

.txt61 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt62 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;    
    color: #000000;    
}

.txt63 
{   
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #ADADAD;
}

.txt64 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #B92F48;
}

.txt65 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5D5D5D;
}

.txt66 
{   
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #243949;
}

.txt67
{   
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5D5D5D;
}

.txt68 
{   
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.txt69 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt70 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt71 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #F55858;       
}

.txt72 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #5D5D5D;    
}

.txt73 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.txt74 
{   
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
}

.txt75 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;        
    color: #ADADAD;
}

.txt76 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #F55858;
}

.txt77 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt78 
{   
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #5D5D5D;
}

.txt79 
{   
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;    
    color: #243949;        
}

.txt80 
{   
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;    
}

.txt81 
{   
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;    
    color: #FFFFFF;    
}

.txt82 
{   
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #5D5D5D;
}

.txt83 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;    
}

.txt84 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;   
    color: #FFFFFF;
    opacity: 0.75;
}

.txt85 
{   
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt86 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;        
    color: #1092A7;    
}

.txt87 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;  
    color: #FFFFFF;    
    mix-blend-mode: normal;
}

.txt88
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.txt89 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt90 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;    
    color: #FFFFFF;    
    opacity: 0.75;
}

.txt100 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;   
    color: #FFFFFF;    
}

.txt101 
{   
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;      
}

.txt102 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFC455;  
}

.txt103 
{   
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #1092A7;    
}

.txt104 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;    
}

.txt105 
{
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #5D5D5D;
}

.txt106 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.txt107 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.txt108 
{   
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #B92F48;
}

.txt109 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #B92F48;
}

.txt110 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
}

.txt111 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1092A7;
}

.txt112 
{   
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.txt113 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1092A7;
}

.txt114 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.txt115 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1092A7;
}

.txt116 
{
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt117 
{
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #1092A7;
}

.txt118 
{   
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.txt119 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #5D5D5D;
}

.txt120 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5D5D5D;
}

.txt121 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1092A7;
}

.stxt54 
{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1092A7;
}

.stxt61 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1092A7;
}

.txt122 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B92F48;
}

.txt123 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B92F48;
}

.txt124 
{   
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #5D5D5D;    
}

.txt125 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #1092A7;    
}

.txt126 
{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #ADADAD;
}

.txt127 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #000000;
}

.txt128 
{   
    font-weight: normal;
    font-size: 12px;        
    color: #1092A7;    
}

.txt129 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;    
    color: #1092A7;    
}

.txt130 
{   
    font-weight: normal;
    font-size: 10px;      
    color: #ADADAD;    
}

.txt131 
{   
    font-weight: normal;
    font-size: 10px;
    color: #F55858;
}

.txt132  
{   
    font-weight: 500;
    font-size: 12px;
    color: #1092A7;
}

.txt133 
{   
    font-weight: normal;
    font-size: 12px;    
    color: #ADADAD;    
}

.txt134 
{   
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;    
    color: #000000;    
}

.txt135 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;    
    color: #5D5D5D;
}

.txt136 
{   
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;    
    color: #ADADAD;
}

.txt137 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;    
    color: #ADADAD;
}

.txt138 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1092A7;    
}

.txt139 
{   
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.txt140 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.txt141 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFC455;
}

.txt142  
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #243949;
}

.txt143 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;    
    color: #5D5D5D;    
}

.txt144 
{   
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;    
}

.txt145 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #5D5D5D;    
}

.txt146 
{   
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;        
    color: #B92F48;
}

.txt147 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #ADADAD;
}

.txt148
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;   
    color: #C4C4C4;
}

.txt149 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ACACAC;
} 

.txt150 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #243949;    
}

.txt151 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.txt152 
{   
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5D5D5D;
}

.txt153 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1092A7;
}

.txt154 
{   
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #FFC455;    
}

.txt155 
{   
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;    
}

.txt156 
{   
    font-weight: 500;
    font-size: 16px;       
    color: #FFC455;
}

.txt157 
{   
    font-weight: 300;
    font-size: 58px;
    line-height: 110%;
    color: #FFC455;
}

.txt158 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.txt159 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;    
    color: #FFFFFF;
}

.txt160 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;        
    color: #FFC455;
}

.txt161 
{   
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    color: #000000;    
}

.txt162 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;    
    color: #1092A7;    
}

.txt163 
{   
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #1092A7;    
}

.txt164 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
}

.txt165 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;    
    color: #59595B;
}

.txt166 
{   
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #5D5D5D;    
}

.txt167 
{   
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    color: #1092A7;    
}

.txt168 
{   
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #5D5D5D;    
}

.txt169 
{   
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;    
}

.txt170 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt171 
{   
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    color: #FFFFFF;    
}

.txt172 
{   
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    color: #59595B;    
}

.txt173 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #59595B;    
}

.txt174 
{   
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    color: #59595B;    
}

.txt175 
{   
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;   
    color: #FFFFFF;    
}

.txt176 
{   
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;    
}

.txt177 
{   
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
    color: #5D5D5D;    
}

.txt178 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;    
    color: #B92F48;
}

.txt179 
{   
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
    color: #FFFFFF;
}

.txt180 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;    
    color: #FFC455;    
}

.txt181 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.1em;    
    color: #FFFFFF;    
}

.txt182 
{   
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #000000;    
}

.txt183 
{   
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000000;    
}

.txt184 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.txt185 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #000000;    
}

.txt186 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt187 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF;        
}

.txt188 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF;    
}

.txt189 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #FFFFFF;    
    opacity: 0.5;
}

.txt190 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 1.8;
    color: #FFFFFF;    
}

.txt191 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;    
    color: #243949;    
}

.txt192 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;        
    color: #FFFFFF;
}

.txt193 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt194 
{   
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.txt195 
{   
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color: #FFFFFF;    
}

.txt196 
{   
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #59595B;
}

.txt197
{   
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #59595B;
}

.txt198 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.txt199 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;    
}

.txt200 
{   
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #1092A7;
}

.txt201 
{   
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;    
    color: #000000;    
}

.txt202 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.txt203 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;    
}

.txt204 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;        
    color: #FFFFFF;
}

.txt205 
{   
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.txt206 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.txt207 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #5D5D5D;
}

.txt208 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #1092A7;
}

.txt209 
{   
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #243949;
}

.txt210 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.txt211 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1092A7;
}

.txt212 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
}

.txt213 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ADADAD;
}

.txt214 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.txt215 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.txt216 
{   
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: #ADADAD;
}

.txt217 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}

.txt218 
{   
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
}

.txt219 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt220 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #ADADAD;
}

.txt221 
{   
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #5D5D5D;
}

.txt222 
{   
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #ADADAD;
}

.txt223 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4491A5;
}

.txt224 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #1092A7;
}

.txt225 
{   
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.txt226 
{   
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #5D5D5D;
}

.txt227 
{   
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt228  
{   
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #243949;
}

.txt229 
{   
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt230 
{   
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.txt231 
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt232 
{   
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #243949;
}

.txt233 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFC455;
}

.txt234 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt235 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #B92F48;
}

.txt236 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
}

.txt237 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.txt238 
{   
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1092A7;
}

.txt239 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt240 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;    
}

.txt241 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 180%;
    color: #FFC455;
}

.txt242 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;
}

.txt243 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.txt244 
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt245 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt246 
{   
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.txt247 
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #243949;
}

.txt248 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #243949;
}

.txt249 
{   
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    color: #59595B;
}

.txt250 
{   
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.txt251 
{   
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFC455;
}

.txt252 
{   
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.txt253 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt254 
{   
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}

.txt255
{   
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: #000000;    
}

.txt256
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.txt257
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #B92F48;
}

.txt258
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;    
}

.txt259
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;    
    color: #4491A5;
}

.txt260
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.txt261
{   
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;    
    color: #B92F48;
}

.txt262
{   
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.txt263
{   
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #000000;    
}

.txt264
{
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #4491A5;
}

.txt265 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;   
    color: #4491A5;
}

.txt266
{   
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #5D5D5D;    
}

.txt267
{   
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #B92F48;    
}

.txt268
{   
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;    
    color: #000000;
}

.txt269 
{   
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

.txt270
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;    
    color: #5D5D5D;
}

.txt271
{   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    
    color: #B92F48;   
}

.txt272 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt273 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #4491A5;
}

.txt274 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.txt275 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #5D5D5D;
}

.txt276 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #5D5D5D;
}

.txt277 
{   
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #5D5D5D;
}

.txt278 
{   
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #B92F48;
}

.txt279 
{   
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.txt280 
{   
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #B92F48;
}

.txt281 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt282 
{   
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt283 
{   
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.txt284 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.txt285 
{   
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt286 
{   
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt287 
{   
    font-weight: 300;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    word-wrap: break-word;
}

.txt288 
{   
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
}

.txt289
{   
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #000000;
}

.txt290 
{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.txt291 
{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.txt292 
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #5097A4;
}

.txt293 
{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.txt294 
{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.txt295 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ADADAD;
}

.txt296 
{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

.txt297 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.txt298 
{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #5D5D5D;
}

.txt299 
{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt300 
{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #5D5D5D;
}

.txt301 
{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5D5D5D;
}

.txt302 
{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1092A7;
}

.txt303 
{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #5D5D5D;
}

.txt304 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #5D5D5D;
}

.txt305 
{
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt306 
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1092A7;
}

.txt307 
{
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
}

.txt308 
{
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: #000000;
}

.txt309 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.txt310 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
}

.txt311 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #000000;
}

.txt312 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #5D5D5D;
}

.txt313 
{   
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #000000;
}

.txt314 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5D5D5D;
}

.txt315 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #5D5D5D;
}

.txt316 
{   
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.txt317 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #4491A5;
}

.txt318 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt319 
{   
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #000000;
}

.txt320 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #000000;
}

.txt321
{   
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #1092A7;
}

.txt322 
{   
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt323 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt324 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt325 
{   
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt326 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt327 
{   
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.txt328 
{   
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: #1092A7;
}

.txt329 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #243949;
}

.txt330 
{   
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #243949;
}

.txt331 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt332 
{
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #1092A7;
}

.txt333 
{   
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.txt334 
{   
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #1092A7;
}

.txt335 
{   
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    color: #000000;
}

.txt336 
{   
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #1092A7;
}

.txt337 
{   
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #243949;
}

.txt338 
{   
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #1092A7;
}

.txt339 
{   
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #1092A7;
}

.txt340 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #000000;
}

.txt341 
{   
    font-weight: 400;
    font-size: 37px;
    line-height: 100%;
    color: #000000;
}

.txt342 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.txt343 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt344 
{   
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #1092A7;
}

.txt345 
{   
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #1092A7;
}

.txt346 
{   
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #1092A7;
}

.txt347 
{   
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt348
{   
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt349 
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
}

.txt350 
{   
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.txt351 
{   
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #B92F48;
}

.txt352 
{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.txt353 
{
    font-weight: 400;
    font-size: 33px;
    line-height: 130%;
    color: #FFFFFF;
}

.txt354 
{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}

.txt355 
{
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #1092A7;
}

.txt356 
{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #5D5D5D;
}

.txt357 
{
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #4491A5;
}

.txt358 
{
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #1092A7;
}

.txt359
{   
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #1092A7;
}