<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          No matter how much money we have, most of us want more. What are we never satisfied?<br> Perhaps we don’t pause to question our conditioning which just said we should accumulate more and more. Or acquiring more money brings us pleasure, or power or keeps us occupied.
         <br> Our urge to acquire more can also make us greedy and stop thinking clearly. As a result we could make irrational financial decisions in the stock market, or fall victim to a scam which promised to make us rich. 
          <br>It can also be a driver for corruption. 
          <br>If making more money becomes the central driver in our life, all our decisions are influenced by it.
          
          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>