<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          This is so difficult for us to do because our instinct says the other person is responsible for how we are feeling or thinking. This stops us examining and learning about the feeling and its roots in our thinking process - in this case exploring the process of comparison. Taking ownership of the feeling and accepting it is coming from our own thinking, allows us to understand it in more detail. For this we have to pause our judgement of whose fault it is. 
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>