<!-- top navigation -->
<!-- unscrolled header -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 flex_ai mdp_header onscrollbg unscroll">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a (click)="goBack()" class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg" alt=""
          class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <a class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <h1 class="fw_500 fs_16px lh_19px fc_ffffff tcenter mtb0px">
          Personalised for you
        </h1>
      </a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
  </div>
</div>
<!-- /unscrolled header -->

<!-- onscrolled header -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 flex_ai mdp_header onscrollbg scroll">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a (click)="goBack()" class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_grey.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <a class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <h1 class="fw_500 fs_16px lh_19px fc_5d5d5d mtb0px tcenter">
          Meditation
        </h1>
      </a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
  </div>
</div>
<!-- /onscrolled header -->
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col safari mc_01">
  <!-- Class -->
  <div class="cw100p">

    <div class="row center_flex safari_dflex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 dm sc_01">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="dm_title">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="fw_700 fs_24px lh_30px fc_5d5d5d mtb0px">
                      Meditation
                    </h4>
                  </div>
                </div>

                <div class="row dm_desc">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="fw_400 fs_16px lh_130p fc_5d5d5d mtb0px">
                      Regular practice can help us develop a mind that is calm, and better able to cope with life’s
                      challenges. A quiet mind is also more sensitive to the beauty of the world. There are many
                      different ways to nurture a calm mind and you can find the one that suits you best.
                    </h4>
                  </div>
                </div>

                <div class="row mt30px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                    <div class="col-md-2 col-sm-3 col-xs-3 circular-player-container">
                      <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dm_play.svg" alt="" class="crimg"> -->

                      <ngx-circular-player id="aud3" strokeColor="#FFC455"
                        source="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/audios/have_calm_mind.mp3"
                        progressStrokeColor=rgba(173,173,173,0.25)>
                      </ngx-circular-player>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-6">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="fw_700 fs_18px lh_22px fc_5d5d5d mtb0px">
                          Introduction
                        </h4>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="fw_400 fs_15px lh_22px fc_5d5d5d mtb0px">
                          01:14
                        </h4>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-3 tright">
                      <a routerLink="/adults/curated/have-calm-mind-transcript">
                        <button class="btn flex_ai btn_pn">
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dm_transcript.svg"
                            alt="" class="crimg">
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- feel better now -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 cp0_03">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01 dm_panel">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_ghn" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h2 class="fw_700 fs_20px lh_23px fc_5d5d5d mtb0px">
                                    Feel better now!
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>
                      <div id="ca_ghn" class="panel-collapse collapse in">
                        <div class="panel-body p0">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 ghn dinline_box pl5px pr15px">
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="getsupport('/adults/get-support-now/s71001', 71)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/get_help_now/01.svg"
                                    alt="Stress Management" class="crimg">
                                  <h4 class="fw_500 fs_16px lh_19px fc_5d5d5d tile_title whitespace_preline">
                                    Stress
                                  </h4>
                                </a>
                              </div>
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="getsupport('/adults/get-support-now/s71002', 71)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/get_help_now/02.svg"
                                    alt="Solution for Anxiety" class="crimg">
                                  <h4 class="fw_500 fs_16px lh_19px fc_5d5d5d tile_title whitespace_preline">
                                    Anxiety
                                  </h4>
                                </a>
                              </div>
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="getsupport('/adults/get-support-now/s71003', 71)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/get_help_now/03.svg"
                                    alt="Anger Management" class="crimg">
                                  <h4 class="fw_500 fs_16px lh_19px fc_000000 tile_title whitespace_preline">
                                    Anger
                                  </h4>
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /feel better now -->

              <!-- topics to explore -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 cp0_03">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_mte" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h2 class="fw_700 fs_20px lh_23px fc_5d5d5d mtb0px">
                                    Topics to explore
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>
                      <div id="ca_mte" class="panel-collapse collapse in">
                        <div class="panel-body p0 m-1px">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 odiv pl5px pr15px">

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeNature(0)">
                                  <div class="img-gradient">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/06.png"
                                      alt="Nature" class="ctimg">
                                  </div>
                                  <h4 class="tcenter txt31 attitle">Nature</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="natureP + '%'"
                                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeBreathing(0)">
                                  <div class="img-gradient">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/07.png"
                                      alt="Breathing" class="ctimg">
                                  </div>
                                  <h4 class="tcenter txt31 attitle">Breathing</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="breathingP + '%'"
                                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeNoticingThoughts(0)">
                                  <div class="img-gradient">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/08.png"
                                      alt="Noticing Thoughts" class="ctimg">
                                  </div>
                                  <h4 class="tcenter txt31 attitle">Noticing Thoughts</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="ntP + '%'"
                                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeGuidedMeditation(0)">
                                  <div class="img-gradient">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/10.png"
                                      alt="Guided Audio Meditation" class="ctimg">
                                  </div>
                                  <h4 class="tcenter txt31 attitle">Guided Audio Meditation</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="gamP + '%'"
                                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeMeditation(0)">
                                  <div class="img-gradient">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/09.png"
                                      alt="Meditation" class="ctimg">
                                  </div>
                                  <h4 class="tcenter txt31 attitle">Meditation</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="meditationP + '%'"
                                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeLookWithoutLanguage(0)">
                                  <div class="img-gradient">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/18.png"
                                      alt="Look without Language" class="ctimg">
                                  </div>
                                  <h4 class="tcenter txt31 attitle">Look without Language</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="withoutLanguageP + '%'"
                                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /topics to explore -->

              <!-- life stories -->
              <!-- accordion -->

              <!-- /accordion -->
              <!-- /life stories -->

              <!-- guided questions -->
              <!-- accordion -->

              <!-- /accordion -->
              <!-- /guided questions -->

              <!-- short videos -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 cp0_03">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_ws" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="col-md-8 col-sm-8 col-xs-8 p0">
                                  <h2 class="fw_700 fs_20px lh_23px fc_5d5d5d mtb0px">
                                    Short videos
                                  </h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 p0">
                                  <a routerLink="/adults/wisdom-shorts">
                                    <h2 class="fw_500 fs_16px lh_19px fc_5d5d5d underline mtb0px tright">
                                      View all
                                    </h2>
                                  </a>
                                </div>
                              </div>
                            </div>

                          </a>
                        </h4>
                      </div>
                      <div id="ca_ws" class="panel-collapse collapse in">
                        <div class="panel-body p0">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 ghn dinline_box pl5px pr15px">
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="s3video('1.39.mp4')">
                                  <div class="prelative">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/wisdom_shorts/28.svg"
                                      alt="Stress Management" class="br10px w100">
                                    <div class="play_black_ac">
                                      <img
                                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/play_black.svg"
                                        alt="Stress Management" class="img-responsive">
                                    </div>
                                  </div>
                                  <h4 class="fw_500 fs_16px lh_19px fc_5d5d5d tile_title whitespace_preline">
                                    5 benefits of wisdom
                                  </h4>
                                </a>
                              </div>
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="s3video('1.40.mp4')">
                                  <div class="prelative">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/wisdom_shorts/29.svg"
                                      alt="Stress Management" class="br10px w100">
                                    <div class="play_black_ac">
                                      <img
                                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/play_black.svg"
                                        alt="Stress Management" class="img-responsive">
                                    </div>
                                  </div>
                                  <h4 class="fw_500 fs_16px lh_19px fc_5d5d5d tile_title whitespace_preline">
                                    Be content
                                  </h4>
                                </a>
                              </div>
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="s3video('1.41.mp4')">
                                  <div class="prelative">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/wisdom_shorts/30.svg"
                                      alt="Stress Management" class="br10px w100">
                                    <div class="play_black_ac">
                                      <img
                                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/play_black.svg"
                                        alt="Stress Management" class="img-responsive">
                                    </div>
                                  </div>
                                  <h4 class="fw_500 fs_16px lh_19px fc_5d5d5d tile_title whitespace_preline">
                                    Calm a Chattering mind
                                  </h4>
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /short videos -->

              <!-- podcasts -->
              <!-- accordion -->

              <!-- /accordion -->
              <!-- /podcasts -->

              <!-- events -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 cp0_03">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01 dm_panel">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_events" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="col-md-8 col-sm-8 col-xs-8 p0">
                                  <h2 class="fw_700 fs_20px lh_23px fc_5d5d5d mtb0px">
                                    Events
                                  </h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 p0">
                                  <a routerLink="/adults/events">
                                    <h2 class="fw_500 fs_16px lh_19px fc_5d5d5d underline mtb0px tright">
                                      View all
                                    </h2>
                                  </a>
                                </div>
                              </div>
                            </div>

                          </a>
                        </h4>
                      </div>
                      <div id="ca_events" class="panel-collapse collapse in">
                        <div class="panel-body p0">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 ghn dinline_box pl5px pr15px">
                              <div class="col-md-6 col-sm-7 col-xs-7 plr5px">
                                <a (click)="youtube('Fthu7yVCgP4')">
                                  <div class="prelative">
                                    <img
                                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/16.svg"
                                      alt="Stress Management" class="br10px w100">
                                    <div class="play_black_ac">
                                      <img
                                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/play_black.svg"
                                        alt="Stress Management" class="img-responsive">
                                    </div>
                                  </div>
                                  <h4 class="fw_500 fs_16px lh_19px fc_5d5d5d tile_title whitespace_preline">
                                    How can we be at peace
                                  </h4>
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /events -->

              <!-- guided meditation -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 cp0_03">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01 dm_panel">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_gmeditation"
                            aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="col-md-8 col-sm-8 col-xs-8 p0">
                                  <h2 class="fw_700 fs_20px lh_23px fc_5d5d5d mtb0px">
                                    Guided meditation
                                  </h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 p0">
                                  <a routerLink="/adults/guided-meditation">
                                    <h2 class="fw_500 fs_16px lh_19px fc_5d5d5d underline mtb0px tright">
                                      View all
                                    </h2>
                                  </a>
                                </div>
                              </div>
                            </div>

                          </a>
                        </h4>
                      </div>
                      <div id="ca_gmeditation" class="panel-collapse collapse in">
                        <div class="panel-body p0 m0px">
                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.5.mp3', 'Walk in Nature', '1')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Walk in Nature
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        7 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.1.mp3', 'Body scan', '2')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Body scan
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        5 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.2.mp3', 'Noticing thoughts', '3')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Noticing thoughts
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        5 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.3.mp3', 'Tuning in', '4')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Tuning in
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        7 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.4.mp3', 'Voice Yoga', '5')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Voice Yoga
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        5 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.15.mp3', 'Releasing negative thoughts', '6')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Releasing negative thoughts
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        15 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.16.mp3', 'Mindful eating', '7')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Mindful eating
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        3 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->

                          <!-- audio row -->
                          <a
                            (click)="audiopage('/guided-meditation/audios/guided-meditation+1.17.mp3', 'Mindful walking', '8')">
                            <div class="row crow box bg_dark_blue p0 cd_gm">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr10pxi flex_ai">
                                <div class="col-md-2 col-sm-2 col-xs-2 landing_tile">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg"
                                    alt="" class="p0">
                                </div>

                                <div class="col-md-10 col-sm-10 col-xs-10 pr10px">
                                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                      <h4 class="session_name mtb0px">
                                        Mindful walking
                                      </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 p0">
                                      <h4 class="session_time mtb0px">
                                        3 mins
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- /audio row -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /guided meditation -->

              <!-- blog -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row ">
                <div class="col-md-12 col-sm-12 col-xs-12 cp0_03">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_blogs" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="col-md-8 col-sm-8 col-xs-8 p0">
                                  <h2 class="fw_700 fs_20px lh_23px fc_5d5d5d mtb0px">
                                    Blogs
                                  </h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 p0">
                                  <a routerLink="/adults/blog">
                                    <h2 class="fw_500 fs_16px lh_19px fc_5d5d5d underline mtb0px tright">
                                      View all
                                    </h2>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>
                      <div id="ca_blogs" class="panel-collapse collapse in">
                        <div class="panel-body p0 m-1px">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 odiv dinline_box">
                              <!-- blog 1 -->
                              <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 center_flex p0 life_stories">
                                <a class="center_flex" (click)="viewblog('26')">
                                  <div class="col-md-3 col-sm-2 col-xs-3 p0">
                                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/blogs/18.jpg" alt=""
                                      class="w100 c150px">
                                  </div>

                                  <div class="col-md-9 col-sm-10 col-xs-9">
                                    <div class="row">
                                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                          <h6 class="fw_500 fs_18px lh_130p fc_5d5d5d mtb0px capitalize">
                                            Understanding ourselves
                                          </h6>
                                        </div>
                                      </div>

                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <h6 class="fw_400 fs_14px lh_130p fc_5d5d5d ellipsis">
                                          Understanding ourselves In order to be happy and do well in life we need to
                                          get on with others and understand them.
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                              <!-- /blog 1 -->

                              <!-- blog 2 -->
                              <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 center_flex p0 life_stories">
                                <a class="center_flex" (click)="viewblog('34')">
                                  <div class="col-md-3 col-sm-2 col-xs-3 p0">
                                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/blogs/25.jpg" alt=""
                                      class="w100 c150px">
                                  </div>

                                  <div class="col-md-9 col-sm-10 col-xs-9">
                                    <div class="row">
                                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                          <h6 class="fw_500 fs_18px lh_130p fc_5d5d5d mtb0px capitalize">
                                            Wisdom comes from understanding yourself
                                          </h6>
                                        </div>
                                      </div>

                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <h6 class="fw_400 fs_14px lh_130p fc_5d5d5d ellipsis">
                                          Knowing yourself is the beginning of all wisdom’ Aristotle
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                              <!-- /blog 2 -->
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /blog -->

              <div class="row center_flex dm_eot">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a routerLink="/adults/search">
                    <h4 class="fw_600 fs_16px lh_19px fc_1092a7 mtb0px tcenter">
                      Explore other topics
                    </h4>
                  </a>
                </div>
              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->