<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          When a car has a problem we open the hood and study the engine to see where the problem really is, and once we understand that, the solution is pretty clear. In the same way, if we are anxious for example, and find the root cause of fear in our thinking, we can solve that problem at its origin, for lasting benefit.
          Understanding the way our hearts function allowed scientists to devise many solutions to prevent and treat heart  disease. Understanding the way our minds work can do the same. 
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
