<div class="dtn bg_nonei" [style.display]="isShowHeader ? 'block' : 'none'">
  <!-- google playstore -->
  <div class="row center_flex" *ngIf="enableplaystore" [ngClass]="[enableplaystore ? '' : 'mt0px']">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 dtn_playstore_banner col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'">
      <!-- mobile -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex dnplayappstore" *ngIf="ios || android">
        <div class="col-md-11 col-sm-11 col-xs-11 p0 flex_ai">
          <h4 class="fw_400 fs_14px lh_16px fc_ffffff mtb0px tleft mr10px ws_nowrap">
            Also available on
          </h4>
          <!-- playstore -->
          <a *ngIf="android" (click)="clickbanner()">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/google_playstore_ffffff.svg" alt=""
              class="img-responsive img_google_playstore">
          </a>
          <!-- /playstore -->

          <!-- appstore -->
          <a *ngIf="ios" (click)="clickbanner()">
            <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/appstore_ffffff.svg" alt=""
              class="img-responsive img_google_playstore">
          </a>
          <!-- /appstore -->
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 p0 tright" id="google_playstore_hide" (click)="closeplaystore()">
          <!-- <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/close_grey.svg" alt="" class=""> -->
          <i class="fa fa-close fs_20px fc_ffffff"></i>
        </div>
      </div>
      <!-- /mobile -->

      <!-- desktop -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex dplayappstore" *ngIf="!ios && !android">
        <div class="col-md-11 col-sm-11 col-xs-11 p0 flex_ai">
          <!-- desktop playstore -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0 flex_ai">
            <a (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/dplaystore.svg" alt=""
                class="img-responsive">
            </a>
          </div>
          <!-- /desktop playstore -->

          <!-- desktop appstore -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0 flex_ai">
            <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/icons/dappstore.svg" alt=""
                class="img-responsive">
            </a>
          </div>
          <!-- /desktop appstore -->
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 p0 tright" id="google_playstore_hide" (click)="closeplaystore()">
          <!-- <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/close_grey.svg" alt="" class=""> -->
          <i class="fa fa-close fs_20px fc_ffffff"></i>
        </div>
      </div>
      <!-- /desktop -->
    </div>
  </div>
  <!-- /google playstore -->

  <!-- top navigation -->
  <div class="row center_flex" [ngClass]="[enableplaystore ? '' : 'mt0px']">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 dtn_default flex_ai plr20px col_cw">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0" >
        <a (click)="routedashboard()">
          <!-- <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/logo/hwp_logo_v3.svg" class="img-responsive" alt="HumanWisdom"> -->
          <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/hwp_logo_v3_white.svg"
            class="img-responsive img_logo" alt="HumanWisdom" *ngIf="isAdults"  >
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/teenagers/assets/svgs/logo_teens_4x.png"
            class="img-responsive img_logo" alt="HumanWisdom"  *ngIf="!isAdults">

        </a>
      </div>
      

      <!-- unlogged -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai" *ngIf="!getLoggedIn()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 jc_flexend center_flex">
          <div class="mr10px">
            <!-- <a (click)="loginroute()"> -->
            <a (click)="Subscribe()" >
              <button type="button" class="btn_login">
                Free Trial
              </button>
            </a>
          </div>

          <div *ngIf="!isLoginPage" class="tour_hamburger">
            <app-hamburger></app-hamburger>
          </div>
        </div>
      </div>
      <!-- /unlogged -->

      <!-- logged in  -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai" *ngIf="getLoggedIn()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 jc_flexend center_flex">
          <div class="" *ngIf="!getIsSubscriber()">
            <a id="liSubscribe" (click)="Subscribe()" class="">
              <button type="button" class="btn_login center_flex">
                Free Trial
              </button>
            </a>
          </div>
          <!-- <div *ngIf="isShowbookMark">
            <a routerLink="/adults/bookmarks">
              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/bookmark_grey.svg" class="" alt="">
            </a>
          </div> -->

          <div class="mlr10px tour_notification">
            <a class="prelative display_flex" (click)="disableClick ? $event.preventDefault() : goToNotification()">
              <img
                *ngIf="loginResponse && loginResponse?.NewNotifications && loginResponse?.NewNotifications !== 0"
                src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/alert_badge_inactive.svg"
                 class="prelative" alt="">
              <img
                *ngIf="!loginResponse || !loginResponse?.NewNotifications || loginResponse?.NewNotifications === 0"
                src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/alert_badge_inactive.svg"
                class="prelative" alt="">
              <span class="bell_badge"
              *ngIf="loginResponse && loginResponse?.NewNotifications && loginResponse?.NewNotifications !== 0">
                {{getNotifi(loginResponse?.NewNotifications)}}
              </span>
            </a>
          </div>

          <div *ngIf="enableHamburger" class="tour_hamburger">
            <app-hamburger [userDetails]="userDetails"></app-hamburger>
          </div>

        </div>
      </div>
      <!-- logged in -->

      <!-- subscribe + hamburger -->
      <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai" *ngIf="!isloggedIn">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 jc_flexend center_flex">

          <div class="mr20px">
            <a routerLink="/onboarding/login">
              <button type="button" class="btn_login hbtn_subscribe_ext">
                Subscribe
              </button>
            </a>
          </div>

          <div>
            <app-hamburger></app-hamburger>
          </div>

        </div>
      </div> -->
      <!-- /subscribe + hamburger -->

      <!-- subscribe + notification + hamburger -->
      <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai" *ngIf="!isloggedIn">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 jc_flexend center_flex">

          <div>
            <a routerLink="/onboarding/login">
              <button type="button" class="btn_login hbtn_subscribe_ext">
                Subscribe
              </button>
            </a>
          </div>

          <div class="mlr20px">
            <a>
              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/alert_badge_active.svg" (click)="goToNotification()" class="" alt="">
            </a>
          </div>

          <div>
            <app-hamburger></app-hamburger>
          </div>

        </div>
      </div> -->
      <!-- /subscribe + notification + hamburger -->
    </div>
  </div>
  <!-- /top navigation -->

</div>