<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext>
  <form class="">

    <h1 class="txt3">
      To discover the beauty of unconditional love, we have to begin where we are, with no illusions.<br> As we explore and understand our hidden self-interest and our emotional needs, we discover wisdom. In the light of this wisdom, we can learn what unconditional love really is.


     </h1>
    <div class="clearfix"></div>
  </form>  
</app-kta-prevnext>

<!-- <app-kta-footer [bg_cft]="bg_cft" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
