<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Some of our identities:
       </h1>
    <h1 class="txt1">
      01. Our country
    </h1>
    <h1 class="txt1">
      02. Our religion
    </h1>
    <h1 class="txt1">
      03. Our profession
    </h1>
    <h1 class="txt1">
      04. Our skin colour
    </h1>
    <h1 class="txt1">
      05. Our tribe/city/region
    </h1>
    <h1 class="txt1">
      06. Our sexual orientation
    </h1>
       <h1 class="txt1">
      07. Our food choices
    </h1>
    <h1 class="txt1">
      08. Our possessions
    </h1>
    <h1 class="txt1">
      09. Our children
    </h1>
    <h1 class="txt1">
      10. Our sports club
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
                     
   


