<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Understanding and becoming aware of the unconscious process of comparison at work in the background, allows us to respond with intelligence. It is neither right or wrong, but just needs to be understood so we can keep its benefits and avoid the problems it can cause. 
          </p>

          <p>
            If our mind stopped automatically comparing itself with others we could be free of envy, and have happier relationships. We would stop judging people we met as being wrong or bad, just because they were different. We could walk our own path in life and not be tempted to follow others. We would not be as self-critical of ourselves and perhaps most importantly could be content with what we have and who we are.
          </p>
        </h3>                
      </div>
    </div>
    
  </form> 
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>