<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_we col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="" (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/back_round.svg" alt="" class="p0" />
      </a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
      <!-- <a class="">
        <h1 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff tcenter">
          
        </h1>
      </a> -->
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tright">
      <a (click)="changeType()" class="">
        <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/transcript_left.svg" alt="" *ngIf="isShowAudio" class="p0" /> -->
        <h4 class="fs_15px fw_400 lh_140p fc_e58d82 underline" *ngIf="isShowAudio">
          Read Text
        </h4>
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" *ngIf="isShowTranscript" class="p0" />
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 bg_292d56 sc_01 col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_183c79'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <!-- audio -->
              <div class="">
                <div class="row center_flex p20px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                    <div class="row center_flex">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_24px fw_400 lh_130p fc_ffffff">
                          Be a better leader
                        </h4>
                      </div>
                    </div>

                    <div class="row tcenter" *ngIf="isShowAudio" [ngClass]="{'transcript-display':!isShowAudio}">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <app-audio-player class="audio-test" 
                          audioLink="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/mini_podcast/audio/how_can_i_14.mp3">
                        </app-audio-player>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- transcript -->
                <div class="row center_flex tleft" [ngClass]="{'transcript-display':!isShowTranscript}">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt0px p20px fs_18px fw_400 lh_150p fc_ffffff  txt_justify">

                    <p>
                      Leading others is both a privilege and an opportunity to make a difference. Our mind can mistake that privilege as an opportunity to boost our own ego and wield power over others.
                    </p>

                    <p>
                      To lead other people you need to begin by being able to lead yourself - to be able to manage your own emotions, habits and mental health. Leadership is not a skill we are born with, but one that we can all learn.
                    </p>

                    <p>
                      Leadership is about understanding people so you can get the best out of them. The more you understand yourself, the easier it is to understand others.
                    </p>

                    <p>
                      To lead others we need to get them to sign up to a shared vision of where you, as a leader,  want to go, and inspire them to make it their vision as well. You then look after them as they work towards it.
                    </p>

                    <p>
                      Leadership is not about using power and fear as a tool to get things done, even though you may be tempted to do so. No one gives their best in an atmosphere of fear. This does not mean that people are not accountable though.
                    </p>

                    <p>
                      The list of qualities leaders need to succeed is long - integrity, self-awareness, emotional intelligence, resilience, relationship building, making good decisions, staying calm in a storm.
                    </p>

                    <p>
                      As a leader you will make several important decisions. If you understand the hidden emotional drivers in your own mind that influence the decisions you make, you can make better ones, for yourself, and the people you serve.
                    </p>

                    <p>
                      Continue now to explore the module on Leadership, which goes into the subject in some depth and guides you to learn the skills you need to be a good leader. There are several podcasts to explore as well.
                    </p>

                  </div>
                </div>
                <!-- /transcript -->
              </div>
              <!-- /audio -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->