<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Life presents us so many joys everyday that we ignore because we are too busy thinking of something else. It could be the cool taste of water on a hot day, or the smile of a child, or a bird in flight, or the warm welcome from a friend, or just the clouds moving across the sky. It requires a mind that is sensitive to firstly notice things, and then able to appreciate the beauty it finds in the everyday. We can only do that if we have a feeling of being at ease with ourselves. There is no goal to reach, it's all right here. Life is only in this moment that we are alive. How are we going to make the most of it?  If we have eyes that are fresh and see the extraordinary in the ordinary, and just enjoy the gift of living, we can discover joy in the everyday ordinariness of life
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>