<!-- page content -->
<div class="right_col bg_orange" #screen role="main">	
  <!-- <div class="row pb3rem">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="tcenter">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/body/keytakeaway.png" alt="" class="img_kta_out">
      </div>
    </div>
  </div> -->
  <!-- Class -->
  <div class="cw100p dabsolute_01">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 h100p">
        <div class="x_panel xpanel_01"> 
          <div class="x_content">
            <div class="row pb3rem">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tcenter">
                  <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/body/keytakeaway.png" alt="" class="img_kta cmw"> -->
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/lightbulb.svg" alt="" class="img_kta cmw">
                </div>
              </div>
            </div>  		
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->