<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            All our past influences are stored in our memory - we call that our conditioning. We are not aware we are conditioned and this shapes our thoughts, opinions, aspirations, and beliefs.
          </p>

          <p>
            If you have grown up in a home where your parents did not work ( as happens in many parts of the world), you may grow up thinking a life on benefits is fine.
          </p>

          <p>
            Or if both your parents were lawyers or doctors - that is what you want to be in the future.
          </p>

          <p>
            If you grew up where fear was used to control your behaviour you will regard that as normal in the workplace when you become a manager.
          </p>

          <p>
            If you have suffered past trauma in a relationship, you may be scared of getting too close to people, or become possessive if you are in one.
          </p>

          <p>
            If you grew up with little money in the house, your entire life may be spent in the pursuit of it.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>