<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>
<!-- page content -->
<div class="right_col" role="main">

    <!-- Class -->
    <div class="">

        <div class="page-title">
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_title">
                        <h2>Add Daily Question</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a></li>
                                    <li><a href="#">Settings 2</a></li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <br />

                        <form id="demo-form2" action="" method="post">

                            <div class="form-group">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        

                                        <label for="patient_name" class="control-label">Program<span class="required">*</span></label>
                                        <select  name="program" class="select2_group form-control" [(ngModel)]="selectedProgramID"  (change)="selectProgram($event.target.value)"required>
                                            <option [value]=""></option>
                                            <option *ngFor="let p of programList" [value]="p.ID" >{{p.Program}}</option>
                                      
                                        </select>
                                        
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
                                        <label for="p_name" class="control-label">Section<span class="required">*</span></label>
                                        <!-- <div *ngIf="!selectedProgramID" class="text-danger">Please select program to see sections</div> -->
                                        <select  name="program" class="select2_group form-control" [(ngModel)]="selectedSectionID"  (change)="selectSection($event.target.value)"required>
                                            <option [value]=""></option>
                                            <option *ngFor="let s of updatedSectionList" [value]="s.SectID" >{{s.SectName}}</option>
                                      
                                        </select>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
                                        <label for="m_name" class="control-label">Module<span class="required">*</span></label>
                                        <!-- <div *ngIf="!selectedProgramID || !selectedSectionID" class="text-danger">Please select program and section to see modules</div> -->
                                        <select  name="program" class="select2_group form-control" [(ngModel)]="selectedModuleID"  (change)="selectModule($event.target.value)"required>
                                            <option [value]=""></option>
                                            <option *ngFor="let m of updatedModuleList" [value]="m.ModuleID" >{{m.ModuleName}}</option>
                                      
                                        </select>
                                    </div>
                                </div>
                            </div>  

                            <div class="form-group cloned_input">
                                <div class="row-centered">
                                    <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                        <label for="patient_name" class="control-label">Question<span class="required">*</span></label>
                                        <div class="cloning_div">
                                            <textarea id="message" required="required" class="form-control" name="message" rows="3" [(ngModel)]="this.reflectionQuestion"></textarea>
                                            <!--<div class="cloning_buttons">
                                                <button type="button" class="btn btn-primary btnDel"
                                                    value="Delete" disabled="disabled">Delete</button>
                                                <button type="button" class="btn btn-primary"
                                                    id="btnAdd">Add</button>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-12 col-sm-6 col-xs-12" style="text-align:center;">
                                    <div *ngIf="!selectedProgramID|| !selectedSectionID || !selectedModuleID || !reflectionQuestion">
                                        <small class="text-danger">Please fill all details to submit</small>
                                    </div>
                                    <button type="reset" class="btn btn-primary" (click)="reset()">Reset</button>
                                    <input name="method" id="method" type="hidden" value="<?=$method?>">
                                    <input name="submit_Update" type="hidden">
                                    <button [disabled]="!selectedProgramID|| !selectedSectionID || !selectedModuleID || !reflectionQuestion" type="submit" form="demo-form2" class="btn btn-success"
                                        id="next" data-toggle="collapse" data-target="#collapse3"
                                        aria-expanded="false" aria-controls="collapse3" (click)="addReflection()">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

                <div class="x_panel">

                    <div class="x_title">
                        <h2>Reflection Details</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <!-- <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a></li>
                                        <li><a href="#">Settings 2</a></li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a></li> -->
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="x_content">

                            <div id="datatable-checkbox_wrapper"
                                class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row">

                                    <div class="col-md-8 col-sm-12 col-xs-12">

                                        <label class="filter_label display_initial"><input type="search"
                                                id="filter1" class="form-control input-sm"
                                                placeholder="Search by program"
                                                aria-controls="datatable-checkbox" [(ngModel)]="this.searchedProgram" (ngModelChange)="searchProgram()"></label>
                                        <label class="filter_label display_initial"><input type="search"
                                                id="filter1" class="form-control input-sm"
                                                placeholder="Search by section"
                                                aria-controls="datatable-checkbox" [(ngModel)]="this.searchedSection" (ngModelChange)="searchSection()"></label>
                                                <label class="filter_label display_initial"><input type="search"
                                                    id="filter1" class="form-control input-sm"
                                                    placeholder="Search by section"
                                                    aria-controls="datatable-checkbox" [(ngModel)]="this.searchedQuestion" (ngModelChange)="searchQuestion()"></label>

                                        
                                       
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="search_btn">
                                            <!-- <button type="submit" class="btn btn-success" id="command-add" data-row-id="0" data-toggle="modal" data-target="#exampleModalCenter">Add Forum</button>														 -->
                                            <!-- <button type="submit" class="btn btn-success" id="command-add" data-row-id="0" data-toggle="modal" data-target="#exampleModalCenter">Add Participants</button>														 -->
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <div class="table-responsive">
                                <table id="datatable-responsive"
                                    class="table table-striped table-bordered dt-responsive nowrap"
                                    cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Program</th>
                                            
                                            <th>ID</th>
                                            <th style="width: 50%;">Question</th>                                                        
                                            <th style="width: 10%;">Commands</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of disList;let i=index">
                                            <td>{{item.Program}}</td>
                                            
                                            <td>{{item.ReflectionId}}</td>    
                                            <td>{{item.Que}}</td>                                                    
                                            <td>
                                                <!-- <button type="button"
                                                    class="btn btn-xs btn-success command-add"><span
                                                        class="glyphicon glyphicon-edit" data-toggle="modal" [attr.data-target]="'#updateModal'+item.ReflectionID"></span></button> -->
                                                <button type="button"
                                                    class="btn btn-xs btn-danger command-edit"><span
                                                        class="glyphicon glyphicon-trash"
                                                        data-toggle="modal"
                                                        data-target="#editforum" (click)="deleteReflection(item.ReflectionId)"></span></button>
                                            </td>

                                            <div class="modal fade" [attr.id]="'updateModal'+item.ReflectionID" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
                                                <!--<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">-->
        
                                                    <div class="modal-dialog vc70" role="document">
                                                      <div class="modal-content cmodal-content">
                                                        <div class="modal-header cmodal-header tcenter white">
                                                          <h1 class="modal-title cmodal-title"
                                                          >Please enter the new question</h1>
                                                          
                                                        </div>
                                                        <div class="modal-body">
                                                            {{item.Program}} | {{item.Que}}
                                                            <input type="text" name="updatedQuestion"  required="required" class="form-control" [(ngModel)]="this.updatedQuestion">
                                                         
                                                        </div> 
                                                        <div class="modal-footer cmodal-footer tcenter">        
                                                          <button type="button" class="btn fill_now" data-dismiss="modal" 
                                                                (click)="updateReflection(item.ProgId,item.SectId,item.ReflectionId)" >
                                                                UPDATE
                                                          </button>
                                                          <button type="button" class="btn fill_later" data-dismiss="modal" >BACK</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>   
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Class -->

</div>
<!-- /page content -->
<app-footer></app-footer>
				