<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            This is so difficult to do because we are convinced that the other person or situation is responsible for our stress. Our feelings arise from within us, whatever the trigger may be, so its worth being curious as to where they come from and we can’t do that if we are blaming others for how we feel. It allows us to change the only thing we can in most cases - which is ourselves. For example, if someone I love leaves me for another, taking ownership means I can explore why I am feeling so bad. I may learn that my self-image has been hurt, or I am lonely, or afraid of the future. Try it and see.
          </p>
          <p>
            Of course there are situations where the situation or person is responsible for our emotional pain, if we are being abused for example and we need to do something about it straight away
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>