<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We think finding the perfect person to be with is like climbing Mount Everest.<br>
Everything will be fine from now on. But that has just taken us to base camp. Building the relationship from there is what takes us to the top of the mountain. For that, being the best version of ourselves that we can be is the key, and this is made so much easier if we live with wisdom and a deeper understanding of ourselves. Our module on relationships explores this in depth

           </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>