<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-txt-overlay-top base="love_base4" overlay="love_overlay4_mobile" class="mshowhide">
  <form>
    <h1 class="txt1">
      To care for anything we need to have a sense of being connected with it - whether its people, or pets or our homes. What can we do to develop a connection with all living things?
    </h1>
    <div class="clearfix"></div>
  </form>
</app-txt-overlay-top>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
