<!-- top navigation -->
<app-course-header [toc]="toc"[bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
<!-- /top navigation -->  

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->  
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_stake col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>
              <!-- <h5 class="txt4 justified_center"> -->
              <h5 class="txt4">
               {{reflection}}
              </h5>
              <div class="clearfix"></div>

              <h5 class="mtb0px v3_reflection_qtn fs_15px fw_400 lh_150p fc_ffffff">                
                1. 	Apparent cause (what you think) 
              </h5>
              <div class="clearfix"></div>

              <div class="row pt20px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <textarea id="message" required="required" class="rtextarea v3_reflection_ta" name="message" rows="12" [(ngModel)]="r118016" placeholder="Write your answer here"></textarea>
                </div>
              </div>

              <br>
              
              <h5 class="mtb0px v3_reflection_qtn fs_15px fw_400 lh_150p fc_ffffff">                
                2. 	Real cause (layer 3)
              </h5>
              <div class="clearfix"></div>

              <div class="row pt20px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <textarea id="message1" required="required" class="rtextarea v3_reflection_ta" name="message1" rows="12" [(ngModel)]="r118016_1" placeholder="Write your answer here"></textarea>
                </div>
              </div>

              <!-- condition 1 -->
              <div *ngIf="!shared && !confirmed">
                <div class="row mt20px mb15px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <a class="">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <label for="cb1" class="tcenter chkb_post_anonymously mt0px">
                            <input id="cb1" type="checkbox" class="" [disabled]="textDisabled" name="shared" [(ngModel)]="this.shared" (click)="sharedForum($event.target.checked)">
                            <h4 class="mtb0px fs_12px fw_500 lh_150p fc_ffffff">
                              <span class="ml10px">
                                Share this note on the forum
                              </span>
                            </h4>
                          </label>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <h5 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_7">
                  All posts shared on the forum are moderated
                </h5>
              </div>
              <!-- /condition 1 -->

              <!-- condition 2 -->
              <div *ngIf="shared && !confirmed">
                <div class="row mt30px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                      <a class="">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <label for="cb1" class="tcenter chkb_post_anonymously mt0px">
                              <input id="cb1" type="checkbox" class="" [disabled]="textDisabled" name="shared" [(ngModel)]="this.shared" (click)="sharedForum($event.target.checked)">
                              <h4 class="mtb0px fs_12px fw_500 lh_150p fc_ffffff">
                                <span class="ml10px">
                                  Share this note on the forum
                                </span>
                              </h4>
                            </label>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0 tright">
                      <button type="button" (click)="confirmShare()" [disabled]="textDisabled || reflectionData === ''" class="btn igbtn1">
                        Confirm?
                       </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /condition 2 -->

              <!-- condition 3 -->
              <div *ngIf="confirmed">
                <h5 class="mtb20px fs_12px fw_400 lh_150p fc_ffffff_0_7">
                  Great! We will notify you once it is published.
                </h5>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <button type="button" class="btn jbtn1" (click)="this.router.navigate(['/forum'])">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
                            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff tleft">
                              See what others have to say
                            </h4>
                          </div>

                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
                            <i class="fa fa-angle-right fc_ffffff"></i>
                          </div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /condition 3 -->   

              <div class="pagebreak"></div>
              
              <!-- modal test -->
              <div class="modal fade" id="ex_modal" data-keyboard="false" data-backdrop="false">
                <div class="ex_modal_body">
                  <button type="button" class="close ex_close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>                    
                    <span class="sr-only">Close</span>
                  </button>                    
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="lh2_5rem tleft">
                        My son did not call on my birthday
                        <br>
                        My anger is caused by my own expectations
                      </h4>    
                    </div>
                  </div>                                        
                </div>
              </div>
              <!-- /modal test -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer -->
<div class="mfooter">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter center_flex fctray bg_stake col_cw" [ngClass]="bg_cft">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 btn_p0 tleft">
        <a (click)="previous()">
          <button type="button" class="btn btn_prev_v3 fs_12px fw_400 lh_22px fc_ffffff_0_5">
            <i class="fa fa-angle-left fs_16px fc_ffffff mr10px"></i>
            Previous
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
        <a (click)="submitProgress()">
          <button type="button" class="btn btn_next_v3 fs_15px fw_600 lh_22px fc_e58d82">
            Next
            <i class="fa fa-angle-right fs_16px ml10px"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /footer -->