<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 flex_ai gow_header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
      <a class="" (click)="back()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 tright">
      <a class="" (click)="share()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_white_02.svg" alt="" class="img-responsive">
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_03">
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_gift_of_wisdom">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>
              <!-- content  -->
              <div class="row center_flex mt15rem">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mt0px mb10px fw_500 fs_24px lh_140p fc_ffffff tcenter">
                    Give the gift of wisdom
                  </h4>

                  <h4 class="mt0px mb20px fw_500 fs_18px lh_140p fc_ffffff tcenter">
                    A gift that keeps on giving
                  </h4>

                  <h4 class="mt0px mb30px fw_400 fs_15px lh_140p fc_ffffff tcenter">
                    Help someone manage their own mental health, have happier relationships, make better decisions, and live their best life. Help make the world a better place.
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                  <a>
                    <button type="button" class="btn btn-warning btn_gow_proceed" (click)="proceed()">
                      Proceed
                    </button>
                  </a>
                </div>
              </div>
              <!-- /content  -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->
