<!-- top navigation -->
<app-tn-dashboard-v03></app-tn-dashboard-v03>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0" role="main">
  <!-- class -->
  <div class="cw100p dabsolute_01">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback zi0">
                  <input type="search" class="form-control has-feedback-left h60px pfy_search" placeholder="Search">
                  <span class="fa fa-search form-control-feedback left pfy_search_icon" aria-hidden="true"></span>
                </div>
              </div>

              <div class="row pfys_title">
                <div class="col-md-12 col-sm-12 col-xs-8">
                  <h4 class="txt296 mtb0px">
                    Personalised for you!
                  </h4>
                </div>
              </div>

              <div class="row pfys_desc">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="txt297 mtb0px">
                    Select a topic to explore. Find all related content in one place
                  </h4>
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_01">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Wisdom for the workplace
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_02">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Overcome stress and anxiety
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_03">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Have fulfilling relationships
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_04">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Be happier
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_05">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Change unhelpful habits
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_06">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Mindfulness
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_01">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Deal with sorrow and loss
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn_pfy_search bpfys_02">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 tleft">
                          Manage your emotions
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button> 
                </div>
              </div>

              <!-- <div class="pagebreak"></div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->