<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Our emotional pain is a reaction from our thinking to the challenges of living.
      <br>
      By understanding the deeper layers of our thinking we can change how we react,
      and learn how to respond with wisdom.
      <span class="highligted_span">
        ( See modules on stress, fear, failure, sorrow and loss, nurturing a quiet mind, and loneliness)
      </span>
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
