<div class="wrapper">
  <!-- top navigation -->
  <app-tn-advert></app-tn-advert>
  <!-- /top navigation -->

  <!-- page content -->
  <div class="right_col mc_01">
    <!-- Class -->
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 p0 bg_white">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="bg_adverts_01">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fs_33px lh_130p fw_400 fc_1092a7 mt0px mb30px">
                            <span class="fw_700">Life-changing wisdom<br></span>
                            <span class="">in your pocket</span>
                          </h4>

                          <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                            A life-companion to help you deal with every challenge and live your best life
                          </h4>
                        </div>
                      </div>

                      <div class="row mt50px mb50px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <video controls playinline class="cvideo"
                            poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/partnership/pp_video_01.svg"
                            controlsList="nodownload">
                            <source
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/partnership/videos/partnership_program_01.mp4"
                              type="video/mp4">
                          </video>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <h4 class="fw_500 fs_33px lh_39px fc_ffffff mtb0px tcenter">
                            HumanWisdom Premium
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_400 fs_15px lh_18px fc_ffffff tcenter mt30px mb30px">
                            Unlock the complete experience
                          </h4>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

                          <div class="row mb10px">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="panel panel-default psubscription_options">
                                <div class="panel-heading best_value">
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                      <h4 class="fw_500 fs_12px lh_14px fc_000000 mtb0px">
                                        Best value
                                      </h4>
                                    </div>
                                  </div>
                                </div>

                                <div class="panel-body p0">
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                      <button type="submit" [disabled]="isSubscriber" (click)="routedashboard('Yearly')"
                                        class="btn btn_subscription_options">
                                        <h4 class="fw_500 fs_18px lh_21px mtb0px mb5px">
                                          Yearly
                                        </h4>
                                        <h4 class="fw_400 fs_18px lh_21px mtb0px">
                                          {{cardlist['CurSymbol'] + ' ' + cardlist['Annual'] / 12}}/month, billed
                                          annually
                                        </h4>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row mb10px">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <button type="submit" [disabled]="isSubscriber" (click)="routedashboard('Monthly')"
                                class="btn btn_subscription_options">
                                <h4 class="fw_500 fs_18px lh_21px mtb0px mb5px">
                                  Monthly
                                </h4>
                                <h4 class="fw_400 fs_18px lh_21px mtb0px">
                                  {{cardlist['CurSymbol'] + ' ' + cardlist['Monthly']}}/month
                                </h4>
                              </button>
                            </div>
                          </div>

                          <!-- <div class="row center_flex">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                              <h4 class="fw_400 fs_15px lh_130p fc_ffffff tcenter mt20px mb20px">
                                Don’t worry, you can cancel your free trial within 14 days
                              </h4>
                            </div>
                          </div> -->

                          <!-- <div class="row center_flex">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 tcenter mb30px">
                              <a class="fw_700 fs_15px lh_130p fc_ffffff mt0px underline" data-toggle="modal"
                                data-target="#activate_subscription">
                                Redeem subscription code
                              </a>
                            </div>
                          </div> -->

                          <div class="row mb30px">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <button type="submit" [disabled]="isSubscriber" (click)="routedashboard('redeem')"
                                class="btn btn_subscription_options">
                                <h4 class="fw_500 fs_18px lh_21px mtb0px mb5px">
                                  Redeem subscription code
                                </h4>
                                <h4 class="fw_400 fs_18px lh_21px mtb0px">
                                  <!-- {{cardlist['CurSymbol'] + ' ' + cardlist['Monthly']}}/month -->
                                </h4>
                              </button>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a>
                                <button type="button" (click)="routedashboard('free')"
                                  class="btn h60px bg_lg_ffc4f5_01 bs_01 br_30px m0px fw_500 fs_18px lh_21px fc_000000 w100">
                                  {{isLoggedIn ? 'Go to App' : 'Try for free'}}
                                </button>
                              </a>
                            </div>
                          </div>

                          <div class="row mt60px mb60px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                              <!-- desktop playstore -->
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a
                                  (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/playstore_white.svg"
                                    alt="" class="img-responsive w100">
                                </a>
                              </div>
                              <!-- /desktop playstore -->

                              <!-- desktop appstore -->
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/appstore_white.svg"
                                    alt="" class="img-responsive w100">
                                </a>
                              </div>
                              <!-- /desktop appstore -->
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_24px lh_140p fc_1092a7 mtb0px">
                          <span class="fw_700">Much more than a wellness app,</span>
                          <span class="">with 60+ subjects</span>
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                          <li class="">
                            Prevent and overcome stress and anxiety
                          </li>

                          <li class="">
                            Have happier relationships
                          </li>

                          <li class="">
                            Manage your emotions
                          </li>

                          <li class="">
                            Feel at peace
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img
                          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/bubbles.svg"
                          class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_700 fs_24px lh_140p fc_1092a7 mtb0px">
                          Dive deeper
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                          Feel better today, and then go deeper to understand the root cause. Learn to prevent problems
                          and overcome them for the long term.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img
                          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/dive_deeper.svg"
                          class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_24px lh_140p fc_1092a7 mtb0px">
                          <span class="fw_700">Learn, grow, </span>
                          <span class="">and live your best life</span>
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_18px lh_140p fc_5d5d5d mtb0px">
                          The app is packed with features - meditations, life stories, journal, videos, podcasts, guided
                          questions, live events, forum and more
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 tleft pititle">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation.svg"
                          alt="" class="img-responsive" />
                      </div>
                    </div>

                    <div class="row mr-10px">
                      <div class="col-md-12 col-sm-12 col-xs-12 ghn p0 partnershipd">

                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_julie_goodfellow.svg"
                                alt="" class="img-responsive" />
                            </div>
                          </div>

                          <div class="row pt1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_20px lh_140p fc_ffffff mt10px mb5px ">
                                Julie Goodfellow
                              </h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff mt0px mb20px">
                                Headteacher, UK
                              </h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff italic tleft">
                                I subscribed to The HumanWisdom app for all my staff because I have seen how
                                enlightening and transformative it is to understand my reactions to situations, and my
                                personal emotions such as anxiety, depression and anger. To be able to help others
                                understand, with wisdom, why they feel as they do, is my life-long gift to them
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_tinamarie_rodriguez.svg"
                                alt="" class="img-responsive" />
                            </div>
                          </div>

                          <div class="row pt1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_20px lh_140p fc_ffffff mt10px mb5px ">
                                Tinamarie Rodriguez
                              </h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff mt0px mb20px">
                                LIFE COACH, USA
                              </h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff italic tleft">
                                This app is exactly what each and every person in the world needs every day. It will
                                give each person the tools to lead a purposeful and fulfilling life.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_dominic_curran.svg"
                                alt="" class="img-responsive" />
                            </div>
                          </div>

                          <div class="row pt1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_20px lh_140p fc_ffffff mt10px mb5px ">
                                Dominic Curran
                              </h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff mt0px mb20px">
                                Teacher England
                              </h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff italic tleft">
                                The HumanWisdom App has helped me to look at what I think, how I think, and helped me to
                                question why I think in certain ways. This understanding has transformed my life
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_carolyn_king.svg"
                                alt="" class="img-responsive" />
                            </div>
                          </div>

                          <div class="row pt1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_20px lh_140p fc_ffffff mt10px mb5px ">
                                Carolyn King
                              </h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff mt0px mb20px">
                                Melbourne
                              </h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff italic tleft">
                                I absolutely love the HumanWisdom app. It has enabled me to really go on a journey of
                                self-exploration. It covers so many different aspects of how our mind works in the real
                                world. I would highly recommend this app to anyone that wishes to improve their life
                                through the art of self-enquiry.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_adam_beagley.svg"
                                alt="" class="img-responsive" />
                            </div>
                          </div>

                          <div class="row pt1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_20px lh_140p fc_ffffff mt10px mb5px ">
                                Adam Beagley
                              </h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff mt0px mb20px">
                                Student
                              </h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff italic tleft">
                                I find this app inspiring. I believe this could be monumental for our generation.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_chandra_ramamurthy.svg"
                                alt="" class="img-responsive" />
                            </div>
                          </div>

                          <div class="row pt1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_20px lh_140p fc_ffffff mt10px mb5px ">
                                Chandra Ramamurthy
                              </h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff mt0px mb20px">
                                Psychologist
                              </h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff italic tleft">
                                Using the Human Wisdom app has been life affirming. I have only two words after using
                                this app - Game Changer! This app needs to be scaled up to reach every school and
                                workplace. This program is an essential service and serves the need of mitigating mental
                                health problems in our society
                              </p>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!-- consistent bottom -->
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr class="hr_style_19 mt50px mb50px">
                      </div>
                    </div>

                    <div class="row center_flex">
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px tcenter">
                          Sign up to our newsletter and enter a prize draw for a free annual subscription to HumanWisdom Premium
                        </h4>
                      </div>
                    </div>

                    <div class="row center_flex mt20px">
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <!-- html -->
                        <app-newsletter></app-newsletter>
                        <!-- /html -->
                      </div>
                    </div>

                    <!-- <div class="row center_flex mt20px mb10px">                    
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="text" class="form-control cfc3 tleft" placeholder="Your name">
                      </div>
                    </div>

                    <div class="row center_flex">                    
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="text" class="form-control cfc3 tleft" placeholder="Your e-mail address">
                      </div>
                    </div>

                    <div class="row center_flex mt20px">
                      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <a>
                          <button type="button" class="btn h60px bg_lg_ffc4f5_01 bs_01 br_30px fw_500 fs_18px lh_21px fc_000000 m0px w100">
                            Sign up for newsletter
                          </button>
                        </a>
                      </div>
                    </div> -->

                    <div class="row mt50px mb50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tcenter">
                        <h4 class="fw_700 fs_14px lh_130p fc_59595b mtb0px">
                          GET IN TOUCH
                        </h4>

                        <h4 class="fw_700 fs_24px lh_130p fc_59595b mb0px mt10px">
                          <a href="mailto:info@humanwisdom.me" target="_top" class="">
                            info@humanwisdom.me
                          </a>
                        </h4>
                      </div>
                    </div>

                    <!-- accordion -->
                    <app-ft-advert></app-ft-advert>
                    <!-- /accordion -->

                    <div class="row mt50px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="mtb0px fw_400 fs_21px lh_140p fc_000000">
                          Get the app
                        </h4>
                      </div>
                    </div>

                    <div class="row mt10px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <!-- desktop playstore -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <a (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/playstore_black.svg" alt=""
                              class="img-responsive w100">
                          </a>
                        </div>
                        <!-- /desktop playstore -->
    
                        <!-- desktop appstore -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/appstore_black.svg" alt=""
                              class="img-responsive w100">
                          </a>
                        </div>
                        <!-- /desktop appstore -->
                      </div>
                    </div>
                    <!-- /consistent bottom -->

                  </div>
                </div>

                <!-- fixed footer -->
                <!-- <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter adverts_ft_social_btns">

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                        <a href="https://www.facebook.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://twitter.com/HumanWisdom_me">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/twitter_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.instagram.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/instagram_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.linkedin.com/company/humanwisdom">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/linkedin_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/youtube_01.svg"
                              class="">
                          </div>
                        </a>
                      </div>
                    </div>
    
                    <div class="row mt20px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_14px lh_130p fc_59595b mtb0px tcenter">
                          2022 HumanWisdom. All rights reserved.
                        </h4>
                      </div>
                    </div>

                  </div>
                </div> -->
                <!-- /fixed footer -->

                <div class="pb_30rem"></div>

                <!-- floatable footer -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tcenter adverts_ft_social_btns">

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                        <a href="https://www.facebook.com/humanwisdomguide">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://twitter.com/HumanWisdom_me">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/twitter_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://www.instagram.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/instagram_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://www.linkedin.com/company/humanwisdom">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/linkedin_01.svg"
                              class="">
                          </div>
                        </a>

                        <a href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/youtube_01.svg"
                              class="">
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_14px lh_130p fc_59595b mtb0px tcenter">
                          2022 HumanWisdom. All rights reserved.
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /floatable footer -->

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class -->
  </div>
  <!-- /page content -->
</div>

<span #redeemsubscription data-toggle="modal" data-target="#activate_subscription">
</span>

<!-- activate subscription modal -->
<div class="modal fade" id="activate_subscription" data-keyboard="false" data-backdrop="true">
  <!-- modal-body -->
  <div class="" role="document">
    <!-- modal content -->
    <div class="row center_flex activate_subscription_outer" *ngIf="firstpage">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 activate_subscription_inner asi_extended">
        <form [formGroup]="registrationForm" autocomplete="off">
          <input autocomplete="false" name="hidden" type="text" class="hidden">
          <div class="mactivate_subscription_01">
            <div class="row center_flex">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <button type="button" class="btn_popup_close m0px" #actclosemodal (click)="already('home')"
                  data-dismiss="modal" aria-label="Close">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt=""
                    class="img-responsive fright">
                </button>
              </div>
            </div>

            <div class="row center_flex as_main_title">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h4 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px">
                  Activate Subscription!
                </h4>
              </div>
            </div>

            <div class="row center_flex as_ocw_01">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px tcenter">
                  Connect with
                </h4>
              </div>
            </div>

            <div class="row center_flex">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 center_flex">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0 tcenter">
                  <button type="button" class="btn btn-default btn_as_sl">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_as.svg"
                      (click)="fbLogin()" class="img-responsive">
                  </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tcenter">
                  <button type="button" class="btn btn-default btn_as_sl">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/google_as.svg"
                      (click)="googleLogin()" class="img-responsive">
                  </button>
                </div>
                <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pr0 tcenter"> 
                <button type="button" class="btn btn-default btn_as_sl">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/apple_as.svg" class="img-responsive">
                </button>
              </div> -->
              </div>
            </div>

            <div class="row center_flex as_lw_01">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px tcenter">
                  or sign up here
                </h4>
              </div>
            </div>

            <div class="row center_flex mb10px">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="text" class="form-control cfc14" formControlName="fname" placeholder="First Name*"
                    required>
                  <div *ngIf="fname.invalid && fname.touched">
                    <small *ngIf="fname.errors?.required" class="text danger">First Name is required</small>
                    <small *ngIf="fname.errors?.minlength" class="text danger">First Name must be at least 3
                      characters</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row center_flex mb10px">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="text" class="form-control cfc14" placeholder="Last Name*" formControlName="lname"
                    required>
                  <div *ngIf="lname.invalid && lname.touched">
                    <small *ngIf="lname.errors?.required" class="text danger">Last Name is required</small>
                    <small *ngIf="lname.errors?.minlength" class="text danger">Last Name must be at least 3
                      characters</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row center_flex mb10px">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="text" class="form-control cfc14" placeholder="E-mail*" formControlName="email" autocomplete="new-password"  required >
                  <div *ngIf="emailvalid.invalid && emailvalid.touched">
                    <small *ngIf="emailvalid.errors?.required" class="text danger">Please enter email address</small>
                    <small *ngIf="emailvalid.errors?.email" class="text danger">Please enter a valid email</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row center_flex mb10px">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="password" class="form-control cfc14" autocomplete="on" placeholder="Password*"
                    (keydown.space)="$event.preventDefault();" formControlName="password" required>
                  <label class="fw_400 fs_12px lh_14px fc_ffffff opacity_pt5">
                    Password must be Minimum 5 Characters. No Spaces allowed
                  </label>
                </div>
                <div *ngIf="passwordvalid.invalid && passwordvalid.touched">
                  <small *ngIf="passwordvalid.errors?.required" class="text danger">Please enter password</small>
                  <small *ngIf="passwordvalid.errors?.minlength" class="text danger">password must be at least 3
                    characters</small>
                </div>
              </div>
            </div>

            <div class="row center_flex mb10px">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="password" class="form-control cfc14" autocomplete="on" placeholder="Repeat Password*"
                    (keydown.space)="$event.preventDefault();" formControlName="confirmPassword" required>
                  <label class="fw_400 fs_12px lh_14px fc_ffffff opacity_pt5">
                    Password must be Minimum 5 Characters. No Spaces allowed
                  </label>
                </div>
                <div *ngIf="confirmpasswordvalid.invalid && confirmpasswordvalid.touched">
                  <small *ngIf="confirmpasswordvalid.errors?.required" class="text danger">Please enter Repeat
                    password</small>
                  <small *ngIf="confirmpasswordvalid.errors?.minlength" class="text danger">Repeat password must be at
                    least 3 characters</small>
                </div>
              </div>
            </div>

            <div class="row center_flex as_aru_01">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a (click)="already('login')">
                  <h4 class="fw_700 fs_14px lh_180p fc_ffc455 mtb0px tcenter underline">
                    Already a registered user?
                  </h4>
                </a>
              </div>
            </div>

            <div class="row center_flex as_submit_01 ass_01_extended">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <button type="button" class="btn btn-warning btn_ms_submit" [disabled]="!registrationForm.valid"
                  (click)="signup()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row center_flex activate_subscription_outer" *ngIf="secondpage">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 activate_subscription_inner">
        <div class="mactivate_subscription_01">
          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn_popup_close m0px" #actclosemodal (click)="already('home')"
                data-dismiss="modal" aria-label="Close">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt=""
                  class="img-responsive fright">
              </button>
            </div>
          </div>

          <div class="row center_flex as_main_title">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px">
                Activate Subscription!
              </h4>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" class="cfc13" placeholder="{{email}}" disabled>
              </div>
            </div>
          </div>

          <div class="row center_flex otp_desc">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px">
                A one-time password has been sent to your email address (Check your spam folder too). Please enter it
                below.
              </h4>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" class="cfc14" [(ngModel)]="verificationCode" placeholder="Enter OTP">
              </div>
            </div>
          </div>

          <div class="row center_flex otp_rvc">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <a>
                <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px tcenter underline" (click)="resendotp()">
                  Resend Verification Code
                </h4>
              </a>
            </div>
          </div>

          <div class="row center_flex as_register_login">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <a (click)="already('register')">
                <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px tcenter underline">
                  Change E-mail address
                </h4>
              </a>
            </div>
          </div>

          <div class="row center_flex as_submit_01">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn btn-warning btn_ms_submit" (click)="verifyCode()"
                [disabled]="!verificationCode">
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row center_flex activate_subscription_outer" *ngIf="thirdpage">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 activate_subscription_inner">
        <div class="mactivate_subscription_01">
          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn_popup_close m0px" #actclosemodal (click)="already('home')" #closemodal
                data-dismiss="modal" aria-label="Close">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt=""
                  class="img-responsive fright">
              </button>
            </div>
          </div>

          <div class="row center_flex as_main_title">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px">
                Activate Subscription!
              </h4>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" id="fn" class="cfc14" placeholder="{{modaldata['firstname']}}" disabled>
              </div>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" id="ln" class="cfc14" placeholder="{{modaldata['lastname']}}" disabled>
              </div>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" id="emai" class="cfc14" placeholder="{{modaldata['email']}}" disabled>
              </div>
            </div>
          </div>

          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" id="activatecode" class="cfc11" (keyup)="getcode($event.target.value)" [disabled]="subsecondpage"
                  placeholder="Enter Activation Code">
              </div>
            </div>
          </div>

          <div class="row center_flex as_diff_user_01">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_180p fc_ffffff mtb0px tcenter">
                Not
                <span class="fw_700 fs_14px lh_180p fc_ffffff">
                  {{modaldata['email']}}
                </span>
              </h4>
            </div>
          </div>

          <div class="row center_flex as_diff_user_code">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <a (click)="already('login')">
                <h4 class="fw_700 fs_14px lh_180p fc_ffc455 mtb0px tcenter underline">
                  Login as a different user
                </h4>
              </a>
            </div>
          </div>

          <div class="row center_flex as_code_desc_logged_in_01" *ngIf="subthirdpage">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px">
                The activation code you have used is invalid. Please check again, or email us at support@humanwisdom.me
              </h4>
            </div>
          </div>

          <div class="row center_flex as_submit_01" *ngIf="subfirstpage">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn btn-warning btn_ms_submit" [disabled]="activationCode === ''"
                (click)="verifyactkey()">
                Submit
              </button>
            </div>
          </div>

          <div class="row center_flex as_code_desc_logged_in" *ngIf="subsecondpage">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px">
                This code entitles you to 1 <span>{{yearormonth}}</span> of subscription to the HumanWisdom Program for
                Adults. Click below to activate this subscription, and enjoy the benefits of the HumanWisdom App.
              </h4>
            </div>
          </div>

          <div class="row center_flex as_submit_01" *ngIf="subsecondpage">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn btn-warning btn_ms_submit" (click)="submitcode()">
                Activate Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row center_flex activate_subscription_outer" *ngIf="fifthpage">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 activate_subscription_inner">
        <div class="mactivate_subscription_01">
          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn_popup_close m0px" #actclosemodal (click)="already('home')"
                data-dismiss="modal" aria-label="Close">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt=""
                  class="img-responsive fright">
              </button>
            </div>
          </div>

          <div class="row center_flex as_main_title">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px">
                Activate Subscription!
              </h4>
            </div>
          </div>

          <div class="row center_flex as_ocw_01">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px tcenter">
                Connect with
              </h4>
            </div>
          </div>

          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 center_flex">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0 tcenter">
                <button type="button" class="btn btn-default btn_as_sl">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_as.svg"
                    (click)="fbLogin()" class="img-responsive">
                </button>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tcenter">
                <button type="button" class="btn btn-default btn_as_sl">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/google_as.svg"
                    (click)="googleLogin()" class="img-responsive">
                </button>
              </div>
              <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pr0 tcenter"> 
                <button type="button" class="btn btn-default btn_as_sl">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/apple_as.svg" class="img-responsive">
                </button>
              </div> -->
            </div>
          </div>

          <div class="row center_flex as_lw_01">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px tcenter">
                or login here
              </h4>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="text" class="cfc14" [(ngModel)]="this.loginemail" placeholder="E-mail*">
              </div>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <input type="password" class="cfc14" [(ngModel)]="this.loginpassword" placeholder="Password*">
              </div>
            </div>
          </div>

          <div class="row center_flex as_nru_01">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <a (click)="already('register')">
                <h4 class="fw_700 fs_14px lh_180p fc_ffc455 mtb0px tcenter underline">
                  Not a registered user?
                </h4>
              </a>
            </div>
          </div>

          <div class="row center_flex as_submit_01">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn btn-warning btn_ms_submit"
                [disabled]="!this.loginemail||!this.loginpassword" (click)="emaillogin('act')">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row center_flex activate_subscription_outer" *ngIf="sixthpage">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 activate_subscription_inner">
        <div class="mactivate_subscription_01">
          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn_popup_close m0px" #actclosemodal (click)="already('home')"
                data-dismiss="modal" aria-label="Close">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt=""
                  class="img-responsive fright">
              </button>
            </div>
          </div>

          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_500 fs_18px lh_21px fc_ffffff mtb0px">
                Congratulations!
              </h4>
            </div>
          </div>

          <div class="row center_flex as_congratulations">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <h4 class="fw_400 fs_14px lh_130p fc_ffffff mtb0px">
                You are now subscribed to <span>{{yearormonth}}</span> of the HumanWisdom Program for Adults. Continue to the dahboard to
                enjoy the app.
              </h4>
            </div>
          </div>

          <div class="row center_flex as_continue_dashboard">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn btn-warning btn_ms_submit" (click)="routedashboard('free')">
                Continue to dashboard
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /modal content -->
  </div>
  <!-- /modal-body -->
</div>
<!-- /activate subscription modal -->