<div class="wrapper">
  <!-- top navigation -->
  <app-tn-advert></app-tn-advert>
  <!-- /top navigation -->

  <app-bg-video></app-bg-video>

  <!-- page content -->
  <div class="right_col mc_01 bg_nonei">
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_white col_cw">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                    
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_24px fw_600 lh_150p fc_120f40">
                          <span class="">Learn about yourself<br></span>
                          <span class="">Grow as a person<br></span>
                          <span class="">Be happier</span>
                        </h4>

                        <h4 class="mtb20px fs_15px fw_400 lh_150p fc_120f40">
                          A life-companion to help you overcome stress and anxiety, have happier relationships and succeed in life.
                        </h4>
                      </div>
                    </div>

                    <div class="bg_adverts_01">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <video controls playinline class="cvideo"
                            poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/pp_video_01.webp"
                            controlsList="nodownload">
                            <source
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/partnership/videos/partnership_program_01.mp4"
                              type="video/mp4">
                          </video>
                        </div>
                      </div>

                      <div class="row mt30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <video controls playinline class="cvideo"
                            poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/video_tour_of_the_app.webp"
                            controlsList="nodownload">
                            <source
                              src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/introduction_to_happierme/videos/video_tour_of_the_app.mp4"
                              type="video/mp4">
                          </video>
                        </div>
                      </div>

                      <div class="row mt30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_24px fw_600 lh_150p fc_120f40 tcenter">
                            HappierMe Premium
                          </h4>
                        </div>
                      </div>

                      <div class="row mt15px mb30px">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_120f40 tcenter">
                            Unlock the complete experience
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <button class="btn w100p m0px p0 btn_am" [disabled]="isSubscriber" (click)="routedashboard('Yearly')">
                            <div class="row mb20px">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
            
                                <div class="row div_best_value_01">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                    <h4 class="mtb0px fs_15px fw_500 lh_140p fc_ffffff">
                                      Best value
                                    </h4>
                                  </div>
                                </div>
            
                                <div class="div_annual_01">
                                  <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                      <h4 class="mtb0px fs_15px fw_400 lh_140p fc_120f40">
                                        Annual
                                      </h4>
                                    </div>
                                  </div>
            
                                  <div class="row mtb5px">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                      <h4 class="mtb0px fs_24px fw_600 lh_170p fc_120f40">
                                        <!-- £4.25 -->
                                        {{cardlist['CurSymbol'] + ' ' + cardlist['Annual'] / 12}}
                                        <span class="fs_15px fw_400 lh_170p fc_292d56">
                                          /month after 14-day trial
                                        </span>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
            
                              </div>
                            </div>
                          </button>

                          <button class="btn w100p m0px p0 btn_am" [disabled]="isSubscriber" (click)="routedashboard('Monthly')"> 
                            <div class="row div_monthly_01 mb20px">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
            
                                <div class="row mb5px">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                    <h4 class="mtb0px fs_15px fw_400 lh_140p fc_120f40">
                                      Monthly
                                    </h4>
                                  </div>
                                </div>
            
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                    <h4 class="mtb0px fs_24px fw_600 lh_170p fc_120f40">
                                      <!-- £8.00  -->
                                      {{cardlist['CurSymbol'] + ' ' + cardlist['Monthly']}}
                                      <span class="fs_15px fw_400 lh_170p fc_292d56">
                                        /month after 7-day trial
                                      </span>
                                    </h4>
                                  </div>
                                </div>
            
                              </div>
                            </div>
                          </button>

                          <!-- <button class="btn btn_subscription_options mb20px" [disabled]="isSubscriber" (click)="routedashboard('redeem')">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <h4 class="mtb0px fs_15px fw_400 lh_140p fc_120f40">
                                  Redeem subscription code
                                </h4>
                              </div>
                            </div>
                          </button> -->

                          <a class="" routerLink="/give-the-gift-of-wisdom/">
                            <div class="row btn_subscription_options">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <h4 class="mtb0px fs_15px fw_400 lh_140p fc_120f40 flex_ai">
                                  <img
                                    src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/like_peach.svg"
                                    class="img-responsive mr10px">
                                  Give the gift of happiness
                                </h4>
                              </div>
                            </div>
                          </a>

                          <a class="" (click)="routedashboard('free')">
                            <div class="row btn_tff mtb30px">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <h4 class="mtb0px fs_15px fw_600 lh_150p fc_ffffff">
                                  {{isLoggedIn ? 'Go to App' : 'Try for free'}}
                                </h4>
                              </div>
                            </div>
                          </a>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                              <!-- desktop playstore -->
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl0px">
                                <a (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/adverts_playstore.webp" class="img-responsive w100">
                                </a>
                              </div>
                              <!-- /desktop playstore -->

                              <!-- desktop appstore -->
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0px">
                                <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/adverts_appstore.webp" class="img-responsive w100">
                                </a>
                              </div>
                              <!-- /desktop appstore -->
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="row mt30px center_flex">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_18px fw_600 lh_150p fc_e58d82">
                          Much more than a wellness app,with 70+ subjects
                        </h4>
                      </div>
                    </div>

                    <div class="row mt10px mb20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <ul class="mtb0px fs_15px fw_400 lh_150p fc_120f40">
                          <li class="">
                            Prevent and overcome stress and anxiety
                          </li>

                          <li class="">
                            Have happier relationships
                          </li>

                          <li class="">
                            Manage your emotions
                          </li>

                          <li class="">
                            Feel at peace
                          </li>

                          <li class="">
                            Overcome unhelpful habits
                          </li>

                          <li class="">
                            Develop soft skills to succeed at work
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/bubbles.webp" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_18px fw_600 lh_150p fc_e58d82">
                          Dive deeper
                        </h4>
                      </div>
                    </div>

                    <div class="row mt10px mb20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_400 lh_150p fc_120f40">
                          Feel better today, and then go deeper to understand the root cause. Learn to prevent problems and overcome them for the long term.
                        </h4>
                      </div>
                    </div>

                    <div class="row mlr-20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <img
                          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/adverts_dive_deeper.webp"
                          class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_18px fw_600 lh_150p fc_e58d82">
                          Learn, grow, and make the most of your life
                        </h4>
                      </div>
                    </div>

                    <div class="row mt10px mb30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_400 lh_150p fc_120f40">
                          The app is packed with features - meditations, life stories, journal, videos, podcasts, guided questions, live events, forum and more
                        </h4>
                      </div>
                    </div>

                    <!-- testimonials -->
                    <div class="row mr-20pxi">
                      <div class="col-md-12 col-sm-12 col-xs-12 pl0px odiv img_dtestimonials">
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_adam_beagley.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Adam Beagley
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                STUDENT, UK
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                HappierMe has helped me become emotionally intelligent. I used to be shy, passive and fearful. The app has transformed my way of thinking and relieved ...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Adam')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_laura_toop.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Laura Toop
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                LIFE LEADERSHIP COACH, UK
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                Oh how I wish I had had this app available to me when my life imploded many years ago. In fact, I wish I had had access as a child. It would have made a sign...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Laura')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_julie_goodfellow.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Julie Goodfellow
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                HEAD TEACHER, UK
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                I subscribed to the HappierMe app for all my staff because I have seen how enlightening and transformative it is to understand my reactions...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Julie')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_carolyn_king.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Carolyn King
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                KINESIOLOGIST, Australia
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                "I absolutely love the HappierMe app.
                                It has enabled me to really go on a journey of self-exploration. It covers so many different aspect...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Carolyn')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_chandra_ramamurthy.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Chandra Ramamurthy
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                CLINICAL PSYCHOLOGIST, India
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                The past few months of using the app have been life affirming. I have only two words after using the app - GAME CHANGER! This app needs to be scaled up, to...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Chandra')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_suzanne_oades.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Suzanne Oades
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                PSYCHOTHERAPIST, UK
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                By knowing more about how my mind works, I have learned to make better choices in how I think, behave and act. The HappierMe app is a space...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Suzanne')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_tinamarie_rodriguez.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Tinamarie Rodriguez
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                LIFE COACH, USA
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                This app is exactly what each and every person in the world needs every day. It will give each person the tools to lead a purposeful and fulfilling life.
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Tinamarie')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_dominic_curran.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Dominic Curran
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                TEACHER, England
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                The HappierMe app has helped me to look at what I think, and helped me to question why I think in certain ways. This understanding has transformed ...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Dominic')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_anthony_seldon.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Sir Anthony Seldon
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                EDUCATIONALIST & HISTORIAN, UK
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                After a lifetime in education, I think there is an urgent need for solutions to help students deal with problems like stress, anxiety, addiction and conflict in their rel...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Anthony')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_tim_merrick.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Tim Merrick
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                EXECUTIVE COACH, USA
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                It’s so easy to get caught up in all the things we have to do, want to do, and should do. What we gain in productivity we lose in self-awareness, meaning, and satisf...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Merrick')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div> 
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_jo_thackwray.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Jo Thackwray
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                LIFE COACH, UK
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                This is a world changing project I am so pleased and privileged to be involved in. To inspire the next generation to be in tune with their own wisdom will truly be w...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Thackwray')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-md-10 col-sm-10 col-xs-10 prelative">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/testimonial_saakshi_singla.webp" alt="" class="img-responsive"/>
                            </div>
                          </div>
        
                          <div class="row ltestimonials">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h4 class="fw_400 fs_15px lh_140p fc_ffffff mt10px mb5px ">
                                Saakshi Singla
                              </h4>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <h6 class="fw_400 fs_12px lh_140p fc_ffffff ttuppercase mt0px mb20px">
                                PSYCHOLOGIST & COUNSELLOR, India
                              </h6>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <p class="fw_400 fs_15px lh_140p fc_ffffff_0_7 italic tleft mb0px ttxt">
                                HappierMe is what today’s world, which is full of stress, needs so so desperately. I have been using the HappierMe app in my counseling practice a...
                              </p>
                            </div>
        
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a (click)="readMore('Saakshi')">
                                <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_7 ttuppercase mt20px mb0px tright">
                                  READ MORE
                                </h4>
                              </a>
                            </div>
                          </div>
                        </div> 
        
                      </div>
                    </div>
                    <!-- /testimonials -->

                    <!-- consistent bottom -->
                    <div class="row center_flex">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_style_20 mtb30px">
                      </div>
                    </div>

                    <div class="row mb30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_400 lh_150p fc_120f40 tcenter">
                          <!-- Sign up to our newsletter and enter a prize draw for a free annual subscription to HappierMe Premium -->
                          Sign up for our newsletter
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <!-- html -->
                        <app-newsletter></app-newsletter>
                        <!-- /html -->
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                        <h4 class="mtb0px fs_12px fw_500 lh_150p fc_120f40">
                          GET IN TOUCH
                        </h4>

                        <h4 class="mtb0px fs_18px fw_600 lh_150p fc_120f40">
                          <a href="mailto:team@happierme.app" target="_top" class="">
                            team@happierme.app
                          </a>
                        </h4>
                      </div>
                    </div>

                    <div class="row center_flex">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_style_20 mtb30px">
                      </div>
                    </div>

                    <!-- accordion -->
                    <app-ft-advert></app-ft-advert>
                    <!-- /accordion -->

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_600 lh_150p fc_120f40">
                          Get the app
                        </h4>
                      </div>
                    </div>

                    <div class="row mt15px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <!-- desktop playstore -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl0px">
                          <a (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/adverts_playstore_dark.webp" class="img-responsive w100">
                          </a>
                        </div>
                        <!-- /desktop playstore -->

                        <!-- desktop appstore -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr0px">
                          <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/adverts_appstore_dark.webp" class="img-responsive w100">
                          </a>
                        </div>
                        <!-- /desktop appstore -->
                      </div>
                    </div>
                    <!-- /consistent bottom -->

                  </div>
                </div>

                <div class="pb_30rem"></div>

              </form>
            </div>
          </div>
        </div>

        <!-- floatable footer -->
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter adverts_ft_social_btns col_cw">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 center_flex img_adverts_footer">
                <a href="https://facebook.com/happiermeapp/">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img
                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/facebook_01.webp"
                      class="">
                  </div>
                </a>

                <a href="https://twitter.com/happiermeapp">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/twitter_01.webp"
                      class="">
                  </div>
                </a>

                <a href="https://www.instagram.com/happiermeapp/">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img
                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/instagram_01.webp"
                      class="">
                  </div>
                </a>

                <a href="https://linkedin.com/company/happierme">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img
                      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/linkedin_01.webp"
                      class="">
                  </div>
                </a>

                <a href="https://www.youtube.com/@happierme">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/youtube_01.webp"
                      class="">
                  </div>
                </a>
              </div>
            </div>

            <div class="row mt20px">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_12px fw_400 lh_150p fc_292d56_1 tcenter">
                  2023 HappierMe. All rights reserved.
                </h4>
              </div>
            </div>

          </div>
        </div>
        <!-- /floatable footer -->
      </div>
    </div>
  </div>
  <!-- /page content -->
</div>

<app-modal *ngIf="enableAlert" [enableCancel]="enablecancel" (closeEvent)="getAlertcloseEvent($event)" [okText]="'Ok'"
  [content]="content">
</app-modal>

<Login-register-modal *ngIf="enabledModal" [isAdvertpage]="true" (closeModal)="getClosemodalEvent($event)"></Login-register-modal>