:host {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: block;
  width: 100%;
}

.p0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

.form-control {
  width: 100%;
  box-shadow: none;
  outline: none;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none !important;
    display: none !important;
  }
}

.pfy_search_icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  line-height: 1;
  z-index: 2;
}

.ad_sclose_icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer;
  line-height: 1;
  z-index: 2;
}
