:host {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: block;
}

.p0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
