<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            We are all conditioned by our past influences but are not aware we have been conditioned.
            Our conditioning becomes our ‘normal’ and we become attached to it - to our opinions, beliefs, and our learned behaviours. 
          </p>

          <p>
            If we have been bullied ourselves we may regard it as normal and even ‘character building’ to bully others, or condone bullying by others. 
          </p>

          <p>
            If we have had a painful past we may carry our suffering with us everyday, and taking it out on others may feel like a form of release.
          </p>

          <p>
            Or we may have grown up thinking that teasing others who are different is just harmless banter, not releasing the suffering it causes others.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>