<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            The first question to ask yourself - Are you or is anyone around you in immediate danger?
          </p>

          <p>
            If the answer is NO, relax, you have time to respond. This question can break the automatic anger reaction, when you realise there is no imminent physical threat, and it’s just a reaction from our thinking process
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>