<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          I asked a group of teenagers what they wanted from their life. Almost all of them said they wanted to be rich and famous, because they thought that would make them happy. I asked them why they hadn't said they wanted to be healthy? ‘Because we already are’ they said. ‘So when you say you want to be happy, does that mean you are not happy now’, I asked. Why not?
          ‘Happiness is hard’ they said. The subject had never been discussed with them.
          What can we all do to be happy now, rather than in the future, because we are only alive in this moment?          
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>