<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">

  <form>

    <h1 class="txt2 fw_500 lengthy_txt_title">
      Using mobile phones:
    </h1>

    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">01</p>
      When you are with friends or family, it is important to keep your phone away and focus on the other person. 
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">02</p>
      When communicating through the phone - via messages or social media, remember to pick your words carefully and be kind, as misunderstandings can easily occur
    </h3>

  </form>

</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>