<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Begin with noticing what you think or feel. It could have been a feeling of envy or judgement of others or yourself. It may be fleeting. We are going to learn by looking. You may find yourself judging your observations as right or wrong. Pause here and remind yourself that you are the same as all human beings and this is a normal feeling. Keep looking.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>