<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Isn’t it interesting how little control we have over this feeling of envy and yet it can affect us in so many ways, illustrating the hidden  and automatic nature of comparison in our thinking. Our mind automatically compares the phone we have compared to the phones others have, for example, and if their phone is better we can feel this sharp pain of envy - and we seem to have no control over it. Envy arises suddenly without any warning and causes emotional pain and can make us react with anger.
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>