<div class="dtn">

  <!-- top navigation -->
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 dtn_default flex_ai plr20px onscrollbg">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
        <a class="" href="#">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/logo/hwp_logo_01.svg" class="img-responsive" alt="HumanWisdom">
        </a>
      </div>

      <!-- unlogged -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 jc_flexend">
          <a *ngIf="!isloggedIn" routerLink="/onboarding/login">
            <button type="button" class="btn_login">
              Login
            </button>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0 ctxtalignment">
          <app-hamburger></app-hamburger>
        </div>
      </div>
      <!-- /unlogged -->

      <!-- logged in  -->
      <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 jc_flexend">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
            <a routerLink="/adults/bookmarks">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/bookmark_grey.svg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
            <a>
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/notifications_grey.svg" class="img-responsive" alt="">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/alert_filled.svg" class="img-responsive" alt="">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/alert_badge_active.svg" class="img-responsive" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0 tright">
          <app-hamburger></app-hamburger>
        </div>
      </div> -->
      <!-- logged in -->
    </div>
  </div>
  <!-- /top navigation -->

</div>