<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          There are many external causes of stress in our lives, probably too many to include here, and you probably know them already. They do change with age but the stress they cause is the same. For children its exams, anxiety, and what others think of them. For young adults it’s money, jobs and new relationships. As we get older it shifts to our children and our health. Loneliness affects us at every age. In poorer parts of the world it’s the basic needs of life - like food, shelter and health care. We cannot control external events, but only how we respond, and a deeper understanding of ourselves allows us to respond with calm intelligence.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>