<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Understanding these 4 layers of thinking has many benefits. Normally I would blame you for making me feel jealous. This is because normally I am only aware of layers 1 and 2. Now I can see though that the automatic process of comparison which comes from layer 3 is the real cause of my envy. I stop blaming you for a start, and then ask myself what I can learn from this feeling that has arisen in me... and that leads me to begin a journey of a deeper understanding of myself, which can lead to transformation.
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>