<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">

  <form class="">

    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      Our unconscious emotional needs express themselves in our lives in many ways we are not aware of. Understanding the entire process allows us to live with wisdom



         </h1>

    <div class="clearfix"></div>

  </form>  

</app-kta-prevnext>

<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>