<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mdp_header onscrollbs bg_transparent">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a (click)="closeprofileedit()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt=""
          class="img-responsive">
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

    </div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_03">
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 p0 sc_01 bg_user_profile pt_rightcol">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>
              <div class="row forum_pt20px center_flex">
                <div class="col-md-12 col-sm-12 col-xs-12 center_flex w50p">
                  <div class="opaque_border_outer">
                    <img
                      src="{{imageupload !== undefined ? imageupload : url ===undefined ? 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/profile_default.svg' :  (this.url.includes('undefined') ? 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/profile_default.svg' : 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/UsersAvatar/' + url)}}"
                      alt="" class="p0 opaque_border_inner img-responsive img_profile_01">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                  <a class="">
                    <h6 class="tcenter fw_700 fs_12px lh_14px fc_ffffff mtb0px mt10px underline">
                      <label for="files" class="btn">Change Profile Picture</label>
                      <input id="files" style="visibility:hidden;" (change)="getFileUpload($event)" type="file">
                    </h6>
                  </a>
                </div>
              </div>

              <div class="row mt30px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-2 col-sm-2 col-xs-3 pr0px">
                    <select class="form-control cfc10 p0">
                      <option>Title</option>
                      <option>Ms</option>
                      <option>Mr.</option>
                      <option>Mrs.</option>
                      <option>Others</option>
                    </select>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-9">
                    <input type="text" name="name" [(ngModel)]="fullname" class="cfc10" placeholder="Full Name">
                  </div>
                </div>
              </div>

              <div class="row mt15px plr10px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <input type="text" name="email" [(ngModel)]="email" class="cfc10" placeholder="E-mail">
                </div>
              </div>

              <!-- <div class="row mt15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <select class="form-control cfc10">
                    <option>Country</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div> -->

              <!-- <div class="row mt20px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="fw_700 fs_12px lh_14px fc_ffffff mt0px">
                    Contact
                  </h6>
                </div>
              </div> -->

              <!-- <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-3">
                  <select class="form-control cfc10">
                    <option>IN</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-9">
                  <input type="text" required="required" class="cfc10 feedback_left cfc10_fl_p" placeholder="">
                  <span class="form-control-feedback left cfc10_fl" aria-hidden="true">
                    +91
                  </span>
                </div>
              </div>

              <div class="row mt15px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="fw_400 fs_12px lh_130p fc_ffffff opacity_pt75 mt0px">
                    Your contact details will not appear on your profile
                  </h6>
                </div>
              </div> -->

              <div class="row mt40px center_flex">
                <div class="col-md-6 col-sm-6 col-xs-6 center_flex">
                  <button (click)="updateUser()" [disabled]="email === '' || fullname === ''" type="submit"
                    class="btn btn-warning btn_update_changes w100">
                    Update Changes
                  </button>
                </div>
              </div>

              <div class="pagebreak"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->

<app-modal *ngIf="enableAlert" (closeEvent)="getAlertcloseEvent($event)" [okText]="'Ok'"
  [content]="content">
</app-modal>
