<app-toc-header [moduleName]="'Money'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="txt_comparison">
          Money shapes our lives in many ways we do not realise. It's essential for life in many ways, but can also strain relationships, lead to corruption, and make us live with chronic anxiety. 
          Understanding the many hidden patterns of thinking that influence our relationship with money allows us to live with wisdom, so it does not unconsciously direct the course of our life.
        </h4>
      </div>
    </div>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">                    
        <a [routerLink]="['/adults/money', moneyResume]" *ngIf="lastvisited">
          <button type="button" class="btn mb0 btn_begin_here" data-dismiss="modal">Continue where you left</button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">
      <a routerLink="/adults/money/s73002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #1
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Our relationship with money
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                34:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/adults/money/s73044">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #2
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                What problems can money cause
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                25:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/adults/money/s73077">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #3
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Having a healthy relationship with money
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                18:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>
    </div> 
    
    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>

  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>