<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 partnership_app_tn">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <!-- <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_grey_04.svg" alt="" class="p0"/>
      </a> -->
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
      <a class="">
        <h1 class="txt301 mtb0px tcenter">
          HumanWisdom Premium
        </h1>
      </a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tright">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/more_grey.svg" alt="" class="p0"/>
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_white">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row center_flex mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 pl0px tleft">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/star_hwp_premium.svg" alt="" class="img-responsive"/> 
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 pl0px">
                        <h4 class="txt340 mt0px mb5px">
                          HUMANWISDOM
                        </h4>
                        <h4 class="txt341 mtb0px">
                          Premium
                        </h4>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <hr class="ws_hr mt30px mb40px">
                    </div>
                  </div>

                  <div class="row mb30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p class="txt342">
                        Congratulations!
                      </p>

                      <!-- annual -->
                      <p class="txt311">
                        You have successfully subscribed to HumanWisdom Premium. As part of your annual subscription, we invite you to join the HumanWisdom Partnership Program for no extra fee. Find out how it can help you, help others, make the world a better place, and perhaps deliver a secondary income for you.
                      </p>
  
                      <p class="txt311">
                        For more information on the Partnership Program,
                        <a (click)="GoToIndex()">
                          <span class="txt339 underline">
                            click here.
                          </span>
                        </a>
                      </p>
                      <!-- /annual -->

                      <!-- monthly -->
                      <!-- <p class="txt311">
                        You have successfully subscribed to HumanWisdom Premium. Your subscription is valid until Month xx, xxxx.
                      </p> -->
                      <!-- /monthly -->
                    </div>
                  </div>

                  <!-- annual -->
                 
                  <!-- /annual -->

                  <!-- monthly -->
                  <!-- <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <a>
                        <button type="button" class="btn mb0 btn_sub_unsubp w100 bg_cyan">
                          Proceed to Dashboard
                        </button>
                      </a>
                    </div>
                  </div>  -->
                  <!-- /monthly -->

                </div>
              </div>
              
              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->