<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      If we can stay with this ache of inner emptiness, and meet it without language, the ache of emptiness transforms to a peaceful silence 

      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
                     
   
