
<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>               

    <h1 class="txt1">
      <p class="mb0px fw_bold">#9 </p>
      Accepting yourself as you are can bring so much relief from stress. It also means accepting what you do, your relationships, your standard of living, and being okay with that. It does not mean you stop striving, but just stop comparing yourself with others. 
    </h1>

  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>


