
<div class="prelative pt8_5rem">
    <img src="assets/images/webpage/header_bg.png" class="img-responsive" alt="">  
    <h2 class="bold testimonial_img_title">
      REFER A FRIEND
    </h2> 
  </div>
  
  <!-- page content -->
  <div class="right_col ml0" role="main">				
    <!-- Class -->
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-md-12 col-sm-12 col-xs-12 p0">
          <div class="x_panel txt_dgray">                     
  
            <div class="x_content">
              <form class="wparagraph">
                
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">                          
                    <h3>
                      Refer a Friend
                    </h3>
                    <hr class="whr_title">
                  </div>
                </div>
  
                <div class="row center_flex">
                  <div class="col-md-10 col-sm-12 col-xs-12">
                    <form id="demo-form" class="form-horizontal form-label-left" data-parsley-validate>                    
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="italic fw_500">
                          If you liked HumanWisdom, please let a friend know. We will give you 5% off your subscription and your friend 5% off when they sign up. You can refer as many friends as you like.                            
                        </p>
                      </div>
  
                      <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-12">
                          <label class="control-label fw_500">Your Friend's Name</label>
                          <input type="text" class="form-control p3-12px" name="nameFriend"  [(ngModel)]="friendName" >                                        
                        </div> 
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <label class="control-label fw_500">Your Friend's Email</label>
                          <input type="text" class="form-control p3-12px"name="email" [(ngModel)]="friendEmail">                                        
                        </div>
                      </div>
  
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 pt5px">                          
                          <button type="button" class="btn btn-primary bg_cyan" (click)="addRefer()">SUBMIT</button>
                        </div>
                      </div>                                
                    </form>
                  </div>    
                </div>
              </form>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!--/Class -->      
  </div>
  <!-- /page content -->
<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->