<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">
  <form class="">

    <h1 class="txt8 fw_500 oneliner_txt_title">
      Pausing judgement allows us to:
    </h1>

    <h1 class="txt8 oneliner_txt_pointer">
      1. understand ourselves
    </h1>

    <h1 class="txt8 oneliner_txt_pointer">
      2. accept ourselves
    </h1>

    <h1 class="txt8 oneliner_txt_pointer">
      3. be kind to ourselves
    </h1>

    <h1 class="txt8 oneliner_txt_pointer">
      4. have empathy for others
    </h1>
    
  </form>  
  
</app-kta-prevnext>

<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>