<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path"></app-course-header>

<app-kta-prevnext>
  <form class="">

    <h1 class="txt3">
      Everything in the universe has a life-span. Stars do, we do, and so do our relationships. People will come and go from our lives. Accepting this allows us to live in peace.
    </h1>
    <div class="clearfix"></div>
  </form>  
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>




