<!-- top navigation -->
<div class="top_nav ml0 ctopnav">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding tn_story_submit">
   
    <nav class="flex_ai">          
      <ul class="nav navbar-nav navbar-right cnav navleft w20p no_bg">
        <!-- <li class="">
          <a (click)="goBack()" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false">                          
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/ws_back_white.svg" alt="" class="p0">
          </a>                  
        </li>         -->
      </ul>

      <ul class="nav navbar-nav navbar-right cnav navcenter w60p nbg_white">          
        <li class="mr0px">
          <a  class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                       
            <h6 class="txt88">
              Registration
            </h6>            
          </a>                  
        </li>
      </ul>
    </nav>    
    
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col ml0 pt_rightcol" role="main">				
  <!-- Class -->
  <div class="cw100p"> 
    <div class="row drow center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form> 

              <br>  
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="txt160 mb0px">
                    Congratulations!
                  </h4>
                </div>
              </div>  
              
              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt166 mt0px">
                    Thank you for completing your registration as a HumanWisdom Coach. We look forward to working with you.
                  </h6>
                  <h6 class="txt166 mt0px">
                    Please check your email for verification.
                  </h6>
                </div>
              </div>         
              
              <br>

              <div class="row">  
                <a routerLink="/coach/coach-calendar-plugin" class="p0 b0px">                
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-warning btn_coach_continue w100">                      
                    Done
                  </button>  
                </div>
                </a>
              </div>

              <div class="pagebreak"></div>

            </form>              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->