<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path"></app-course-header>
<app-oneline-text [bg]="bg">
  <form>
    <h1 class="txt8 fw_500 oneliner_txt_title">
      Four hidden patterns of thinking that are behind global warming, and block change. Unless these are understood, change is not possible. With wisdom, this change comes naturally.


    </h1>
    <div class="clearfix"></div>

    <!-- <h3 class="txt8">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/emoticons/sad.png" alt="">
    </h3> -->

    <h3 class="txt8 oneliner_txt_pointer">
      01. Our self-interest



    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      02. Our conditioning 
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      03. Our habits

    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      04. Our need for pleasure


    </h3>
    

   

   
  </form>          
</app-oneline-text>
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>s