<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"  [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Another example of these different layers at work is the difference between our real motive, and what we tell ourselves and others. Say I'm a politician. I convince myself and others that I am in politics to make a difference and serve people. 
          </p>
          
          <p>
            That's all I see. Hidden from awareness though in layer 3 are my many emotional needs - for power, to be important, feel secure, and for pleasure.
          </p>

          <p>
            Deeper still, in layer 4, is my self-interest that operates quietly in the background. None of these are wrong by the way.
          </p>

          <p>
            If we are not aware of what’s going on in layer 3 and 4, then the patterns there will govern our behaviour, without our awareness or our consent.
          </p>

          <p>
            If we can be aware of it, we can respond with wisdom and intelligence.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>