<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            We have talked about the benefits of wisdom. In this module we are going to show you how wisdom can bring about those changes, in the many different areas of your life. Wherever a problem is linked to thinking, wisdom can help you avoid it and manage that better. It can also help you be successful - both as a human being and in the world, because our success in the world depends so much on having excellent personal and communication skills.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>