<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            It begins in the playground. A kid walks in with a new toy that someone bigger than him wants. He can’t bear not to have it, and the desire to have that is so strong that it overrides any sense of decency and he bullies the little boy to get it.
          </p>

          <p>
            The same happens in adult life - except it may be a manager who is under pressure to deliver his targets to get a bonus and in turn bullies all the people who work for him to do so - creating a culture of fear and intimidation without being fully aware he is doing so.
          </p>

          <p>
            He is able to justify his own behaviour and is just his way of getting the job done.
          </p>

          <p>
            Or, in a relationship, we want someone to do what we want them to and can end up bullying them to do it - especially if one person has more power - they are earning more, or are bigger and stronger.
          </p>

          <p>
            Anger is often used as a tool for controlling others.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>