<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>
 
<app-kta-prevnext>
  <form class="">

    <h1 class="txt21">
      1. Desire is the anticipation of pleasure in the future 
    </h1>

    <h1 class="txt21">
      2. When a pleasure ends it leaves a void that makes us want to repeat it
    </h1>

    <h1 class="txt21">
      3. An unfulfilled desire makes us frustrated and unhappy
    </h1>
    
  </form>  
</app-kta-prevnext>
 
<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
	