<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            As you travel through the HappierMe program you may begin to realise that deep down you are the same human being as everyone else, and our minds function in the same way. We all get hurt by criticism for example. This understanding awakens compassion, for ourselves and others. 
            Our time on earth is limited. What can we do to make the most of it?


          </p>    
        </h3>                  
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>

           







          


