<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            In one survey among final year students sitting an exam, 80% of students said stress impacted learning.
          </p>
          <p>
            A small amount of stress can be helpful in motivating you to study, but too much stress and anxiety reduces the information that can be absorbed, and this can impact exam performance.
          </p>
          <p>  
            Stress also affects your ability to sleep and a lack of sleep leads to poor concentration, fatigue, and even more stress.
           </p>
           <p> 
            Some students find exam preparation so stressful they don't want to do it.
            </p>
            <p>  
            The pressure being put on students by parents, teachers, and society as a whole can impact learning, their mental health, and their motivation to study. 
            </p>
            <p>  
            We are going to offer practical tips on how you can deal with all these challenges.
            </p>

        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>