<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Our attachment to our conditioning makes us feel we are right, and others who are different, are wrong. This is an unconscious and automatic process which causes conflict.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="goNext()" (previousEmitter)="prev()"></app-course-footer>
