<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We have explored how all of us have many emotional needs which operate in the background, demanding to be met from our relationships and our work. They are not wrong and include a need to feel secure, loved, understood, for pleasure, for power, for physical intimacy, for a sense of feeling important and so on. We are often not aware we have these needs. If they are not met we can get frustrated and blame our relationships and workplaces for how we feel, and not realise what is going on in our thinking to make us feel stressed. A deeper understanding of where these needs come from allows us to take responsibility for them and respond with wisdom, and as a result much of our stress linked to them can end.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>