<!-- top navigation -->
<app-tn-dashboard-v03 [enableplaystore]="false" [routeid]="'search'"></app-tn-dashboard-v03>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_white p0">
        <div class="x_panel p0">
          <div class="x_content p0">
           
            <!-- <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                <a routerLink="/adult-dashboard/" class="">
                  <h4 class="fw_400 fs_14px lh_16px fc_1092a7 flex_ai mtb0px">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/arrow_left.svg" class="img-responsive" alt="">
                    <span class="ml5px lh0px underline">
                      Continue to Dashboard
                    </span>
                  </h4>
                </a>
              </div>
            </div> -->

            <div class="row mt30px prelative">
              <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback zi0 p0 mb0px tsp">
                <input type="search" class="form-control has-feedback-left pfy_search hide_search mb0px" name="search-list" [(ngModel)]="searchinp"
                  (keyup)="getAutoCompleteList($event.target.value)" autocomplete="off" (focus)="onFocus()" 
                  (focusout)="onFocusOutEvent ()"
                  (keyup.enter)="getinp($event.target.value)" [ngStyle]="{'border-radius':searchResult.length>0?'20px 20px 0 0':'100px'}" placeholder="Search">
                <span class="fa fa-search form-control-feedback left pfy_search_icon" aria-hidden="true"></span>
                <span *ngIf=" searchinp!=''" (click)="clearSearch()" class="fa fa-search form-control-feedback ad_sclose_icon ad_sclose_icon_ext" aria-hidden="true"></span>
              </div>

              <div class="row adsearch">
                <div class="col-md-12 col-sm-12 col-xs-12 tsp">
                  <ul class="list-group autocomplete-list adsearch_ul" *ngIf="searchResult.length>0">
                    <li  *ngFor="let item of searchResult" (click)="searchEvent(item.ModuleName)" name="list" class="is-search list-group-item">{{item.ModuleName}}</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cp0_02">
              <!-- introduction -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_i" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h2 class="fw_500 fs_20px lh_23px fc_000000 mtb0px">
                                    <!-- Hi, {{name}} ! Begin here -->
                                    Introduction to HumanWisdom
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>
                      <div id="ca_i" class="panel-collapse collapse in">
                        <div class="panel-body p0">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 odiv pl5px pr15px">

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeGuide(0)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/05.png"
                                    alt="User Guide" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">Start Here</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="guideP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeDiscoveringWisdom(0)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/01.png"
                                    alt="Discovering Wisdom" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">What is Wisdom?</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="discoveringP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routehowcanwisdomhelp(0)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/50.png"
                                    alt="How can wisdom help?" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">How can wisdom help?</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="hcwhP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeBenefits(0)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/51.png"
                                    alt="Benefits of Wisdom" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">Wisdom brings change</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="benefitsWisdomP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeCircles(0)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/03.png"
                                    alt="5 Circles of Wisdom" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">5 Circles of Wisdom</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="fiveCirclesP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a (click)="routeIdeas(0)">
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/04.png"
                                    alt="Key Ideas" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">Key Ideas</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" [style.width]="keyP + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /introduction -->
            </div>

            <div class="plr20px">
              <!-- <div class="row mb10px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <a routerLink="/adult-dashboard/" class="">
                    <h4 class="fw_400 fs_14px lh_16px fc_1092a7 flex_ai">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/arrow_left.svg" class="img-responsive" alt="">
                      <span class="ml5px lh0px underline">
                        Continue to Dashboard
                      </span>
                    </h4>
                  </a>
                </div>
              </div> -->
            
              <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 form-group has-feedback zi0">
                  <input type="search" class="form-control has-feedback-left pfy_search hide_search" name="search-list" [(ngModel)]="searchinp"
                    (keyup)="getAutoCompleteList($event.target.value)"
                    autocomplete="off"
                    (focus)="onFocus()" 
                    (focusout)="onFocusOutEvent ()"
                    (keyup.enter)="getinp($event.target.value)" placeholder="Search">
                  <span class="fa fa-search form-control-feedback left pfy_search_icon" aria-hidden="true"></span>
                  <span *ngIf=" searchinp!=''" (click)="clearSearch()" class="fa fa-search form-control-feedback ad_sclose_icon" aria-hidden="true"></span>
                </div>
                <ul class="list-group autocomplete-list" *ngIf="searchResult.length>0">
                  <li  *ngFor="let item of searchResult" (click)="searchEvent(item.ModuleName)" name="list" class="is-search list-group-item">{{item.ModuleName}}</li>
                </ul>
              </div> -->

              <!-- <div class="row mt30px prelative">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback zi0 p0">
                  <input type="search" class="form-control has-feedback-left pfy_search hide_search" name="search-list" [(ngModel)]="searchinp"
                    (keyup)="getAutoCompleteList($event.target.value)" autocomplete="off" (focus)="onFocus()" 
                    (focusout)="onFocusOutEvent ()"
                    (keyup.enter)="getinp($event.target.value)" [ngStyle]="{'border-radius':searchResult.length>0?'20px 20px 0 0':'100px'}" placeholder="Search">
                  <span class="fa fa-search form-control-feedback left pfy_search_icon pfy_search_icon_ext" aria-hidden="true"></span>
                  <span *ngIf=" searchinp!=''" (click)="clearSearch()" class="fa fa-search form-control-feedback ad_sclose_icon ad_sclose_icon_ext" aria-hidden="true"></span>
                </div>

                <div class="row adsearch">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <ul class="list-group autocomplete-list adsearch_ul" *ngIf="searchResult.length>0">
                      <li  *ngFor="let item of searchResult" (click)="searchEvent(item.ModuleName)" name="list" class="is-search list-group-item">{{item.ModuleName}}</li>
                    </ul>
                  </div>
                </div>
              </div> -->

              <div class="row mt40px mb30px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="fw_500 fs_20px lh_23px fc_000000 mtb0px">
                    <!-- Personalised for you! -->
                    Select a topic to explore
                  </h4>
                </div>
              </div>

              <!-- <div class="row pfys_desc">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px">
                    Select a topic to explore. Find all related content in one place
                  </h4>
                </div>
              </div> -->

              <ng-container *ngIf="personalisedforyou.length !== 0">
                <div class="row mb15px" *ngFor="let item of personalisedforyou; let i = index">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <button class="btn btn_pfy_search" [ngClass]="[item['active'] ? 'activebtn' : '']"
                      (click)="clickbtn(item['name'], '', $event, i, item['id'])">
                      <div class="row flex_ai">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                            {{item['name']}}
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 p0 tright"
                            (click)="clickbtn(item['name'], 'heart', $event, i, item['id']); $event.stopPropagation()">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg"
                              *ngIf="item['active']" class="img-responsive">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg"
                              *ngIf="!item['active']" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </ng-container>

              <!-- <div class="row mb0px mt20px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <a routerLink="/adult-dashboard/" class="">
                    <h4 class="fw_400 fs_14px lh_16px fc_1092a7 flex_ai mtb0px">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/arrow_left.svg" class="img-responsive" alt="">
                      <span class="ml5px lh0px underline">
                        Continue to Dashboard
                      </span>
                    </h4>
                  </a>
                </div>
              </div> -->
            </div>

            <div class="row mt60px mb60px">
              <a (click)="goDashboard()">
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter p0">                  
                  <h6 class="fw_500 fs_16px lh_19px fc_1092a7 mtb0px center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/home_blue_circle.svg" alt="">
                    <span class="pl5px pt5px underline">
                      View full dashboard
                    </span>
                  </h6>
                </div>
              </a>
            </div>   

            <!-- welcome popup button -->
            <span #welcome data-toggle="modal" data-target="#modal_popup"></span>
            <!-- /welcome popup button -->

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->

<span data-toggle="modal" #enablepopup data-target="#signuplogin"></span>

<!-- signup_login modal -->
<div class="modal fade" id="signuplogin" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- modal-body -->
  <div class="" role="document">
    <!-- modal content -->
    <div class="row center_flex h100p">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p0 modal_inner">
        <form>
          <div class="pfy_sl_modal">

            <div class="row dpfys_login_signup">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="submit" class="btn btn_pfys_login_signup bpfys_01" (click)="loginpage()">
                  Sign up to unlock this feature
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="fw_400 fs_12px lh_140p fc_ffffff tcenter mtb0px">
                  Already a user?
                  <a class="fw_700 fs_12px lh_140p fc_ffffff underline" (click)="loginpage()">
                    Login here
                  </a>
                </h4>
              </div>
            </div>

            <div class="row pfy_ocw">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="fw_700 fs_12px lh_14px fc_ffffff ls_pt12em mtb0px">
                  OR CONNECT WITH
                </h4>
              </div>
            </div>

            <span #closepopup data-dismiss="modal"></span>

            <div class="row center_flex">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl0 tcenter">
                  <button type="button" class="btn btn-default btn_as_sl">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_as.svg"
                      (click)="fbLogin()" class="img-responsive">
                  </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tcenter">
                  <button type="button" class="btn btn-default btn_as_sl">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/google_as.svg"
                      (click)="googleLogin()" class="img-responsive">
                  </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pr0 tcenter">
                  <button type="button" class="btn btn-default btn_as_sl">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/apple_as.svg"
                      (click)="signInWithApple()" class="img-responsive">
                  </button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <!-- /modal content -->
  </div>
  <!-- /modal-body -->
</div>
<!-- /signup_login modal -->

<!-- welcome popup -->
<div class="modal fade" id="modal_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered center_flex" role="document">
    <div class="modal-content popup_01">
      <div class="modal-header b0">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 p0">
            <button type="button" #closemodal class="btn_popup_close m0px" data-dismiss="modal" aria-label="Close"
              style="cursor:pointer;">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white_01.svg" alt=""
                class="img-responsive fright">
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- modal content -->
        <!-- <div class="row mt6px">
          <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/logo/logo_favicon_01.svg" alt=""
              class="img-responsive">
          </div>
        </div> -->
        <div class="row mt24px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="fw_700 fs_24px lh_28px fc_ffffff tcenter mt0px">
              Welcome!
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="fw_400 fs_14px lh_16px fc_ffffff tcenter">
              {{alertMsg}}
              <!-- Begin with the free introduction modules and then follow your interest. Read a story, listen to a podcast, watch a video, or read a blog. Discover how wisdom can help you be successful - as a person, and in the world. -->
            </h4>
          </div>
        </div>
        <!-- /modal content -->
      </div>
    </div>
  </div>
</div>
<!-- /welcome popup -->