<app-transcript-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            We have explored in a separate module how we humans have many emotional needs we are not aware of, and wherever they are met we become attached - whether it is to a person, a pet, an object like a new car, or our status. Wherever there is this emotional attachment, which is not wrong, there is also the fear of its loss. Will we lose the love of our children in a divorce, or our status as the head of an organisation or our pets that we close to, or if I am the best tennis player in the world, will someone be better than me, and so on. This process occurs unconsciously, without our awareness. All we notice is the fear. Just observe and understand. There is nothing more to do
             </p>          
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
