<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
<app-kta-prevnext [bg]="bg">
  
  <form class="">


    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      Difficult conversations can clear the air, bring people closer, and stop relationships drifting apart.
    </h1>

    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      They can be done well with some thoughtful preparation. It is a skill everyone can learn.
    </h1>
      
  </form> 
         
</app-kta-prevnext>
 
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>