<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Seeing all the benefits beliefs bring us, and the problems they can cause, how can we respond?<br>
       By exploring our beliefs, and understanding their origins, we can learn to respond with wisdom. <br>
       This brings freedom.




        </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
