<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Welcome to this module, which is part of the 3rd circle of wisdom,  where we are going to explore the various emotional needs we humans beings have, how they operate in the background shaping our behaviour in ways that we are not aware of, the many ways we try and get them met including through our relationships, the problems they can cause, and how a deeper understanding of them allows us to live with intelligence. These needs influence every aspect of our life and are connected to the other circles of wisdom. They are not right or wrong, just a fact of being human, and to explore them we need a mind that is open to looking and learning about itself without judgement. This is simple, but needs us to look inwards at our own emotional needs and how they operate in our life. This understanding can transform all our relationships.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>