<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Have a positive attitude. Tell yourself that you can get over this problem and it will pass. This is enough to summon your inner strength to deal with the problem. This attitude doesn't come naturally, and needs to be cultivated. We can begin perhaps by looking at the same situation and find a more positive way to look at it, and in doing that we may find our stress disappears. For example, I may feel stressed that I have been criticised by my teacher, and feel hurt and angry and think it's unfair. A positive attitude could mean that I regard that as an opportunity to learn and improve and though it hurt, I could be grateful that she offered me that criticism
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>