<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a (click)="goBack()">
        <img
          src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg"
          alt=""
          class="p0"
        />
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Accessibility Policy
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0"></div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<div class="">
  <!-- page content -->
  <div class="right_col mc_01">
    <div class="cw100p">
      <div class="row center_flex safari_dflex">
        <div
          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw fc_ffffff"
          [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'"
        >
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>
                <!-- accessibility policy -->
                <div class="row fs_12px fw_400 lh_150p">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h4 class="fs_18px fw_600 lh_150p mt0px">
                      Accessibility Statement for HappierMe
                    </h4>
                    <p>
                      At HappierMe, we are committed to making our wellness app
                      accessible to everyone, including people with
                      disabilities. We believe that emotional wellbeing tools
                      should be inclusive, easy to use, and supportive for all
                      users, regardless of ability.
                    </p>

                    <h4 class="fs_18px fw_600 lh_150p mt20px">Our Commitment</h4>
                    <p>
                      We strive to ensure that HappierMe is accessible and
                      usable in accordance with recognized accessibility
                      standards, including the Web Content Accessibility
                      Guidelines (WCAG) 2.1, Level AA.
                    </p>

                    <h4 class="fs_18px fw_600 lh_150p mt20px">
                      Accessibility Features
                    </h4>
                    <p>The HappierMe app currently supports the following:</p>
                    <ul>
                      <li>Compatibility with screen readers</li>
                      <li>High-contrast interface for better readability</li>
                      <li>Clear, simple navigation and design</li>
                      <li>Videos with subtitles</li>
                      <li>Both text and audio formats in key areas</li>
                      <li>Support for larger font sizes</li>
                    </ul>

                    <h4 class="fs_18px fw_600 lh_150p mt20px">Continuous Improvement</h4>
                    <p>
                      Accessibility is an ongoing effort. We are actively
                      working to improve the usability of our app and expand our
                      support for assistive technologies. Your feedback plays an
                      important role in this process.
                    </p>

                    <h4 class="fs_18px fw_600 lh_150p mt20px">Feedback & Contact</h4>
                    <p>
                      If you experience any difficulty accessing content or
                      features in HappierMe, or if you have suggestions for
                      improvement, we’d love to hear from you.
                    </p>
                    <p>
                      Email:
                      <a href="mailto:support@happierme.app" class="fc_e58d82"
                        >support@happierme.app</a
                      ><br />
                      Subject line: Accessibility Feedback
                    </p>
                    <p>We aim to respond to all inquiries within 3 working days.</p>

                    <p class="fs_12px italic">Last updated: July 2025</p>
                  </div>
                </div>
                <!-- /accessibility policy -->
              </form>

              <div class="pagebreak"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
</div>
