<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>
<!-- page content -->
<div class="right_col" role="main" *ngIf="notificationType">

	<!-- Class -->
	<div class="">

		<div class="page-title">
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="x_panel">

					<div class="x_title">
						<h2>Add Notification</h2>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<br />

						<form id="demo-form2">

							<div class="form-group">
								<div class="row-centered">
									<div class="col-md-8 col-sm-6 col-xs-12 col-centered">
										<label for="topic_name" class="control-label">Notification Type<span class="required">*</span></label>
										<input type="text" id="type_name" name="type_name" required="required" class="form-control" [(ngModel)]="notificationType.Type">
									</div>
								</div>
							</div>
                            
                            <div class="form-group">
								<div class="row-centered">
									<div class="col-md-8 col-sm-6 col-xs-12 col-centered">
										  <label for="url_pattern" class="control-label">Select Icon Path<span class="required">*</span></label>
										  <input type="text" id="url" name="url" required="url" class="form-control" [(ngModel)]="notificationType.IconPath">
										  <!-- <form action="/action_page.php">
                                            <input type="file" id="myfile" #myFile (change)="filechanged($event,true)"  name="myfile" ><br><br>
                                          </form> -->
                                    </div>
								</div>
							</div>

                            <div class="form-group">
								<div class="row-centered">
									<div class="col-md-8 col-sm-6 col-xs-12 col-centered">
										<label for="template" class="control-label">Template<span class="required">*</span></label>
										<input type="text" id="template" name="template" required="required" class="form-control" [(ngModel)]="notificationType.Template">
									</div>
								</div>
							</div>

							<div class="ln_solid"></div>

							<div class="form-group">
								<div class="col-md-12 col-sm-6 col-xs-12" style="text-align:center;">
									<div *ngIf="!notificationType.Type||!notificationType.IconPath||!notificationType.Template">
                                        <small class="text-danger">Please fill all details to submit</small>
                                    </div>
									<button type="reset" class="btn btn-primary" (click)="reset()">Reset</button>
									<input name="method" id="method" type="hidden" value="<?=$method?>">
									<input name="submit_Update" type="hidden">
									<button [disabled]="!notificationType.Type||!notificationType.IconPath||!notificationType.Template"
									type="submit" form="demo-form2" class="btn btn-success" id="next" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" (click)="addNotificationType()">Submit</button>
								</div>
							</div>

						</form>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
	
					<div class="x_panel">
	
						<div class="x_title">
							<h2>Notification Type Details</h2>
							<ul class="nav navbar-right panel_toolbox">
	
							</ul>
							<div class="clearfix"></div>


						</div>
	
						<div class="x_content">
	
							<div class="x_content">
	
								<div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
								<div class="row">

									<div class="col-md-8 col-sm-12 col-xs-12">
										<label class="filter_label display_initial"><input type="search" id="filter1" class="form-control input-sm" placeholder="Search Notification Type" aria-controls="datatable-checkbox"  [(ngModel)]="this.searchedTitle" (key.enter)="searchTitle()" (ngModelChange)="searchTitle()"></label>
									</div>

									<div class="col-md-4 col-sm-12 col-xs-12">
										<div class="search_btn">
										</div>
									</div>
								</div>
							</div>
	
								<br>
								<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
									<thead>
									<tr>
										<th>Notification Type</th>
										<th>Icon</th>
										<th>Template</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let s of notificationTypeList;let i=index">
										<td>{{s.NotificationType}}</td>
                                        
										<td> 
                                             <img src="{{ s.IconPath !== undefined ? s.IconPath: '' }}"
                                            alt="" class="p0 opaque_border_inner img-responsive img_profile_01" alt="" height=50 width=50>
                                        </td>
										<td>{{s.NotificationTemplate}}</td>
	
										<td>
											<button type="button" class="btn btn-xs btn-success command-add"><span class="glyphicon glyphicon-edit" (click)="initUpdate(s.TypeId)" data-toggle="modal"  [attr.data-target]="'#updateModal'+s.TypeId"></span></button>
											<button type="button" class="btn btn-xs btn-danger command-edit"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#editforum" (click)="deleteType(s.TypeId)"></span></button>
										</td>
										<div class="modal fade" [attr.id]="'updateModal'+s.TypeId" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
											<div class="modal-dialog vc70" role="document">
											  <div class="modal-content cmodal-content">
												<div class="modal-header cmodal-header tcenter white">
												  <h1 class="modal-title cmodal-title"
												  >Please enter new details</h1>
	
												</div>
												<div class="modal-body">
	
													<form id="demo-form2" action="form_c.php" method="post">
	
														<div class="form-group">
															<div class="row-centered">
																<div class="col-md-8 col-sm-6 col-xs-12 col-centered">
																	<label for="p" class="control-label">Notification Type<span class="required">*</span></label>
																	<input type="text" id="p" name="p" required="required" class="form-control" pattern="" [(ngModel)]="upnotificationType.Topic">
																</div>
															</div>
														</div>
	
	
														<div class="form-group">
															<div class="row-centered">
																<div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                                                    <label for="url_pattern" class="control-label">Select Icon Path<span class="required">*</span></label>
                                                                        <!-- <input type="file" #updateMyFile id="browse" name="fileupload" style="display: none" (change)="filechanged($event,false);"/> -->
                                                                        <input type="text" id="filename" name="filename" class="form-control" [(ngModel)]="upnotificationType.IconPath"/>
                                                                        <!-- <input type="button" value="select file" id="fakeBrowse" (click)="HandleBrowseClick()"/> -->
																</div>
															</div>
														</div>
	
	
														<div class="form-group">
															<div class="row-centered">
																<div class="col-md-8 col-sm-6 col-xs-12 col-centered">
																	<label for="story" class="control-label">Template<span class="required">*</span></label>
																	<input type="text" id="p" name="p" required="required" class="form-control" pattern="" [(ngModel)]="upnotificationType.Template">
																</div>
															</div>
														</div>
	
	
	
													</form>
	
												</div>
												<div class="modal-footer cmodal-footer tcenter">
												  <button [disabled]="!upnotificationType.Type||!upnotificationType.IconPath||!upnotificationType.Template" type="button" class="btn fill_now btn btn-success"  data-dismiss="modal" (click)="updateTypeById()" >UPDATE</button>
												  <button type="button" class="btn fill_later" data-dismiss="modal" (click)="clearUpdateModel()"  >BACK</button>
												</div>
											  </div>
											</div>
										</div>
									</tr>
									</tbody>
								</table> 
	
	
								</div>
	
						</div>
					</div>
				</div>
			</div>
       
	</div>
	<!--/Class -->

</div>
<!-- /page content -->
<app-footer></app-footer>
