<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_we col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="" (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/back_round.svg" alt="" class="p0" />
      </a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
      <!-- <a class="">
        <h1 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff tcenter">
          
        </h1>
      </a> -->
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tright">
      <a (click)="changeType()" class="">
        <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/transcript_left.svg" alt="" *ngIf="isShowAudio" class="p0" /> -->
        <h4 class="fs_15px fw_400 lh_140p fc_e58d82 underline" *ngIf="isShowAudio">
          Read Text
        </h4>
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" *ngIf="isShowTranscript" class="p0" />
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 bg_292d56 sc_01 col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_183c79'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <!-- audio -->
              <div class="">
                <div class="row center_flex p20px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                    <div class="row center_flex">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_24px fw_400 lh_130p fc_ffffff">
                          Feel good about myself
                        </h4>
                      </div>
                    </div>

                    <div class="row tcenter" *ngIf="isShowAudio" [ngClass]="{'transcript-display':!isShowAudio}">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <app-audio-player class="audio-test" 
                          audioLink="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/mini_podcast/audio/how_can_i_06.mp3">
                        </app-audio-player>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- transcript -->
                <div class="row center_flex tleft" [ngClass]="{'transcript-display':!isShowTranscript}">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt0px p20px fs_18px fw_400 lh_150p fc_ffffff  txt_justify">

                    <p>
                      If you don’t feel good about who you are, you are not alone. It is a common feeling, and one that many of us experience at some point in our lives. The good news is that like most feelings it will not last forever, but when you are experiencing it it can feel particularly distressing. You can get into a loop of negative thinking and you can convince yourself what you think is true.
                    </p>

                    <p>
                      Have you ever wondered what is going on in your mind to make you feel this way? You need curiosity to observe your own thinking, and to be able to question what you find.
                    </p>

                    <p>
                      Looking and learning about our own mind offers long term freedom from this feeling. 
                    </p>

                    <p>
                      The first thing you can notice is that our mind is always looking for external validation - we need others to like us before we can like ourselves. We are not aware of this process in ourselves. When we become aware of it you realise it does not serve us - people are too busy thinking about themselves to think about us - we need to learn to value ourselves and be comfortable being who we are.
                    </p>

                    <p>
                      You can also see that our mind creates certain ideals of the person we should be - we should have more friends, or be more successful, or more well known, or have more followers on social media. When we don’t match those ideals we can feel bad about ourselves. When we wake up and realise that these ideas of who we should be are a creation of our own thinking and part of our conditioning influences we can let them go - and relax into being the human being that we are. 
                    </p>

                    <p>
                      This deeper understanding of our own mind brings peace, so we can enjoy the gift of every day and  truly celebrate the life we have.
                    </p>

                    <p>
                      Continue now to explore the module on Self-esteem which has much more content and guides you to explore this feeling in yourself so you can be free.
                    </p>

                  </div>
                </div>
                <!-- /transcript -->
              </div>
              <!-- /audio -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->