<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Anger results in the flight or fight response. The body releases stress hormones like cortisol and this prepares us to respond to danger. When anger becomes chronic or long-term the same chemicals can cause many health problems as shown here. It is therefore really important for our long term health that we understand the root causes of anger in our thinking, so we can respond with our intelligence.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>