/* @media screen and (-webkit-min-device-pixel-ratio:0) 
{
    .cabsolute .row,
    .cabsolutet .row
    {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .cabsolutet
    {
        overflow: auto;
        position: absolute;
        top: 9.5%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .cabsoluter
    {
        overflow: auto;
        position: absolute;
        top: 9%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .top_01
    {
        overflow: auto;
        position: absolute;
        top: 11.5%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .dflexblock
    {   
        padding: 0rem 17px;
        height: calc(100vh - 253px);
        overflow: auto;
        display: block !important;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .dflexblock_pyramid
    {   
        padding: 0rem 17px;
        height: calc(100vh - 250px);
        overflow: auto;
        display: block !important;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .dflexblock_transcript,
    .dflexblock_yesno
    {   
        padding: 0rem 17px;
        height: calc(100vh - 252px);
        overflow: auto;
        display: block !important;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .vh_01
    {   
        padding: 0rem 17px;
        height: calc(100vh - 235px);
        overflow: auto;
        display: block !important;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
} */

@media (max-width: 412px)
{
    .navbar_01 
    {
        margin-top: 14.4%;
    }
}

@media (min-width: 413px) and (max-width: 767px)
{
    .navbar_01 
    {
        margin-top: 15.8%;
    }
}

@media (max-width: 767px)
{
    .nav_menu_01,
    .nav_menu_02 
    {
        width: 100%
    }

    .dabsolute_01
    {
        top: 9.5%;
        bottom: 9.5%;
    }

    .dabsolute_02 
    {
        top: 9%;
        bottom: 9%;
    }

    .dabsolute_03
    {
        bottom: 9%;
    }

    .dabsolute_05
    {
        top: 9.5%;
        bottom: 9%;
    }

    .dabsolute_06,
    .dabsolute_07,
    .dabsolute_09
    {
        top: 9%;
        bottom: 9%;
    }

    .dabsolute_08
    {
        top: 0%;
        bottom: 30%;
    }

    /* .p0px_a 
    {
        padding: 0 10px;
    } */

    .mlr-10px_01 
    {
        margin-right: -10px;
        margin-left: -10px;
    }

    .dbg_black 
    {
        background: #000000;
        padding: 0;
    }

    .navbar_01 
    {
        /* top: 7%; */
        /* margin-top: 16%; */
        /* margin-top: 15.8%; */
    }

    ::-webkit-scrollbar 
    {
    display: none;
    }

    .img_google_playstore 
    {
        max-width: 65%;
    }

    .cmtop 
    {
        margin-top: 32%;
    }

    .cmtop_01
    {
        margin-top: 16%;
    }

    .activity_title
    {
        width: 30%;
    }

    .dm_title 
    {
        margin: 0 -10px;
        padding: 40px 10px 40px 10px;
    }

    .modal.fade.in .lab-modal-body,
    .lab-modal-body
    {
        width: 100%;
    }
}

@media (min-width: 768px)
{
    .nav_menu_01
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto; 
        width: 50%;
    }

    .nav_menu_02
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto; 
        width: 50%;
    }

    .xpanel_01 
    {
        padding: 0;
    }

    .quotation
    {
        padding: 10rem 0;
    }

    .quotation_txt
    {
        text-align: center;
    }

    /* .dabsolute_05 .row.mlr-10px  */
    .dabsolute_05 .row.mlr-10px,
    .dabsolute_06 .row.mlr-10px,
    .dabsolute_07 .row.mlr-10px
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .dabsolute_09 .row.mlr-10px
    {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .dabsolute_08
    {
        top: 2%;
        bottom: 25%;
    }

    #div_graph,
    #wsi_bg_white
    {
        margin: 0 !important;
    }

    .p0px_a 
    {
        padding: 0px;
    }

    .login_signup_tab
    {
        margin: 0 10px;
    }

    .p0px_b
    {
        padding-right: 0px;
        padding-left: 0px;
    }

    .plr10px_01
    {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .mlr-10px_01 
    {
        margin-right: 0px;
        margin-left: 0px;
    }

    .img_google_playstore 
    {
        max-width: 55%;
    }

    .cmr-10px 
    {
        margin-right: 0px;
    }

    #ic_carousel .carousel-indicators
    {
        width: 50%
    }

    #cgqtns .carousel-indicators
    {
        width: 30%;
        bottom: 25%;
    }

    .activity_title
    {
        width: 35%;
    }

    .ctxtalignment
    {
        text-align: center;
    }

    /* .odiv,
    .ghn
    {
        margin: 0 10px;
        padding: 0;
    } */

    .tray_btns
    {
        margin: 0 0 0 10px;
        /* padding: 0; */
    }

    .mdpd_tray 
    {
        overflow: hidden;
    }

    .odiv::-webkit-scrollbar-track,
    .ghn::-webkit-scrollbar-track
    {
        margin: 0 0 0 1rem;
    }

    .cp0_01
    {
        padding: 0;
    }

    #cgqtns .carousel-indicators .left
    {
        margin-left: 0rem;
    }

    #cgqtns .carousel-indicators .right
    {
        margin-right: 0rem;
    }

    .gqtns 
    {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px)
{
    .dabsolute_02 
    {
        top: 7%;
        bottom: 7%;
    }

    .dabsolute_03
    {
        bottom: 7%;
    }

    .dabsolute_04 
    {
        top: 5.5%;
        bottom: 7%;
    }

    .dabsolute_05
    {
        top: 7.5%;
        bottom: 7%;
    }

    .dabsolute_06,
    .dabsolute_09
    {
        top: 7%;
        bottom: 7%;
    }

    .dabsolute_07
    {
        top: 7.5%;
        bottom: 7%;
    }

    .dbg_black 
    {
        background: transparent;
        padding: 0 5px;
    }

    .navbar_01 
    {
        /* top: 5.5%; */
        margin-top: 7.5%;
    }

    .cmtop 
    {
        margin-top: 15%;
    }

    .cmtop_01
    {
        margin-top: 8%;
    }
}

@media (min-width: 1024px)
{
    .dabsolute_03
    {
        bottom: 5%;
    }

    .dabsolute_04 
    {
        top: 4%;
        bottom: 5.5%;
    }

    .dabsolute_05
    {
        top: 6%;
        bottom: 5.5%;
    }

    .dabsolute_06,
    .dabsolute_09
    {
        top: 5%;
        bottom: 5.5%;
    }

    .dabsolute_07
    {
        top: 6%;
        bottom: 5.5%;
    }

    .dabsolute_08
    {
        top: 2%;
        bottom: 20%;
    }

    .dbg_black 
    {
        background: transparent;
        padding: 0 10px;
    }

    .navbar_01 
    {
        /* top: 4%; */
        margin-top: 5.5%;
    }

    /* width */
    .cw100p::-webkit-scrollbar 
    {
    width: 10px;
    }

    /* track */
    .cw100p::-webkit-scrollbar-track 
    {
    background: rgba(255,255,255,0.25); 
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 10px; */
    }
    
    /* handle */
    .cw100p::-webkit-scrollbar-thumb 
    {
    background: rgba(255,255,255,0.50); 
    border-radius: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
    }

    /* handle on hover */
    .cw100p::-webkit-scrollbar-thumb:hover 
    {
    background: rgba(255,255,255,1);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
    }

    .cmtop 
    {
        margin-top: 11%;
    }

    .cmtop_01
    {
        margin-top: 6%;
    }
}

@media (min-width: 1025px)
{
    .nav_menu_01
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto; 
        width: 33%;
    }

    .nav_menu_02 
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto; 
        width: 33%;
    }

    .dabsolute_01
    {
        top: 10%;
        bottom: 10%;
    }

    .dabsolute_02 
    {
        top: 9%;
        bottom: 9%;
    }

    .dabsolute_02 
    {
        top: 9.5%;
        bottom: 9%;
    }

    .navbar_01 
    {
        /* top: 7.5%; */
        margin-top: 4%;
    }

    .cmtop 
    {
        margin-top: 8%;
    }

    .cmtop_01
    {
        margin-top: 4%;
    }
}

@media (max-width: 1099px)
{
    .cdesktop 
    {
        display: none;
    }

    .cmobile
    {
        display: block;
    }
}

@media (max-width: 1199px)
{
    .as_submit_01,
    .as_continue_dashboard
    {
        padding: 0 20px 21px 20px;
        right: 0;
        left: 0;
    }
}

@media (min-width: 1200px)
{

    .nav_menu_02 
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto; 
        width: 33%;
        padding: 20px 20px;
    }

    .dabsolute_03
    {
        bottom: 9.5%;
    }

    .dabsolute_04 
    {
        top: 7.5%;
        bottom: 10%;
    }

    .dabsolute_05
    {
        top: 10.5%;
        bottom: 9%;
    }

    .dabsolute_06,
    .dabsolute_09
    {
        top: 9.5%;
        bottom: 9%;
    }

    .ws_view_story
    {
        padding: 0 3px;
    }

    .dabsolute_07
    {
        top: 10%;
        bottom: 9%;
    }

    .dabsolute_08
    {
        top: 1%;
        bottom: 30%;
    }

    .p0px_a,
    .p0px_b 
    {
        padding: 3px;
    }

    .attitle.txt31 
    {
        font-size: 14px;
    }

    .dbg_black 
    {
        background: transparent;
        padding: 0 7px;
    }

    .search_01 
    {
        margin-top: -6px;
    }

    .mlr-10px {
        margin-left: -4px;
        margin-right: -4px;
    }

    .cdesktop 
    {
        display: block;
    }

    .cmobile
    {
        display: none;
    }

    #ic_carousel .carousel-indicators
    {
        width: 25%
    }

    #cgqtns .carousel-indicators
    {
        width: 20%
    }

    #ic_carousel .carousel-indicators
    {
        bottom: 8%;
    }

    .mpfy
    {
        margin: 50px 0 18px 0;
    }

    .mica,
    .micb
    {
        margin: 50px 0 0 0;
    }

    #bubble_wrap 
    {
        width: 50%;
        margin: 0 auto;
    }

    @keyframes animateBubble 
    {
        0% {
            margin-top: 1000px;
        }
        
        100% {
            margin-top: -500%;
          }
          
    }

    .dm .panel-default>.panel-heading,
    .dm .panel-default>.panel-heading+.panel-collapse>.panel-body
    {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .hr_style_2
    {
        margin: 10px 20px;
    }

    .mdpfy_col
    {
        padding: 0 20px;
    }

    .mdpd_pfy
    {
        margin: 37px 0 0 0;
    }

    .as_diff_user_code
    {
        margin: 5px 0 25px 0;
    }

    .modal_inner
    {
        bottom: unset;
        top: unset;
    }

    .guidedqtns_row,
    .guidedqtns_row_01
    {
        margin: 0 10px 2px 10px;
    }

    .mdp_icon 
    {
        margin: 10px 0 19px 0;
    }

    .mdp_audio 
    {
        margin: 0 0 15px 0;
    }
}

@media (min-width: 1024px) and (max-width: 1200px)
{
    .textarea_02 
    {
        height: 155px;
    }
}