.txt55
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */    
    display: flex;
    align-items: center;    
    color: #FFFFFF;
}

.txt56
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #FFFFFF;
}

.txt57 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #FFFFFF;
}

.txt58 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    text-decoration-line: underline;
    color: #FFC455;
}

.txt59 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}

.txt60 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    /* display: flex;
    align-items: center; */
    color: #1092A7;
}

.txt61 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    /* display: flex;
    align-items: center; */
    color: #5D5D5D;
}

.txt62 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */    
    /* display: flex;
    align-items: center;     */
    color: #000000;    
}

.txt63 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 13px */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #ADADAD;
}

.txt64 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    /* display: flex;
    align-items: center; */
    color: #B92F48;
}

.txt65 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    color: #5D5D5D;
}

.txt66 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #243949;
}

.txt67
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #5D5D5D;
}

.txt68 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.txt69 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #5D5D5D;
}

.txt70 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #5D5D5D;
}

.txt71 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #F55858;       
}

.txt72 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 13px */    
    text-align: right;    
    color: #5D5D5D;    
}

.txt73 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

.txt74 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
}

.txt75 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */    
    text-align: center;    
    color: #ADADAD;
}

.txt76 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: #F55858;
}

.txt77 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #5D5D5D;
}

.txt78 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #5D5D5D;
}

.txt79 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;    
    color: #243949;        
}

.txt80 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;    
    color: #FFFFFF;    
}

.txt81 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */    
    text-align: center;    
    color: #FFFFFF;    
}

.txt82 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;    
    color: #5D5D5D;
}

.txt83 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;    
    color: #5D5D5D;    
}

.txt84 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */   
    color: #FFFFFF;
    opacity: 0.75;
}

.txt85 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    color: #FFFFFF;
}

.txt86 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */        
    color: #1092A7;    
}

.txt87 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    display: flex;
    align-items: center;    
    color: #FFFFFF;    
    mix-blend-mode: normal;
}

.txt88
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;    
    color: #FFFFFF;
}

.txt89 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #FFFFFF;
}

.txt90 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */    
    text-align: center;    
    color: #FFFFFF;    
    opacity: 0.75;
}

.txt100 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */    
    display: flex;
    align-items: center;    
    color: #FFFFFF;    
}

.txt101 
{    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #FFFFFF;      
}

.txt102 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */    
    text-decoration-line: underline;    
    color: #FFC455;  
}

.txt103 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */    
    text-decoration-line: underline;    
    color: #1092A7;    
}

.txt104 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */    
    text-align: center;    
    color: #FFFFFF;    
}

.txt105 
{
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #5D5D5D;
}

.txt106 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.txt107 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #000000;
}

.txt108 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #B92F48;
}

.txt109 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #B92F48;
}

.txt110 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
}

.txt111 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #1092A7;
}

.txt112 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.txt113 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1092A7;
}

.txt114 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.txt115 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1092A7;
}

.txt116 
{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #5D5D5D;
}

.txt117 
{
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #1092A7;
}

.txt118 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.txt119 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #5D5D5D;
}

.txt120 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5D5D5D;
}

.txt121 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #1092A7;
}

.stxt54 
{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #1092A7;
}

.stxt61 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #1092A7;
}

.txt122 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #B92F48;
}

.txt123 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #B92F48;
}

.txt124 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;    
    color: #5D5D5D;    
}

.txt125 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #1092A7;    
}

.txt126 
{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #ADADAD;
}

.txt127 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #000000;
}

.txt128 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;    
    /* identical to box height */    
    display: flex;
    align-items: center;  
    color: #1092A7;    
}

.txt129 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */        
    text-align: right;    
    color: #1092A7;    
}

.txt130 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;      
    color: #ADADAD;    
}

.txt131 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #F55858;
}

.txt132  
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #1092A7;
}

.txt133 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;    
    color: #ADADAD;    
}

.txt134 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;    
    color: #000000;    
}

.txt135 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;    
    color: #5D5D5D;
}

.txt136 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;    
    color: #ADADAD;
}

.txt137 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */    
    text-align: right;    
    color: #ADADAD;
}

.txt138 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    display: flex;
    align-items: center;    
    color: #1092A7;    
}

.txt139 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;    
    color: #FFFFFF;
}

.txt140 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    text-align: center;    
    color: #FFFFFF;
}

.txt141 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */        
    text-decoration-line: underline;    
    color: #FFC455;
}

.txt142  
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #243949;
}

.txt143 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    color: #5D5D5D;    
}

.txt144 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */    
    color: #FFFFFF;    
}

.txt145 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    color: #5D5D5D;    
}

.txt146 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */        
    color: #B92F48;
}

.txt147 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #ADADAD;
}

.txt148
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */   
    color: #C4C4C4;
}

.txt149 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #ACACAC;
} 

.txt150 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #243949;    
}

.txt151 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

.txt152 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    color: #5D5D5D;
}

.txt153 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */    
    text-decoration-line: underline;    
    color: #1092A7;
}

.txt154 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    /* or 31px */    
    display: flex;
    align-items: center;    
    color: #FFC455;    
}

.txt155 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */    
    display: flex;
    align-items: center;    
    color: #FFFFFF;    
}

.txt156 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;       
    color: #FFC455;
}

.txt157 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 110%;
    /* or 64px */    
    color: #FFC455;
}

.txt158 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}

.txt159 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */    
    color: #FFFFFF;
}

.txt160 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */        
    color: #FFC455;
}

.txt161 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    /* or 27px */    
    text-align: center;    
    color: #000000;    
}

.txt162 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2em;    
    color: #1092A7;    
}

.txt163 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */    
    text-align: center;    
    color: #1092A7;    
}

.txt164 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */    
    text-align: center;    
    color: #000000;
}

.txt165 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2em;    
    color: #59595B;
}

.txt166 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;    
    color: #5D5D5D;    
}

.txt167 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    /* identical to box height, or 73px */    
    text-align: center;    
    color: #1092A7;    
}

.txt168 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;    
    color: #5D5D5D;    
}

.txt169 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;    
    color: #FFFFFF;    
}

.txt170 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */    
    text-align: center;    
    color: #FFFFFF;
}

.txt171 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    /* or 27px */    
    text-align: center;    
    color: #FFFFFF;    
}

.txt172 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    /* or 27px */    
    text-align: center;    
    color: #59595B;    
}

.txt173 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */    
    text-align: center;    
    color: #59595B;    
}

.txt174 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    /* or 36px */      
    color: #59595B;    
}

.txt175 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */   
    color: #FFFFFF;    
}

.txt176 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #FFFFFF;    
}

.txt177 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
    color: #5D5D5D;    
}

.txt178 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;    
    color: #B92F48;
}

.txt179 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
    color: #FFFFFF;
}

.txt180 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    color: #FFC455;    
}

.txt181 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */    
    text-align: center;
    letter-spacing: 0.1em;    
    color: #FFFFFF;    
}

.txt182 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    color: #000000;    
}

.txt183 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    color: #000000;    
}

.txt184 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */    
    text-align: center;    
    color: #000000;
}

.txt185 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */    
    text-align: center;    
    color: #000000;    
}

.txt186 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */    
    text-align: center;    
    color: #5D5D5D;
}

.txt187 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF;        
}

.txt188 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF;    
}

.txt189 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #FFFFFF;    
    opacity: 0.5;
}

.txt190 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.8;
    /* or 17px */
    color: #FFFFFF;    
}

.txt191 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.12em;    
    color: #243949;    
}

.txt192 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */        
    color: #FFFFFF;
}

.txt193 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #FFFFFF;
}

.txt194 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #000000;
}

.txt195 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    /* or 39px */
    color: #FFFFFF;    
}

.txt196 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    /* letter-spacing: 0.2em; */
    color: #59595B;
}

.txt197
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #59595B;
}

.txt198 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */    
    text-decoration-line: underline;    
    color: #000000;
}

.txt199 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */    
    text-decoration-line: underline;    
    color: #FFFFFF;    
}

.txt200 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */    
    text-decoration-line: underline;    
    color: #1092A7;
}

.txt201 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;    
    color: #000000;    
}

.txt202 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.txt203 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;    
    color: #000000;    
}

.txt204 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */        
    color: #FFFFFF;
}

.txt205 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.txt206 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.txt207 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #5D5D5D;
}

.txt208 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #1092A7;
}

.txt209 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #243949;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt210 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.txt211 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1092A7;
}

.txt212 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
}

.txt213 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #ADADAD;
}

.txt214 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
}

.txt215 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.txt216 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    /* or 15px */
    color: #ADADAD;
}

.txt217 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #000000;
}

.txt218 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    /* or 29px */
    color: #000000;
}

.txt219 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #5D5D5D;
}

.txt220 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #ADADAD;
}

.txt221 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #5D5D5D;
}

.txt222 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ADADAD;
}

.txt223 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4491A5;
}

.txt224 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-decoration-line: underline;
    color: #1092A7;
}

.txt225 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: #000000;
}

.txt226 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #5D5D5D;
}

.txt227 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    text-align: center;
    color: #FFFFFF;
}

.txt228  
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    text-align: center;
    color: #243949;
}

.txt229 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #5D5D5D;
}

.txt230 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    /* identical to box height, or 23px */
    color: #000000;
}

.txt231 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #5D5D5D;
}

.txt232 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #243949;
}

.txt233 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFC455;
}

.txt234 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    text-align: center;
    color: #FFFFFF;
}

.txt235 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #B92F48;
}

.txt236 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
}

.txt237 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #000000;
}

.txt238 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #1092A7;
}

.txt239 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */
    color: #5D5D5D;
}

.txt240 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */
    color: #FFFFFF;    
}

.txt241 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */
    color: #FFC455;
}

.txt242 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */
    color: #FFFFFF;
}

.txt243 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.txt244 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */
    color: #FFFFFF;
}

.txt245 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */
    color: #FFFFFF;
}

.txt246 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.txt247 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #243949;
}

.txt248 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #243949;
}

.txt249 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    /* identical to box height, or 73px */
    color: #59595B;
}

.txt250 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.txt251 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFC455;
}

.txt252 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.txt253 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #5D5D5D;
}

/* modified */
.txt254 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    /* or 43px */
    color: #000000;
}

.txt255
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;    
}

.txt256
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    display: flex;
    align-items: center;    
    color: #FFFFFF;
}

.txt257
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    color: #B92F48;
}

.txt258
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    color: #5D5D5D;    
}

.txt259
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */        
    text-align: right;
    text-decoration-line: underline;    
    color: #4491A5;
}

.txt260
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #000000;
}

.txt261
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */    
    color: #B92F48;
}

.txt262
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */    
    color: #000000;
}

.txt263
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */    
    color: #000000;    
}

.txt264
{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    text-decoration-line: underline;    
    color: #4491A5;
}

.txt265 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */    
    text-decoration-line: underline;    
    color: #4491A5;
}

.txt266
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */    
    text-align: center;    
    color: #5D5D5D;    
}

.txt267
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */    
    text-align: center;    
    color: #B92F48;    
}

.txt268
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;    
    color: #000000;
}

.txt269 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: #000000;
}

.txt270
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;    
    color: #5D5D5D;
}

.txt271
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    
    color: #B92F48;   
}

.txt272 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #FFFFFF;
}

.txt273 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #4491A5;
}

.txt274 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
}

.txt275 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */
    color: #5D5D5D;
}

.txt276 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */
    color: #5D5D5D;
}

.txt277 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    color: #5D5D5D;
}

.txt278 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #B92F48;
}

.txt279 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.txt280 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #B92F48;
}

.txt281 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    color: #FFFFFF;
}

.txt282 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 13px */
    color: #5D5D5D;
}

.txt283 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.txt284 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.txt285 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #FFFFFF;
}

.txt286 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    /* or 19px */
    color: #FFFFFF;
}

.txt287 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    word-wrap: break-word;
}

.txt288 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    color: #000000;
}

.txt289
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    letter-spacing: 0.1em;
    color: #000000;
}

.txt290 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.txt291 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.txt292 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #5097A4;
}

.txt293 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.txt294 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: #000000;
}

.txt295 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #ADADAD;
}

.txt296 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
}

.txt297 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.txt298 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    color: #5D5D5D;
}

.txt299 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: #5D5D5D;
}

.txt300 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #5D5D5D;
}

.txt301 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #5D5D5D;
}

.txt302 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #1092A7;
}