<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            When you see for yourself that these ideas of who you should be came into your thinking from your various influences, without your awareness or your consent, how will you respond? They are part of the way you think, but not you. If you see that fact clearly, their hold on your thinking starts to weaken. Challenge each of these ideas of who you think you should be. They are not right or wrong, just a fact to be explored and understood’
          </p>
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
            
           







