<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            In this module we will explore the importance of questions, how they can take us deeper, and open the door to wisdom
          </p>
          <p>
            Let’s start with Newton - in 1666 Isaac Newton saw an apple fall from a tree in his mothers garden, asked why, and discovered gravity.
          </p>
          <p>
            He went on to become one of the greatest scientists the world has ever seen.
          </p>
          <p>
            Similarly, we can observe our own thinking, ask why, and make discoveries that may benefit all of humanity.
          </p>
          <p>
            Questions like - is it possible to live without fear? Or how can we connect with other people who are different to us?
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
