<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          If we are not actively watchful our mind can play power games with others, and this erodes the possibility of love. In the early stages it could be a power game of who calls whom and at what frequency, or in established relationships, trying to exert authority over another. Power brings a subtle pleasure. Or, if you have been hurt or not had your way, you can give someone the silent treatment and withdraw your affection. Or you may think you will give only after you receive. All these are unconscious thinking patterns which are rooted in fear, not wanting to be hurt, and to have the subtle pleasure that power brings. All of these deny love and need to be observed and actively rooted out.
           </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>