<!-- top navigation -->
<div class="top_nav ml0 ctopnav">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding tn_story_submit">

    <nav class="flex_ai">
      <ul class="nav navbar-nav navbar-right cnav navleft w20p no_bg">
        <li class="">
          <a (click)="goBack()" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/ws_back_white.svg" alt=""
              class="p0">
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right cnav navcenter w60p nbg_white">
        <li class="mr0px">
          <a class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <h6 class="txt88">
              Filter
            </h6>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0 pt_rightcol" role="main">
  <!-- Class -->
  <div class="cw100p">
    <div class="row drow center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form [formGroup]="filterForms">

              <br>

              <div class="row flex_ai">
                <div class="col-md-8 col-sm-8 col-xs-8">
                  <h6 class="txt125 m0px">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/reset.svg" alt="">
                    <span class="ml3px" (click)="resetForms()">
                      Reset
                    </span>
                  </h6>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <button type="submit" class="btn btn-warning btn_apply w100" [disabled]="filterForms.invalid || selectedValue == 0 || selectedLang.length == 0" (click)="onApplyFilter()">
                    Apply
                  </button>
                </div>
              </div>

              <br>

              <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt260">
                    Prefered Hours
                  </h6>
                </div>
              </div> -->

              <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <select class="form-control cdf_select">
                    <option>00:00</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>

                  <h4 class="preferred_location_to txt120">
                    to
                  </h4>

                  <select class="form-control cdf_select">
                    <option>00:00</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>

                  <h6 class="preferred_location_ist txt273">
                    <span class="">
                      Indian Standard Time 
                    </span>
                    <span class="">
                      (GMT+05:30)
                    </span>                    
                  </h6>
                </div>
              </div>

              <hr class="hr_style_5"> -->

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt274 mt0px">
                    Rating
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}"
                      >
                      <i class="fa fa-star fa-10x"></i>
                    </li>
                  </ul>
                  <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/rating_coach_directory_filter.svg" class="mr3px">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/rating_coach_directory_filter.svg" class="mlr3px">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/rating_coach_directory_filter.svg" class="mlr3px">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/rating_coach_directory_filter.svg" class="mlr3px">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/rating_coach_directory_filter.svg" class="mlr3px">                   -->
                </div>
              </div>

              <hr class="hr_style_5">

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt274 mt0px">
                    Gender
                  </h6>
                </div>
              </div>

              <div class="row coach_radio_btns">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-3 col-sm-3 col-xs-3 pl0px">
                    <div class="txt120 flex_ai">
                      <input type="radio" value="male" id="male" formControlName="Gender" (click)="getGender('male')"
                        name="Gender">
                      Male
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 pl0px">
                    <div class="ml-5px txt120 flex_ai">
                      <input type="radio" value="female" id="female" formControlName="Gender"
                        (click)="getGender('female')" name="Gender">
                      Female
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 pl0px">
                    <div class="txt120 flex_ai">
                      <input type="radio" value="any" formControlName="Gender" (click)="getGender('any')" id="any"
                        name="Gender">
                      Any
                    </div>
                  </div>
                </div>
              </div>

              <hr class="hr_style_5">

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt274 mt0px">
                    Consultation Fee
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <div class="col-md-4 col-sm-4 col-xs-4 p0">
                    <select class="form-control cdf_select_cf" formControlName="MinFees">
                      <option *ngFor="let c of  minFees;let i=index">{{c}}</option>
                    </select>
                    <!-- <select class="form-control cdf_select_cf">
                      <option>00:00</option>
                      <option>Option one</option>
                      <option>Option two</option>
                      <option>Option three</option>
                      <option>Option four</option>
                    </select>                     -->
                  </div>

                  <div class="col-md-2 col-sm-2 col-xs-2 flex_ai">
                    <h4 class="preferred_location_to txt120">
                      to
                    </h4>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4 p0">
                    <select class="form-control cdf_select_cf" formControlName="MaxFees">
                      <option *ngFor="let c of  maxFees;let i=index">{{c}}</option>
                    </select>
                    <!-- <select class="form-control cdf_select_cf">
                      <option>00:00</option>
                      <option>Option one</option>
                      <option>Option two</option>
                      <option>Option three</option>
                      <option>Option four</option>
                    </select> -->
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                  <div class="col-md-4 col-sm-4 col-xs-4 p0 tcenter">
                    <h6 class="txt120 mb0px">
                      Min. (USD)
                    </h6>
                  </div>

                  <div class="col-md-2 col-sm-2 col-xs-2 flex_ai">
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4 p0 tcenter">
                    <h6 class="txt120 mb0px">
                      Max (USD)
                    </h6>
                  </div>
                </div>
              </div>

              <hr class="hr_style_5">

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt274 mt0px">
                    Language
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dcontents">
                  <span *ngFor="let item of coachLanguage">
                    <button type="submit" class="btn btn-default btn_cdf_1" [ngClass]="{'btnBg': callI(item.trim())}" (click)="onLang($event)">
                      {{item}}
                    </button>
                  </span>


                  <!-- <button type="submit" class="btn btn-default btn_cdf">
                    Mandarin
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Hindi
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Spanish
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    French
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Arabic
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Bengali
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Russian
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Portuguese
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Indonesian
                  </button> -->
                </div>
              </div>

              <!-- <hr class="hr_style_5"> -->
              <!-- 
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt274">
                    Expertise
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt120 txt_transform_uc mt0px">
                    MENTAL HEALTH
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dcontents">
                  <button type="submit" class="btn btn-default btn_cdf">
                    Depression
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Anxiety
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Stress
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Insomnia
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Personality Disorders
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    OCD
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    PTSD
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Schizophrenia
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Phobias
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Eating Disorders
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Loneliness
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Abuse
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Anger Issues
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt120 txt_transform_uc">
                    LIFE & COMMUNITY
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dcontents">
                  <button type="submit" class="btn btn-default btn_cdf">
                    Work Life
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Relationships
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Marriage & Divorce
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Dating
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Family
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Grief & Loss
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Bullying
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Addiction & Recovery
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Parenting
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    LGBTQ+
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Overcoming Trauma
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Minority
                  </button>

                  <button type="submit" class="btn btn-default btn_cdf">
                    Teens
                  </button>
                </div>
              </div>

              <hr class="hr_style_5"> -->
              
              <div class="pagebreak"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<div class="sidebar-footer ifooter">
  <div class="row center_flex">
    <div class="col-md-6 col-sm-12 col-xs-12 center_flex">

      <a class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/home.svg" alt="">
        <p class="mb0px">
          Home
        </p>
      </a>

      <a class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/search.svg"
          alt="">
        <p class="mb0px">
          Search
        </p>
      </a>

      <a class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/journal.svg"
          alt="">
        <p class="mb0px">
          Journal
        </p>
      </a>

      <a class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/forum.svg" alt="">
        <p class="mb0px">
          Forum
        </p>
      </a>

      <a class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/more.svg" alt="">
        <p class="mb0px">
          More
        </p>
      </a>

    </div>
  </div>
</div>
<!-- /footer -->