<app-transcript-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            Our fear of change can make us prisoners of our own circumstances. We may stay on in unhappy jobs or relationships because of the fear of what lies beyond. That fear exists only in our thinking, as we will explore. We may not even be aware that our fears are the walls our thinking has created that make us feel trapped in our circumstances with no hope of escape. Once we see this clearly, we can walk through these walls our thinking has created, because they are not real, though they may feel that way. As a result we can be free.
             </p>          
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>





