<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Just telling yourself that you can get over this and it will pass is enough to summon your inner strength to deal with the problem at hand. This attitude doesn't come naturally, and needs to to be cultivated. We can begin perhaps by asking if we look at the world with the glass half-empty. We can take the same situation and find a more positive way to look at it, and in doing that we may find our stress disappears. For example, I may feel stressed that I have been criticised by my boss at work, and feel hurt and angry and think it's unfair. A positive attitude could mean that I regard that as an opportunity to learn about myself and improve and though it stung, I could be grateful that he offered me that criticism
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>