<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Contact Us
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="div_cus">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h4 class="mtb0px fs_24px fw_600 lh_150p fc_e58d82">
                      Welcome to HappierMe
                    </h4>
                  </div>
                </div>

                <div class="row center_flex mt10px mb30px">
                  <div class="col-md-10 col-sm-10 col-xs-10 p0">
                    <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                      For questions, or information, contact us at
                    </h4>
                  </div>
                </div>
                
                <a id="mailto" href="mailto:info@humanwisdom.me">
                  <div class="row div_contact_mail">                    
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                      <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                        <h4 class="mtb0px fs_15px fw_500 lh_150p fc_e58d82">
                          team@happierme.app
                        </h4>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/contact_us_envelope.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <!-- <div class="pagebreak"></div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->