<nav class="navbar navbar-default navbar-static-top cnavbar-default pt1rem">
    <div class="container ncenter_flex">
      <div class="navbar-header nh center_flex">
        <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="cimg" href="#">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse hide_nav">      
        <ul class="nav navbar-nav navbar-right">        
          <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">          
            <li class="libr"><a href="https://humanwisdom.me/course/onboarding/login">Login</a></li>                    
            <li class="libr"><a href="https://humanwisdom.me/course/onboarding/signup">Register</a></li>
            <li class="libr"><a href="https://humanwisdom.me/hwp/webpages/help.php">Help</a></li>
            <li class=""><a href="https://humanwisdom.me/hwp/webpages/profile.php">My Profile</a></li>          
            <li role="separator" class="divider"></li>
          </ul>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">        
          <ul class="nav navbar-nav cnavbar-nav">          
            <li><a href="">About</a></li>          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://humanwisdom.me/hwp/webpages/wp_childrens.php">Children</a></li>
                <li><a href="https://humanwisdom.me/hwp/webpages/wp_teenagers.php">Teenager</a></li>
                <li><a href="https://humanwisdom.me/hwp/webpages/wp_adults.php">Adults</a></li>
                <li><a href="https://humanwisdom.me/hwp/webpages/wp_parents.php">Parents</a></li>
              </ul>
            </li>
            <li class="active"><a href="https://humanwisdom.me/hwp/webpages/wisdom_community.php">Community</a></li>
            <li><a href="">Wisdom Survey</a></li>
            <li><a href="">Wisdom Journal</a></li>
            <li><a href="https://humanwisdom.me/course/onboarding/addcart">Subscribe</a></li>
            <li><a href="https://humanwisdom.me/hwp/webpages/testimonials.php">Testimonials</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </nav><!-- page content -->

  <div class="right_col ml0 bg_lynx_white ip0" role="main">                        
    <!-- Class -->
    <div class="">                            
      <div class="clearfix"></div>            
      <div class="row center_flex optb10rem">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="x_panel p0 center_flex">                        
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 p0 dnone">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/webpage/login.png" alt="..." class="img-responsive mh68vh ">
            </div>                        
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/webpage/social-media-caution.png" alt="..." class="img-responsive" style="display:none;">
              <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left input_mask" [formGroup]="registrationForm" >
                  <div class="form-group">                                         
                      <div class="col-lg-7 col-md-7">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/logo/logo_transparent.png" alt="..." class="img-responsive">        
                      </div>                                                    
                  </div>
                  <div class="form-group">
                      <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="black">Get Started with HumanWisdom </h4>
                      </label> 
                  </div>                                        
                  <div class="form-group">                                                
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input formControlName="firstName" class="form-control is-invalid col-md-7 col-xs-12 cform-control" required="required" type="text" placeholder="First Name">  
                          <div *ngIf="firstName.invalid && firstName.touched">
                              
                              <small *ngIf="firstName.errors?.required" class="text danger">First Name is required</small>
                              <small *ngIf="firstName.errors?.minlength" class="text danger">First Name must be at least 3 characters</small>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt10px">
                          <input formControlName="lastName" class="form-control col-md-7 col-xs-12 cform-control" required="required" type="text" placeholder="Last Name">  
                          <div *ngIf="lastName.invalid && lastName.touched">
                              
                              <small *ngIf="lastName.errors?.required" class="text danger">Last Name is required</small>
                              <small *ngIf="lastName.errors?.minlength" class="text danger">Last Name must be at least 3 characters</small>
                          </div>                                              
                      </div>
                  </div>
                  <div class="form-group">                                                
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <input formControlName="email" class="form-control col-md-7 col-xs-12 cform-control" required="required" type="text" placeholder="Email">  
                          <div *ngIf="email.invalid && email.touched">
                              
                              <small *ngIf="email.errors?.required" class="text danger">Please enter email address</small>
                              <small *ngIf="email.errors?.email" class="text danger">Please enter a valid email</small>
                          </div>   
  
                      </div>
                  </div>
                  <div class="form-group">                                                
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <input formControlName="password" class="form-control col-md-7 col-xs-12 cform-control" required="required" type="password" placeholder="Password">  
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt10px">
                          <input formControlName="confirmPassword" class="form-control col-md-7 col-xs-12 cform-control" required="required" type="password" placeholder="Confirm">   
                          <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>      
                      </div>
                  </div>                 
                  <br>
                  <div class="checkbox" style="margin-left: 10px;">
                    <label class="subscribe_check mt0px">
                      <input type="checkbox" name="remember" value="" (click)="sharedForum($event.target.checked)"/> 
                      <span class="">
                            <span class="pl0_3rem chk_rm txt120">
                                I Agree
                            </span>                          
                        </span>
                    </label>
                </div>
                                  <br>
                 
                  <div class="form-group">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <button class="btn btn-primary w100 bg_cyan h5rem" [disabled]="!registrationForm.valid || !agree" (click)="signup()">GET STARTED</button>                                                   
                      </div>
                  </div>
                  <div>
                    <div *ngIf="showMessage"class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                        <div type="submit" class="alert alert-warning w100" >
                          An email has been sent to you. 
                          Please click on the link shared with you 
                          or enter the verification code to verify your account
                          </div>
                          <input formControlName="verificationCode" class="col-md-7 col-xs-12 " [(ngModel)]="this.verificationCode" placeholder="Enter Code">
                          <button  class="btn btn-primary w100 bg_cyan h5rem" (click)="verifyCode()">Verify Code</button>
                                                                         
                    </div>

                  </div>
                  <br>
                  <br>
  
                  <div *ngIf="showWarning" class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-danger w100  h5rem" >{{this.message}}</button>                                                   
                    </div>
                </div>
  
                  <br>
  
  
                  <br>
                  
                  <div class="form-group tcenter">
                      <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black fs14px">Already Signed Up ? <a routerLink="/onboarding/login"><span class="cyan">Login</span></a></label>                                                
                  </div>        
  
              </form>
              </div>  
            </div>                            
          </div>
        </div>
      </div>      
    </div>
    <!--/Class -->    
  </div>
  <!-- /page content -->

  <!-- footer content -->
  <footer class="cfooter ml0">
    <div class="tcenter twhite">    
      © 2020 HumanWisdom Ltd. All Rights Reserved.&nbsp;<a href="" class="twhite">Terms of Use</a>&nbsp;|&nbsp;<a href="" class="twhite">Privacy Policy</a>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->