<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      Our unconscious need to feel important brings us pleasure, which is short-lived. All pleasure is. If this need is not met, it can lower our self-esteem. The first step is to become aware of it.
    </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>