<div class="wrapper">
  <!-- top navigation -->
  <div class="dtn">

    <!-- top navigation -->
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 dtn_default flex_ai plr20px onscrollbg">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
          <a (click)="routedashboard()">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/logo/hwp_logo_01.svg"
              class="img-responsive" alt="HumanWisdom">
          </a>
        </div>
      </div>
    </div>
    <!-- /top navigation -->
  
  </div>
  <!-- /top navigation -->

  <!-- page content -->
  <div class="right_col mc_01">
    <!-- Class -->
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 p0 bg_white">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                    <div class="bgdiv_adverts">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h4 class="txt353 mt0px mb30px">
                            <span class="bold">Life-changing wisdom<br></span>
                            <span class="">in your pocket</span>
                          </h4>
      
                          <h4 class="txt354 mtb0px">
                            A life-companion to help you deal with every challenge and live your best life
                          </h4>
                        </div>
                      </div>
      
                      <div class="row mt40px mb40px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <video controls playinline class="cvideo" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/partnership/pp_video_01.svg" controlsList="nodownload">
                            <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/partnership/videos/partnership_program_01.mp4" type="video/mp4">
                          </video>    
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt294 mtb0px">
                          Download the HumanWisdom app or visit
                          <a class="bold underline" href="https://humanwisdom.me">
                            https://humanwisdom.me
                          </a>
                        </h4>   
                        </div>
                      </div>
      
                      <div class="row mt30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <!-- desktop playstore -->
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a (click)="clickbanner('https://play.google.com/store/apps/details?id=io.humanwisdom.me&hl=en&gl=US')">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/playstore_black.svg" alt=""
                                class="img-responsive w100">
                            </a>
                          </div>
                          <!-- /desktop playstore -->
      
                          <!-- desktop appstore -->
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a (click)="clickbanner('https://apps.apple.com/in/app/humanwisdom/id1588535567')">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/appstore_black.svg" alt=""
                                class="img-responsive w100">
                            </a>
                          </div>
                          <!-- /desktop appstore -->
                        </div>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt355 mt0px mb10px">
                          <span class="bold">Much more than a wellness app,</span>
                          <span class="">with 60+ subjects</span>
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="txt356 mtb0px">
                          <li class="">
                            Prevent and overcome stress and anxiety
                          </li>

                          <li class="">
                            Have happier relationships
                          </li>

                          <li class="">
                            Manage your emotions
                          </li>

                          <li class="">
                            Feel at peace
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/bubbles.svg" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt355 mt0px mb30px">
                          Dive deeper
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt356 mtb0px">
                          Feel better today, and then go deeper to understand the root cause. Learn to prevent problems and overcome them for the long term.
                        </h4>
                      </div>
                    </div>

                    <div class="row mt30px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/adverts/dive_deeper.svg" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt355 mt0px mb10px">
                          <span class="bold">Learn, grow, </span>
                          <span class="">and live your best life</span>
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt356 mtb0px">
                          The app is packed with features - meditations, life stories, journal, videos, podcasts, guided questions, live events, forum and more
                        </h4>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prelative">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 flex_ai_imp safari_dblock_imp">
                            <div class="col-md-3 col-sm-3 col-xs-3 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation.svg" alt="" class="img-responsive"/> 
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 tcenter">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/partnership_julie_goodfellow.svg" alt="" class="img-responsive"/>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 tcenter">

                            </div>
                          </div>
                        </div>

                        <div class="row pt1">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="txt325 mt10px mb5px ">
                              Julie Goodfellow
                            </h4>
                          </div>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="txt323 mt0px mb20px">
                              Headteacher, UK
                            </h6>
                          </div>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="txt324 italic tleft">
                              I subscribed to The HumanWisdom app for all my staff because I have seen how enlightening and transformative it is to understand my reactions to situations, and my personal emotions such as anxiety, depression and anger. To be able to help others understand, with wisdom, why they feel as they do, is my life-long gift to them
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt165 mtb0px tcenter">
                          SIGN UP TO OUR NEWSLETTER
                        </h4>
                      </div>
                    </div>

                    <div class="row mt30px mb10px">                    
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control cfc3 tleft" placeholder="Name">
                      </div>
                    </div>

                    <div class="row">                    
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control cfc3 tleft" placeholder="E-mail">
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a>
                          <button type="button" class="btn btn_yellow_01 txt215 tcenter w100">
                            Sign up for newsletter
                          </button>
                        </a>
                      </div>
                    </div>

                    <div class="row mt50px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tcenter">
                        <h4 class="txt165 mtb0px">
                          GET IN TOUCH
                        </h4>

                        <h4 class="txt197 mb0px mt10px">
                          <a href="mailto:info@humanwisdom.me" target="_top" class="">
                            info@humanwisdom.me
                          </a>
                        </h4>
                      </div>
                    </div>

                    <div class="row center_flex">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt165 mt60px mb0px tcenter">
                          ELSEWHERE
                        </h4>
                      </div>
                    </div>
    
                    <div class="row center_flex project_social_icons">
                      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                        <a href="https://www.facebook.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://twitter.com/HumanWisdom_me">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/twitter_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.instagram.com/humanwisdom.me/">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/instagram_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.linkedin.com/company/humanwisdom">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/linkedin_01.svg"
                              class="">
                          </div>
                        </a>
    
                        <a href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA">
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/youtube_01.svg"
                              class="">
                          </div>
                        </a>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt173 mtb0px tcenter">
                          2021 All rights reserved
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter p0 row_bp">
                    <a href="https://humanwisdom.me">
                      <button type="button" class="btn btn_yellow_01 txt215 tcenter w100">
                        Go to app
                      </button>
                    </a>
                  </div>
                </div>  

                <div class="pagebreak"></div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class -->
  </div>
  <!-- /page content -->
</div>