 <app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Before speaking the truth, sit with it for a while and make sure it is the truth, and not a fleeting feeling, or an incorrect perception.
      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
