<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-txt-overlay-top base="love_base2" overlay="love_overlay2_mobile" class="mshowhide">
  <form>
    <h1 class="txt1">
      We have a need to feel loved, but not the same degree of need to love others.
      <br>
      Why is that?
    </h1>
    <div class="clearfix"></div>
  </form>
</app-txt-overlay-top>

<app-txt-overlay-top base="love_base2" overlay="love_overlay2_desktop" class="dshowhide">
  <form>
    <h1 class="txt1">
      We have a need to feel loved, but not the same degree of need to love others.
      <br>
      Why is that?
    </h1>
    <div class="clearfix"></div>
  </form>
</app-txt-overlay-top>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
