<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            Whenever we are criticized if we ask ourselves this question we can use that criticism to learn something new, but to do that we have to get past our first reaction which is to be hurt, defensive, reactive and so on. People who can accept criticism with grace are most appreciated, because people usually react defensively. You could even go on to say ‘Thank-you’ if you did learn something new about yourself or something in the world outside. To respond in this way needs a clear understanding of what is happening in our thinking and that allows us to respond with wisdom’          
          </p>
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
            
      

