<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Introduction to HappierMe
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                  Aenean hendrerit commodo eros. Fusce hendrerit ultrices massa quis tristique. Duis ipsum elit, varius nec tellus quis, vulputate pretium orci. Ut interdum egestas lacus, faucibus finibus velit efficitur fringilla.
                </h4>
              </div>
            </div>

            <div class="row mtb30px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" (click)="routeVideoaudio('video','/adults/videopage/get-support-now-videos-1.1.mp4', 'Tips to get over stress right now')">
                <a class="">
                  <div class="prelative">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/overview_of_app.svg" class="img-responsive w100">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tile_title" >
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
                        <h4 class="mtb0px fw_500 fs_14px lh_24px fc_ffffff whitespace_preline">
                          Overview of the app
                        </h4>
                      </div>

                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
                        <h4 class="mtb0px fs_12px lh_140p fc_ffffff_0_5 tright">
                          03:19
                        </h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="row mb15px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff">
                  KEY IDEAS
                </h4>
              </div>
            </div>

            <div class="toc_adiv_img">
              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/guided-meditation/audios/guided-meditation+1.4.mp3','Voice Yoga')">
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/intro_key_ideas.svg" class="img-responsive w100">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        Avoiding and overcoming anxiety
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        54:56
                      </h4>
                    </div>
    
                  </div>
                </div>
              </a>

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeVideoaudio('audio','/guided-meditation/audios/guided-meditation+1.4.mp3','Voice Yoga')">
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                      <div class="prelative">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/intro_key_ideas.svg" class="img-responsive w100">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0 pl15px">
                      <h4 class="mt0px mb5px fw_500 fs_15px lh_130p fc_ffffff">
                        The resilience mindset: lessons from HumanWisdom
                      </h4>
                      <h4 class="mtb0px fs_12px lh_130p fc_ffffff_0_5 ellipsis">
                        47:57
                      </h4>
                    </div>
    
                  </div>
                </div>
              </a>
            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->
