<app-toc-header [moduleName]="'Self Image'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="txt_comparison">
          Our images or opinions of ourselves and others shape many aspects of our life, including how good we feel about ourselves, our sensitivity to criticism, our self-image, what others think of us, and our anxiety about how we look. Exploring this in depth allows us to live with wisdom
        </h4>
      </div>
    </div>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">                    
        <a [routerLink]="['/adults/self-image', siR]" *ngIf="lastvisited">
          <button type="button" class="btn mb0 btn_begin_here" data-dismiss="modal">Continue where you left</button>
        </a>
      </div>
    </div> 

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">
      <a routerLink="/adults/self-image/s25002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #1
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Exploring Self Image
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                30:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>
    </div>

    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>
    
  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>