<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Welcome to this module on stress. We are going to harness all that we have learned through the program so far, and apply that understanding to help you avoid and manage stress more effectively. Stress is being explored as part of the fifth circle of wisdom, but is connected to every other circle and to deal with it we are going to draw on our learning from the other circles of wisdom we have explored.
          </p>
          <p>
            We think stress is inevitable and caused by what happens to us, but this is not always true. We are going to explore the many hidden patterns of thinking that contribute to our stress and by doing so, find out how we can respond with intelligence.
          </p>
          <p>
            Stress can damage our emotional and physical health and that is one reason to explore the subject in detail. Even if we are not stressed right now, this understanding can help us avoid it in future and better understand those who are stressed.
          </p>
          <p>
            Let’s begin by exploring how common it is. This can help us realise we are not alone in the stress we feel. It is a normal human emotion
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>