<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          To live with integrity and honesty is no easy thing, especially when we feel we can get away with it.
           If you can be honest in the smallest of situations, for example if you see a note or coin on the
            floor, then you can meet the bigger challenges you will face. We think we live with integrity but 
            it is only when it is tested, in that split second, do we know the truth. Our integrity could be
             tested when we think we stand to lose from being honest - for example, in admitting a mistake, 
             when a small lie might allow us to get away with it. Or, when we are offered an inducement to 
             look the other way, or do something for someone we know. In that split second when we have to 
             decide, is when our integrity is tested. Or when we could make two equally justifiable decisions,
              but our self-interest is better served by one of them. To develop our integrity 
          we need to understand the hidden patterns of thinking that push us to do the opposite
        </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>