 .div_fbn .row:hover{
  background-color: transparent;
  /* color:#fff; */
}
.div_fq .row:hover {
   background-color: transparent;

  /* filter: brightness(90%); */
}
.div_fq .fa_vm:hover {
    background-color: transparent;

}
.div_fq .bg_n:hover {
    background-color: #FFD889;

}