<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>               

    <h1 class="txt1">
      <p class="mb0px fw_bold">#7</p>
      Nurturing a quiet mind allows you to create a space between what you hear and your response, allowing your intelligence to step in and respond with compassion and wisdom. This can enhance all your relationships.
    </h1>

  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
