<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Build your inner reserves for the long term. Explore the 
      <span class="highligted_span">
        Calm Mind 
      </span>
      section, the
      <span class="highligted_span">
        Reactive mind 
      </span>
      module and the 
      <span class="highligted_span">
        Stress
      </span>
      module. You will be better equipped to respond with a calm intelligence and not react to situations.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>