<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            In the consumer society we live in, we have forgotten the joys of a simple life, lived within our means. So much unhappiness is caused by money problems because we do not know how to do that. We have been conditioned to look for happiness outside us, and as we have discussed money buys us pleasure, through things and experiences. Pleasure isn't wrong and has its rightful place in life. A simpler way of living would help us value what we have, and still live a fulfilled life. It comes naturally when there is a sense of peace within. It's good for our spirit, for also for our purse and the planet
           </p>
          </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>