<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            The other day I saw a movie and a man was sitting on a beautiful beach in the carribean and reading a book. We see that all the time. It suddenly struck me that the human mind is not comfortable being where it is, and always wants to be somewhere else. We may all dream of going on holiday to a beautiful beach, but when we get there, we want to somewhere else - read a book for example. Why is that? Are all our minds like that? Is yours?
          </p>
          <p>
            The only life we have to live is in the moment, and if our mind is not comfortable being in this moment we are in, are we present in our own life? I saw this clearly and directly and it had a profound impact.It made me much more present in my own life
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>