<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Whenever we pay complete attention to anything, our mind quietens. The chattering stops. We experience a sense of quietness and calm. This is the same whether you pay attention to nature, to your breathing, or to your thoughts. In this exercise we are going to focus on paying attention to our thoughts. You will need a pen and paper. The next video shows you what to do. When we write, we engage a different part  of our brain
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
