#/var/www/html/adults/.htaccess
RewriteEngine On

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Prevent internal redirects for /adults/index.html
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^adults/index\.html - [L]

# Redirect all requests within the "adults" project to index.html
RewriteRule ^(.*)$ /adults/index.html [NC,L,QSA]