RewriteEngine On

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Prevent internal redirects for /course/index.html
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^course/index\.html - [L]

# Redirect all requests within the "course" project to index.html
RewriteRule ^(.*)$ /course/index.html [NC,L,QSA]