.web_home_divlanding {
    /* background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/website/frame.png); */
    background-image: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/website/frame.png');
     /* background: -webkit-linear-gradient(93deg, #ec9f8d -1.46%, #FCEFEB 53.2%, #FCCBCD 112.47%);  */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 90px 20px;
     background-attachment: fixed;
  background-size: 100% 100%;
}