<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          In this session we have explored some of the problems having a strong attachment to a particular identity can cause. It is up to each of us to reflect on which of these applies to us personally. This is neither right nor wrong. We are just exploring, without judgement, and trying to uncover the many unconscious ways identity shapes our lives and causes conflict in the world. In the next session we will explore how we can use this understanding to respond with intelligence.
           </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>