<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            If I am an actor and you criticize my acting skills I will feel hurt and blame you for upsetting me. If you tell me I’m a terrible cook, I will just laugh and agree with you. Why is that? Hidden from my awareness, in layer 3, are my images of myself. I have an image of myself as a good actor, but not as a good cook. Our many unconscious images of ourselves play a big role in the hurt we feel when criticized. We discuss this more fully in a separate module on self-image         
          </p>
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
            

