<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
<app-kta-prevnext [bg]="bg">
  
  <form class="">

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      Our mind unconsciously compares who we are, with our ideal of who we think we should be, or with others, and this makes us critical of ourselves. This ideal comes from our unconscious conditioning influences.
    </h1>
      
  </form> 
         
</app-kta-prevnext>
 
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>