<app-toc-header [moduleName]="'Conditioning'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                
    

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt_comparison">
          In this module we explore how our unconscious conditioning, which is a sum of all our past influences, directs the course of our life. Understanding this in detail allows us to respond with wisdom.
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">                        
        <a [routerLink]="['/teenagers/conditioning', pgResume]" *ngIf="pgResume">
          <button type="button" class="btn  mb0 btn_begin_here " data-dismiss="modal">Continue where you left</button>
        </a>
        <!-- <a routerLink="/conditioning/s1">
          <button type="button" class="btn btn_default mb0 txt_green_yellow" data-dismiss="modal">Start from the beginning</button>
        </a> -->
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">
      <a routerLink="/teenagers/conditioning/s105002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #1
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Exploring conditioning
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                22:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/conditioning/s105046">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #2
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Effects of conditioning
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                27:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/conditioning/s105076">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #3
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Responding to conditioning with wisdom
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                23:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/conditioning/s105116">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #4
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Role play scenario
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                21:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>
      <a routerLink="/teenagers/conditioning/s105136p1">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://d1tenzemoxuh75.cloudfront.net/curated_dbs/images/events/03.webp" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>

              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #5
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Wisdom, prejudice, and racis
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  01:18:50
                </h4>
              </div>

            </div>

             <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>
    </div>

    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"  *ngIf="stories.length !== 0" ></app-related-wisdom-stories-tiles>
    
  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>