<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Our hidden self-interest gets the better of us, driving our actions.<br>
      When it comes to a choice between what's good for me, or the earth,<br>
      ‘I’ always win, everytime. It’s no contest.
      
      

      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
