<!-- <video autoplay loop preload="true" class="bg_adverts_hwp" controlsList="nodownload">
  <source
    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/adverts/videos/02.mp4"
    type="video/mp4">
</video> -->

<!-- <div id="bgd_video">
  <video preload="auto" autoplay loop muted playsinline class="bg_adverts_hwp" controlsList="nodownload">
    <source
      src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/adverts/videos/02.mp4"
      type="video/mp4">
  </video>
</div> -->

<video preload="auto" autoplay loop muted playsinline class="bg_adverts_hwp" controlsList="nodownload">
  <source
    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/adverts/videos/02.mp4"
    type="video/mp4">
</video>