<!-- top navigation -->
<app-tn-partnership-app  [isShowLink]="false"></app-tn-partnership-app>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_white">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row center_flex mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <div class="row mb40px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p class="fw_400 fs_21px lh_140p fc_000000">
                        Congratulations!
                      </p>

                      <p class="fw_400 fs_15px lh_130p fc_000000">
                        You have successfully joined the HumanWisdom Partnership Program. 
                      </p>
  
                      <p class="fw_400 fs_15px lh_130p fc_000000">
                        Before we proceed, tell us how you would like to receive your partnership benefits.
                      </p>
                    </div>
                  </div>

                  <a>
                    <div class="row pp_box">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="NavigateTreeSister()">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/partnership_plant_tree.svg" alt="" class="img-responsive"/> 
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                          <h4 class="fw_500 fs_15px lh_140p fc_1092a7 mtb0px">
                            Have a tree planted for every subscription made using your referral code
                          </h4>
                        </div>
                      </div>
                    </div>
                  </a>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="fw_400 fs_15px lh_130p fc_000000 p_or tcenter">
                        OR
                      </h4>
                    </div>
                  </div>

                  <a>
                    <div class="row pp_box">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="NavigateRecieveIncome()">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/partnership_income.svg" alt="" class="img-responsive"/> 
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                          <h4 class="fw_500 fs_15px lh_140p fc_1092a7 mtb0px">
                            Receive an income from the partnership program
                          </h4>
                        </div>
                      </div>
                    </div>
                  </a>
  
                  
                  <div class="row center_flex mt60px">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                      <a>
                        <h4 class="fw_400 fs_15px lh_140p fc_5d5d5d mtb0px tcenter">
                          <span (click)="GoToIndex()" class="fw_500 fs_15px lh_130p fc_1092a7 underline">
                            Click here
                          </span>
                          for more information on how the Partnership Program works.
                        </h4>
                      </a>
                    </div>
                  </div>

                </div>
              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->