<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-image-text base="stress_base2" overlay="stress_overlay2_mobile">

  <form>

    <h1 class="txt1">
      This reaction from our thinking is automatic, and very fast, faster than a bullet coming out of a gun. We are not aware of this.
    </h1>
    
    <div class="clearfix"></div>

  </form>

</app-image-text>

<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>