<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          When we are criticised by others we can feel hurt,and it can cause long term stress. We are also critical of ourselves, sometimes more than others are of us. It’s an inner voice we just can’t seem to switch off. Why does criticism feel so painful, and why are we so critical of ourselves? There are several hidden patterns of thinking that contribute to the stress including the images we have of ourselves and others, and the difference between what we regard as our  ideal and who we are. Our stress plays a major role. Understanding these patterns of thinking can allow us to respond with intelligence.
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>