.bg_light_gray
{  
  background: #E5E5E5 !important;
  /* background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/module1/w10.jpg) no-repeat center center fixed !important; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_journal
{  
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/journal/journal_landing.svg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_wisdom_stories
{  
  background: linear-gradient(180deg, #70C6BD 0%, #13547A 100%) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_green_yellow 
{
  background: #63A858;
}

.bg_purple_blue
{
  background: #7733D3;
}

.bg_pink_orange
{
  background: #FD6E48;
}

.bg_blue_pink
{
  background: #7F2F64;
}

.bg_red_pink
{
  background: #B92F48;
}

.bg_green
{
  background: #1FA26E !important;
}

.bg_light_blue
{
  background: #3692D1;
}

.bg_purple_red
{
  background: #8C396D;
}

.bg_teal
{
  background: #2E6F85;
}

.bg_dark_blue
{
  background: #1D3D7A;
}

.bg_purple
{
  background: #9D65CA;
}

.bg_blue
{
  background: #4A59B6;
}

.bg_gray
{
  background: #5D5D5D;
}

.bgc_light_gray
{
  background: #EBEBEB;
}

.bg_user_profile 
{
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/profile/user_profile_landing.svg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_profile_upload
{
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/profile/profile_upload.svg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.testimonials 
{
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/testimonials/testimonials.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_login_signup
{  
  /* background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/login_signup/flat.svg) no-repeat center center fixed !important; */
  background: linear-gradient(180deg, #1092A7 -1.41%, #70C6BD 100%) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_treesisters
{  
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/treesisters/treesisters.svg) no-repeat center center!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh; 
}

.bg_splash
{  
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/login_signup/splash.svg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh; 
}

.bg_add_to_home_screen_ios
{  
  background: linear-gradient(180deg, #1092A7 -1.41%, #70C6BD 100%) !important;
  /* mix-blend-mode: multiply; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh; 
  overflow: auto;
}

.bg_personalised_for_you
{
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/introductory/personalised_for_you.svg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh; 
  overflow: hidden;
}

.bg_dmodule_transcript
{
  background: #1092A7 !important;
  /* mix-blend-mode: multiply; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh; 
  overflow: hidden;
  /* padding-top: 12rem !important; */
}

.bg_guided_questions
{  
  /* background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/login_signup/flat.svg) no-repeat center center fixed !important; */
  /* background: #F5F5F5 !important; */
  background: #FFFFFF !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.bg_whitesmoke 
{
  background: #F5F5F5;
}

.bg_gift_of_wisdom
{  
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/gift_of_wisdom/gift_of_wisdom.svg) no-repeat center center!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh; 
}

.bg_video
{
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/video/bg_video.svg) no-repeat center center!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: 0; 
  min-height: 100vh;
  transition: none;
}