<!-- top navigation -->
<!-- <div class="top_nav ml0 tcenter inav">
  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/guided_audio_meditation.jpg" alt="" class="img-responsive iw100">
  <div class="nav_menu absolute_top p20px">
      <nav>          
          <ul class="nav navbar-nav navbar_left cnav inavbar flex_align">
            <li class="">                    
                <a (click)="goBack()" class="cuser-profile dropdown-toggle c_silver_chalice " data-toggle="dropdown" aria-expanded="false">                        
                  <h4 class="btn_back_white">
                    Back
                  </h4> 
                </a>                  
            </li>   
            
            <li class="lishare">                    
              <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                        
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_white.svg" alt="" class="p0">
              </a>                  
            </li>
          </ul>
      </nav>
  </div>
</div> -->
<!-- /top navigation -->
<app-toc-header [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="module_title">
          Guided Audio Meditations
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt_comparison">
          In this module you will find a series of guided audio meditations. You can listen to them anywhere.
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">                    
        <a [routerLink]="['/adults/guided-meditation', gamR]" *ngIf="lastvisited">
          <button type="button" class="btn btn-success mb0 btn_begin_here bg_dark_blue" data-dismiss="modal">Continue where you left</button>
        </a>
        <!-- <a routerLink="/adults/guided-meditation/s51002">
          <button type="button" class="btn btn_default mb0 txt_dark_blue" data-dismiss="modal">Start from the beginning</button>
        </a> -->
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51002">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #1
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Body Scan
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                4 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51003">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #2
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Noticing Thoughts
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                5 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51004">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #3
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Tuning In
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                7 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51005">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #4
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Voice Yoga
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                5 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #5
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Walk in Nature
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                7 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p1">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #6
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Releasing Anger
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                7 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p2">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #7
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Releasing Fear - a meditation
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                7 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p3">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #8
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Be more flexible
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                7 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p4">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #9
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Being kind in relationships
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                3 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p5">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #10
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Explore your identity
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                7 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p6">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #11
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Release Negative Thoughts
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                11 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <a routerLink="/adults/guided-meditation/s51006p7">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #12
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                Seeing people freshly
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                3 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a> 
    <!-- /audio row -->

    <!-- audio row -->
    <!-- <a (click)="audiopage('/guided-meditation/audios/guided-meditation+1.7.mp3', '3 ways to overcome stress')">
      <div class="row crow box bg_dark_blue p0">
        <div class="col-md-2 col-sm-2 col-xs-2 p0 landing_tile">          
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_audio.svg" alt="" class="p0 absolute_center_lt_audio">
        </div>        

        <div class="col-md-10 col-sm-10 col-xs-10 p10px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h6 class="session_no mtb0px">
              Meditation #13
            </h6>                    
          </div>  
          
          <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
            <div class="col-md-10 col-sm-10 col-xs-10">                    
              <h4 class="session_name mtb0px">
                3 ways to overcome stress
              </h4>    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 p0">   
              <h4 class="session_time mtb0px">
                3 mins
              </h4>    
            </div>
          </div>   
        </div>                        
      </div>
    </a>  -->
    <!-- /audio row -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>

  </form>    

</app-index-content> 

<!-- <app-bottom-navigation></app-bottom-navigation> -->
<app-index-footer></app-index-footer>