<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
<app-kta-prevnext [bg]="bg">

  <form class="">

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      Questions to ask before you criticize:
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      01. Is this for my benefit or for the other person's benefit?
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      02. How is it going to be received?
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      03. Is this the best time to say it?
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      04. What would happen if I said nothing?
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      05. Am I angry and irritated? Should I calm down first?
    </h1>
    
  </form>  

</app-kta-prevnext>
 
<!-- <app-kta-footer [bg_cft]="bg_cft" (previousEmitter)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
      
