/* font colour */
.fc_ffffff
{
    color: #FFFFFF;
}

.fc_000000 
{
    color: #000000;
}

.fc_5d5d5d
{
    color: #5D5D5D;
}

.fc_adadad
{
    color: #ADADAD;
}

.fc_59595b
{
    color: #59595B;
}

.fc_1092a7
{
    color: #1092A7;
}

.fc_b92f48
{
    color: #B92F48;
}
/* /font colour */