/* line height */
.lh_120p 
{
    line-height: 120%;
}

.lh_130p 
{
    line-height: 130%;
}

.lh_140p 
{
    line-height: 140%;
}

.lh_18px
{
    line-height: 18px;
}

.lh_21px
{
    line-height: 21px;
}

.lh_39px
{
    line-height: 39px;
}
/* /line height */