<!-- page content -->
<div class="right_col mc_03">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mt80px mb15px fw_400 fs_24px lh_140p fc_ffffff">
                  Welcome back, {{name}}!
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                  What would you like to explore today?
                </h4>
              </div>
            </div>

            <div class="div_ru">

              <a>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex" (click)="routeResume()">

                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fw_600 fs_18px lh_140p fc_ffffff">
                        Continue where you left
                      </h4>
                      <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff" *ngIf="resume.length !== 0">
                        Module : {{resume[0]['ModuleName']}} • Session #{{resume[0]['SessionCnt']}} : {{resume[0]['SessionName']}}
                      </h4>
                      <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff" *ngIf="resume.length === 0">
                        Module : Stress • Session #6 : Avoiding Stress
                      </h4>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                      <i class="fa fa-angle-right"></i>
                    </div>

                  </div>
                </div>
              </a>

              <a routerLink="/adults/feel-better-now">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">

                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fw_600 fs_18px lh_140p fc_ffffff">
                        Feel better now
                      </h4>
                      <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff">
                        Quick tips to help you feel better right now
                      </h4>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                      <i class="fa fa-angle-right"></i>
                    </div>

                  </div>
                </div>
              </a>

              <a routerLink="/adults/select-a-topic-to-explore">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">

                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fw_600 fs_18px lh_140p fc_ffffff">
                        Select a topic to explore
                      </h4>
                      <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff">
                        Select from 8 in-depth topics covering every aspect of life
                      </h4>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                      <i class="fa fa-angle-right"></i>
                    </div>

                  </div>
                </div>
              </a>

              <a routerLink="/adults/pathway">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">

                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fw_600 fs_18px lh_140p fc_ffffff">
                        PATHWAY
                      </h4>
                      <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff">
                        A 5-step guided program to flourish in life
                      </h4>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                      <i class="fa fa-angle-right"></i>
                    </div>

                  </div>
                </div>
              </a>

              <a routerLink="/adults/find-inspiration">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">

                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                      <h4 class="mtb0px fw_600 fs_18px lh_140p fc_ffffff">
                        Find inspiration
                      </h4>
                      <h4 class="mtb0px fw_400 fs_12px lh_140p fc_ffffff">
                        Life stories, blogs, podcasts and a lot more
                      </h4>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                      <i class="fa fa-angle-right"></i>
                    </div>

                  </div>
                </div>
              </a>

            </div>

            <div class="row mt20px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <a class="" routerLink="/adults/adult-dashboard">
                  <h4 class="mtb0px fw_400 fs_15px lh_130p fc_ffffff tcenter underline">
                    Go to my dashboard
                  </h4>
                </a>
              </div>
            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->
