<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<!-- page content -->
<div class="right_col ml0 purple_blue_w9" role="main">
  <!-- Class -->  
  <div class="cw100p cabsolute">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel cxpanel center_flex dflexblock">                        
          <div class="x_content c_white fwunset tcenter">
            <form>
              <!-- <h5 class="txt4 justified_center"> -->
              <h5 class="txt1">
                Program Features 

                </h5>
              <div class="clearfix"></div>

              <!-- multistep wizard -->
              <div id="svg_wrap"></div>

              <section>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt44 tleft">
                      8.     Wisdom Points
                    </h4>

                    <h4 class="txt45 tleft">
                    
                    

                      As you go through the program you accumulate wisdom points which can be exchanged for features and services.
                      
                      
                      
                     </h4>
                  </div>
                </div>
              </section>

              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              <section></section>
              
                           

              <!-- /multistep wizard -->       


              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                 
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>

