<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Welcome to this session where we will explore the painful subject of the break up of our friendships,and how we can approach that with intelligence. Despite our best intentions people are going to come and go in our lives.We need to learn how to manage that process peacefully. With some care, and wisdom, much of the heartache that follows can be avoided, and even though it is still painful.It can be the foundation for new beginnings.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>