<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>
 
<app-kta-prevnext>
  <form class="">

    <h1 class="txt3">
      Understanding the relationship between pleasure and happiness allows us to live with wisdom, so it has its rightful place in our lives
    </h1>
    
  </form>  
</app-kta-prevnext>
 
<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
	
