.m-b-20 {
    margin-bottom: 10px;
}


.m-t-20 {
    margin-top: 10px;
}

.hprogressdiv {
    position: relative;
    top: 80px;
    right: 0;
    left: 0;
    margin: auto; 
    z-index: 0;  
}