.m-b-20 {
    margin-bottom: 10px;
}


.m-t-20 {
    margin-top: 10px;
}

.hprogressdiv {
   bottom: -3px !important;
    z-index: 9999 !important;  
}


.select_box
{
      height: auto !important;
       padding: 16px 2rem !important;  
}

// .select_box:hover {
//    background: #FFD889 !important;
//   color: #000000 !important;
// }

.txt9
{
    font-weight: 500 !important;
    line-height: 32px !important;
}

.box_new_v3_03 {
  background: none !important;
  width: 100%;
}

.section-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}