<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      By exploring the many unconscious ways our conditioning impacts our life, we could learn to question our conditioning and our attachment to it, and be able to respond with wisdom.
    </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>