<!-- top navigation -->
<div class="top_nav ml0 ctopnav">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding tn_story_submit nav_menu_01">
   
    <nav class="flex_ai">          
      <ul class="nav navbar-nav navbar-right cnav navleft w20p no_bg">
        <li class="">
          <a routerLink="/forum/forum-landing/" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false">                          
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/ws_back_white.svg" alt="" class="p0">
          </a>                  
        </li>        
      </ul>

      <ul class="nav navbar-nav navbar-right cnav navcenter w60p nbg_white">          
        <li class="mr0px">
          <a  class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                       
            <h6 class="txt88">
              New Thread
            </h6>            
          </a>                  
        </li>
      </ul>

      <!-- <ul class="nav navbar-nav navbar-right cnav w20p no_bg">       
        <li class="mr0px">
          <a (click)="addToken()" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                       
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_white.svg" alt="" class="p0">
          </a>
          
          <ul class="dropdown-menu dropdown-usermenu pull-right course_ul">
            <li>
              <div *ngIf="socialShare" class="center_flex_li">
                <share-buttons 
                [include]="['whatsapp','facebook','linkedin']"
                [url]="path">      
                </share-buttons>      
              </div>
            </li>  
          </ul>
          
        </li>   
      </ul> -->
    </nav>    
    
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col pt_rightcol" role="main">				
  <!-- Class -->
  <div class="cw100p dabsolute_09">    

    <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 h100p ">
          <div class="x_panel xpanel_01 p0">
            <div class="x_content p0px_b">
              <form> 

                <div class="row forum_pt20px">
                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                    <!-- <div class="col-md-2 col-sm-2 col-xs-2 p0">
                      <img src="{{'data:image/jpg;base64,' + userinfo.userimage}}" *ngIf="userinfo.userimage" alt="" class="w100 fimg_02">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/forum_09.svg" *ngIf="!userinfo.userimage"  alt="" class="p0">
                    </div> -->
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <h4 class="txt114 mtb0px">
                        {{userinfo.username}}
                      </h4>                      
                    </div>                     
                  </div>
                </div>

                <!-- <div class="row forum_pt20px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="">
                      <h4 class="txt138 mtb0px">
                        + Add category (min. 1)
                      </h4>
                    </a>
                  </div>
                </div>                 -->

                <div class="row forum_pt20px">
                  <div class="col-md-12 col-sm-12 col-xs-12 prelative">
                    <div class="placeholder_odiv">
                      <h4 class="txt136">
                        Start a new thread
                      </h4>
                    </div>
                    <textarea type="text" id="comment" name="thread" [(ngModel)]="thread" required="required" class="placeholder_idiv" placeholder="" maxlength="256"></textarea>
                    <div class="placeholder_noc">
                      <h4 class="txt137">
                        {{thread.length}}/256
                      </h4>
                    </div>                    
                  </div>
                  <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" required="required" class="input_file" placeholder="Add image / audio / video / file">
                  </div> -->
                </div>

                <div class="row forum_pt20px">                  
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-warning btn_fw_post w100" (click)="post()">                      
                      Post
                    </button>  
                  </div>
                </div>

                <div class="pagebreak"></div>

              </form>              
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->