<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
<app-kta-prevnext [bg]="bg">
  
  <form class="">

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      Understanding these hidden patterns of thinking can help us cope better with loss.
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      01. Our emotional needs are not met
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      02. Our fear of the future
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      03. Our loss of identity
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      04. Loneliness
    </h1>
      
  </form> 
         
</app-kta-prevnext>
 
<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>