<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>               

    <h1 class="txt1">
      Give your heart to finding out why you are not at peace with yourself. That understanding can make you comfortable being who you are. You will then hold in your hand a precious jewel, more valuable than money and fame.

   </h1>

  </form>
</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="goNext()" (previousEmitter)="prev()"></app-course-footer>
