<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      <b>Diversity </b>
      refers to political beliefs, race, culture, sexual orientation, religion, class, and/or gender identity differences. It also refers to people with different opinions. In the workplace, diversity means your staff consists of individuals who bring new perspectives and backgrounds to the organization                 
    </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>