<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu">
      <nav>          
          <ul class="nav navbar-nav navbar-right cnav">
              <li class="">                    
                  <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/header/close.png" alt="">                      
                  </a>                  
              </li>
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->  
