<app-transcript-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            The first circle of wisdom is to nurture a quiet mind and we have 5 different techniques to share with you. A quiet mind allows us to be more sensitive to the thoughts and feelings we have and is an important part of this program. Try and do at least 1 of these exercises for 10 minutes every day so it becomes as regular a part of your day as brushing your teeth. You don’t have to sit in a quiet room for most of them, you can do them anywhere through the day. They are also a great way to deal with acute emotions we all feel like stress, anxiety, and anger. In the next screen we describe each of the modules we are going to explore in this section. You can click on any one to find out more
          </p>
        </h3>                
      </div>
    </div>    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>