<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      The more emotional needs we have, which we expect others to meet,
the more reasons there could be for being disappointed and unhappy.


      
      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
                     
   
