<!-- top navigation -->
<div class="bg_monte_carlo nav_search col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="" routerLink="/adults/adult-dashboard">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_01.svg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h4 class="txt210 mtb0px">
          Wisdom Shorts
        </h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <a class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_white_02.svg" alt="" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row center_flex">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group has-feedback p0 zi0 div_search">
    <input type="search" class="form-control has-feedback-left h60px searchtxt_02" id="searchtxt_02" placeholder="Search Videos">
    <span class="form-control-feedback left sfeedback" aria-hidden="true">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/magnifying_glass_01.svg" alt="" class="">
    </span>
  </div>
</div>
<!-- /top navigation --> 

<!-- content  -->
<div class="plr10px">
  <div class="row center_flex shorts_desc">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt225">
        Explore these short videos which offer a nugget of wisdom to reflect on. Carry that thought with you through the day and see how you can apply it in your life.
      </h4>
    </div>
  </div>

  <div class="row center_flex mlr-10px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s01">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_01.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Access your own wisdom
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  2:22 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s02">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_02.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Being grateful
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  1:59 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s03">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_03.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Being kind
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  1:13 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s04">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_04.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Being successful
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  3:40 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s05">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_05.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Introduction to HumanWisdom
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  1:02 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s06">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_05.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Overcoming anxiety
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  1:02 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/wisdom-shorts/wisdom-shorts-s07">
        <div class="row box_01 bg_gallery p0">
          <div class="col-md-2 col-sm-3 col-xs-3 p0 landing_tile">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_shorts/wisdom_shorts_05.svg" alt="" class="p0">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc_video.svg" alt="" class="p0 absolute_center_lt_video">
          </div>        

          <div class="col-md-10 col-sm-9 col-xs-9 p10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
              <div class="col-md-10 col-sm-10 col-xs-10 p0">                    
                <h4 class="txt226 mtb0px">
                  Overcoming stress
                </h4>    
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p0">   
                <h4 class="txt119 mtb0px">
                  1:02 min
                </h4>    
              </div>
            </div>   
          </div>                        
        </div>
      </a> 
      <!-- /video row -->
    </div>
  </div>

  <div class="pagebreak"></div>
</div>
<!-- /content  -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->