<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>
 
 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">      
      We are programmed by our conditioning to chase wealth and fame. No matter how successful we become, peace eludes us, unless we make that inner journey of discovery.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 
 
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
                     
   
