<app-transcript-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [audioPage]="audioPage"></app-transcript-header>
 
<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            Welcome to this module on fear and anxiety. It is part of the 4th circle of wisdom, or Understanding our emotions. It influences every aspect of our life and is connected to every other circle.  It is such a core human feeling and impacts our lives in many ways, some of which we are not aware of. The one thing we all want is to be happy, and if we are anxious, we cannot be happy. We are going to explore the many ways fear affects our lives, the mechanisms in our thinking that give rise to it, and how we can respond to it with intelligence, so it has its rightful place in our lives, and we can live with freedom.
          </p>          
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>
 
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>

