<app-audio-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [transcriptPage]="transcriptPage"></app-audio-header>

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01" [ngClass]="bg">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form class="">
              <h1 class="txt1 tcenter pb0px mb0px">
                The body and I
              </h1>

              <!-- angular audio player plugin  -->
              <div class="row tcenter">
                <div class="col-md-12 col-sm-12 col-xs-12 p7rem">
                  <audio id="aud2" controls controlsList="nodownload noplaybackrate" #audio>
                    <source [src]="audioLink" type="audio/mpeg">
                  </audio>
                  <!-- <ngx-circular-player id="aud2" radius="90" [strokeColor]="yellow" [source]="audioLink" (click)="getTime()" #audio ></ngx-circular-player> -->
                </div>
              </div>
              <!-- /angular audio player plugin -->

              <div class="prelative">
                <div class="row ia_below_content">
                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/inward_arrow_short.svg" class="img-responsive inward_arrow">
                  </div>
                </div>

                <div class="center_flex">
                  <div class="">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-6 center_flex">
                          <div class="noi_body">
                            <h4 class="fw_700 fs_16px lh_19px fc_000000 tcenter">
                              THE BODY
                            </h4>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 noi_right center_flex">
                          <div class="noi_i">
                            <h4 class="fw_700 fs_16px lh_19px fc_000000 tcenter">
                              THE ‘I’
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row pt5px">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-6 noi_left">
                          <div class="prelative">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/coach/white_man_02.png" class="img-responsive img_man">
                            <h6 class="noi_left_right_txt">
                              The physical body needs the right food, in the right quantity, to be healthy
                            </h6>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 noi_right">
                          <div class="prelative">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/coach/yellow_man_02.png" class="img-responsive img_man">
                            <h6 class="noi_left_right_txt">
                              We also use food to fulfill our psychological needs and this can make us overeat.
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row pt15px">
                      <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/inward_arrow_long.svg" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="pagebreak"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
