// Minimal SCSS based on wisdom-shorts
.mc_01_v3_ext {
    padding-top: 0px !important;
}

.bg_stake {
    background: #254170 !important;
}

.fc_ffffff_0_5 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.wsread-icon {
    width: 20px;
    height: 20px;
}

.title_content {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.toc_adiv_02 {
    .row {
        margin-bottom: 20px;
        cursor: pointer;
    }
}
