<!-- top navigation -->
<div class="top_nav ml0 ctopnav">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding tn_story_submit">
   
    <nav class="flex_ai">          
      <ul class="nav navbar-nav navbar-right cnav navleft w20p no_bg">
        <li class="">
          <a class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false">                          
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/ws_back_white.svg" alt="" class="p0">
          </a>                  
        </li>        
      </ul>

      <ul class="nav navbar-nav navbar-right cnav navcenter w60p nbg_white">          
        <li class="mr0px">
          <a  class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                       
            <h6 class="txt88">
              New Thread
            </h6>            
          </a>                  
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right cnav w20p no_bg">       
        <li class="mr0px">
          <a class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                       
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/settings_white.svg" alt="" class="p0">
          </a>
          <!-- dropdown content -->
          <ul class="dropdown-menu dropdown-usermenu pull-right course_ul">
            <li>
              <!-- <div *ngIf="socialShare" class="center_flex_li">
                <share-buttons 
                [include]="['whatsapp','facebook','linkedin']"
                [url]="path">      
                </share-buttons>      
              </div> -->
            </li>  
          </ul>
          <!-- /dropdown content -->          
        </li>   
      </ul>
    </nav>    
    
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col ml0 pt_rightcol bg_user_profile" role="main">				
  <!-- Class -->
  <div class="cw100p">    

    <div class="row drow center_flex">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 p0">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form> 

                <div class="row forum_pt20px">
                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <div class="opaque_border_outer">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/profile_default.svg" alt="" class="p0 opaque_border_inner">
                    </div>                      
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                    <h4 class="tcenter txt139 mtb0px pt20px">
                      Hellen Boothman
                    </h4>

                    <h6 class="tcenter txt140 mtb0px mt5px mb0pxi">
                      hellen.boothman@gmail.com  |  USA
                    </h6>

                    <a class="">
                      <h6 class="tcenter txt141 mtb0px pt20px">
                        Edit Profile
                      </h6>
                    </a>
                </div>
                </div>

                <div class="row mt30px profile_div">
                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai forum_pt20px">
                    <div class="col-md-2 col-sm-2 col-xs-3 prelative tcenter">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/wisdom_points_circle_03.svg" alt="" class="p0">
                      <h6 class="txt66 absolute_01">
                        27
                      </h6>
                    </div>
                    <div class="col-md-6 col-sm-5 col-xs-4 p0">
                      <h4 class="txt142">
                        Wisdom Points
                      </h4> 
                    </div>
                    <div class="col-md-6 col-sm-5 col-xs-5 tright">
                      <a>
                        <h4 class="txt60">
                          <span class="pr5px">
                            Redeem Now
                          </span>                        
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                        </h4>       
                      </a>                      
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt143 tleft mtb0px">
                        Overall Progress
                      </h4> 
                    </div>
                  </div>
                    
                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai pt10px_01">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="progress prelative profile_progress">                      
                        <div class="progress-bar prelative profile_pb" style="width: 50%;"></div>
                        <h6 class="absolute_02 txt144">
                          50%
                        </h6>
                      </div>
                    </div> 
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <h6 class="txt143 mtb0px">
                        16
                      </h6>
                      <h6 class="txt145 mtb0px">
                        Modules
                      </h6>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <h6 class="txt143 mtb0px">
                        12
                      </h6>
                      <h6 class="txt145 mtb0px">
                        Notes
                      </h6>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <h6 class="txt143 mtb0px">
                        4
                      </h6>
                      <h6 class="txt145 mtb0px">
                        Surveys
                      </h6>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4 class="txt143">
                        Wisdom Survey Score
                      </h4> 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 tright">
                      <a>
                        <h4 class="txt60">
                          <span class="pr5px">
                            Insights
                          </span>                        
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                        </h4>    
                      </a>                         
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                    <div class="col-md-2 col-sm-2 col-xs-3">
                      <h4 class="txt146">
                        74%
                      </h4> 
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 p0 tleft">
                      <h4 class="txt145">
                        12% up since last survey
                      </h4>       
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" class="btn btn-warning w100 btn_tws">
                        Take the Wisdom Survey
                      </button>  
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt145">
                        Fill the wisdom survey once a week and track your wisdom progress
                      </h4> 
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt143">
                        This week
                      </h4> 
                    </div>                    
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                      <button type="submit" class="btn btn-warning btn-round btn_tw_01">
                        S
                      </button> 
                      <button type="submit" class="btn btn-warning btn-round btn_tw_02">
                        M
                      </button> 
                      <button type="submit" class="btn btn-warning btn-round btn_tw_01">
                        T
                      </button> 
                      <button type="submit" class="btn btn-warning btn-round btn_tw_01">
                        W
                      </button> 
                      <button type="submit" class="btn btn-warning btn-round btn_tw_02">
                        T
                      </button> 
                      <button type="submit" class="btn btn-warning btn-round btn_tw_03">
                        F
                      </button> 
                      <button type="submit" class="btn btn-warning btn-round btn_tw_03 mr0px">
                        S
                      </button>  
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 pt16px">
                    <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <h6 class="txt143 mtb0px">
                        4 hours
                      </h6>
                      <h6 class="txt145 mtb0px">
                        This week
                      </h6>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <h6 class="txt143 mtb0px">
                        2 days
                      </h6>
                      <h6 class="txt145 mtb0px">
                        Streak
                      </h6>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 tcenter">
                      <h6 class="txt143 mtb0px">
                        72 hours
                      </h6>
                      <h6 class="txt145 mtb0px">
                        Total usage
                      </h6>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="txt143 mtb0px">
                          Payment Details
                        </h4> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 tright">
                        <a>
                          <h4 class="txt60 mtb0px">
                            <span class="pr5px">
                              Update
                            </span>                        
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                          </h4>       
                        </a>                        
                      </div>
                      
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt147 mt5b0px">
                        Mastercard 42xx xxxx xxxx xx91
                      </h4> 
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="txt143 mtb0px">
                          Subscriptions
                        </h4> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 tright">
                        <a>
                          <h4 class="txt60 mtb0px">
                            <span class="pr5px">
                              Details
                            </span>                        
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                          </h4>       
                        </a>                        
                      </div>
                      
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt147 mt5b0px">
                        Adult: A47291048D
                      </h4> 
                    </div>
                  </div>
                  
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="txt143 mtb0px">
                          Certificates
                        </h4> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 tright">
                        <a>
                          <h4 class="txt148 mtb0px">
                            <span class="pr5px">
                              Details
                            </span>                        
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                          </h4>       
                        </a>                        
                      </div>
                      
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt147 mt5b0px">
                        No certificates earned yet
                      </h4> 
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="txt143 mtb0px">
                          Invite Friends
                        </h4> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 tright">
                        <a>
                          <h4 class="txt60 mtb0px">
                            <span class="pr5px">
                              Share
                            </span>                        
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                          </h4>       
                        </a>                        
                      </div>
                      
                    </div>
                    <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt147 mt5b0px">
                        No certificates earned yet
                      </h4> 
                    </div> -->
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_style_4">
                  </div>

                  <!-- affiliate -->
                  <div class="col-md-12 col-sm-12 col-xs-12 pb5rem">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4 class="txt143 mtb0px">
                          Reports
                        </h4> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 tright">
                        <a>
                          <h4 class="txt60 mtb0px">
                            <span class="pr5px">
                              Details
                            </span>                        
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/angle_right_blue.svg" alt="" class="p0">
                          </h4>       
                        </a>                        
                      </div>
                      
                    </div>                    
                  </div>
                  <!-- /affiliate -->

                </div>                

                <div class="pagebreak"></div>

              </form>              
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<!-- <div class="sidebar-footer prelative"> -->
  <div class="sidebar-footer ifooter">  
    <div class="row center_flex">
      <div class="col-md-6 col-sm-12 col-xs-12 center_flex">
        
        <a class="footer_index">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/home.svg" alt="">
           <!-- <img  src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/home_active.svg" alt="">  -->
          <p class="mb0px">
            Home
          </p>
        </a>
      
        <a class="footer_index">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/search.svg" alt="">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/search_active.svg" alt=""> -->
          <p class="mb0px">
            Search
          </p>
        </a>
      
        <a class="footer_index">        
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/journal.svg" alt="">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/journal_active.svg" alt=""> -->
          <p class="mb0px">
            Journal
          </p>
        </a>
      
        <a class="footer_index"> 
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/forum.svg" alt="">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/forum_active.svg" alt=""> -->
          <p class="mb0px">
            Forum
          </p>
        </a>
  
        <a class="footer_index"> 
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/profile_01_b.svg" alt="" class="mw34px">
          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/more_active.svg" alt=""> -->
          <p class="mb0px">
            Profile
          </p>
        </a>
  
      </div>
    </div>  
  </div>
  <!-- /footer -->