<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      We usually eat more than we need. Listening to our body signals requires great sensitivity, a quiet mind and a vibrant inner intelligence.



      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
