<app-toc-header [moduleName]="'career success'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="txt_comparison">
          
        </h4>
      </div>
    </div>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">                    
        <a [routerLink]="['/teenagers/career-success', pgResume]" *ngIf="lastvisited">
          <button type="button" class="btn mb0 btn_begin_here" data-dismiss="modal">Continue where you left</button>
        </a>
      </div>
    </div> 

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">
      <a routerLink="/teenagers/career-success/s160002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #1
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Choosing your future
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/career-success/s160042">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #2
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Factors which influence your choice of career

              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
             
              </h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/career-success/s160078">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #3
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Developing life skills - Part 1

              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/career-success/s160115">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #4
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Developing life skills - Part 2

              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                16:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <!-- video row -->
      <a routerLink="/teenagers/career-success/s160149">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/160_1.webp" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #5
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Choosing a career
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                 
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/teenagers/career-success/s160153">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/160_2.webp" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #6
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  What is a successful career

                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                 
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

            <!-- video row -->
            <a routerLink="/teenagers/career-success/s160157">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
                    <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/160_3.webp" alt="" class="p0 session_img">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
                    </div>
        
                    <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                      <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                        Session #7
                      </h4>
                      <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                        What gets in the way of thinking clearly
     
                      </h4>
                      <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                       
                      </h4>
                    </div>
                    
                  </div>
        
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
                    <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
                  </div>
      
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
                    <!-- lock -->
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
                    <!-- /lock -->
                  </div>
                </div>
              </div>
            </a>
            <!-- /video row -->

       <!-- video row -->
      <a routerLink="/teenagers/career-success/s160161">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/160_4.webp" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #8
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Life skills you need for work
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                 
                </h4>
              </div>
              
            </div>
  
         
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>
      <!-- /video row -->

             <!-- video row -->
             <a routerLink="/teenagers/career-success/s160165">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
                    <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/160_5.webp" alt="" class="p0 session_img">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
                    </div>
        
                    <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                      <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                        Session #9
                      </h4>
                      <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                        Having multiple careers
                      </h4>
                      <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                       
                      </h4>
                    </div>
                    
                  </div>
        
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
                    <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
                  </div>
      
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
                    <!-- lock -->
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
                    <!-- /lock -->
                  </div>
                </div>
              </div>
            </a>
            <!-- /video row -->

    </div>

    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories" *ngIf="stories.length !== 0"></app-related-wisdom-stories-tiles>

  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>