<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>
<app-oneline-text [bg]="bg">
  <form>
    <h1 class="txt8 fw_500 oneliner_txt_title">
      What are the benefits of exploring our opinions and beliefs?


    </h1>
    <div class="clearfix"></div>

    <!-- <h3 class="txt8">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/emoticons/sad.png" alt="">
    </h3> -->

    <h3 class="txt8 oneliner_txt_pointer">
      01. We can understand others better
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      02. Build bridges instead of walls 



    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      03. Communicate better


    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      04. Have better relationships
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      05. Ease conflict with those who are different

    </h3>

    

  </form>          
</app-oneline-text>
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>s