.btn_begin_here {
    background: #ED7D6F !important;
    color: #ffffff;
    height: 40px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: none;
    line-height: 22px;
    margin: 0;
  &:hover {
    background: lighten(#ED7D6F, 5%);
  }
  
  &:focus {
    outline: none;
  }
}
.session_img {
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.25); */
    height: 110px;
    object-fit: cover;
    object-position: 10% 25%;
}
.title_content {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #000;
  margin-top: 0px;
}

.clickable {
  cursor: pointer;

  .fa {
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }
}
