<app-toc-header [moduleName]="'Breathing Exercises'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="txt_comparison">
          Follow Olivia Preye as she demonstrates some simple breathing exercises.They can  calm your mind, and are an anchor to prevent you getting lost in the sea of your thoughts and feelings
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">                    
        <a [routerLink]="['/adults/breathing', breathingR]" *ngIf="lastvisited">
          <button type="button" class="btn mb0 btn_begin_here" data-dismiss="modal">Continue where you left</button>
        </a>
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">

      <!-- video row -->
      <a routerLink="/adults/breathing/s29002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_01.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #1
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Introduction
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  02:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/breathing/s29003">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_02.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #2
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Notice the Temperature
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  02:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/breathing/s29004">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_03.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #3
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Smooth, Slow Exhale
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  02:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/breathing/s29005">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_04.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #4
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Alternate Nostril Breathing
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  05:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/breathing/s29006">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_05.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #5
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Humming Bee
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  03:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/breathing/s29007">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_06.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #6
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Hand on Chest & Abdomen
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  02:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/breathing/s29008">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/breathing_exercises_07.png" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Exercise #7
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Balancing
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  02:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->
    </div>

    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>
    
  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>