<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Our brain automates many functions for us so that we can do them without thinking too much, like driving home from work or brushing our teeth. That is efficient. About 40% of our daily actions are based on habit. Some habits are based on a trigger and response, with a reward at the end - for example, You see an advertisement, which is the trigger, the response is you go shopping and the reward is the pleasure you get from buying something.
          <br> Habits can be hard to break because the neural pathways in the brain change to automate the habit. That is why it's best not to let bad habits take root in our thinking, for example checking the phone regularly. It follows that to change a habit we need to remove the triggers that kick it off - so putting the phone out of sight for example.
          </p> 
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>