<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">
  <form class="">

    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      To develop a healthy relationship with ourselves we need a vibrant self-awareness and an understanding of the many hidden patterns of thinking that can come in the way.  This allows us to live in harmony with who we are and look after ourselves.
    </h1>

    <div class="clearfix"></div>

  </form>  
</app-kta-prevnext>

<!-- <app-kta-footer [bg_cft]="bg_cft" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>