<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Exercising power gives us a certain thrill. It’s the animal instinct in us - and served us well when we were hunter gatherers, but perhaps not in the modern day, and not when it makes us seek that thrill in dominating others.
          </p>

          <p>
            The human mind is constantly seeking pleasure as a balm for its own inner emptiness and restlessness. We can get that from buying things, from our achievements and also from bullying others and exercising our power over them.
          </p>

          <p>
            The history of mankind and all the wars we have fought are a testament to this - the strong bullying the weak into submission - just because they can - and they always find a way of justifying it to themselves.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>