<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          When we have a physical pain in the body, it is a way of calling our attention to a problem. A toothache is calling your attention to a problem with your tooth. You would not just ignore it because you know it will get worse. Why is it then that when we feel this pain of emptiness inside use, our first instinct is to escape from it ? This inner pain is also a way of calling our attention to something within us that needs addressing. Instead of escaping, we need to walk towards it, examine it, see what the problem is and what we can do about it. No one else can do this for us. We need to do it ourselves. Just meeting it without language, and with a depth of understanding of what is behind it, leads to its dissolution. You could say this is true of all psychological pain. It demands we travel inwards to understand the root cause of it. That leads to freedom.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>