<!-- top navigation -->
<!-- <div class="top_nav ml0 tcenter inav">
  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/loneliness.jpg" alt="" class="img-responsive iw100">
  <div class="nav_menu absolute_top p20px">
      <nav>          
          <ul class="nav navbar-nav navbar_left cnav inavbar flex_align">
            <li class="">                    
                <a (click)="goBack()" class="cuser-profile dropdown-toggle c_silver_chalice " data-toggle="dropdown" aria-expanded="false">                        
                  <h4 class="btn_back_white">
                    Back
                  </h4> 
                </a>                  
            </li>   
            
            <li class="lishare">                    
              <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                        
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_white.svg" alt="" class="p0">
              </a>                  
            </li>
          </ul>
      </nav>
  </div>
</div> -->
<!-- /top navigation -->
<app-toc-header  [moduleName]="'Loneliness'"[tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                
   

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt_comparison">
          Loneliness is an integral part of being human. It can impact our mental and physical health
          And shapes our lives in many ways we are not aware of. Exploring it in depth allows us to meet it with intelligence and wisdom, and discover the origins of it in our thinking.
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">                    
        <a [routerLink]="['/adults/loneliness', lonelinessResume]" *ngIf="lastvisited">
          <button type="button" class="btn btn-success mb0 btn_begin_here bg_green_yellow" data-dismiss="modal">Continue where you left</button>
        </a>
        <!-- <a routerLink="/adults/loneliness/s61002">
          <button type="button" class="btn btn_default mb0 txt_green_yellow" data-dismiss="modal">Start from the beginning</button>
        </a> -->
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <a routerLink="/adults/loneliness/s61002">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #1
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Exploring loneliness
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              16 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>                

    <a routerLink="/adults/loneliness/s61035">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #2
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              How does loneliness affect us?
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              9 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/loneliness/s61062">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #3
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Responding to loneliness with wisdom
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              28 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>    

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>

  </form>    

</app-index-content> 

<!-- <app-bottom-navigation></app-bottom-navigation> -->
<app-index-footer></app-index-footer>