<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>
    
    <h1 class="txt1">
      <p class="mb0px fw_bold">#12 If you can meet stress without thinking, it can dissolve. </p>
      If you can meet stress without thinking, you cut off its oxygen supply and it can end. 
      <br>
      This is a skill you can learn. Explore the ‘Looking without language’ module for details.
    </h1>
    
    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>