<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Relationships can be a challenge, even with people we are close to. When thrown together with 
          a diverse group of people, the chances of friction is even higher. We do not know what challenges
           people face in their personal lives. How can we use our wisdom to have healthy relationships?
            A deeper understanding of ourselves helps us realise that the behaviour of others is driven by 
            the same unconscious drives that drive us - our conditioning, our self-interest, our fear,
             and our need for power and pleasure.  Once we see that clearly, it becomes much easier to deal
              with others. People are not aware of these drivers in themselves, and are attached to their
               opinions and beliefs. They see things from a particular point of view, and are sure they are 
               right, just like we are. This can cause friction, 
          but a deeper understanding of the underlying process can allow us to respond with wisdom
          
          

         </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>