<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Anger is a natural human emotion, and can protect us from harm, but can also harm us, hurt others, and is behind much of the violence in the world. Channeled correctly, anger can also be a driver for social change.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>
