<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">

  <form>

    <h1 class="txt2 fw_500 lengthy_txt_title">
      To be free of painful memories:
    </h1>

    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">1.
      Do not ruminate over them </p>
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">2.
      When they trigger, allow them to rise </p>
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">3.
      Focus on your breathing  </p>
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">4.
      Just watch them. Do not intervene</p>
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">5.
      Meet them without language</p>
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">6.
      They are the past, and not you now</p>
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">7.
      The pain rises, and recedes</p>
    </h3>

  </form>

</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>