<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-kta-prevnext>
  <form class="">

    <h1 class="txt3">
      These unconscious patterns of thinking,can make the mind prone to addiction:
    </h1>

    <h1 class="txt21">
      01. To escape from emotional pain
    </h1>

    <h1 class="txt21">
      02. Our need for pleasure
    </h1>

    <h1 class="txt21">
      03. Conditioning
    </h1>

    <h1 class="txt21">
      04. Our need to be occupied
    </h1>

    <h1 class="txt21">
      05. Our unmet emotional needs
    </h1>

    <h1 class="txt21">
      06. The process of comparison
    </h1>

    <h1 class="txt3">
      Understanding them deeply can help us avoid it.
    </h1>
    
  </form>  
  
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
