<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 illustration_tn">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tright">
      <a class="" routerLink="/partnership-webpage/">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_grey.svg" alt="" class="p0"/>
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_light_gray">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt311">
                          If each partner manages to introduce just 10 subscribers a year, and 3 other partners, and all 7 levels are active, your annual income would be £19,456, assuming that the app sells for £40 each (net of any discounts).
                        </h4>
    
                        <h4 class="txt311">
                          This spreadsheet shows your projected income. 
                        </h4>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt332 bold italic">
                          Assumptions:
                        </h4>
    
                        <h4 class="txt332 italic">
                          Each person sells 10 subscriptions/year and introduces 3 partners;
                        </h4>
    
                        <h4 class="txt332 italic">
                          Each subscription sells for £40, net of discounts
                        </h4>
                      </div>
                    </div>
    
                    <div class="row mtb20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/diagram/partnership/illustration.svg" alt="" class="img-responsive w100">
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt332 italic">
                          The above content is for illustration purposes only. Your income is not guaranteed.
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="pagebreak"></div>

              </form>                         
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->