/* General resets */
h1,
p {
  color: rgb(116, 49, 11);
}

/* Loader */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Background colors */
.bg_black {
  background-color: #000 !important;
}
.bg_white {
  background-color: #fff !important;
}
.bg_183c79 {
  background-color: #183c79 !important;
}

/* Video container */
.video-slider-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.video-width {
  width: -webkit-fill-available !important;
}
.video-wrapper {
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}
.video {
  width: 32rem;
  margin-left: 7.5rem;
}

/* Swipe Up animation */
.swipe-up-alt {
  position: relative;
  width: 64px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chevron {
  width: 20px;
  height: 20px;
  transform: rotate(134deg);
  opacity: 1;
  animation: fadeInOut 1.5s infinite;
  margin-left: 20px;
}

.text {
  font-size: 14px;
  margin-top: 8px;
  opacity: 0.5;
  animation: fadeInOut 1.5s infinite;
}

/* Adult (black on white) */
.black-theme .text {
  color: #000 !important;
  opacity: 0.8;
}
.black-theme .chevron {
  border-left: 3px solid #000 !important;
  border-bottom: 3px solid #000 !important;
}

/* Teen (white on dark) */
.white-theme .text {
  color: #fff !important;
}
.white-theme .chevron {
  border-left: 3px solid #fff !important;
  border-bottom: 3px solid #fff !important;
}

/* Animations */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

/* Video controls */
video::-webkit-media-controls-volume-slider {
  display: none !important;
}
video::-webkit-media-controls-mute-button {
  display: none !important;
}
video::-internal-media-controls-overflow-button {
  display: none !important;
}

/* Title */
.fc_000000 {
  color: #000 !important;
}

/* Inverted controls for dark mode */
.invert-controls::-webkit-media-controls {
  filter: invert(1) hue-rotate(180deg);
  transition: filter 0.3s ease;
}
video.cvideo_01.invert-controls {
  background-color: #fff;
}

.black-theme .chevron {
  border-left: 3px solid #000 !important;
  border-bottom: 3px solid #000 !important;
  transform: rotate(134deg);
  animation: fadeInOut 1.5s infinite;
  opacity: 1;
}