.swipe {
  background-color: #76b490;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  height: 500px;
  text-align: center;
  overflow: auto;
  color: rgb(78, 22, 131);
  user-select: none;
}

h1,
p {
  color: rgb(116, 49, 11);
}

.video-container {
  margin-top: 20px;
}

.video-title {
  color: rgb(78, 22, 131);
}
