  <div id="mlb2-5755373" class="ml-subscribe-form ml-subscribe-form-5755373">
      <div class="ml-vertical-align-center">
          <div class="subscribe-form ml-block-success" style="display:none">
              <div class="form-section">
                  <p>Thank you! You will receive an email to this address to confirm your subscription .</p>
              </div>
          </div>
          <form [formGroup]="newsletterForm" class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/v8a6h0" data-id="515169" data-code="v8a6h0" method="POST" target="_blank">
              <div class="subscribe-form">
                  <div class="form-section">
                    <strong  *ngIf="email.invalid && email.touched" >Error! Please enter a vaid email</strong>
                      <div class="form-group ml-field-name">
                          <input type="text"   name="fields[name]"  class="form-control" placeholder="Your name" value="" autocomplete="name" x-autocompletetype="name" spellcheck="false" autocapitalize="off" autocorrect="off">
                      </div>
                      <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                          <input pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"  formControlName="email"  name="fields[email]"  type="email"  class="form-control" placeholder="Your e-mail address*" value="" autocomplete="email" x-autocompletetype="email" spellcheck="false" autocapitalize="off" autocorrect="off"  [(ngModel)]="newsletterForm.email"  #email="ngModel"  required>
                          
                        </div>
                      
                  </div>
                  <input type="hidden" name="ml-submit" value="1" />
                  <button type="submit" class="primary" [disabled]="email.invalid" >
                      Sign up for newsletter
                  </button>
                  <button disabled="disabled" style="display: none;" type="button" class="loading">
                      <img src="https://static.mailerlite.com/images/rolling@2x.gif" width="20" height="20" style="width: 20px; height: 20px;">
                  </button>
              </div>
          </form>
          
      </div>
  </div>
  
 