<!-- top navigation -->
<div class="bg_monte_carlo nav_search col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_search.svg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h4 class="fw_500 fs_16px lh_19px fc_ffffff tcenter mtb0px">
          Search
        </h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        
      </div>
    </div>
  </div>
</div>

<div class="row center_flex">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group has-feedback p0 zi0 div_search">
    <input type="search" class="form-control has-feedback-left h60px searchtxt_01" id="searchtxt_01" placeholder="Search HumanWisdom">
    <span class="form-control-feedback left sfeedback" aria-hidden="true">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/magnifying_glass_01.svg" alt="" class="">
    </span>
  </div>
</div>

<div class="row dsearch_result center_flex">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4 class="mtb0px fw_400 fs_12px lh_130p fc_5d5d5d">
      24 results found
    </h4>
  </div>
</div>
<!-- /top navigation --> 



<!-- footer  -->
<app-bottom-navigation [programType]="11"></app-bottom-navigation>
<!-- /footer -->