<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Empathy is active listening, withholding judgement, imagining yourself in the other’s shoes, and responding with compassion. It is the hallmark of great leaders.
      <span class="highligted_span">
        (See module on communication)
      </span>            
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
