<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="goBack()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Find answers
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="mt30px">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_18px fw_600 lh_140p fc_e58d82">
                    Why do I want something, and lose interest as soon as I get it?
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <hr class="hr_style_v3_02">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                    <p>
                      Have you noticed how we can want something badly (like a new phone), but lose interest as soon as we get it? Why? Behind that is our need for pleasure which is part of being human. 
                    </p>

                    <p class="mb0px">
                      Understanding how it shapes our lives in ways we are not aware of allows us to make better choices, consume less, avoid addiction, and lead healthier lives.
                    </p>
                  </h4>
                </div>
              </div>

              <div class="div_fa mt30px">
                <a routerLink="/adults/pleasure">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_v3_08 center_flex">
                      
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p0">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/20.png" class="img-responsive w100">
                      </div>
      
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pl20px pr0px">
                        <h4 class="mt0px mb5px fs_12px fw_500 lh_130p fc_e58d82">
                          Manage your emotions
                        </h4>
                        <h4 class="mt0px mb5px fs_18px fw_500 lh_130p fc_ffffff ellipsis">
                          Pleasure
                        </h4>
                        <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                          4 sessions
                        </h4>
                      </div>
      
                    </div>
                  </div>
                </a>
              </div>

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->