<app-transcript-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            Fear of not being famous, wealthy, or being valued by others can drive ambition with all its ruthless pursuit of wealth, power and status, and decades can pass in that pursuit. At the end of that journey we may realize our hearts are still empty, and the promised pot of gold at the end of the rainbow was an illusion created by our own thinking. The joys of life are to be found every day,but we can overlook them, as our gaze is fixed on the horizon. Perhaps we could consider enjoying the journey of life as much as the destination, which may be very different to what we imagined anyway
             </p>          
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>





