.sc_01 {
  min-height: 100vh !important;
  padding: 0px 20px 30px;
}
.fc_000000_0_5{
  color: rgba(0, 0, 0, 0.5);

}
.tn_title_back{
   box-shadow: none;
}
.header-section {
  text-align: center;
  margin-bottom: 25px;

  h1 {
    font-size: 21px;
    font-weight: 500;
  }
  
  p {
    font-size: 15px;
  }
}

.cards-container {
  margin-bottom: 40px;
}

.loading-wrapper, .no-data {
  padding: 40px 0;
  font-size: 16px;
  opacity: 0.7;
}

.ws-read-icon {
  bottom: 40px;
}

.bottom-actions {
  margin-top: 35px;
  margin-bottom: 25px;
}

.skip-link {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}
.session_img_play{
  right: 14px;
}
.continue-btn {
    background: linear-gradient(180deg, #ED7D6F 0%, #D7586B 100%);
box-shadow: 1px 1px 2px 0px #00000040;
height: 40px;
opacity: 1;
border-radius: 20px;
padding-right: 30px;
padding-left: 30px;

    border: none;

  .arrow-icon {
opacity: 1;

  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
