<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            You could divide up the process of insight into 3 stages, just to explain it.
            The first stage is when we look back at what has just happened and have an insight into the process of thinking behind it.
          </p>
          <p>
            Let’s look at an example - just the other day, I got into an argument with someone about politics. My insight was that we were both attached to our point of view, which came from our particular conditioning influences. I see the futility of that now.
          </p>          
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>