<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Welcome to the comparison module. It is part of the 3rd circle of wisdom, or how the mind works, and influences every part of our life. It is connected to every other circle. We are first going to understand the unconscious process of comparison, which operates in the background in all of us, look at ways that it is both essential in our life and the many problems it can cause, and explore how we can observe it without judgment and respond with wisdom. This understanding has many potential benefits, and can help us live without stress and accept ourselves as we are
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>