<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Subscribe
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56 col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <!-- annual payment -->
              <a class="">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                    <div class="row div_best_value">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_500 lh_140p fc_ffffff">
                          Best value
                        </h4>
                      </div>
                    </div>

                    <div class="div_annual">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                            Annual
                          </h4>
                        </div>
                      </div>

                      <div class="row mtb5px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_24px fw_600 lh_170p fc_ffffff">
                            ₹ 12,228.00 
                            <span class="fs_15px fw_400 lh_170p fc_ffffff_0_5">
                              (₹ 1,019.00/month)
                            </span>
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_170p fc_ffffff_0_5">
                            after 14-day trial
                          </h4>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
              <!-- /annual payment -->

              <!-- monthly payment -->
              <a class="">
                <div class="row div_monthly div_monthly_ext">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                    <div class="row mb5px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                          Monthly
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_24px fw_600 lh_170p fc_ffffff">
                          ₹ 1,499.00/
                          <span class="fs_15px fw_400 lh_170p fc_ffffff_0_5">
                            month after 7-day trial
                          </span>
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
              <!-- /monthly payment -->

              <div class="row mtb40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">

                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svertical_dots.svg" class="img-responsive">
                  </div>

                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                    <div class="row mb15px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                            Starting today
                          </h4>
                        </div>
      
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p0 tright">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                            14-day free trial
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                            Starting Jul 30, 2023
                          </h4>
                        </div>
      
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p0 tright">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                            ₹12,228.00/year
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <ul class="fs_10px fw_400 lh_150p fc_ffffff pl10px">
                    <li class="mb5px">
                      Cancel anytime in Subscriptions on the HappierMe app.
                    </li>

                    <li>
                      You won’t be charged if you cancel before Jul 30, 2023.
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <hr class="hr_style_v3_02">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                    Buying this for someone else?
                    <a class="fs_15px fw_600 lh_150p fc_e58d82">
                      Click here
                    </a>
                  </h4>
                </div>
              </div>

              <!-- popup buttons -->
              <button type="button" class="btn" data-toggle="modal" data-target="#register">
                register
              </button>

              <button type="button" class="btn" data-toggle="modal" data-target="#sign_in">
                sign in
              </button>

              <button type="button" class="btn" data-toggle="modal" data-target="#verify_email">
                verify email
              </button>
              <!-- /popup buttons -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer  -->
<div class="mfooter">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 v1_3_sfooter">
      <a>
        <button type="button" class="btn btn_tfas">
          Proceed to payment
        </button>
      </a>
    </div>
  </div>
</div>
<!-- /footer -->

<!-- register -->
<div class="modal fade in" id="register" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body">
      
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
            <h3 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
              Register
            </h3>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
            <a class="" data-dismiss="modal">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" class="p0">
            </a>
          </div>
        </div>
      </div>

      <div class="mtb30px mregister">
        <div class="row mb10px">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc fc_name" placeholder="First Name">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_user.svg" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row mb10px">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc fc_name" placeholder="Last Name">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_user.svg" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row mb10px">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc" placeholder="Email Address">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_email.svg" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row mb10px">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc" placeholder="Password">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_password.svg" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc" placeholder="Required Password">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_password.svg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div class="row mb15px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
            <hr class="hr_style_v3_05 mtb0px">
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_a0a3bd tcenter">
              Connect with
            </h4>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  p0">
            <hr class="hr_style_v3_05 mtb0px">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tleft">
            <button type="button" class="btn btn_connect_with">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/btn_apple.svg" class="">
            </button>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tcenter">
            <button type="button" class="btn btn_connect_with">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/btn_google.svg" class="">
            </button>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
            <button type="button" class="btn btn_connect_with">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/btn_facebook.svg" class="">
            </button>
          </div>
        </div>
      </div>

      <div class="row mtb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
          <a class="mtb0px fs_15px fw_400 lh_21px fc_e58d82">
            Already a registered user?
          </a>
        </div>
      </div>

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="btn" class="btn btn_ctd">
            Confirm
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /register -->

<!-- sign in -->
<div class="modal fade in" id="sign_in" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body">
      
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
            <h3 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
              Sign in
            </h3>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
            <a class="" data-dismiss="modal">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" class="p0">
            </a>
          </div>
        </div>
      </div>

      <div class="mtb30px mregister">
        <div class="row mb10px">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc" placeholder="Email">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_email.svg" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row mb10px">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc" placeholder="Password">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_password.svg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div class="row mb15px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
            <hr class="hr_style_v3_05 mtb0px">
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_a0a3bd tcenter">
              Connect with
            </h4>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  p0">
            <hr class="hr_style_v3_05 mtb0px">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tleft">
            <button type="button" class="btn btn_connect_with">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/btn_apple.svg" class="">
            </button>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tcenter">
            <button type="button" class="btn btn_connect_with">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/btn_google.svg" class="">
            </button>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
            <button type="button" class="btn btn_connect_with">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/btn_facebook.svg" class="">
            </button>
          </div>
        </div>
      </div>

      <div class="row mtb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
          <a class="mtb0px fs_15px fw_400 lh_21px fc_e58d82">
            Not a registered user?
          </a>
        </div>
      </div>

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="btn" class="btn btn_ctd">
            Submit
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /sign in -->

<!-- verify email -->
<div class="modal fade in" id="verify_email" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body">
      
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p0">
            <h3 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
              Verify email
            </h3>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
            <a class="" data-dismiss="modal">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" class="p0">
            </a>
          </div>
        </div>
      </div>

      <div class="mtb30px mregister">
        <div class="row">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc active" placeholder="Hellen.boothman@gmail.com">
            <div class="fc_img">
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/svg_email.svg" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row mtb20px">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
              A one-time password has been sent to your email address (Check your spam folder too). Please enter it below.
            </h4>
          </div>
        </div>

        <div class="row">                    
          <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
            <input type="text" id="name" class="sp_fc" placeholder="Enter OTP">
          </div>
        </div>
      </div>

      <div class="row mb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
          <a class="mtb0px fs_15px fw_400 lh_21px fc_e58d82">
            Resend verification code
          </a>
        </div>
      </div>

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="btn" class="btn btn_ctd">
            Confirm
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /verify email -->