<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>

<!-- page content -->
<div class="right_col" role="main">

    <!-- Class -->
    <div class="">
        <div class="page-title">							
        </div>

        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"> 
                <!-- details -->
                <!-- <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Welcome 
                            <i>
                                Affiliate Name
                            </i>
                        </h2>                                        
                        <ul class="nav navbar-right panel_toolbox">
                            <ul class="breadcrumb breadcrumb_01">
                                <li class=""><a href="#">Profile</a></li>
                                <li class="active"><a href="#" class="bold underline">Reports</a></li>                                
                            </ul>
                        </ul>                                        
                        <div class="clearfix"></div>
                    </div>             
                    <div class="x_content">
                        <br />
                        <form [formGroup]="affiliateParentData">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label for="age" class="control-label">Coupon Code</label>
                                        <input type="text" id="age" name="age" class="form-control" formControlName="CouponCode">
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label for="age" class="control-label">Coupon % Discount</label>
                                        <input type="text" id="age" name="age" class="form-control" formControlName="CouponPercent">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label for="patient_name" class="control-label">Percentage Commission</label>
                                        <input type="text" id="patient_name" name="patient_name" class="form-control" formControlName="PercentageSelf">														
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label for="patient_name" class="control-label">Level-1 Percentage Commission</label>
                                        <input type="text" id="patient_name" name="patient_name" class="form-control" formControlName="Percent_Child">														
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label for="patient_name" class="control-label">Level-2 Percentage Commission</label>
                                        <input type="text" id="patient_name" name="patient_name" class="form-control" formControlName="Percent_GrandChild">														
                                    </div>
                                </div>
                            </div>  
                        </form>										
                    </div>										
                </div> -->
                <!-- /details -->
                
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 flex_ai">
                                <h2 class="w100imp">Affiliate Details</h2>
                            </div>
                        </div>
                    </div>

                    <div class="x_content">                        
                        <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">											
                                
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <label class="filter_label display_initial">
                                        <input type="search" class="form-control input-sm w22" placeholder="Search by Affiliate Name" [(ngModel)]="this.searchedName" (ngModelChange)="searchFilter()">
                                    </label>

                                    <label class="filter_label display_initial">
                                        <input type="search" class="form-control input-sm w22" placeholder="Search by Coupen Code" [(ngModel)]="this.searchedCoupon" (ngModelChange)="searchFilter()">
                                    </label>

                                    <label class="filter_label display_initial">
                                        From : <input type="date" class="form-control input-sm w22" [(ngModel)]="this.searchedFromDate" (ngModelChange)="searchFilter()">
                                    </label>
                                    <label class="filter_label display_initial">
                                        To : <input type="date" class="form-control input-sm w22" [(ngModel)]="this.searchedToDate" (ngModelChange)="searchFilter()" >
                                    </label>                                                                                                                 
                                    
                                    <label class="filter_label display_initial">                                           
                                        <select id="levels" class="form-control input-sm w22 cinherit" [(ngModel)]="this.searchedPaymentStatus" (ngModelChange)="searchFilter()">
                                            <option value="">Select Payment Status</option>
                                            <option value="">All Records</option>
                                            <option value="1">Payment Done</option>
                                            <option value="0">Payment Not Yet Done</option>
                                        </select>
                                    </label>

                                    
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                                    <button type="submit" class="col-md-12 col-sm-12 col-xs-12 btn btn-success" (click)="pay()" >Pay For Selected Record Commission ₹.  {{PaymentPending}}</button>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="table-responsive">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Affiliate</th>
                                        <th>Coupen Code</th>
                                        <th>Subscriber</th>
                                        <th>Subscription Amt <br> Total: {{SubscrAmountTotal}}</th>
                                        <th>Discount Given</th>     
                                        <th>Level</th>     
                                        <th>Commission %</th>     
                                        <th>Commission Earned <br> Total: {{CommEarnedTotal}}</th>     
                                        <th><input *ngIf="allCheck == 1" type="checkbox" [(ngModel)]="isAllChecked" (change)="checkValue(0)" /> Payment Status</th>
                                        <th>Currency</th>                                                  														
                                        <!-- <th style="width: 11%;">Commands</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let affiliate of affiliates; let i = index;">
                                        <td>{{affiliate.SubscrDate}}</td>
                                        <td>{{affiliate.AffName}}</td>
                                        <td>{{affiliate.CouponCode}}</td>
                                        <td>{{affiliate.SubScrName}}</td>
                                        <td>{{affiliate.Amount}}</td>
                                        <td>{{affiliate.DiscPercent}}</td>
                                        <td>{{affiliate.Level}}</td>
                                        <td>{{affiliate.CommisionPercent}}</td>
                                        <td>{{affiliate.CommisionEarned}}</td>
                                        <td *ngIf="affiliate.CommisionPaid == 1" >{{affiliate.CommisionPaid_Date}}</td>
                                        <td *ngIf="affiliate.CommisionPaid == 0"><input type="checkbox" [(ngModel)]="affiliate.isChecked" (change)="checkValue(i)" /> Select to Paid</td>
                                        <td>{{affiliate.Currency}}</td>

                                    </tr>             
                                </tbody>


                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total: {{SubscrAmountTotal}}</td>
                                        <td></td>     
                                        <td></td>     
                                        <td></td>     
                                        <td>Total: {{CommEarnedTotal}}</td>     
                                        <td></td>
                                        <td></td>          
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Class -->
    
</div>
<!-- /page content -->
				
<app-footer></app-footer>
				
