<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        PATHWAY
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_183c79 col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="mt20px">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 pimgrow">
                  <a routerLink="/teenagers/pathway/develop-a-calm-mind">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/teenagers/assets/webp/tpathway_01_active.webp" class="img-responsive active">
                  </a>

                  <a routerLink="/teenagers/pathway/learn-to-question-yourself">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/teenagers/assets/webp/tpathway_02_inactive.webp" class="img-responsive">
                  </a>

                  <a routerLink="/teenagers/pathway/understand-how-your-mind-works">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/teenagers/assets/webp/tpathway_03_inactive.webp" class="img-responsive">
                  </a>

                  <a routerLink="/teenagers/pathway/manage-your-emotions">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/teenagers/assets/webp/tpathway_04_inactive.webp" class="img-responsive">
                  </a>

                  <a routerLink="/teenagers/pathway/succeed-in-life">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/teenagers/assets/webp/tpathway_05_inactive.webp" class="img-responsive">
                  </a>
                </div>
              </div>

              <!-- five dots -->
              <div class="row mt30px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 phbtns">
                  <a>
                    <button type="button" class="btn active"></button>
                  </a>

                  <a>
                    <button type="button" class="btn"></button>
                  </a>

                  <a>
                    <button type="button" class="btn"></button>
                  </a>

                  <a>
                    <button type="button" class="btn"></button>
                  </a>

                  <a>
                    <button type="button" class="btn"></button>
                  </a>
                </div>
              </div>
              <!-- /five dots -->

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt15px mb15px">
                  <h4 class="mtb0px fw_500 fs_24px lh_140p fc_ffffff">
                    Develop a calm mind
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                    A calm mind is able to deal better with challenges, make better decisions, and also notice what is going on inside us. The modules here explain the many different ways you can do that.
                  </h4>
                </div>
              </div>

              <!-- hr -->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <hr class="hr_style_v3_01 mtb10pxi">
                </div>
              </div>
              <!-- /hr -->

              <!-- audio player -->
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">

                  <div class="col-md-2 col-sm-2 col-xs-2 circular-player-container">
                    <ngx-circular-player
                      id="aud5"
                      strokeColor="#FFFFFF"
                      source="https://d1tenzemoxuh75.cloudfront.net/curated_dbs/audios/p_develop_a_calm_mind.mp3"
                      progressStrokeColor=rgba(229,141,130,1)>
                    </ngx-circular-player>
                  </div>

                  <div class="col-md-8 col-sm-8 col-xs-8 p0">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="fw_400 fs_12px lh_140p fc_64688e mtb0px">
                        01:23
                      </h4>
                    </div>
                  </div>

                  <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                    <a routerLink="/teenagers/pathway/develop-a-calm-mind-transcript">
                      <button class="btn flex_ai btn_pn">
                        <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/transcript_left.svg" alt="" class="img-responsive">
                      </button>
                    </a>
                  </div>

                </div>
              </div>
              <!-- /audio player -->

              <div class="row mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 msrow">

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a (click)="this.logeventservice.logEvent('click_nature')"  routerLink="/teenagers/nature">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row prelative">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/background/toc/teenagers/106.webp" class="img-responsive">
                              <div class="progress dprogress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Nature meditations
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                11 videos
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a (click)="this.logeventservice.logEvent('click_breathing')" routerLink="/teenagers/breathing">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/background/toc/teenagers/107.webp" class="img-responsive">
                              <div class="progress dprogress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Breathing exercises
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                12 exercises
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a (click)="this.logeventservice.logEvent('click_noticing-thoughts')" routerLink="/teenagers/noticing-thoughts">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/background/toc/teenagers/108.webp" class="img-responsive">
                              <div class="progress dprogress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Noticing thoughts
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a (click)="this.logeventservice.logEvent('click_meditation')" routerLink="/teenagers/meditation">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/background/toc/teenagers/109.webp" class="img-responsive">
                              <div class="progress dprogress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Meditation
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                3 sessions
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a (click)="this.logeventservice.logEvent('click_audio-meditation')"  routerLink="/teenagers/guided-meditation">
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://d1tenzemoxuh75.cloudfront.net/assets/images/background/toc/teenagers/110.webp" class="img-responsive">
                              <div class="progress dprogress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Guided audio meditation
                              </h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                28 meditations
                              </h4>
                            </div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->
