<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">
  <form>
    <h1 class="txt2 fw_500 lengthy_txt_title">
      To be free of painful memories:
    </h1>
    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">
      1. Do not ruminate over them
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      2. When they trigger, allow them to rise
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      3. Focus on your breathing
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      4. Just watch them. Do not intervene
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      5. Meet them without language
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      6. They are the past, and not you now
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      7. The pain rises, and recedes
    </h3>
  </form>
</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="goNext()" (previousEmitter)="prev()"></app-course-footer>