<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Fear is often unconscious and operates in the background. If we are talking to someone we are afraid of, that fear clouds our judgement and we may say what we think the other person wants to hear. If we are afraid of being hurt, or rejected, or looking foolish, we may be careful not to share what we really think and feel about the person. If we are anxious in an interview, we cannot communicate to our potential. If we are afraid of being told off for something we may have done, that influences our body language, and we are desperate to avoid telling the truth of what happened. Fear of being judged makes us nervous public speakers, and less effective. Observing this process in ourselves without judgement allows us to overcome this fear and respond with wisdom
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>