<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [audioPage]="audioPage" [toc]="toc"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h3 class="transcript_txt">
          <p>
            We are conditioned by our parents, the culture we grow up in, our education, our friends and family, the media, advertising, and all our experiences. In the age of social media it is so important to become more aware of how our mind is being conditioned by all the media we consume. The science of epigenetics is showing that many parts of our personality are inherited from our parents. 
          </p>
        </h3>                
      </div>
    </div>    
  </form>  
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>