<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
           Embrace a spirit of learning. To have a mind open to learning requires humility and you
            can learn from everyone, even from the lowest paid employee in your organisation.
             Never pass up an opportunity to learn. Learn not just about your organisation,
              and the world around you, but also about yourself. Learning about yourself is challenging
               at first, but it leads to wisdom, which can make you a much better leader. You actually 
               have to look and learn about yourself as thoughts and feelings arise. It's an active
                process. 
          For example, if an employee is behaving badly, wisdom allows you to pause, and wonder why that is, and find the answer to that question, rather than just react. They could be afraid, or have just had some terrible news, or be having a panic attack which they cannot help.
          
        </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>