<!-- page content -->
<div class="right_col mc_03" [class.allow-scroll]="currentSection === 5">
  <div class="cw100p" [class.allow-scroll]="currentSection === 5">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 col_cw"
        [ngClass]="isAdults ? 'div_intro' : 'v1_3_bg_splash_teens'" [class.safari-browser]="isIos"
        [class.allow-scroll]="currentSection === 5">
        <div class="x_panel p0" [class.allow-scroll]="currentSection === 5">
          <div class="x_content p0 tcenter" [class.allow-scroll]="currentSection === 5">
            <form [class.allow-scroll]="currentSection === 5">



              <!-- carousel -->
              <div class="container p0" (swipe)="onSwipe($event)" [class.allow-scroll]="currentSection === 5">
                <div id="ic_carousel" class="carousel slide"
                  [style.background-color]="currentSection < 5 ? '#FFB3A1' : 'transparent'"
                  [class.allow-scroll]="currentSection === 5">

                  <!-- Footer Navigation -->
                  <div class="carousel-footer" *ngIf="currentSection < 5">
                    <div class="footer-top">
                      <a (click)="skip()" class="skip-btn" [ngClass]="isAdults ? '' : 'fc_ffffff'"
                        *ngIf="currentSection < 4">Skip</a>
                    </div>
                    <div class="footer-bottom">
                      <button class="nav-arrow prev-arrow" (click)="back()" *ngIf="currentSection > 0"></button>
                      <div class="carousel-indicators-custom">
                        <div class="indicator-dot" *ngFor="let i of [0,1,2,3,4]" [class.active]="currentSection === i">
                        </div>
                      </div>
                      <button class="nav-arrow next-arrow" (click)="next()"
                        [style.visibility]="currentSection === 4 ? 'hidden' : 'visible'"></button>
                    </div>
                  </div>

                  <div class="carousel-inner" [class.allow-scroll]="currentSection === 5">
                    <!-- slide 1: Think better -->
                    <div class="carousel-item 0 active splash-slide" [ngStyle]="isIos ? 
                        {'opacity': currentSection==0 ? '1' : '0', 'visibility': currentSection==0 ? 'visible' : 'hidden'} : 
                        {'display': currentSection==0 ? 'block' : 'none'}"
                      [style.minHeight]="isIos ? (currentSection==0 ? '80vh' : '') : ''" [hidden]="loading">
                      <div class="img-container" [@imageFadeAnimation]="currentSection">
                        <img
                          [src]="isAdults ? 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/think_beeter.webp' : 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/think_better_teen.webp'"
                          class="img-responsive w100">
                      </div>
                      <div class="text-container" [@textAnimation]="!isIos ? (currentSection + '_' + direction) : null"
                        [@textAnimationSafari]="isIos ? (currentSection + '_' + direction) : null">
                        <h4 class="title-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">Think<br>better</h4>
                        <h4 class="desc-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                          <ng-container *ngIf="isAdults">See why you think, feel, and react <br> the way you do, so you
                            can <br> choose how you respond.</ng-container>
                          <ng-container *ngIf="!isAdults">Figure out why you think <br> and feel the way
                            you do, <br> so you can choose <br> how you respond.</ng-container>
                        </h4>
                      </div>
                    </div>

                    <!-- slide 2: Feel better -->
                    <div class="carousel-item 1 active splash-slide" [ngStyle]="isIos ? 
                        {'opacity': currentSection==1 ? '1' : '0', 'visibility': currentSection==1 ? 'visible' : 'hidden'} : 
                        {'display': currentSection==1 ? 'block' : 'none'}"
                      [style.minHeight]="isIos ? (currentSection==1 ? '80vh' : '') : ''">
                      <div class="img-container" [@imageFadeAnimation]="currentSection">
                        <img
                          [src]="isAdults ? 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/feel_better.webp' : 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/feel_better_teen.webp'"
                          class="img-responsive w100">
                      </div>
                      <div class="text-container" [@textAnimation]="!isIos ? (currentSection + '_' + direction) : null"
                        [@textAnimationSafari]="isIos ? (currentSection + '_' + direction) : null">
                        <h4 class="title-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">Feel<br>better</h4>
                        <h4 class="desc-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                          <ng-container *ngIf="isAdults">Simple exercises to <br> reduce stress, anxiety, and <br>
                            emotional overwhelm.</ng-container>
                          <ng-container *ngIf="!isAdults">Simple tools to handle stress, <br> anxiety, pressure and big
                            <br> emotions, and feel calmer.</ng-container>
                        </h4>
                      </div>
                    </div>

                    <!-- slide 3: Connect better -->
                    <div class="carousel-item 2 active splash-slide" [ngStyle]="isIos ? 
                        {'opacity': currentSection==2 ? '1' : '0', 'visibility': currentSection==2 ? 'visible' : 'hidden'} : 
                        {'display': currentSection==2 ? 'block' : 'none'}"
                      [style.minHeight]="isIos ? (currentSection==2 ? '80vh' : '') : ''">
                      <div class="img-container" [@imageFadeAnimation]="currentSection">
                        <img
                          [src]="isAdults ? 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/connect_better.webp' : 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/connect_better_teen.webp'"
                          class="img-responsive w100">
                      </div>
                      <div class="text-container" [@textAnimation]="!isIos ? (currentSection + '_' + direction) : null"
                        [@textAnimationSafari]="isIos ? (currentSection + '_' + direction) : null">
                        <h4 class="title-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">Connect<br>better</h4>
                        <h4 class="desc-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                          <ng-container *ngIf="isAdults">Communicate with care, <br> reduce conflict, and build <br>
                            deeper relationships.</ng-container>
                          <ng-container *ngIf="!isAdults">Learn how to express yourself, <br> handle arguments, and <br>
                            build better friendships <br> and relationships.</ng-container>
                        </h4>
                      </div>
                    </div>

                    <!-- slide 4: Meet Olly AI -->
                    <div class="carousel-item 3 active splash-slide" [ngStyle]="isIos ? 
                        {'opacity': currentSection==3 ? '1' : '0', 'visibility': currentSection==3 ? 'visible' : 'hidden'} : 
                        {'display': currentSection==3 ? 'block' : 'none'}"
                      [style.minHeight]="isIos ? (currentSection==3 ? '80vh' : '') : ''">
                      <div class="img-container olly-img-container" [@imageFadeAnimation]="currentSection">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/olly_singleloop.gif"
                          class="img-responsive">
                      </div>
                      <div class="text-container" [@textAnimation]="!isIos ? (currentSection + '_' + direction) : null"
                        [@textAnimationSafari]="isIos ? (currentSection + '_' + direction) : null">
                        <h4 class="title-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">Meet<br>Olly AI</h4>
                        <h4 class="desc-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">Olly listens, helps you
                          reflect, <br> and guides you to expert <br> content you can trust.</h4>
                      </div>
                    </div>

                    <!-- slide 5: Working with Mind -->
                    <div class="carousel-item 4 active splash-slide mind-slide" [ngStyle]="isIos ? 
                        {'opacity': currentSection==4 ? '1' : '0', 'visibility': currentSection==4 ? 'visible' : 'hidden'} : 
                        {'display': currentSection==4 ? 'block' : 'none'}"
                      [style.minHeight]="isIos ? (currentSection==4 ? '80vh' : '') : ''">

                      <div class="mind-content-wrapper"
                        [@textAnimation]="!isIos ? (currentSection + '_' + direction) : null"
                        [@textAnimationSafari]="isIos ? (currentSection + '_' + direction) : null">
                        <div class="mind-card">
                          <div class="mind-logo">
                            <img
                              [src]="isAdults ? 'https://d1tenzemoxuh75.cloudfront.net/website/working_with_mind.svg' : 'https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/working_with_mindteens.svg'"
                              class="img-responsive">
                          </div>
                          <h4 class="desc-text" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                            MIND, a leading mental health charity, selected HappierMe to feature in its app library, to
                            support millions of people.
                          </h4>
                        </div>
                      </div>

                      <div class="mind-action-container" [@imageFadeAnimation]="currentSection">
                        <button type="button" class="btn btn_get_started" (click)="next()">
                          Get started
                        </button>
                      </div>
                    </div>

                    <!-- slide 6: Kept slide (Original Slide 2) -->
                    <div class="carousel-item  5 active signup-login-slide" [ngStyle]="isIos ? 
                        {'opacity': currentSection==5 ? '1' : '0', 'visibility': currentSection==5 ? 'visible' : 'hidden'} : 
                        {'display': currentSection==5 ? 'block' : 'none'}"
                      [style.minHeight]="isIos ? (currentSection==5 ? '80vh' : '') : ''"
                      [@slideAnimation]="!isIos ? direction : null" [@slideAnimationSafari]="isIos ? direction : null">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" [style.height]="isIos ? '245px' : ''">
                          <!-- Safari-specific video structure -->
                          <ng-container *ngIf="isIos">
                            <video *ngIf="isAdults" controls (play)="LogEvent('play_intro_video')"
                              (pause)="pauseVideo()" (ended)="videoEnded()" playsinline class="cvideo_03 br_0px"
                              poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/intro_carousel_login.png"
                              controlsList="nodownload" style="height:245px; width:100%;">
                              <source
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/videos/introduction.mp4"
                                type="video/mp4">
                            </video>

                            <video *ngIf="!isAdults" controls (play)="LogEvent('play_intro_video')"
                              (pause)="pauseVideo()" (ended)="videoEnded()" playsinline class="cvideo_03 br_0px"
                              poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/intro_carousel_login.png"
                              controlsList="nodownload" style="height:245px; width:100%;">
                              <source
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/videos/introduction_teens.mp4"
                                type="video/mp4">
                            </video>
                          </ng-container>

                          <!-- Original video structure for other browsers -->
                          <ng-container *ngIf="!isIos">
                            <video controls (play)="LogEvent('play_intro_video')" (pause)="pauseVideo()"
                              (ended)="videoEnded()" playsinline class="cvideo_03 br_0px"
                              poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/intro_carousel_login.png"
                              controlsList="nodownload" style="height:245px;">
                              <source
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/videos/introduction.mp4"
                                type="video/mp4" *ngIf="isAdults">

                              <source
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/onboarding/videos/introduction_teens.mp4"
                                type="video/mp4" *ngIf="!isAdults">
                            </video>
                          </ng-container>
                        </div>
                      </div>

                      <div class="row mb15px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                            <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff tleft" *ngIf="isAdults">
                              <div class="row">
                                <h4 class="mtb0px fs_21px fw_500 lh_140p fc_000000 tcenter">
                                  Overcome stress & anxiety, have happier relationships and succeed in life </h4>
                              </div>
                              <div class="row mt15px center_flex">
                                <span class="mtb0px fs_12px fw_400 lh_150p  fc_000000 tcenter">
                                  Register today and try HappierMe for free.
                                </span>
                              </div>
                            </h4>

                            <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff tleft" *ngIf="!isAdults">
                              <div class="row mt15px">
                                <h4 class="mtb0px fs_21px fw_500 lh_140p fc_ffffff tcenter">
                                  Overcome stress & anxiety, have happier relationships and succeed in life
                                </h4>
                              </div>
                              <div class="row mt15px center_flex">
                                <span class="mtb0px fs_12px fw_400  lh_150p fc_ffffff_0_5 tcenter">
                                  Register today and try HappierMe for free.
                                </span>
                              </div>
                            </h4>
                          </div>
                        </div>
                      </div>



                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <h4 class="mtb0px fs_12px fw_400 lh_150p  tcenter"
                              [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_a0a3bd'">
                              Sign up with
                            </h4>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                        </div>
                      </div>

                      <div class="row mt15px mb20px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">

                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tleft pl0px">
                            <button type="submit" class="btn btn_login_signup tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/cw_facebook_01.svg"
                                (click)="fbLogin('signup')" (keydown.enter)="fbLogin('signup')" tabindex="0" alt=""
                                class="img-responsive">
                            </button>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  tcenter">
                            <button type="submit" class="btn btn_login_signup tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/cw_google_01.svg"
                                (click)="googleLogin('signup')" (keydown.enter)="googleLogin('signup')" tabindex="0"
                                alt="" class="img-responsive">
                            </button>
                            <!-- <div id="my-signin2" class="btn btn_login_signup tcenter"></div> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tright pr0px">
                            <button type="submit" class="btn btn_login_signup tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/cw_apple_01.svg"
                                (click)="signInWithApple('signup')" (keydown.enter)="signInWithApple('signup')"
                                tabindex="0" alt="" class="img-responsive" *ngIf="!isAdults">

                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/apple-black+1.svg"
                                (click)="signInWithApple('signup')" (keydown.enter)="signInWithApple('signup')"
                                tabindex="0" alt="" class="img-responsive" *ngIf="isAdults ">
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <h4 class="mtb0px fs_12px fw_400 lh_150p  tcenter"
                              [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_a0a3bd'">
                              or
                            </h4>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                        </div>
                      </div>

                      <div class="row mt15px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tcenter pl0px">
                            <button type="submit" class="btn btn_login_signup_new tcenter w100pi"
                              (click)="signup_email()">
                              <h4 class="mtb0px fs_15px fw_400 lh_150p "
                                [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                                Sign up with email
                              </h4>
                            </button>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pr0px tright">
                            <button type="submit" class="btn btn_login_signup_new tcenter" (click)="login()">
                              <h4 class="mtb0px fs_15px fw_400 lh_150p "
                                [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                                Login
                              </h4>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="row mt20px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px tcenter">
                          <a class="" (click)="routedashboard()" (keydown.enter)="routedashboard()" tabindex="0">
                            <span class="mtb0px fs_12px fw_400 lh_150p  underline"
                              [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
                              Continue as a guest
                            </span>
                          </a>
                        </div>
                      </div>

                      <div class="row mt20px tcenter plr20px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center_flex">
                          <h4 class="mtb0px fs_12px fw_400 lh_150p  "
                            [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff_0_7'">
                            By continuing you agree to our
                            <a class="fw_500 " [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'"
                              (click)="routetoUrl('/help-support/terms-conditions')"
                              (keydown.enter)="routetoUrl('/help-support/terms-conditions')" tabindex="0">
                              User agreement
                            </a>
                            and
                            <a class="fw_500 " [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'"
                              (click)="routetoUrl('/help-support/privacy-policy')"
                              (keydown.enter)="routetoUrl('/help-support/privacy-policy')" tabindex="0">
                              Privacy policy
                            </a> and to receive our updates.
                            <br />
                            We do not share your data with anyone.
                          </h4>
                        </div>
                      </div>

                      <!-- <div class="pagebreak"></div> -->
                      <!-- /slide 3 -->
                    </div>

                    <!--
                    <div class="item 2">
                      slide 3
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <video controls (paly)="LogEvent('click_play_video_intro_carousel')" playinline
                            class="cvideo_03 br_0px"
                            poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/intro_carousel_login.png"
                            controlsList="nodownload">
                            <source
                              src="https://d1tenzemoxuh75.cloudfront.net/partnership/videos/partnership_program_01.mp4"
                              type="video/mp4">
                          </video>
                        </div>
                      </div>

                      <div class="row mt15px mb15px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                            <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff tleft">
                              <p>
                                HappierMe is your guide to understand your mind
                                <br>and be happier.
                              </p>

                              <p>
                                Manage your emotions, have better relationships and be successful.
                              </p>

                              <p>
                                Register to start your free trial.
                              </p>
                            </h4>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_a0a3bd tcenter">
                              Connect with
                            </h4>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                        </div>
                      </div>

                      <div class="row mt15px mb20px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tleft pl0px">
                            <button type="submit" class="btn btn_login_signup tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/cw_google_01.svg"
                                (click)="googleLogin('login')" alt="" class="img-responsive">
                            </button>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tcenter">
                            <button type="submit" class="btn btn_login_signup tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/cw_facebook_01.svg"
                                (click)="fbLogin('login')" alt="" class="img-responsive">
                            </button>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tright pr0px">
                            <button type="submit" class="btn btn_login_signup tcenter">
                              <img
                                src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/cw_apple_01.svg"
                                (click)="signInWithApple('login')" alt="" class="img-responsive">
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_a0a3bd tcenter">
                              Or
                            </h4>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                            <hr class="hr_style_v3_05">
                          </div>
                        </div>
                      </div>

                      <div class="row mt15px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px center_flex">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tcenter pl0px">
                            <button type="submit" class="btn btn_login_signup_tnew tcenter w100pi" (click)="login()">
                              <h4 class="mtb0px fs_15px fw_600 lh_150p fc_ffffff">
                                Sign up with  email
                              </h4>
                            </button>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pr0px tright">
                            <button type="submit" class="btn btn_login_signup_tnew tcenter" (click)="login()">
                              <h4 class="mtb0px fs_15px fw_600 lh_150p fc_ffffff">
                                Login
                              </h4>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="row mt20px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px tright">
                          <a class="" (click)="routedashboard()">
                            <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff underline">
                              Continue as a guest
                            </h4>
                          </a>
                        </div>
                      </div>

                      <div class="pagebreak"></div>
                      /slide 3
                    </div> -->

                    <!-- <div class="item 3"> -->
                    <!-- slide 4 -->
                    <!-- <div class="row mt70px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/intro_04.svg" class="img-responsive">
                        </div>
                      </div>

                      <div class="row mt70px mb15px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                            <h4 class="mtb0px fs_32px fw_500 lh_130p fc_ffffff">
                              Find Answers
                            </h4>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                            <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                              Find solutions to common questions. Feel better now, and then explore the root cause of problems forlong-term benefit.
                            </h4>
                          </div>
                        </div>
                      </div> -->
                    <!-- /slide 4 -->
                    <!-- </div> -->
                  </div>

                </div>
              </div>
              <!-- /carousel -->

              <!-- <div class="pagebreak"></div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->