/*video::-webkit-media-controls-panel
{
   display: none !important;
   opacity: 1 !important;
}*/
.btn_login_signup_new {
   border: 0;
   margin: 0;
   height: 50px;
   background: linear-gradient(180deg, #834b6680 100%, #120F40 100%);

   
   box-shadow: 1px 1px 2px #00000040;
   border-radius: 12px;
   width: 101px;
   height: 52px;
}
.btn_login_signup_tnew {
   border: 0;
   margin: 0;
   height: 50px;
   background: linear-gradient(180deg, #183C79 0%, #4267A5 100%);


   
   box-shadow: 1px 1px 2px #00000040;
   border-radius: 12px;
   width: 101px;
   height: 52px;
}