<!-- footer  -->
<!-- menu footer buttons -->
<!-- <div class="sidebar-footer prelative"> -->
<div class="sidebar-footer ifooter">  
  <div class="row center_flex">
    <div class="col-md-6 col-sm-12 col-xs-12 center_flex">
      
      <a (click)="routeDash()" class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/toc/home.svg" alt="" class="p0">
        <p class="mb0px">
            Home
        </p>
      </a>
    
      <a class="footer_index">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/toc/search.svg" alt="" class="p0">
        <p class="mb0px">
            Search
        </p>
      </a>
    
      <a (click)="routeJournal()" class="footer_index">        
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/toc/journal.svg" alt="" class="p0">
        <p class="mb0px">
            Journal
        </p>
      </a>
    
      <a class="footer_index"> 
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/toc/community.svg" alt="" class="p0">
        <p class="mb0px">
            Community
        </p>
      </a>

      <a class="footer_index"> 
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/toc/profile.svg" alt="" class="p0">
        <p class="mb0px">
            Profile
        </p>
      </a>

    </div>
  </div>
  
</div>
<!-- /menu footer buttons -->
<!-- /footer -->