<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          How do we know that the person we are meeting or dating is the right person for us, for the long term? It can be so difficult and we can be filled with uncertainty. We may like some things about the person, but are unsure about other things. Is there someone better out there for us? 
          In these times it is worth listening to your inner voice, your instinct, which we often ignore. Our loneliness, and need to be loved and feel secure can make us overlook that voice which knows if something feels right, or doesn’t. We may not like what it is telling us, so we ignore it. Deep down we know what the truth is. We don’t need others to tell us.
          
          

           </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>