<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          I have an acquaintance who had opposite opinions to me on most issues we cared about. He supported the gun lobby, wanted to bring in the death penalty, thought global warming was a hoax, thought benefits should be cut, and he kept repeating these opinions everytime we met. I could see he was doing this as a way of feeling good about himself, but was not aware he was doing that. The easy thing would have been to walk away with a negative opinion of him. I was curious though and kept going. I discovered we had a shared love of birds and our conversations moved to birds we had seen, and we got excited when the first swallows arrived. Gradually a bond of affection developed between us. I found we could then explore our differences in a completely different way and he was open to being challenged on his views.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>