<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Comparison can sometimes make us want to imitate others. That is why social influencers have become so popular. We compare ourselves with others, like what they have or who they are, and want to follow them. There is nothing wrong with that, but at present the process occurs unconsciously. 
          </p>

          <p>
            In the next video, I discuss the impact this can have with Steve Tywnharn. A deeper understanding of this process may allow you to walk your own path in life.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>