<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="Backward()">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        {{data[0].Topic}}
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->  
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01  col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'">
        <div class="x_panel p0">
          <div class="x_content p0">

            <!-- carousel -->
            <div class="container">
              <div id="cgqtns" class="carousel slide" data-ride="carousel" data-interval="false">
               
                <!-- <ol class="carousel-indicators">
                  <button type="submit" (click)="back()" class="left carousel-control jc_flexstart btn_gqtns" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                  </button>
                  <h4  class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px tcenter">
                   {{title}}
                  </h4>
                  <button  (click)="forward()" class="right carousel-control jc_flexend btn_gqtns" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                  </button> 
                </ol> -->

                <ol class="carousel-indicators">
                  <!-- <button type="submit" (click)="back()" class="left carousel-control btn btn_prev_v3 fs_12px fw_400 lh_22px fc_ffffff_0_5" data-slide="prev">
                    <i class="fa fa-angle-left fs_16px fc_ffffff mr10px"></i>
                    Previous
                  </button>
                  <h4  class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px tcenter">
                   {{title}}
                  </h4>
                  <button  (click)="forward()" class="right carousel-control btn btn_next_v3 fs_15px fw_600 lh_22px fc_e58d82" data-slide="next">
                    Next
                    <i class="fa fa-angle-right fs_16px ml10px"></i>
                  </button>  -->
                  <div class="row center_flex">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter center_flex fctray_gqtns  col_cw" [ngClass]="isAdults ? 'bg_292d56' : 'bg_stake'">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 btn_p0 tleft">
                        <a (click)="back()">
                          <button type="button" class="btn btn_prev_v3 fs_12px fw_400 lh_22px fc_ffffff_0_5">
                            <i class="fa fa-angle-left fs_16px fc_ffffff mr10px"></i>
                            Previous
                          </button>
                        </a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                        <h4  class="mtb0px fs_12px fw_400 lh_18px fc_e58d82 tcenter cgqtns_sc">
                          {{title}}
                         </h4>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                        <a>
                          <button (click)="forward()" *ngIf="counter!=numSlides;else savetoDiary" type="button" class="btn btn_next_v3 fs_15px fw_600 lh_22px fc_e58d82">
                            Next
                            <i class="fa fa-angle-right fs_16px ml10px"></i>
                            <!-- Save to diary -->
                          </button>
                          <ng-template #savetoDiary>
                            <button type="button" (click)="SaveBtn()" class="btn btn_next_v3 fs_15px fw_600 lh_22px fc_e58d82">
                              Save to Diary
                              <i class="fs_16px ml10px"></i>
                              <!-- Save to diary -->
                            </button>
                          </ng-template>
                        </a>
                      </div>
                    </div>
                  </div>
                </ol>
                
                <div class="carousel-inner" >
                  <ng-container *ngFor="let item of data;let i=index" >
                  <div class="item" [ngClass]="getClass(item.QuestionNo)">
                    <!-- slide 1 -->
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px cfc_v3_01">
                          {{item.QuestionNo }} . {{item.Question}}
                          <!-- {{item.QuestionNo  | number:'2.0-0'  }} . {{item.Question}} -->
                        </h4>
                      </div>
                    </div>
        
                    <div class="row mt20px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <textarea 
                          type="text" 
                          id="comment"
                          name="thread" 
                          required="required" 
                          class="cta1 form-control" 
                          [(ngModel)]="item.Response"
                          placeholder="{{item.hint}}"
                          (blur)="SaveAnswers(item)" 
                          maxlength="256"
                          rows="10">
                          {{item.Response }}
                        </textarea>
                      </div>
                    </div>
        
                    <div class="row mt20px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff_0_5">
                          Your answers are automatically saved.
                        </h4>
                      </div>
                    </div>

                    <!-- saved modal button -->
                    <button type="button" #saveBtn style="display: none;" class="btn" data-toggle="modal" data-target="#saved">
                      saved
                    </button>
                    <!-- /saved modal button -->
                  
                    <!-- /slide 1 -->
                  </div>
                </ng-container>
                </div>

              </div>
             
            </div>
            <!-- /carousel -->

            <div class="pagebreak"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- footer  -->
<!-- <app-bottom-navigation *ngIf="counter==numSlides;else withoutSaveButton" 
[isGuidedQuestion]="true" (saveQuestion)="SaveBtn()"></app-bottom-navigation> -->

<!-- <ng-template #withoutSaveButton> -->
  <app-bottom-navigation></app-bottom-navigation>
<!-- </ng-template> -->
<!-- /footer -->

<!-- saved -->
<div class="modal fade" id="saved" data-keyboard="false" data-backdrop="false">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body">

      <div class="row mb10px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h3 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff tcenter">
            Saved
          </h3>
        </div>
      </div>

      <div class="row mb30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h3 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff_0_5 tcenter">
            Your responses have been successfully saved to your journal.
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <button type="button" class="btn btn_e58d82" (click)="SubmitButton()" data-dismiss="modal">
            Continue
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /saved -->