<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" (click)="back()" alt="" class="p0">
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56 col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_24px fw_600 lh_140p fc_ffffff">
                    Subscribe to HappierMe Premium 
                  </h4>
                </div>
              </div>

              <div class="mtb40px">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pl0px pr20px">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/si_01_a.svg" class="img-responsive w100">
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                      <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                        Access to 70+ modules to help you meet life’s challenges, be happier, and succeed in the world
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <hr class="hr_style_v3_09 mtb20pxi">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pl0px pr20px">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/si_02_a.svg" class="img-responsive w100">
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                      <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                        Complete access to the forum and online journal
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <hr class="hr_style_v3_09 mtb20pxi">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pl0px pr20px">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/si_03_a.svg" class="img-responsive w100">
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                      <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                        Stories, podcasts, live events, short videos and more
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <hr class="hr_style_v3_09 mtb20pxi">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pl0px pr20px">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/si_04_a.svg" class="img-responsive w100">
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 p0">
                      <h4 class="mtb0px fs_15px fw_400 lh_140p fc_ffffff">
                        Enjoy the many benefits of our Partnership program
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <hr class="hr_style_v3_09 mtb20pxi">
                  </div>
                </div>
              </div>

              <div class="row mt10px" (click)="routeToDashboard()">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                  <a class="mtb0px fs_12px fw_400 lh_150p fc_e58d82 underline">
                    I will do this later
                  </a>
                </div>
              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer  -->
<div class="mfooter">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 v1_3_sfooter v1_3_sfooter_ext col_cw">
      <a>
        <button type="button" class="btn btn_tfas" (click)="tryFreeSubscribe()">
          Start your free trial
        </button>
      </a>
    </div>
  </div>
</div>
<!-- /footer -->