<!-- header -->
<!-- /header -->

<app-bg-video></app-bg-video>

<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Update payment details
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright"></div>
  </div>
</div>


<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">

    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form id="payment-form">
              <div id="card-element" class="mtb30px" >
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <input type="text" autocomplete="off" id="name" class="sp_fc mb10px fc_name" placeholder="Cardholder’s Name">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <input type="text"  autocomplete="off"  id="postal-code" class="sp_fc mb10px" placeholder="Postal code">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <div id="card-number" class="sp_fc mb10px"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6 pl0px pr5px">
                    <div id="card-expiry" class="sp_fc mb10px"></div>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 pr0px pl5px">
                    <div type="text" id="card-cvc" class="sp_fc mb10px" ></div>
                  </div>
                </div>
              </div>
              <!-- We'll put the error messages in this element -->
              <div id="card-element-errors" role="alert"></div>


              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <button type="button"   data-dismiss="modal"  type="button" id="btnsubmit" class="btn profile_dmd">
                    Update
                  </button>
                </div>
              </div>
              <div class="pagebreak"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->