.circular-player-container {
    transform: rotate(-360deg) scaleX(-1);
  }

.playback {
    height: 54px;
    width: 48px;
    border: none;
    border-radius: -14px;
    appearance: none;
    // position: absolute;
    text-align: center;
    background: #f1f3f4;
    color: #000000;
    right: 105px;
}

.d-flex {
  display: flex;
}

/*
#aud1 {
  background-color: #f1f3f4;
}
*/