#modal_cookie {
  z-index: 999 !important;
}
.modal-w{
  border-radius: 24px !important;

  // width: 84% !important;
}
.modal-bg{
  background: linear-gradient(180deg, #834B66 0%, #120F40 100%) !important;
    border-radius: 24px !important;
}
.modal-content-width{
  padding:  10px 0px !important;
  width: 60% !important;
}
.fsfw_18px{
  font-size: 18x !important;
  font-weight: 600 !important;
}
.modal-btn{
  height: 50px;
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 100px;
   
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
}
.modal-btn-adults{
 background: #ED7D6F!important;
 box-shadow: 1px 1px 2px #00000040;
  color: #fff !important;
}

.modal-btn-teens{
 background: #E58D82  !important;
 box-shadow: 1px 1px 2px #00000040;
  color: #fff !important;
}

.modal_cancel_btn{
  border:none;  

  }

.v1_3_bg_splashnewpremium{

min-height: auto;
}
