<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Our prejudices may make us treat others badly. Our prejudices are formed unconsciously from our various past influences. We may have grown up in a household that did not like a certain minority group - or immigrants in general. 
          </p>

          <p>
            If we meet someone from that group, or are working with them we are more likely to be unkind and even bully them because we don’t see them as they are, but through the lens of our own prejudices. 
          </p>

          <p>
            Various minority communities all over the world have been bullied and persecuted and even killed because of prejudice
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>