<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext>
  <form class="">

    <h1 class="txt3">
      When people have calmed down, they are much more amenable to a conversation about what happened.
    </h1>
    <div class="clearfix"></div>
    
  </form>
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (prev)="previous()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>
