<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          If the ‘I’ is not there, for example in deep sleep, or in the depths of meditation, there is no feeling of loneliness. The origins of loneliness are in a feeling we are separate from others. From birth the activities of the ‘I’ are designed to make us feel special and different from others - we feel we are in a race where we have to be more successful, more famous, more wealthy and so on. We think the purpose of life is to accumulate special memories for ourselves. The greater the ‘I’ feels unique and separate from others, the greater the feeling of loneliness. There is no lonelier place than the head of an organisation, 
          or in being a successful and wealthy person. Realising all this awakens its own intelligence.
         </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>