<app-toc-header [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="module_title">
          Comparison & Envy
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt_comparison">
          Understanding the unconscious process of comparison gives you the power to help yourself, help others, and create a positive change in your life. 
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">                        
        <a [routerLink]="['/adults/comparison', comparisonR]" *ngIf="lastvisited">
          <button type="button" class="btn btn-success mb0 btn_begin_here bg_green_yellow" data-dismiss="modal">Continue where you left</button>
        </a>
        <!-- <a routerLink="/adults/comparison/s1">
          <button type="button" class="btn btn_default mb0 txt_green_yellow" data-dismiss="modal">Start from the beginning</button>
        </a> -->
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <a routerLink="/adults/comparison/s1">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #1
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Stop Comparing, Start Living
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              8 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>                

    <a routerLink="/adults/comparison/s17">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #2
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Four ways comparison impacts our life
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              17 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s53">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #3
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              How comparison shapes our lives - social media
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s70">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #4
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              How comparison affects relationships
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s83">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #5
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Benefits of understanding comparison
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              5 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s93">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #6
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Responding with wisdom to comparison
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s120">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #7
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Exploring comparison in 4 steps
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s140">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #8
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Role play scenario
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/comparison/s153">
      <div class="row crow box bg_green_yellow">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #9
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              What’s your takeaway?
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>
    
  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>