<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_03" role="main">				
    <!-- Class -->  
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 p0 bg_white">
          <div class="x_panel p0">
            <div class="x_content tcenter p0">
              <form>                
                
                <div class="row me_box center_flex safari_dblock">
                  <div class="col-md-4 col-sm-4 col-xs-4 p0">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <a>
                        <button (click)="routeJournal()" type="button" class="btn btn-default mb0 btn_so" data-dismiss="modal">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/session_end_journal_02.svg" alt="">
                        </button>
                      </a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h1 class="txt22 tcenter pt10px_so">
                        Fill your journal
                      </h1>           
                    </div>
                  </div>
  
                  <div class="col-md-4 col-sm-4 col-xs-4 p0">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <a>
                        <button type="button" (click)="routeForum()" class="btn btn-default mb0 btn_so" data-dismiss="modal">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/session_end_join_discussion.svg" alt="">
                        </button>
                      </a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h1 class="txt22 tcenter pt10px_so">
                        Join a discussion
                      </h1>           
                    </div>
                  </div>
                  <!--
                  <div class="col-md-3 col-sm-3 col-xs-3 p0">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <a>
                        <button type="button" class="btn btn-default mb0 btn_so" data-dismiss="modal">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/session_end_consult_coach.svg" alt="">
                        </button>
                      </a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h1 class="txt22 tcenter pt10px_so">
                        Consult a coach
                      </h1>           
                    </div>
                  </div>
                   -->
                  <div class="col-md-4 col-sm-4 col-xs-4 p0">
                    <a class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <button  id="btnShare" (click)="shareIndex()" type="button" class="btn btn-default mb0 btn_so" data-dismiss="modal">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/session_end_share.svg" alt="">
                        </button>
                      </div>
                    </a>
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h1 class="txt22 tcenter pt10px_so">
                        Share with friends
                      </h1>   
                    </div>
                  </div>
                </div> 
                <h6 class="txt51 m-top10" *ngIf="isModuleCompleted">
                  Congratulations! You have completed this module.
                </h6>
                <!-- <div class="outer-rec" id="myDiv">
                </div> -->
                <app-certification [isModuleCompleted]="isModuleCompleted"  [moduleName]="currentModuleName"></app-certification>
                <!-- <div class="row">      
                     <h6 class="txt51 mtb0px mb10px">
                    <h6 class="txt51">
                    Congratulations! You have completed this module.
                  </h6>
                   </div>                
                -->
                <div class="row certificate-share-btn" [ngStyle]="{'display': !isModuleCompleted? 'none' : 'block'}">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                  <button type="button" (click)="saveAsPDF()" class="btn btn-success btn_se " data-dismiss="modal">Download</button>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <button type="button" (click)="shareCertificate()"  class="btn btn-success mb0 btn_se" data-dismiss="modal">Share</button>
                    </div>
                </div>
                  <!-- <div class="row me_continue_msg">
                  <div class="col-md-12 col-sm-12 col-xs-12 tcenter p0">
                              
                    <h6 class="fw_400 fs_14px lh_16px fc_5d5d5d mtb0px">
                      Continue to the next module
                    </h6>
                  </div>
                </div> -->
                <!-- <div [ngClass]="{'m-top':isModuleCompleted}"> -->
                <div >
      <!--             <h6 class="fw_400 fs_14px lh_16px fc_5d5d5d mtb0px"  [ngClass]="{'ml':!isModuleCompleted,'p-nextmodule':isModuleCompleted}">
                    Continue to the next module
                  </h6> -->
                <div class="row me_next_module center_flex safari_dblock " *ngIf="9 == programType;else OtherModule">                  
                  <a (click)="proceed()">
                    <div class="col-md-10 col-sm-10 col-xs-10 tcenter p0 prelative float_none" >
                      
                      <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/module_end/00.png" alt=""> -->
                      <img [src]="moduleImg"  class="module_img w100" alt="">
                      <!-- <div class="me_overlay me_max_width"></div> -->
                      <div class="me_overlay"></div>
  
                      <h6 class="fw_400 fs_12px lh_130p fc_ffffff opacity_pt75 me_module_title">
                          {{sectionName}}
                      </h6>
  
                      <h6 class="fw_500 fs_20px lh_130p fc_ffffff me_session_title">
                          {{moduleName}}
                      </h6>
  
                      <div>
                        <button type="button" class="btn btn-success mb0 btn_se me_module_btn" data-dismiss="modal">Continue to this module</button>
                      </div>                  
                    </div>
                  </a>
                </div>
                <ng-template #OtherModule>
                  <div class="row me_next_module center_flex safari_dblock">                  
                    <a (click)="ContinueToThisModule()">
                      <div class="col-md-10 col-sm-10 col-xs-10 tcenter p0 prelative float_none" >
                        <img [src]="moduleImg"  class="module_img w100" alt="">
                        <div class="me_overlay"></div>
    
                        <h6 class="fw_400 fs_12px lh_130p fc_ffffff opacity_pt75 me_module_title">
                            {{sectionName}}
                        </h6>
    
                        <h6 class="fw_500 fs_20px lh_130p fc_ffffff me_session_title">
                            {{moduleName}}
                        </h6>
    
                        <div>
                          <button type="button" class="btn btn-success mb0 btn_se me_module_btn" data-dismiss="modal">Continue to this module</button>
                        </div>                  
                      </div>
                    </a>
                  </div>
                </ng-template>
              </div>

                <div class="row me_orm">
                  <div class="col-md-12 col-sm-12 col-xs-12 tleft">
                    <h4 class="txt51">
                      Other related modules
                    </h4>
                  </div>
                </div>

                <!-- other related modules -->
                <div class="row div_orm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col_orm" *ngFor="let item of moduleList">
                    <a   (click)="routeResume(item['id'],item['link'])" >
                        <img src="{{item['image']}}" alt="{{item['name']}}" class="img-responsive img_orm">
                        <h4 class="mtb0px fw_500 fs_12px lh_14px fc_ffffff absolute_index_rwst_title tleft">
                          {{item['name']}}
                        </h4>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /other related modules -->
  
                <div class="row me_rtd">
                  <a (click)="goDashboard()">
                    <div class="col-md-12 col-sm-12 col-xs-12 tcenter p0">                  
                      <h6 class="fw_500 fs_16px lh_19px fc_1092a7 mtb0px center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/module_end_dashboard.svg" alt="">
                        <span class="pl5px pt5px">
                            Return to Dashboard
                        </span>
                      </h6>
                    </div>
                  </a>
                </div>   
                
                <div class="pagebreak"></div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class --> 
  </div>
  <!-- /page content -->
  
  <app-bottom-navigation></app-bottom-navigation>