<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          The pain of loss makes us zoom into what has happened, and we can lose our perspective. It can seem like we have lost 100% of what is important in our life and we wonder how we can carry on. All these feelings are normal, and the way the mind reacts to significant loss. 
          This is why it's so important to zoom out and make a list of the things you still have to be grateful for. If you have lost a loved one, you could be grateful for the time you had together. If you have lost your job, your health could still be good. You may realise that despite you loss, there is still so much beauty in the world to appreciate, and other people in your life to appreciate. You have to do this consciously because your mind will not do it for you
          
          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>