<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Quite often when we are depressed we are also very self-critical and disappointed with ourselves
          </p>

          <p>
            We may compare ourselves with others who are better in some way and feel we are no good, or not worthy. Or, we may have done something we cannot forgive ourselves for and are filled with self-loathing.
          </p>

          <p>
            Or we can convince ourselves we are no good, will never get better, and so on.
          </p>

          <p>
            We repeat this to ourselves daily and  so come to believe what we think.
          </p>

          <p>
            Self-knowledge helps you realise that the mind is comparing all the time and this happens without our awareness and does not serve us - seeing that clearly can help us break that pattern.
          </p>

          <p>
            The first step is to realise that our mind can lie to us, and everything we think may not be true. Begin to question every negative thought you have. Challenge yourself to see that in a more positive way, or to let it go completely. Keep a diary and do this regularly.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>