.custom-box-img {
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  opacity: 1;
  gap: 10px;
  border-radius: 12px;
}

.custom-box-text-container {
  width: 150;
  height: 55;
  angle: 0 deg;
  opacity: 1;
  gap: 2px;
}

.custom-box-text-container-title {
  font-family: Poppins;
font-weight: 500;
font-size: 15px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0px;
color: #000000;
width: 150px;
height: 35px;
}


.no-break {
  white-space: normal;       /* Allows wrapping to next line */
  word-break: keep-all;      /* Prevents breaking within words */
  overflow-wrap: normal;     /* Avoids breaking long words */
}

.custom-box-text-container-mediaType {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color:rgba(0, 0, 0, 1);
}
/* Content Card Component - Bootstrap Only */
