<app-topnav></app-topnav>
<div class="prelative pt8_5rem">
  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/webpage/header_bg.png" class="img-responsive" alt="">  
  <h2 class="bold testimonial_img_title">
      TESTIMONIALS
  </h2> 
</div>

<!-- page content -->
<div class="right_col ml0" role="main">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel txt_dgray">                     

          <div class="x_content">
            <form class="wparagraph">
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          
                  <h3>
                    Testimonials
                  </h3>
                  <hr class="whr_title">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          
                  <p>
                      <i>
                      <b>
                          A sample of Amazon reviews for the book Understanding Me, Understanding You, by Manoj Krishna:
                      </b>
                      </i>
                  </p>  

                  <ul class="italic fw_500">
                      <li>
                          <p>Fantastic book that everyone should read and re-read in order to work on becoming a better and more considerate human being.</p>
                      </li>
                      <li>
                          <p>Amazing insightful and thought provoking</p>
                      </li>
                      <li>
                          <p>Superb, excellent life changing book!!!!! Must read</p>
                      </li>
                  </ul>

                  <br>

                  <h4 class="bold italic">From Talks given by Manoj Krishna: </h4>
                  <div *ngFor="let t of testimonialList">
                    <p class="italic fw_500">
                      <span class="green">{{t.Name}}, {{t.Designation}}:</span>&nbsp;{{t.Testimonial}}</p>
                  </div>                  
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Class -->      
</div>
<!-- /page content -->