<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Our mind compares itself to others without our awareness. If they are famous, or getting more praise or recognition, we can begin to feel inadequate and worthless. We blame others or our circumstances for making us feel that way. This can lead to depression.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>