<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="goBack()">                          
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>  
    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Find inspiration
      </h1>  
    </div>
    
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="mt30px div_fi_a">
            
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" class="" routerLink="/adults/wisdom-stories">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_life_stories.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Life stories
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/audio-meditation">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_audio_meditation.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Audio meditation
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/blogs">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_blog.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Blog
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/podcast">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_podcast.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Podcast
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/wisdom-shorts">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_short_videos.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Short videos
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/events">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_events.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Events
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <hr class="hr_style_v3_01">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fw_600 fs_18px lh_24px fc_ffffff">
                  Get more out of HumanWisdom
                </h4>
              </div>
            </div>

            <div class="mt30px div_fi_b">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/journal">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_journal.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Journal
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/journal?isGuided=true">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_guided_questions.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Guided questions
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/wisdom-survey">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_wisdom_score.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Wisdom score
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/adults/contact-coach">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_contact_a_coach.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Contact a coach
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="" routerLink="/forum">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fi_forum.svg" class="img-responsive">
                          </h4>

                          <h4 class="mtb0px fw_600 fs_15px lh_120p fc_ffffff tcenter">
                            Forum
                          </h4>
                        </div>
                      </div>
                    </button>
                  </div>

                </div>
              </div>

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->