<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Conflict in relationships drives out love, and so much of it can be avoided by understanding our many unconscious conditioning influences, which are behind all the opinions we become attached to, and which we want others to agree with. Our expectations of others are also rooted in our conditioning, and these can end in disappointment, hurt and anger. To live with wisdom, we need to become aware, without judgement, that every opinion we are attached to comes from our unconscious conditioning, and the other person is the same. This can help us avoid arguments and respect the other person's point of view. We could also let go of some unhealthy opinions altogether, and become less attached to others.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>