<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          In the last session we explored how our identities form, and the many benefits they bring us, and why. In this session we are going to explore some of the challenges they can bring, which can result in conflict, both within us, and in the world. Our identities form unconsciously, and the conflicts they generate are also unconscious, meaning that we do not attribute that conflict to our identity. This understanding could help us respond with wisdom.
            </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>