<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          There will be many times when your self-interest will be in conflict with what is best for the organisation, or for the employees you lead. How are you going to respond? If you are not aware of your own self-interest operating in the background, and your fear, you will do what is best for you. Great leaders instead lead with an enlightened self-interest instead. They have an awareness of their self-interest in the background, and can put that to one side and do what is best for the organisation. What if there is a conflict of interest between what is in the short term interest of the organisation, and what is good for the wider community. In addition to having a responsibility to the company, you are also a human being with a wider responsibility for the world you inhabit. Great leaders, who lead with wisdom,
           find a way of balancing their own needs, the needs of the organisation and their responsibility for the wider world.
         </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>