
<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [bg_tn]="bg_tn"></app-course-header>

<app-quotation [bg]="bg">
  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 mb20px">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/quotation_01.svg" alt="">
      </div>
    </div>

    <h1 class="mtb0px quotation_txt">
      Within you, there is a stillness and sanctuary to which you can retreat at any time and be yourself

    </h1>

    <hr class="hr_style_v3_05 mtb20px">

    <h1 class="mtb0px quotation_writer">
      Herman Hesse

    </h1>

  </form>
</app-quotation>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
