<!-- top navigation -->
<app-tn-dashboard-v03 [enableplaystore]="false" [routeid]="'search'"></app-tn-dashboard-v03>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->

<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [programType]="11" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->

<span data-toggle="modal" #enablepopup data-target="#signuplogin"></span>

<!-- signup_login modal -->

<!-- /signup_login modal -->

<!-- welcome popup -->

<!-- /welcome popup -->