<app-toc-header [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="module_title">
          Diversity and Inclusion
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt_comparison">
          In this module we explore the many benefits of Diversity, Equity, and Inclusion in the workplace, the hidden drivers in our thinking that contribute to our unconscious biases, and how we can use our own inner intelligence to overcome them for the long-term.
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">                        
        <a [routerLink]="['/adults/diversity-and-inclusion', pgResume]" *ngIf="lastvisited">
          <button type="button" class="btn btn-success mb0 btn_begin_here bg_pink_orange" data-dismiss="modal">Continue where you left</button>
        </a>
        <!-- <a routerLink="/adults/diversity-and-inclusion/s1">
          <button type="button" class="btn btn_default mb0 txt_green_yellow" data-dismiss="modal">Start from the beginning</button>
        </a> -->
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <a routerLink="/adults/diversity-and-inclusion/s143002">
      <div class="row crow box bg_pink_orange">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #1
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Why is Diversity and Inclusion important?
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              8 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>                

    <a routerLink="/adults/diversity-and-inclusion/s143046">
      <div class="row crow box bg_pink_orange">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #2
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Hidden drivers behind our biases
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              17 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <a routerLink="/adults/diversity-and-inclusion/s143071">
      <div class="row crow box bg_pink_orange">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="session_no mtb0px">
            Session #3
          </h6>                    
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
          <div class="col-md-10 col-sm-10 col-xs-10">                    
            <h4 class="session_name mtb0px">
              Bringing about change
            </h4>    
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 p0">   
            <h4 class="session_time mtb0px">
              7 mins
            </h4>    
          </div>
        </div>                    
      </div>
    </a>

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>
    
  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>