<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Every relationship generates its memories of conflict and hurt and they just seem to  bubble away under the surface. We do not know how to get over our old hurts and can carry them for years, often without being aware we are doing so. We see others through the screen of those hurtful memories, rather than freshly in the present. As a result we are much more likely to be triggered into conflict by the smallest event, which in normal circumstances we would have overlooked. 
          </p> 
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>