<!-- modal -->
<div class="modal fade" id="free_limt" tabindex="-1" data-backdrop="true" data-keyboard="false" role="dialog" aria-labelledby="free_limt" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mfree_limit" role="document">
    <span #closemodal data-dismiss="modal" aria-label="Close"></span>
    <!-- top navigation -->
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_back">
        <a (click)="backClick()" class="" data-dismiss="modal">                        
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white.svg" alt="" class="">
        </a>   
      </div>
    </div>
    <!-- /top navigation -->

    <!-- content -->
    <div class="row center_flex h100vh">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

        <div class="row center_flex">
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h4 class="txt175 tcenter">
              You have reached your free limit!
            </h4>
          </div>
        </div>
        
        <div class="row center_flex">
          <div class="col-md-9 col-sm-9 col-xs-9">
            <h4 class="txt176 tcenter">
              To continue exploring the benefits of living with wisdom, please subscribe to the HumanWisdom App, or login below.
            </h4>
          </div>
        </div>

        <div class="row mt40px">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <a (click)="loginpage()">
              <button type="button" class="btn btn-success btn_fl_sn_l w100">Subscribe now</button>
            </a>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <a (click)="loginpage()">
              <button type="button" class="btn btn-success btn_fl_sn_l w100">Login</button>
            </a>
          </div>
        </div>

      </div>
    </div>
    <!-- /content -->

  </div>
</div>
<!-- /modal -->

<!-- page content -->
<!-- <div class="right_col ml0 cright_col mh100vh green_yellow_w1" role="main">				 -->
  <!-- Class --> 
  <!-- <div class="cw100p cabsolute">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel cxpanel center_flex">            
          <div class="x_content c_white fwunset tcenter p0">
            <form>
              <h1 class="txt1">
                Enjoy your own life without comparing it with that of another.                  
              </h1>
              <div class="clearfix"></div>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#free_limt">
                Free Limit Modal
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--/Class --> 
<!-- </div> -->
<!-- /page content -->
<span #free_limt data-toggle="modal" data-target="#free_limt"></span>
