<!-- page content -->
<div class="right_col ml0 bg_profile_upload center_flex" role="main">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel flexstart">
          <div class="x_content c_white fwunset">
            <form>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="txt151 tcenter">
                    You’re all set!
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="txt179 tcenter">
                    Upload a Profile Picture
                  </h4>
                </div>
              </div>

              <div class="row mt40px">
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                  <div class="ob_outer_01">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/profile_upload_01.svg" class="img-responsive ob_inner_01">
                  </div>
                </div>
              </div>

              <div class="row mt40px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="button" class="btn btn_default btn_profile_ci" data-dismiss="modal">Done</button>
                </div>
              </div>

              <div class="row mt20px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="txt180 tcenter">
                    Replace image
                  </h4>
                </div>
              </div>

              <a>
                <div class="row mt127px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt158 tcenter underline">
                      Skip
                    </h4>
                  </div>
                </div>
              </a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->      
</div>
<!-- /page content -->