<title>Events | HumanWisdom</title>

<!-- top navigation -->
<app-feature-header title="Events"></app-feature-header>
<!-- /top navigation -->

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56 col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form> 
              <!-- search -->
              <div class="row prelative">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback zi0 p0 mb0px">
                  <input type="search" class="form-control has-feedback-left pfy_search hide_search searchtxt"  placeholder="Search for a topic" id="inputSuccess2" name="textSearch" [(ngModel)]="searchedText" (ngModelChange)="searchStory()">
                  <span class="fa fa-search form-control-feedback left pfy_search_icon" aria-hidden="true"></span>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                </div>
              </div>
              <!-- /search -->

              <!-- tabs -->
              <div class="container mt20px">
                <ul class="nav nav-tabs login_signup_tab flex_ai m0px">
                  <li id="upcoming_events">
                    <a data-toggle="tab" href="#tab2">
                      Upcoming events
                    </a>
                  </li>      
                  <li id="past_events" class="active">
                    <a data-toggle="tab" href="#tab1">
                      Past events
                    </a>
                  </li> 
                </ul>
          
                <div class="tab-content">
                  <!-- upcoming events -->
                  <div id="tab2" class="tab-pane fade">
                    <form>
                      <div class="row mt30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                            This is a link to HumanWisdom LIVE events, with guests from around the world. Each offers fresh ways of dealing with life’s challenges using wisdom.
                          </h4>
                        </div>
                      </div>

                      <div class="row mtb30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_18px fw_600 lh_24px fc_ffffff">
                            Upcoming events
                          </h4>
                        </div>
                      </div>
  
                      <div class="row v3_events_box_ue">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/event_ue_01.svg" class="img-responsive w100">
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt15px">
                                <h4 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
                                  A talk on stress
                                </h4>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mtb10px">
                                <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff">
                                  We all get hurt sometimes and it can impact our relationships and our mental health. Join us for...
                                </h4>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mb5px">
                                <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5 flex_ai">
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/event_date.svg" class="img-responsive mr5px">
                                  Date: July 22nd, 2023
                                </h4>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mb15px">
                                <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5 flex_ai">
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/event_time.svg" class="img-responsive mr5px">
                                  9am EST, 2pm UK, 6.30pm IST.
                                </h4>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                <button type="btn" class="btn btn_ctd">
                                  Register
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /upcoming events -->
  
                  <!-- past events -->
                  <div id="tab1" class="tab-pane fade in active">
                    <form>
                      <div class="row mt30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                            This is a link to HumanWisdom LIVE events, with guests from around the world. Each offers fresh ways of dealing with life’s challenges using wisdom.
                          </h4>
                        </div>
                      </div>

                      <div class="row mtb30px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mtb0px fs_18px fw_600 lh_24px fc_ffffff">
                            Past events
                          </h4>
                        </div>
                      </div>
  
                      <div class="row v3_events_box_ue">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 prelative">
                                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/event_ue_01.svg" class="img-responsive w100">
                                <div class="v3_event_img_overlay">
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/event_overlay_play.svg" class="img-responsive">
                                </div>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt15px">
                                <h4 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
                                  A talk on stress
                                </h4>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt10px">
                                <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff_0_5">
                                  00:19
                                </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /past events -->
                </div>
              </div>     
              <!-- /tabs -->

              <div class="pagebreak"></div>

            </form>              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->