<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Sometimes people are hurting themselves and bully others as a form of release or to make others feel what they are feeling. They may have been bullied themselves, or had some other disappointment or trauma to deal with. They may have a difficult family situation to deal with or not be doing well in school. In the school they may compare themselves with others who get better grades and feel less than others and suffer as a result.
          </p>

          <p>
            They may not always be aware of the impact of their behaviour on others.
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>