<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
           Welcome to this module where we will explore the subject of love in depth, and the many ways it impacts our life. It is part of the 5th circle of wisdom where we apply what we have learned in the other circles, to live with wisdom. Everyone is looking for love, and wants to be loved, but not quite sure what love is or how to get it. We feel it will make us happier. How do we begin to explore a subject as vast and complex as love? It seems daunting, but we can do this simply by asking 
           questions and then exploring them together. In this session we begin with a simple one - What is love?
          </p> 
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>