<div class="wrapper">
  <!-- header -->
  <nav class="navbar navbar-default navbar-static-top cnavbar-default">  
    <div class="row">
      <div class="navbar-header nh flex_center_left p20px">
        <a class="" href="#">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/hwp_logo.svg" class="">
        </a>
      </div>
    </div>
  </nav>
  <!-- /header -->

   <div class="prelative">  
    <div class="row wp_img">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">  
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/webpage/01.jpg" class="img-responsive wp_img_01">
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 absolute_wp_txt_01">  
        <h4 class="txt161">
          Be the best version of yourself, with HumanWisdom
        </h4>
      </div>
    </div>
  </div>

  <!-- page content -->
  <div class="right_col pt_rightcol_01 ml0" role="main">				
    <!-- Class -->
    <div class="cw100p"> 
      <div class="row drow center_flex safari_dblock">
        <div class="col-md-6 col-sm-8 col-xs-12 p0">
          <div class="x_panel p0">
            <div class="x_content p0">                  
              <form>   
                
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt162 mb0px">
                      COMING SOON
                    </h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 pt11px">
                    <h4 class="txt163 m0px">
                      The HumanWisdom App
                    </h4>
                  </div>
                </div>

                <div class="row mt21px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt164 m0px">
                      Get all the support you need to meet life’s challenges with serenity, and be successful - on the inside, and in the world.
                    </h4>
                  </div>
                </div>

                  <br>

                <div class="row mlr-10px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/webpage/02.jpg" class="img-responsive">
                  </div>
                </div>

                <div class="row mt37px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt165 m0px">
                      HOW WISDOM CAN HELP
                    </h4>
                  </div>
                </div>                

                <div class="row mt27px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt166 mt0px">
                      Be happy
                    </h4>                  

                    <h4 class="txt166">
                      Be mentally healthy
                    </h4>

                    <h4 class="txt166">
                      Have harmonious relationships
                    </h4>

                    <h4 class="txt166">
                      Be emotionally intelligent
                    </h4>

                    <h4 class="txt166">
                      Overcome anxiety and stress
                    </h4>

                    <h4 class="txt166">
                      Have compassion
                    </h4>

                    <h4 class="txt166">
                      Live with a sense of peace
                    </h4>
                  </div>
                </div>

                <div class="mt30px">
                  <hr class="hr_style_divider_01">
                </div>

                <div class="row mt30px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt167 m0px">
                      59 modules
                    </h4>
                  </div>
                </div>

                <div class="row mt10px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt165 m0px">
                      INCLUDING
                    </h4>
                  </div>
                </div>

                <div class="row center_flex mt20px">
                  <div class="col-md-12 col-sm-12 col-xs-11">
                    <h4 class="txt168 m0px">
                      Happiness, Stress, Anxiety, Communication, Relationships, Criticism, Addiction, Loss, and more
                    </h4>
                  </div>
                </div>

                <div class="row mlr-10px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <div class="prelative">  
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">  
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/webpage/03.png" class="img-responsive w100">
                        </div>
                  
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 absolute_wp_txt_02">  
                          <h4 class="txt169">
                            Key Features
                          </h4>

                          <h4 class="txt170 mt20px">
                            ONLINE FORUM
                          </h4>

                          <h4 class="txt89 tcenter">
                            Connect and share your thoughts with others
                          </h4>

                          <h4 class="txt170 mt20px">
                            JOURNAL
                          </h4>

                          <h4 class="txt89 tcenter">
                            Your private, secure online journal
                          </h4>

                          <h4 class="txt170 mt20px">
                            COACHING PROGRAM
                          </h4>

                          <h4 class="txt89 tcenter">
                            For extra support, when you need it
                          </h4>

                          <h4 class="txt170 mt20px">
                            WISDOM CAFE
                          </h4>

                          <h4 class="txt89 tcenter">
                            A place for moderated group discussions
                          </h4>

                          <h4 class="txt170 mt20px">
                            WISDOM STORIES
                          </h4>

                          <h4 class="txt89 tcenter">
                            Real life stories from across the world
                          </h4>

                          <h4 class="txt170 mt20px">
                            WISDOM SURVEY
                          </h4>

                          <h4 class="txt89 tcenter">
                            Track your progress through the app
                          </h4>

                          <div class="hr_ddiv">
                            <hr class="hr_style_divider_02">
                          </div>

                          <h4 class="txt171 tcenter mtb0px">
                            A sneak peek into the app
                          </h4>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt20px">  
                            <video controls class="cvideo" class="embed-responsive-item img-responsive object_fit w100 br5px" poster="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/feature/feature_title.jpg">
                              <source src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/adult_dashboard/What+are+the+benefits+of+wisdom.mp4" type="video/mp4">                        
                            </video>
                          </div>
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row center_flex mt40px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt172 m0px">
                      The HumanWisdom Program
                    </h4>
                  </div>
                </div>
                
                <div class="row center_flex mt10px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt173 m0px">
                      HumanWisdom is an online program to help you discover your own wisdom so you can be happy and live with a sense of peace. This wisdom comes from understanding yourself and is not based on any ideology or belief. Wisdom enables you to go deeper and address the root cause of problems, rather than just deal with the symptoms.
                    </h4>
                  </div>
                </div>

                <div class="get_in_touch">
                  <div class="row center_flex">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt165 mtb0px">
                        GET IN TOUCH
                      </h4>
                    </div>
                  </div>
  
                  <div class="row center_flex mt10px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt174 mtb0px tcenter">                      
                        info@humanwisdom.me
                      </h4>
                    </div>
                  </div>
                </div>  
                
                <div class="row center_flex mt40px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt165 m0px">
                      ELSEWHERE
                    </h4>
                  </div>
                </div>

                <div class="row center_flex mt10px">
                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <a href="https://www.facebook.com/humanwisdom.me/">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/facebook.png" class="">
                      </div>  
                    </a>
                    
                    <a href="https://twitter.com/HumanWisdom_me">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/twitter.png" class="">
                    </div> 
                    </a>

                    <a href="https://www.instagram.com/humanwisdom.me/">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/instagram.png" class="">
                      </div> 
                    </a>

                    <a>
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/linkedin.png" class="">
                      </div> 
                    </a>

                    <a>
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/youtube.png" class="">
                      </div> 
                    </a>
                  </div>
                </div>

                <div class="row center_flex mt60px">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt173 m0px">
                      2021 All rights reserved
                    </h4>
                  </div>
                </div>

                <div class="pagebreak"></div>
  
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class --> 
  </div>
  <!-- /page content -->
</div>