<!-- page content -->
<div class="right_col ml0 module1_w10" role="main">				
  <!-- Class -->  
  <div class="cw100p cabsolute t25px">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel cxpanel center_flex dflexblock">                                                
          <div class="x_content c_white fwunset tcenter">
            <form>                

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h3 class="txt4">                      
                    {{this.question}}
                  </h3>
                </div>
              </div>

              <h6 class="txt5">
                Click all that apply
              </h6>

              <br>

            

              <div *ngFor="let o of optionList">
                <div  class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12  p0">
                    <div *ngIf="!o.CorrectAns"> 
                      <a class="sb_anchor"  >
                        <div class="box select_box fleft">
                          <h3 class="txt9 ctxt9" (click)="checkOption(o.OptId)">
                            {{o.OptStr}}
                            <!-- Having done something before and succeeded -->
                          </h3>    
                        </div>                    
                      </a>
                    </div>
                    <div *ngIf="o.CorrectAns">
                      <a class="sb_anchor">
                        <div class="box select_box ans fleft bg-orange">
                          <h3 class="txt9 ctxt9" (click)="checkOption(o.OptId)">
                            {{o.OptStr}}
                            <!-- Having done something before and succeeded -->
                          </h3>    
                        </div>                    
                      </a>
  
                    </div>
                    
                  </div>
                </div>
                <br>
                <!-- [attr.id]="'lab-slide-bottom-popup'+o.OptId"
                [attr.data-target]="'#lab-slide-bottom-popup'+o.OptId" -->
               
                <div class="modal fade" [attr.id]="'lab-slide-bottom-popup'+o.OptId" data-keyboard="false" data-backdrop="false">
                  <div class="lab-modal-body">                    
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h3 class="txt10">
                          {{o.OptStr}}
                        </h3>    
                      </div>
                    </div>                    
  
                    <div class="row center_flex pt20px">
                      <div class="col-md-2 col-sm-4 col-xs-8 tcenter">
                        <button type="button" class="btn btn-default btn_try_again" data-dismiss="modal">Try Again</button>
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>

              <!-- modal test -->
              <div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
                <div class="lab-modal-body">                    
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                      <h3 class="txt10">
                        Being conscious of the unconscious process of comparison can help you free yourself. 
                      </h3>    
                    </div>
                  </div>                    

                  <div class="row center_flex pt20px">
                    <div class="col-md-2 col-sm-4 col-xs-8 tcenter">
                      <button type="button" class="btn btn-default btn_try_again" data-dismiss="modal">Try Again</button>
                    </div>
                  </div>                    
                </div>
              </div>
              <!-- /modal test -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<div class="sidebar-footer hidden-small">
  <div class="row lh5rem">
    <div class="col-md-12 col-sm-12 col-xs-12 tcenter center_flex">
      <div class="col-md-2 col-sm-2 col-xs-4">        
        <a routerLink="/adults/comparison/s11">
          <button type="button" class="btn w100 mb0 btn_prev">Previous</button>          
        </a>        
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6 p0">
        <a routerLink="/adults/comparison/s13">          
          <button type="button" class="btn btn-default w100 mb0 btn_next">Next</button>
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">        
      </div>
    </div>
  </div>
</div>
<!-- /footer -->

<!-- bottom navigation -->
<app-botnav></app-botnav>
<!-- /bottom navigation -->