<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      There is no right or wrong when it comes to comparison or envy. It is just a feeling to be explored and understood.
    </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>