<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">

  <form>

    <h1 class="txt2 fw_500 lengthy_txt_title">
      By being aware of our self-interest in relationships we could:
    </h1>

    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">01</p>
      Love the other person for their sake
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">02</p>
      Be genuinely happy at their success
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">03</p>
      Listen deeply and understand what people are not saying
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">04</p>
      Not make our love conditional on what they do for us
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">05</p>
      Allow goodness and kindness to flower in our relationships
    </h3>

  </form>

</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>