<!-- top navigation -->
<nav class="navbar navbar-default navbar-static-top cnavbar-default">
  <div class="black_div"></div>
  <div class="container ncenter_flex pt1rem">
    <div class="navbar-header nh center_flex subscription_nav">
      <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="cimg" href="#">
        <!-- <img src="assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt=""> -->
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse hide_nav">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/login">Login</a></li>
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/signup">Register</a></li>
          <li class="libr"><a href="https://humanwisdom.me/hwp/webpages/help.php">Help</a></li>
          <li class=""><a href="https://humanwisdom.me/hwp/webpages/profile.php">My Profile</a></li>
          <li role="separator" class="divider"></li>
        </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav cnavbar-nav">
          <li><a href="">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_childrens.php">Children</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_teenagers.php">Teenager</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_adults.php">Adults</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_parents.php">Parents</a></li>
            </ul>
          </li>
          <li class="active"><a href="https://humanwisdom.me/hwp/webpages/wisdom_community.php">Community</a></li>
          <li><a href="">Wisdom Survey</a></li>
          <li><a href="">Wisdom Journal</a></li>
          <li><a href="https://humanwisdom.me/Course/#/onboarding/addcart">Subscribe</a></li>
          <li><a href="https://humanwisdom.me/hwp/webpages/testimonials.php">Testimonials</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0 bg_blur mt145px" role="main">
  <!-- Class -->
  <div class="">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel p0">
          <div class="x_content fwunset p0">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h4 class="ob_txt1">
                    Subscribe
                  </h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 tright p0">
                  <a href="#" class="acurrency">
                    Currency
                  </a>
                  <button class="btn btn-default btn_inr" type="button">
                    INR
                  </button>
                </div>
              </div>

              <hr class="dhr">

              <div class="row center_flex">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/discount.svg" alt="" class="">
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10 p0">
                  <h6 class="discount_txt">
                    Enjoy a 10% discount on 2 or more annual subscriptions
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <p class="txt50">
                    Our programs are designed for est qui dolorem ipsum quia dolor sit. You may choose to subscribe it for yourself or even gift it to your family, friends or colleagues.
                  </p>

                  <p class="txt51">
                    For bulk subscriptions, please
                    <a class="txt52">
                      Contact Us
                    </a>
                  </p>
                </div>
              </div>

              <div class="row pt30px">
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                  <a>
                    <button type="button" class="btn btn-success mb0 btn_subscribe_code" data-dismiss="modal">I already have a Subscription Code</button>
                  </a>
                </div>
              </div>

              <!-- adults -->
              <div class="row center_flex pt40px">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/programs/subscription/adults.png" class="w100">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7 pr10px pl0">

                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h6 class="txt53">
                      Adults
                    </h6>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex pb10px">
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <select class="form-control subscribe_select">
                            <option>Annual</option>
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h6 class="txt54">
                        INR 6,000
                      </h6>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                      <div class="col-md-6 col-sm-6 col-xs-6 p0">
                          <!-- quantity btn -->
                          <div class="input-group mb0px">
                              <input type="button" value="-" class="button-minus grey mr5px" data-field="quantity">
                              <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field orange">
                              <input type="button" value="+" class="button-plus grey ml5px" data-field="quantity">
                          </div>
                          <!-- /quantity btn -->
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <p class="txt105">
                              Add more if you wish to gift this program to others
                          </p>
                      </div>
                  </div>

                </div>
              </div>
              <!-- /adults -->

              <!-- childrens -->
              <div class="row center_flex pt30px">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/programs/subscription/childrens.png" class="w100">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7 pr10px">

                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h6 class="txt53">
                      Children (&lt;13 years)
                    </h6>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex pb10px">
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <select class="form-control subscribe_select">
                            <option>Annual</option>
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h6 class="txt54">
                        INR 6,000
                      </h6>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <button type="button" class="btn btn-warning mb0 btn_subscribe" data-dismiss="modal">Subscribe</button>
                  </div>

                </div>
              </div>
              <!-- /childrens -->

              <!-- parents -->
              <div class="row center_flex pt30px">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/programs/subscription/parents.png" class="w100">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7 pr10px">

                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h6 class="txt53">
                      Parents
                    </h6>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex pb10px">
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <select class="form-control subscribe_select">
                            <option>Annual</option>
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h6 class="txt54">
                        INR 6,000
                      </h6>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <button type="button" class="btn btn-success mb0 btn_subscribe" data-dismiss="modal">Subscribe</button>
                  </div>

                </div>
              </div>
              <!-- /parents -->

              <!-- teens -->
              <div class="row center_flex pt30px">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/programs/subscription/teenagers.png" class="w100">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7 pr10px">

                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h6 class="txt53">
                      Teens
                    </h6>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex pb10px">
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <select class="form-control subscribe_select">
                            <option>Annual</option>
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h6 class="txt54">
                        INR 6,000
                      </h6>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <button type="button" class="btn btn-success mb0 btn_subscribe" data-dismiss="modal">Subscribe</button>
                  </div>

                </div>
              </div>
              <!-- /teens -->

              <div class="row pt40px">
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                  <a>
                    <button type="button" class="btn btn-warning mb0 proceed_cart w100" data-dismiss="modal">Proceed to Cart</button>
                  </a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


