<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Most of us love the things we get something back from - our children, our jobs, our family, our partners, our friends, our country, our religion and our possessions. Our love stops there, and is limited to what we identify with as ours. The environmental crisis may be because we have lost our connection with nature, and though we understand we are dependent on it in an intellectual way, we don’t really love it in the way we love the people in our life. That may be because it does not meet our emotional needs, in the way people do. Tribal people who lived off the land, and still do in forests around the world have a reverential relationship with nature and the earth, because their life depends on it. We mistakenly think ours does not. What can we do to change that? 

          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>