<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      When we say we want to be happy, what we really mean is we want to feel at peace.
<br>Without integrity, this is not possible. All the money in the world cannot buy us peace.


      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
