<app-course-header [toc]="toc" [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>
 
<app-kta-prevnext [bg]="bg">

  <form class="">

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      Criticism can impact:
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      01. Feelings
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      02. Behaviour
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      03. Relationships
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      04. Self-esteem
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      05. Our jobs
    </h1>
    
  </form> 
    
</app-kta-prevnext>
 
<!-- <app-kta-footer [bg_cft]="bg_cft" (prev)="prev()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>

      
