<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          When you are happy you say ‘I am happy’. When you are sad you say 
          ‘I am sad’ and feel it in your whole being.
          All our emotions are linked to thinking and the ‘I’. If a child is crying and you distract them, they immediately stop crying, because the thought that upset them is no longer active. As adults, when we are stressed, and we distract ourselves and think about something else, for that period our stress goes away. The more we think about something, say a fear of something happening in the future, the more energy we seem to give it, and the stronger the fear grows, until we feel unable to do anything about it.

        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>