.modal.fade.in .lab-modal-body.modal-top {
    top: 1px !important;
}


.modal-ext-scroll .lab-modal-body {
    max-height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
  }

  .modal-body-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px; /* Minimal padding for scrollbar */
  }


  .google-login-socialx {
    opacity: 0.001;
    top: 6px;
    position: absolute;
    left: 45px;
}