.modal.fade.in .lab-modal-body.modal-top {
    top: 1px !important;
}


.modal-ext-scroll .lab-modal-body {
    max-height: 100vh; 
    overflow-y: auto; 

  }

  .google-login-socialx {
    opacity: 0.001;
    top: 6px;
    position: absolute;
    left: 45px;
}
