<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Integrity is a precious, fragile thing that needs careful looking after. Once our reputation 
      is damaged, it is hard to recover. We need to begin by regarding it as the most important trait of leadership.

                  
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
