<div class="wrapper">
  <!-- header -->
  <app-tn-hwp-project></app-tn-hwp-project>
  <!-- <app-toc-topnav></app-toc-topnav> -->
  <!-- /header -->

  <!-- page content -->
  <div class="right_col mc_01" role="main">
    <!-- Class -->
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 p0 bg_white">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>
                <div class="prelative">
                  <div class="row ">
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">  
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/project/01_mobile.svg" class="img-responsive w100">
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt30p bgm_hwp_project_01">
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="fw_400 fs_30px lh_130p fc_000000">
                            The HumanWisdom Project
                          </h4>
                          <h6 class="txt194">
                            The HumanWisdom Project aims to bring human beings together to explore our shared humanity
                            and live with wisdom. Our mission is to reduce suffering and make the world a better place.
                            This wisdom comes from a deeper understanding of ourselves and how our minds work. As we
                            begin to...
                            <div class="rm_txt_01">
                              learn about ourselves we see that deep down we are the same human being and our minds
                              function in similar ways. This understanding also awakens compassion, and allows us to
                              live with a sense of peace. Most problems that defy an easy solution begin in our
                              thinking. These include mental health problems, conflicts in our relationships, addiction,
                              violence, war, and climate change. To address them we have to go deeper to explore where
                              they begin, and understand ourselves. Living with wisdom allows us to prevent and more
                              easily overcome these problems, and live in peace, with ourselves, each other and the
                              earth.
                            </div>
                            <span class="txt198 underline rm_01">read more</span>
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 hwp_project-mt">
                      <img
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/project/hwp_project_m01.svg"
                        class="img-responsive w100">
                    </div>
                  </div>
                </div>

                <div class="row center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                    <h4 class="fw_400 fs_30px lh_130p fc_000000">
                      The HumanWisdom App
                    </h4>
                    <h6 class="txt194 mt20px">
                      The HumanWisdom app is a life-companion and a step by step guide to help users understand
                      themselves and live with wisdom. This is not based on any ideology, but on looking and learning
                      about ourselves. It has 59 modules that can help you navigate all of life’s challenges with calm.
                      New content is added regularly and there are many features to explore.
                    </h6>
                  </div>
                </div>

                <div class="row mt20px center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                    <a (click)="getApp()">
                      <button type="button" class="btn btn_warning btn_get_hwp_app w100">Get the App</button>
                    </a>
                  </div>
                </div>

                <div class="prelative">
                  <div class="row wp_childrens_adults_img">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                      <img
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/project/hwp_project_m02.svg"
                        class="img-responsive w100 br50p">
                    </div>
                  </div>

                  <div class="row wp_childrens_adults_txt">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt30p bgm_hwp_project_02 plr20px">
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wp_cat_inner plr20px">
                          <h4 class="txt195">
                            Wisdom Programs for Children and Parents
                          </h4>
                          <h6 class="txt101">
                            We are developing 3 other wisdom programs - one for children 11 and under, one for
                            teenagers, and one for parents. The adult program is suitable for everyone 16 years and
                            older. Our work with children has shown that they have an innate wisdom that can be easily
                            awakened by asking...
                            <div class="rm_txt_02">
                              them the right questions. If we can teach them this wisdom, alongside their other
                              subjects, they can meet the challenges of life without getting anxious or stressed, and
                              have healthy relationships. It also helps them develop emotional intelligence and the soft
                              skills they need for work. We are working with schools to develop these programs for
                              children.
                            </div>
                            <span class="txt199 underline rm_02">read more</span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt40px center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                    <h4 class="fw_400 fs_30px lh_130p fc_000000">
                      The HumanWisdom Foundation
                    </h4>
                    <h6 class="txt194 mt20px">
                      We plan to set up a HumanWisdom Foundation, a charitable organisation funded by HumanWisdom. We
                      will translate the app into other languages and make it accessible to disadvantaged communities
                      around the world. We will set up a teacher training academy to train teachers to teach this wisdom
                      to children. In...
                      <div class="rm_txt_03">
                        keeping with our ethos to make the world a better place, we will plant a tree for every
                        subscriber. We believe that if we can help more people live with wisdom, we can begin to address
                        some of the most difficult problems humanity faces. The Foundation will work towards this.
                      </div>
                      <span class="txt198 underline rm_03">read more</span>
                    </h6>
                  </div>
                </div>

                <div class="row mt40px center_flex">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                    <h4 class="fw_400 fs_30px lh_130p fc_000000">
                      Help us Improve
                    </h4>
                    <h6 class="txt194 mt20px">
                      We believe the app belongs to all its users, and everyone is welcome to contribute to help us
                      improve it. It could be an insight into how the mind works, or a better way of presenting this
                      information. We have a shared humanity and are just exploring the mind we all share. There is no
                      authority. Nothing is true unless you see it clearly yourself. This understanding brings
                      illumination, which can lead to transformation. If you have a comment that can help us improve the
                      app please email
                      <a href="mailto:info@humanwisdom.me" target="_top" class="txt200 underline">
                        comment@humanwisdom.me
                      </a>
                    </h6>
                  </div>
                </div>

                <div class="row center_flex ">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr20px">
                    <h4 class="fw_400 fs_30px lh_130p fc_000000 mtb0px project_get_involved">
                      Get involved
                    </h4>
                    <h6 class="txt194 mtb0px">
                      If the project resonates with you and you’d like to get involved, to help make the world a better
                      place, please email us at
                    </h6>
                  </div>
                </div>

                <div class="get_in_touch">
                  <div class="row center_flex">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <a href="mailto:info@humanwisdom.me">
                        <h4 class="txt174 mtb0px tcenter">
                          info@humanwisdom.me
                        </h4>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- <div class="get_in_touch">
                  <div class="row center_flex">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt196 mtb0px">
                        TO FIND OUT WHEN THE APP LAUNCHES
                        <br><br>
                        Mail
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex mt10px">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <a href="mailto:info@humanwisdom.me">
                        <h4 class="txt197 mtb0px tcenter">                      
                          info@humanwisdom.me
                        </h4>
                      </a>
                    </div>
                  </div>
                </div>   -->

                <div class="row center_flex">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt165 mtb0px tcenter">
                      ELSEWHERE
                    </h4>
                  </div>
                </div>

                <div class="row center_flex project_social_icons">
                  <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                    <a href="https://www.facebook.com/humanwisdom.me/">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_01.svg"
                          class="">
                      </div>
                    </a>

                    <a href="https://twitter.com/HumanWisdom_me">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/twitter_01.svg"
                          class="">
                      </div>
                    </a>

                    <a href="https://www.instagram.com/humanwisdom.me/">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/instagram_01.svg"
                          class="">
                      </div>
                    </a>

                    <a href="https://www.linkedin.com/company/humanwisdom">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/linkedin_01.svg"
                          class="">
                      </div>
                    </a>

                    <a href="https://www.youtube.com/channel/UCdNujB6X0slYKxLSdWuqCrA">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/youtube_01.svg"
                          class="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="row center_flex project_rights_reserved">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="txt173 mtb0px tcenter">
                      2021 All rights reserved
                    </h4>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class -->
  </div>
  <!-- /page content -->
</div>