<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Addiction begins with the search for pleasure.<br>
      The intensity of this pleasure fades with time.<br>
      Then addiction continues because we want to avoid pain 
      <span class="highligted_span">
        (of withdrawal).
      </span>      
    </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
