<title>Guided Journeys | HumanWisdom</title>

<!-- top navigation -->
<div class="tn_bv">
  <div class="row center_flex bg_bv">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 col_cw img_podcast"
      [ngClass]="isAdults ? 'bg_FFF7E6' : 'bg_stake'">
      <img src="https://d1tenzemoxuh75.cloudfront.net/guided_journeys/guided_journalnew.webp" alt=""
        class="img-responsive w100" style="height:200px; border-bottom-right-radius:20px; border-bottom-left-radius:20px">
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 toc_nvmenu_v3 col_cw">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tleft">
        <a (click)="goBack()" class="">
          <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v1_3/back_round.svg" alt="" class="p0"
            *ngIf="!isAdults">
          <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v_1_4/back.svg" alt="" class="p0"
            *ngIf="isAdults">
        </a>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
        <a class="">
          <h4 class="mtb0px fs_18px fw_600 lh_130p tcenter" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff'">
            Guided Journeys
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>

<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_01_v3 mc_01_v3_ext" [ngClass]="{'adults-scroll': isAdults}">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw" [ngClass]="isAdults ? 'bg_FFF7E6' : 'bg_stake'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>
              <div class="row mt10px mb20px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fs_15px fw_400 lh_150p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff'">
                    Guiding you step by step with carefully chosen content each day, to help you move towards your goals
                    and create real change.
                  </h4>
                </div>
              </div>

              <div [ngClass]="isAdults ? 'toc_adiv_03journey' : 'toc_adiv_02'" class="mt20px">
                <ng-container *ngIf="isLoading">
                  <div class="row mt20px">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                      <app-spinner [show]="isLoading"></app-spinner>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="!isLoading">
                  <ng-container *ngIf="filteredList.length > 0; else noResult">
                    <ng-container *ngFor="let data of filteredList; let i=index">

                      
                      <a (click)="navigateToInner(data)" id="gj-{{data.id}}">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                            <div class="col-md-2 col-sm-2 col-xs-2 p0 ">
                              <img src="{{data.imgUrl}}" alt="" class="p0 session_img session_imgjourney" />
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-9 plr20px">
                              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p"
                                [ngClass]="isAdults? 'fc_000000': 'fc_e58d82'">
                                {{data['title']}}
                              </h4>
                              <p class="mt0px mb5px fs_12px fw_400 lh_130p "[ngClass]="isAdults? 'fc_000000_0_5': 'fc_ffffff_0_5'" *ngIf="data.subtitle">
                                {{data.subtitle}}
                              </p>
                              
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                               <img *ngIf="data.isRead === '1' && isLoggedIn"
                                src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/v_1_4/isRead.svg"
                                class="ws-read-icon" alt="read"> 


                            </div>
                          </div>
                        </div>
                      </a>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-template #noResult>
                  <div class="row mt20px">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                      <h4 class="fs_15px fw_400 lh_150p" [ngClass]="isAdults? 'fc_000000': 'fc_ffffff'">
                        No guided journeys found.
                      </h4>
                    </div>
                  </div>
                </ng-template>
              </div>

              <div class="pagebreak"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal *ngIf="showModal" [title]="modalTitle" [content]="modalContent" [okText]="'Start your free trial'"
  [cancelText]="'Cancel'" [enableCancel]="true" [isFreeTrialEnable]="true" (closeEvent)="onModalClose($event)">
</app-modal>

<app-index-footer></app-index-footer>