<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">
  <form>
    <h1 class="txt2 fw_500 lengthy_txt_title">
      How common is bullying?
    </h1>
    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">      
      01. 18% of NHS staff reported being bullied (UK)
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      02. 20% of teenagers aged 13-18 (CDC)
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      03. 1 in 6 students were cyberbullied (CDC)
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      04. 20% of US workers experience bullying (ishn.com)
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      05. 1 in 3 young people in 30 countries (UNICEF)
    </h3>

    <h1 class="txt2 fw_500 lengthy_txt_title">
      The actual rate of bullying is probably higher, as it is under-reported
    </h1>

  </form>
</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>