<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"  [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            This enquiry is simple, but not always easy. Any skill we want to learn needs enthusiasm, just like learning to play the piano. We learn so much better if we have a passion for the thing we are learning.
            This enquiry leads to wisdom which can be life-changing, so it is definitely worth giving all our passion to learning about ourselves.
          </p>
          <p>
            What will motivate you to give your heart to this enquiry? It could be because you have a problem to solve, or you want to live a healthy and stress free life, or you want to have excellent relationships, or communicate better or because you want to be a successful human being.Whatever the driver, this enquiry will leave you changed.
          </p> 
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>