<app-toc-header [moduleName]="'Habits and Addictions'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>                                
   

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="txt_comparison">
          In this module we explore what makes the mind prone to develop habits it cannot break, and addictions it cannot escape from, the hidden causes of that in our thinking, how we can meet emotional pain with intelligence, and how we can overcome our habits and addictions. This understanding can also help us avoid them.
        </h4>
      </div>
    </div>

    <br>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">                        
        <a [routerLink]="['/teenagers/habit-addiction', pgResume]" *ngIf="lastvisited">
          <button type="button" class="btn  mb0 btn_begin_here " data-dismiss="modal">Continue where you left</button>
        </a>
        <!-- <a routerLink="/habit-addiction/s1">
          <button type="button" class="btn btn_default mb0 txt_purple" data-dismiss="modal">Start from the beginning</button>
        </a> -->
      </div>
    </div>                    

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">
      <a routerLink="/teenagers/habit-addiction/s127002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #1
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Exploring Habits and Addictions
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                24:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/habit-addiction/s127056">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #2
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                The hidden causes of addiction
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                17:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/habit-addiction/s127090">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #3
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Dealing with emotional pain
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                07:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/teenagers/habit-addiction/s127117">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #4
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Overcoming habits and addictions
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                16:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>

          </div>
        </div>
      </a>

      <!-- video row -->
      <a routerLink="/teenagers/habit-addiction/s127154">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/addiction_01.jpg" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #5
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Dialogue with a university student on addiction 
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  08:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/teenagers/habit-addiction/s127157">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/toc/addiction_02.jpg" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #6
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Dialogue with a recovered addict on lessons he has learned
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  32:00
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isLoggedIn && isSubscriber">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isLoggedIn || !isSubscriber">
              <!-- lock -->
              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg" class="img-responsive">
              <!-- /lock -->
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->
    </div>

    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <div class="toc_adiv_mp">
      <!-- audio row -->
      <a routerLink="/teenagers/audiopage/~podcasts~73.mp3/73/T/Hidden-drivers-behind-addiction.">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p0">
              <div class="prelative">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/webp/podcast/73.webp" class="img-responsive w100 img_podcast_01">
                  </div>
                </div>

                <!-- <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_24_24.svg" class="img-responsive">
                  </div>
                </div> -->
              </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pl20px pr0px">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_e58d82">
                Podcast
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_ffffff ellipsis_02">
                Hidden drivers behind addiction.
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                51:09 mins
              </h4>
            </div>

          </div>
        </div>
      </a>
      <!-- /audio row -->
    </div>

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"  *ngIf="stories.length !== 0"></app-related-wisdom-stories-tiles>
    
  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>