<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-image-text base="stress_base2" overlay="stress_overlay2_mobile" class="mshowhide">
  <form>
    <h1 class="txt1">
      This reaction from our thinking is automatic, and very fast, faster than a bullet coming out of a gun. We are not aware of this.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-image-text>

<app-image-text base="stress_base2" overlay="stress_overlay2_desktop" class="dshowhide">
  <form>
    <h1 class="txt1">
      This reaction from our thinking is automatic, and very fast, faster than a bullet coming out of a gun. We are not aware of this.
    </h1>
    <div class="clearfix"></div>
  </form>
</app-image-text>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
