<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Does money define who you are? If you are wealthy, then you will attract envy, or those who want something from you. Your sense of self worth will go up and down based on how much money you have. You may compare yourself with those who have more and feel envious, and think of ways of making even more, and be preoccupied with that. If you are not wealthy, you may feel like a failure if others have more than you, and get depressed.
         <br> We  are all so much more than the money we have or do not have. We can also be defined by our character, the books we read, our sense of integrity, how loving we are, or what we do for others who can do nothing for us in return.  We all have loving relationships that give our life meaning. We could value ourselves for our wisdom and the fact we live with a sense of peace. 
          
          </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>