<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Sometimes, you may have everything you wanted to achieve. You have a nice house, children, a good job and a lovely husband or wife or partner. This is what you were conditioned to believe would make you happy, so you spent your life chasing this dream. Why then, despite having everything, do you still feel incomplete, sad, and lacking somehow? The answer may lie in this inner emptiness which is usually hidden from our awareness and operates from behind the scenes. What you learn is that no matter how much you try and escape from it, it doesn't go away. In the next session we will explore how we can respond to this with our wisdom.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>