<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">
  <form>
    <h1 class="txt1">
      Obesity is defined as a Body Mass Index of more than 30, and affects 42% of people in the US, and 28% in the UK. Globally 13% of the population was obese in 2016. This has tripled since 1975.

      </h1>
    <div class="clearfix"></div>
  </form>
</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
