<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>

    <h1 class="txt1">
      A simple question can open the door to freedom from our prejudices - Why do I think this way, and what conditioning influences are behind this way of thinking?
    </h1>

    <div class="clearfix"></div>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>