<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">                          
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>  
    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        PATHWAY
      </h1>  
    </div>
    
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="mt20px">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 pimgrow">
                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_01_inactive.svg" class="img-responsive">
                  </a>

                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_02_inactive.svg" class="img-responsive">
                  </a>

                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_03_inactive.svg" class="img-responsive">
                  </a>
                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_04_inactive.svg" class="img-responsive">
                  </a>
                  <a>
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/pathway_05_inactive.svg" class="img-responsive">
                  </a>
                </div>
              </div>
            
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt15px mb15px">
                  <h4 class="mtb0px fw_500 fs_24px lh_140p fc_ffffff">
                    Understand yourself
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                    In this section we explore the art of looking and learning about ourselves, also called the art of self-enquiry. This is an important skill to learn well, and central to the discoveries we will make.
                  </h4>
                </div>
              </div>

              <!-- hr -->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <hr class="hr_style_v3_01 mtb10pxi">
                </div>
              </div>
              <!-- /hr -->

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                </div>
              </div>

              <div class="row mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 msrow">
                  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/26.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Benefits of enquiry
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/36.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Begin your journey
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/37.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Three steps to enquiry
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/38.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Insight
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                2 sessions
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/39.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Awareness
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/40.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                No judgement
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/41.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Questions are key
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                2 sessions
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/42.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Look without language
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a>
                      <div class="row box_v3_04">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/43.png" class="img-responsive">
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                                Obstacles to enquiry
                              </h4>
                            </div>
                          </div>  
      
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                              <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                                1 session
                              </h4>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->