<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Consider this pyramid which represents the different layers of our thinking. Layer 1 is the world outside, and say someone is telling me about their new car. I cannot afford one, so I feel jealous and blame the other person for causing my pain. But the real cause of our pain may lie in the deeper and hidden layers of my thinking, in layers 3 and 4. For example the pain of envy is caused by my mind comparing all the time in layer 3. If I can go deeper and see what I can learn about the internal triggers in me that are behind the pain I feel, then it resolves, and does not repeat itself. Otherwise, the same external trigger in layer 1, will create the same response in layer 2, which we will keep blaming on external events.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>