<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="" (click)="goBack()">                          
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>  
    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Boredom
      </h1>  
    </div>
    
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="fbns">

              <!-- breathing exercise -->
              <a class="" (click)="routeVideoaudio('video','/adults/videopage/breathing-videos-1.4.mp4')" >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_v3_06">

                    <div class="prelative">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fbn_01.svg" class="img-responsive w100">
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
      
                    <div class="row mtb10px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <div class="col-md-2 col-sm-2 col-xs-2 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/breathing_exercise.svg" class="img-responsive w100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4 class="mtb0px fw_700 fs_12px lh_140p fc_ffffff ttuppercase ls_1_2px">
                            BREATHING EXERCISE
                          </h4>
                        </div>
                      </div>
                    </div>
      
                    <div class="row mb5px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fw_400 fs_18px lh_130p fc_ffffff">
                          Alternate nostril breathing
                        </h4>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 ws_normal">
                        <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                          05:29
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
              <!-- /breathing exercise -->

              <!-- audio meditation -->
              <a class="" (click)="routeVideoaudio('audio','/guided-meditation/audios/guided-meditation+1.32.mp3','Be present in your own life')">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_v3_06">

                    <div class="prelative">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fbn_02.svg" class="img-responsive w100">
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
      
                    <div class="row mtb10px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <div class="col-md-2 col-sm-2 col-xs-2 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/audio_meditation.svg" class="img-responsive w100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4 class="mtb0px fw_700 fs_12px lh_140p fc_ffffff ttuppercase ls_1_2px">
                            AUDIO MEDITATION
                          </h4>
                        </div>
                      </div>
                    </div>
      
                    <div class="row mb5px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fw_400 fs_18px lh_130p fc_ffffff">
                          Be present in your own life
                        </h4>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 ws_normal">
                        <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                          04:02
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
              <!-- /audio meditation -->

              <!-- short video -->
              <a class="" routerLink="/adults/wisdom-shorts/1.73.mp4">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_v3_06">

                    <div class="prelative">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fbn_03.svg" class="img-responsive w100">
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
      
                    <div class="row mtb10px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <div class="col-md-2 col-sm-2 col-xs-2 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/short_video.svg" class="img-responsive w100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4 class="mtb0px fw_700 fs_12px lh_140p fc_ffffff ttuppercase ls_1_2px">
                            SHORT VIDEO
                          </h4>
                        </div>
                      </div>
                    </div>
      
                    <div class="row mb5px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fw_400 fs_18px lh_130p fc_ffffff">
                          5 tips to deal with boredom
                        </h4>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 ws_normal">
                        <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                          00:34
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
              <!-- /short video -->

              <!-- long video -->
              <!-- <a class="" routerLink="/adults/get-support-now/s71001">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_v3_06">

                    <div class="prelative">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/fbn_04.svg" class="img-responsive w100">
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 img_absolute_01">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
      
                    <div class="row mtb10px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                        <div class="col-md-2 col-sm-2 col-xs-2 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/short_video.svg" class="img-responsive w100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4 class="mtb0px fw_700 fs_12px lh_140p fc_ffffff ttuppercase ls_1_2px">
                            LONG VIDEO
                          </h4>
                        </div>
                      </div>
                    </div>
      
                    <div class="row mb5px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fw_400 fs_18px lh_130p fc_ffffff">
                          Tips to get over stress right now
                        </h4>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0 ws_normal">
                        <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                          11:47
                        </h4>
                      </div>
                    </div>

                  </div>
                </div>
              </a> -->
              <!-- /long video -->

            </div>

            <!-- hr -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <hr class="hr_style_v3_01">
              </div>
            </div>
            <!-- /hr -->

            <!-- pathway -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 mt10px mb15px">
                <h4 class="mtb0px fw_500 fs_24px lh_140p fc_ffffff">
                  PATHWAY
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                  Delve deeper and explore these modules to overcome stress for the long term.
                </h4>
              </div>
            </div>

            <div class="row mt40px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 msrow">
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <a routerLink="/adults/inner-boredom">
                    <div class="row box_v3_04">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/56.png" class="img-responsive">
                          </div>
                        </div>  
    
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                              Inner Boredom
                            </h4>
                          </div>
                        </div>  
    
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                              2 sessions
                            </h4>
                          </div>
                        </div> 

                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <a routerLink="/adults/pleasure">
                    <div class="row box_v3_04">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/pathway/20.png" class="img-responsive">
                          </div>
                        </div>  
    
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <h4 class="mt10px mb10px fw_500 fs_15px lh_130p fc_ffffff">
                              Pleasure
                            </h4>
                          </div>
                        </div>  
    
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                            <h4 class="mtb0px fw_400 fs_12px lh_130p fc_ffffff_0_5">
                              4 sessions
                            </h4>
                          </div>
                        </div> 

                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div>
            <!-- /pathway -->

            <!-- go to pathway -->
            <a routerLink="/pathway/index/">
              <div class="row mt40px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="mtb0px fw_500 fs_12px lh_140p fc_ffffff tcenter underline">
                    Go to PATHWAY
                  </h4>
                </div>
              </div>
            </a>
            <!-- /go to pathway -->

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation [dash]="true" (journalclick)="getclcickevent($event)"></app-bottom-navigation>
<!-- /footer -->