<app-course-header [toc]="toc"[bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">
  <form class="">
    <h1 class="fw_300 fs_30px lh_35px fc_ffffff tleft">
      Make no mistake, anger can lead to aggression and violence.
      <br>
      In a relationship, it is communicated to the other person, even if you do not say anything.
    </h1>

    <div class="clearfix"></div>                   

  </form> 
</app-kta-prevnext>

<!-- <app-kta-footer [fbg]="bg" (previousEmitter)="previous()"></app-kta-footer> -->
<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="previous()"></app-course-footer>