.div-box {
  position: relative;
}
.select-selected:after {
  position: absolute;
  right: 50px !important;
}

// .div-box img { position: absolute; top: 2px; right: 5px }
.btn_forum_ask_a_gift_1,
.btn_tfas_1 {
    background-color: #D7586B;
    color: #ffffff;
    border-color: #D7586B;
    width: 100%;
    text-align: center;
    box-shadow: none !important;
    height: 50px;
    width: 100%;
    border-radius: 100px;
    box-shadow: 1px 1px 2px #00000040;
    font-weight: 600;
    line-height: 150%;
}
.btn_forum_ask_a_gift_1{
  width: 103px;
  height: 30px;
  border-radius: 100px;
}
.btn_aan2_1{
    background-color: #FFE8BB;
    color: #000000;
    border-color: #FFE8BB;
    border-radius: 100px;
    text-align: center;
    box-shadow: none !important;
    font-weight: 400;
    line-height: 150%;
    height: 50px;
    width: 154px;
    font-size: 15px;
}

.btn_forum_ask_a_gift_1:hover,
.btn_forum_ask_a_gift_1:active,
.btn_forum_ask_a_gift_1:focus,
.btn_forum_ask_a_gift_1:visited,
.btn_forum_ask_a_gift_1:disabled,
.btn_tfas_1:hover,
.btn_tfas_1:active,
.btn_tfas_1:focus {
  background-color: #D7586B;
  color: #ffffff;
  border-color: #D7586B;
}
.btn_forum_ask_a_gift:hover,
.btn_forum_ask_a_gift:active,
.btn_forum_ask_a_gift:focus,
.btn_forum_ask_a_gift:visited,
.btn_forum_ask_a_gift:disabled,
.btn_tfas:hover,
.btn_tfas:active,
.btn_tfas:focus{
  background-color: #ffffff;
  color: #e58d82;
  border-color: #ffffff;
}

.btn_aan2:hover,
.btn_aan2:active,
.btn_aan2:focus,
.btn_aan2:visited,
.btn_aan2:disabled {
  background-color: #e58d82;
  color: #ffffff;
  border-color: #e58d82;
}
a:hover{
  text-decoration: underline !important;
}

.sp_fc_1::placeholder {
  color: rgba(0,0,0,0.5);
  font-weight: 400;
}

.placeholder_faint {
  color: rgba(0,0,0,0.5) !important;
  font-weight: 400 !important;
}

.purple_banner {
  background-color: #803358;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.sp_fc_1, select.sp_fc_1 {
  background-color: #FFE8BB !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 12px !important;
  height: 50px !important;
  padding-left: 20px !important;
  color: #000 !important;
  width: 100%;
}

select.sp_fc_1 {
  padding-right: 40px !important; /* Make room for arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px;
}

.fc_D7586B {
  color: #D7586B !important;
}

.btn_view_cart {
    width: 100%;
    margin-top: 20px;
}

  label.select_label_1:after{
    color: #000 !important;
  }