.div-box {
  position: relative;
}
.select-selected:after {
  position: absolute;
  right: 50px !important;
}

// .div-box img { position: absolute; top: 2px; right: 5px }
.btn_aan2,
.btn_forum_ask_a_gift {
  background-color: #ED7D6F;
  color: #ffffff;
  border-color: #ED7D6F;
  width: 100%;
  padding: 12px 16px;
  border-radius: 28px;
  text-align: center;
}

.btn_aan2:hover,
.btn_aan2:active,
.btn_aan2:focus,
.btn_aan2:visited,
.btn_aan2:disabled,
.btn_forum_ask_a_gift:hover,
.btn_forum_ask_a_gift:active,
.btn_forum_ask_a_gift:focus,
.btn_forum_ask_a_gift:visited,
.btn_forum_ask_a_gift:disabled {
  background-color: #ED7D6F;
  color: #ffffff;
  border-color: #ED7D6F;
}
a:hover{
  text-decoration: underline !important;
}

.sp_fc::placeholder {
  color: rgba(0,0,0,0.5);
  font-weight: 400;
}

.placeholder_faint {
  color: rgba(0,0,0,0.5) !important;
  font-weight: 400 !important;
}
