<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Studies have shown that spending time in nature can lower the levels of the stress hormone cortisol. Studies in Japan have shown that trees secrete essential oils called Phytoncides which have been shown to boost our immune system. The Japanese call it Shirin-Yoku or forest-bathing. The key is to spend time in nature with all your senses awake and not to walk through talking to someone or listening to music. We have some nature meditations in the section on nurturing a quiet mind you can watch for inspiration.
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>