.sc_01{
    padding: 0 20px 20px;
}

.tn_title_back{
   box-shadow: none;
}

.txt_underline {
  text-decoration: underline !important;
  
  &:hover,
  &:focus {
    text-decoration: underline !important;
  }
}