<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            The second obstacle is when we feel our existing opinions and beliefs are being challenged. For example we may be really attached to our particular opinion about a certain politician or about immigration for example. When we begin to realise that all our opinions come from our unconscious conditioning influences and are not originally ours anyway, we may feel uncomfortable at letting go of them, and stop enquiring, because they are so much a part of our identity and who we are. The key takeaway is that no one is telling you what to think or what to do. It’s just a journey of learning about yourself. That learning may bring change, but it’s effortless, based on your own intelligence, and not on any external factor. No pattern of thinking is right or wrong, just a fact that needs to be explored and understood.
          </p>         
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>
