<app-course-header [bg]="bg" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-kta-prevnext [bg]="bg">

  <form class="">

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      1. Pleasure is fleeting
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      2. It operates in the background
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      3. It can cloud our judgement 
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      4. It can also lead to suffering
    </h1>

    <h1 class="fw_300 fs_24px lh_35px fc_ffffff tleft">
      5. Patterns of pleasure repeat themselves
    </h1>
    
  </form>  

</app-kta-prevnext>

<app-course-footer [bg_cft]="bg_cft" [bg]="bg" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>