<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Like the doctor in the story, we blame others for our suffering when we are not praised or recognised. This is just the way our mind works. It could be a parent who does not praise us for our achievements, or our partner or spouse who does not compliment our clothes or our new haircut. Or it could be at work where we start losing interest in our work because we feel it is not recognised. We begin to think it’s a bad organization to work for, or blame our boss for making us feel that way. 
When we blame others for our suffering, our mind thinks of retaliating in some way. It could be by withdrawing our affection, or becoming more indifferent at work, or our anger can express itself more directly.  We do not see that our suffering begins with our own expectations. 

          </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>