<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We are influenced unconsciously by all our past and current experiences. These form the basis for our thoughts and shape our behaviour but we are not aware we have been conditioned. We may have grown up in a neighbourhood where taking drugs was normal, or hung out with people who took them regularly, and it would seem normal to begin ourselves. Or, at a party everyone could be having a good time with drugs, and we may be feeling a bit left out and sad, so we decide to join in and take some. For a while we feel great, and are part of the group, so take some more, and the cycle begins. If we have not been exposed to drugs at all, it is much easier to avoid them. It requires great intelligence to avoid them if they are a regular part of our landscape’
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>