<app-toc-header [moduleName]="'Work'" [tocImage]="tocImage" [tocColor]="tocColor"></app-toc-header>

<app-index-content>

  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="txt_comparison">
          We spend so much of our lives at work. Work can be deeply satisfying, or a place of conflict and stress. In this module we explore how we can navigate the many challenges we face at work with wisdom, so we can thrive, and it can be a happy place we look forward to going to.
        </h4>
      </div>
    </div>

    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">                    
        <a [routerLink]="['/adults/work', wR]" *ngIf="lastvisited">
          <button type="button" class="btn mb0 btn_begin_here" data-dismiss="modal">Continue where you left</button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h4 class="title_content">
          CONTENTS
        </h4>
      </div>
    </div>

    <div class="toc_adiv">
      <a routerLink="/adults/work/s58002">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #1
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Wisdom At Work - Part 1
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                25:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/adults/work/s58049">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #2
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Wisdom at Work - Part 2
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                35:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/adults/work/s58081p3">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #3
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Workplace work - Podcast
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                04:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>

      <a routerLink="/adults/work/s58081p6">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
              <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                Session #4
              </h4>
              <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis_01">
                Being happy at work - Podcast
              </h4>
              <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                04:00
              </h4>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>

          </div>
        </div>
      </a>

      <!-- video row -->
      <a routerLink="/adults/work/s58087p1">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/08.svg" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #5
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Being happy at work
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  33:35
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/work/s58087p2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/10.svg" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #6
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Finding our true purpose in life
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  30:57
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/work/s58087p3">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/30.svg" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #7
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  How can we be more resilient?
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  47:31
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->

      <!-- video row -->
      <a routerLink="/adults/work/s58087p4">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">
              <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/curated_dbs/images/events/11.svg" alt="" class="p0 session_img">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg" alt="" class="p0 session_img_play">
              </div>
  
              <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                <h4 class="mt0px mb5px fs_12px fw_400 lh_130p fc_ffffff">
                  Session #8
                </h4>
                <h4 class="mt0px mb5px fs_15px fw_500 lh_130p fc_e58d82 ellipsis">
                  Well-being for the workplace
                </h4>
                <h4 class="mtb0px fs_12px fw_400 lh_130p fc_ffffff_0_5">
                  37:37
                </h4>
              </div>
              
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
              <i class="fa fa-angle-right fc_ffffff fs_20px"></i>
            </div>
          </div>
        </div>
      </a>
      <!-- /video row -->
    </div>

    <!-- hr -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <hr class="hr_style_v3_01">
      </div>
    </div>
    <!-- /hr -->

    <app-related-wisdom-stories-tiles [wisdomstories]="stories"></app-related-wisdom-stories-tiles>

  </form>    

</app-index-content> 

<app-index-footer></app-index-footer>