<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">        
          Welcome to this session where we are going to explore a difficult subject - that of bullying and abuse. It is complex and vast, and much more common than we realise. We are going to focus on what is going on behind the scenes, in the minds of the bully / perpetrator or abuser, and the victim, and explore if that understanding can illuminate the problem and offer fresh ways of dealing with it. We will explore how deep down all our minds function in similar ways, and with a deeper understanding of what is going on, we may avoid that fate for ourselves. Imagine all the anguish and suffering which could be avoided if we could all do that
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>