<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>        
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            It is not easy for us to look at ourselves honestly - but it is worth asking if our behavior might be considered as bullying by others. Are we acting in ways that others find hurtful? And do we justify that behavior to ourselves? 
            Are we hurting ourselves and do we take it out on others without realizing it?
            Can we find another way of dealing with our own pain?
            Do we feel insecure and want to control others? 
            Or have we been conditioned to think that bullying is normal?
          </p>

          <p>
            We can never heal our own wounds by hurting others. And we can never be at peace with ourselves if we are not at peace with others.
          </p>

          <p>
            Could our actions be kinder, more thoughtful and more empathetic? Could we sow the seeds of love in the world, rather than hurt and pain? We will benefit the most from this ourselves 
          </p>
        </h3>                
      </div>
    </div>
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>