<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">

  <form>

    <h1 class="txt2 fw_500 lengthy_txt_title">
      The combination of identity and self-interest:
    </h1>

    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">01</p>
      Causes division between people, groups, and countries
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">02</p>
      Increases conflict between groups and can lead to war
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      <p class="mb0px fw_500">03</p>
      Stops us from coming together to solve problems that affect us all
    </h3>

  </form>

</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>