<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We all carry memories of our pain, often for years. This is common in families. When we meet someone who has hurt us, how does that impact how we speak to them? We begin with a negative image of them. They may have changed but we don’t see that. Everything they say is heard through the memory of our hurt, and interpreted in a critical way. Our anger shows in the tone of our voice and our body language. The other person gets a sense of our coolness and responds in the same way. Misunderstandings are much more common and something vital gets lost in communication. If we are aware of this process occurring unconsciously, perhaps we can respond differently, and try to build a connection, and let the past go
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>