<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage" [progName]="progName"></app-transcript-header>

<app-transcript-content [bg]="bg">

  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          <p>
            Welcome to this session where we are going to explore the hidden causes of addiction in our thinking. What makes the human mind, which is so intelligent and capable, do something so unintelligent as to allow itself to slide into addiction, and not be able to stop itself, and to top it all, resist everyone’s attempts to help us. To answer the question we are going to go on a journey inwards, to explore the hidden patterns of thinking that are common to all human beings, our hidden human ‘operating system’ if you want to call it that. Please travel with me. All you need is a mind open to learning about yourself without judgement. This understanding may save your life one day, and stop you sliding into addiction, or make it easier to find your way out.
          </p>
        </h3>                
      </div>
    </div>
    
  </form>
  
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>