<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path"
  [bg_tn]="bg_tn"></app-course-header>

<app-single-select [bg]="bg">

  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <h3 class="txt4">
          {{this.question}}
        </h3>
      </div>
    </div>

    <!-- <h6 class="txt5">
      Click all that apply
    </h6> -->

    <br>

    <div *ngFor="let o of optionList">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  p0">
          <div *ngIf="!o.CorrectAns">
            <!-- <a class="sb_anchor" data-toggle="modal" [attr.data-target]="'#lab-slide-bottom-popup'+o.OptId" > -->
            <a class="sb_anchor" data-toggle="modal" data-target="#lab-slide-bottom-popup">
              <div id="{{o.OptId}}" class="box select_box fleft">

                <div>
                  <h3 class="txt9 ctxt9" id="{{o.OptId+'text'}}" (click)="checkOption(o)">
                    {{o.OptStr}}
                    <!-- Having done something before and succeeded -->
                  </h3>
                </div>

              </div>
            </a>
          </div>
          <div *ngIf="o.CorrectAns">
            <a class="sb_anchor">
              <div id="{{o.OptId}}" [ngStyle]="{'background-color': o.OptId==this.sessionOption ? '#FFC455' : ''}"
                class="box select_box  fleft">
                <div>
                  <h3 class="txt9 ctxt9" id="{{o.OptId+'text'}}" (click)="checkOption(o)">
                    {{o.OptStr}}
                    <!-- Having done something before and succeeded -->
                  </h3>

                </div>

              </div>
            </a>

          </div>

        </div>
      </div>
      <br>
      <!-- [attr.id]="'lab-slide-bottom-popup'+o.OptId"
      [attr.data-target]="'#lab-slide-bottom-popup'+o.OptId" -->

      <div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
        <div class="row center_flex">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 lab-modal-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <h3 class="txt10">
                  You have selected the wrong answer. Please try again
                </h3>
              </div>
            </div>

            <div class="row center_flex pt20px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tcenter">
                <button type="button" class="btn btn-default btn_try_again" data-dismiss="modal">Try Again</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <a>
          <div class="box select_box fleft">
            <h3 class="txt9 ctxt9">
              Hearing others tell you how good you are
            </h3>    
          </div>                    
        </a>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <a>
          <div class="box select_box fleft">
            <h3 class="txt9 ctxt9">
              Comparing yourself to others who are better than you
            </h3>    
          </div>                    
        </a>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <a>
          <div class="box select_box fleft">
            <h3 class="txt9 ctxt9">
              Being conscious of the unconscious process of comparison
            </h3>    
          </div>                    
        </a>
      </div>
    </div> -->

    <!-- modal test -->
    <div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
      <div class="lab-modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 p0">
            <h3 class="txt10">
              You have selected the wrong answer. Please try again
            </h3>
          </div>
        </div>

        <div class="row center_flex pt20px">
          <div class="col-md-2 col-sm-4 col-xs-8 tcenter">
            <button type="button" class="btn btn-default btn_try_again" data-dismiss="modal">Try Again</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /modal test -->

  </form>
</app-single-select>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>