<app-course-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path"></app-course-header>

<app-quotation [bg]="bg">
  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation.svg" alt=""> -->
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/quotation.svg" alt="">
      </div>
    </div>

    <hr class="quotation_hr mt30px">

    <h1 class="quotation_txt">
      Let no man fear to die. We all love to sleep and death is but the sounder sleep

      </h1>

    <hr class="quotation_hr">

    <h1 class="quotation_writer">
      Francis Beaumont


    </h1>

  </form>
</app-quotation>

<app-course-footer (nextEmitter)="goNext()" (previousEmitter)="prev()"></app-course-footer>
