<!-- grey back & share -->
<!-- top navigation -->
<div *ngIf="tocColor === 'grey'" class="">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 toc_nvmenu_v3" [ngClass]="bg_tn">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tleft">
        <a (click)="goBack()" class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/back_round.svg" alt="" class="p0">
        </a>
      </div>
  
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
        <a class="">
          <h4 class="mtb0px fs_18px fw_600 lh_130p fc_ffffff tcenter">
            Stress
          </h4>
        </a>
      </div>
  
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <a id="btnShare" (click)="share()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                       
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/share_round.svg" alt="" class="p0">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- /grey back & share -->

<!-- white back & share -->
<!-- top navigation -->
<div *ngIf="tocColor === 'white'" class="">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 toc_nvmenu_v3" [ngClass]="bg_tn">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tleft">
        <a (click)="goBack()" class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/back_round.svg" alt="" class="p0">
        </a>
      </div>
  
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
        <a class="">
          <h4 class="mtb0px fs_18px fw_600 lh_130p fc_ffffff tcenter">
            Stress
          </h4>
        </a>
      </div>
  
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <a id="btnShare" (click)="share()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                       
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/share_round.svg" alt="" class="p0">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /top navigation -->
<!-- /white back & share -->