<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          The many emotions we feel and the hidden patterns of thinking behind them are the same in you and me and in all human beings. Our emotions are powerful and we are certain we are right and others are wrong. But for the sake of this enquiry we need to pause our judgement so we can continue exploring further. If we don’t do that we just cannot look at ourselves. Pausing judgement allows us to look at ourselves without being critical or justifying the way we are. It also allows us to accept ourselves as we are and increases our empathy of others.
          </h3>
          <h3 class="transcript_txt">
          Our mind automatically judges and criticises all the time, so this is not always an easy thing to do. It may help to understand that the human mind functions in the same way in all of us, so our emotions are not unique to us, though our experiences are.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>