<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back col_cw"
    [ngClass]="isAdults ? 'bg_FFF7E6' : 'bg_stake'">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
      <h1 class="fw_600 fs_18px lh_140p mtb0px tcenter" [ngClass]="isAdults ? 'fc_000000' : 'fc_ffffff'">
        Set password
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
      <a class="" routerLink="/onboarding/user-profile">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" class="p0"
          *ngIf="!isAdults">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/close.svg" alt="" class="p0"
          *ngIf="isAdults">
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->


<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">

    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 col_cw" [ngClass]="isAdults ? 'bg_FFF7E6' : 'bg_stake'">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="mtb30px mregister">
                <div class="row mb10px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
                    <input id="passs" class="sp_fc" [type]="passwordhide ? 'password' : 'text'" name="pass" required
                      [(ngModel)]="this.password" placeholder="Password" (focus)="passwordFocused = true"
                      (blur)="passwordFocused = false; passwordTouched = true" maxlength="15" required>

                    <div class="fc_img" (click)="hideFunction('password')">
                      <img *ngIf="passwordhide && !isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/password_hide.svg"
                        class="img-responsive">
                      <img *ngIf="passwordhide && isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/password_hide.svg"
                        class="img-responsive opacity-50">

                      <img *ngIf="!passwordhide && !isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/password_show.svg"
                        class="img-responsive">
                      <img *ngIf="!passwordhide && isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/password_show.svg"
                        class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <p *ngIf="passwordTouched && password && password.length < 6"
                      [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_ffffff_0_5'"
                      style=" margin-top: 5px; margin-bottom: 0px; font-size: 13px;">Password must be at least 6
                      characters</p>
                    <p *ngIf="passwordFocused && password && password.length >= 15"
                      [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_ffffff_0_5'"
                      style=" margin-top: 5px; margin-bottom: 0px; font-size: 13px;">Maximum 15 characters allowed</p>
                  </div>
                </div>

                <div class="row mb10px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 prelative">
                    <input [type]="confirmpasswordhide ? 'password' : 'text'" id="cpwd" class="sp_fc" name="cp"
                      [(ngModel)]="this.confirmPassword" placeholder="Confirm Password"
                      (focus)="confirmPasswordFocused = true"
                      (blur)="confirmPasswordFocused = false; confirmPasswordTouched = true" maxlength="15" required>

                    <div class="fc_img" (click)="hideFunction('')">
                      <img *ngIf="confirmpasswordhide && !isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/password_hide.svg"
                        class="img-responsive">
                      <img *ngIf="confirmpasswordhide && isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/password_hide.svg"
                        class="img-responsive opacity-50">

                      <img *ngIf="!confirmpasswordhide && !isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/password_show.svg"
                        class="img-responsive">
                      <img *ngIf="!confirmpasswordhide && isAdults"
                        src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v_1_4/password_show.svg"
                        class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <p *ngIf="confirmPasswordTouched && confirmPassword && confirmPassword.length < 6"
                      [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_ffffff_0_5'"
                      style=" margin-top: 5px; margin-bottom: 0px; font-size: 13px;">Confirm password must be at least 6
                      characters</p>
                    <p *ngIf="confirmPasswordFocused && confirmPassword && confirmPassword.length >= 15"
                      [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_ffffff_0_5'"
                      style=" margin-top: 5px; margin-bottom: 0px; font-size: 13px;">Maximum 15 characters allowed</p>
                    <p *ngIf="confirmPasswordTouched && password !== confirmPassword && confirmPassword.length >= 6 && confirmPassword.length <= 15"
                      [ngClass]="isAdults ? 'fc_000000_0_5' : 'fc_ffffff_0_5'"
                      style=" margin-top: 5px; margin-bottom: 0px; font-size: 13px;">Password and Confirm password must
                      be same</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <button type="submit" class="btn profile_dmd" (click)="forgotPassword()"
                    [disabled]="!password || !confirmPassword || password.length < 6 || password.length > 15 || confirmPassword.length < 6 || confirmPassword.length > 15 || password !== confirmPassword">
                    Submit
                  </button>
                </div>
              </div>

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<app-modal *ngIf="enableAlert" (closeEvent)="getAlertcloseEvent($event)" [okText]="'Ok'" [content]="content">
</app-modal>