<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
              
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          If our friends or siblings have more than we have or are doing better than us, we can feel jealous and withdraw from them or get angry at them for showing off. If they are not doing as well, it can make us feel proud, or uncomfortable at our own success. Understanding this process at work allows us to keep our relationships healthy. Many relationships between family members get strained because of this difference in material wealth. Navigating this process with wisdom requires everyone to have a deeper understanding of the unconscious process of comparison at work in the background and the effect it can have.
        </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>