<app-bg-video></app-bg-video>

<!-- page content -->
<div class="right_col mc_03" [ngClass]="isAdults? fc_000000 : fc_ffffff" style="margin-bottom: 50px;">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 center_flex bg_stake col_cw">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 center_flex">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/session_end_owl.svg" alt="" class="img-responsive animate_rotate_scale se_owl ">
                  <div class="prelative center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/wisdom_points_circle_02.svg" alt="" class="prelative">
                    <h6 class="fw_700 fs_30px lh_35px fc_ffffff se_wpts_count center_flex">
                      {{points}}
                    </h6>
                  </div>
                </div>
              </div>  -->

              <!-- <h1 class="txt12  c_white bg_transparent"> -->
              <!-- Thank you for completing the Survey. Your Wellness score is {{points}} %.<br><br> -->
              <!-- Whatever your score, there is an opportunity for growth to discover the benefits of wisdom as you engage with this program. -->
              <!-- Whatever your score there is an opportunity to grow as a person and be happier. -->
              <!-- </h1>     -->


              <div class="col-md-12 col-sm-12 col-xs-12 center_flex" *ngIf="isAdults">
                <!-- <div class="prelative center_flex"> -->
                <circle-progress [percent]="points" [radius]="64" [space]="-15" [outerStrokeWidth]="15"
                  [innerStrokeWidth]="15" [titleColor]="'#000000'" [outerStrokeColor]="'#ED7D6F'" [titleFontSize]="32"
                  [titleFontWeight]="600" [innerStrokeColor]="'rgba(0,0,0,0.2)'" [showSubtitle]="false"
                  [animation]="true" [showTitle]="true" [animationDuration]="100" [titleFormat]="formatTitle">
                </circle-progress>

                <!-- </div> -->
              </div>
               <div class="col-md-12 col-sm-12 col-xs-12 center_flex" *ngIf="!isAdults">
                <!-- <div class="prelative center_flex"> -->
                <circle-progress [percent]="points" [radius]="64" [space]="-15" [outerStrokeWidth]="15"
                  [innerStrokeWidth]="15" [titleColor]="'#ffffff'" [outerStrokeColor]="'#E58D82'" [titleFontSize]="32"
                  [titleFontWeight]="600" [innerStrokeColor]="'rgba(255,255,255,0.2)'" [showSubtitle]="false"
                  [animation]="true" [showTitle]="true" [animationDuration]="100" [titleFormat]="formatTitle" >
                </circle-progress>

                <!-- </div> -->
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12 center_flex">

                <h1 class="fw_600 fs_18px lh_27px mb20px  tcenter wp_txt" *ngIf="parseint(points) < 40">
                  Sorry that you’re not feeling great.
                </h1>

                <h1 class="fw_600 fs_18px lh_27px mb20px  tcenter wp_txt"
                  *ngIf="parseint(points) >= 41 && parseint(points) < 60">
                  Your wellness journey begins here.
                </h1>

                <h1 class="fw_600 fs_18px lh_27px mb20px  tcenter wp_txt" *ngIf="parseint(points) >= 60">
                  You’re doing great!
                </h1>

              </div>

              <!-- paragraphs below remain as is, showing additional guidance -->
              <h1 class="fw_400 mb20px fs_15px lh_140p  tcenter" *ngIf="parseint(points) < 40">
                There are many resources in the app to help you boost your wellbeing and feel happier.
              </h1>

              <h1 class="fw_400 mb20px fs_15px lh_140p  tcenter"
                *ngIf="parseint(points) >= 41 && parseint(points) < 60">
                There are so many resources in the app to help you be happier and succeed in life.
              </h1>

              <h1 class="fw_400 mb20px fs_15px lh_140p  tcenter" *ngIf="parseint(points) >= 60">
                There are many resources in the app to help you to grow even further as a person and succeed in every
                way in life.
              </h1>

              <ng-content></ng-content>

            </form>
          </div>
          <hr *ngIf="!justSignedUp && wisdomRecomm?.length" class="hr_style_v3_01">
          <!-- recommendations -->
          <div *ngIf="!justSignedUp && wisdomRecomm?.length">
            <h2 class="fw_400 mb20px fs_15px lh_140p  tcenter">
              Here are some recommendations for you to explore
            </h2>

            <div *ngFor="let item of wisdomRecomm" class="toc_adiv">
              <a (click)="navigateToRecommendation(item)">
                <div class="row mb15px">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0 center_flex">

                      <!-- left thumbnail -->
                      <div class="col-md-5 col-sm-5 col-xs-5 p0 prelative">
                        <img [src]="item.image_path" alt="{{item.title}}" class="p0 session_img">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/play_session.svg"
                          alt="" class="p0 session_img_play"
                          *ngIf="item.path.includes('.mp3') || item.path.includes('.mp4')">
                      </div>

                      <!-- right content -->
                      <div class="col-md-8 col-sm-8 col-xs-8 p0 pl20pxi">
                        <h4 class="mt0px mb5px fs_15px fw_500 lh_130p  ellipsis"  [ngClass]="isAdults? fc_ED7D6F : fc_e58d82 " > 
                          {{item.title}}
                        </h4>
                        <h4 class="mtb0px fs_12px fw_400 lh_130p " [ngClass]="isAdults? fc_000000_0_5 : fc_ffffff_0_5 " >
                          {{item.timing || ''}}
                        </h4>
                      </div>
                    </div>

                    <!-- right icon (arrow / lock) -->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="isSubscriber">
                      <i class="fa fa-angle-right  fs_20px"></i>
                    </div>

                    <!-- lock icon if NOT subscribed -->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright" *ngIf="!isSubscriber">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/lock.svg"
                        class="img-responsive">
                    </div>

                  </div>
                </div>
              </a>
            </div>

          </div>

          <!-- Proceed to Home – only for brand-new users -->
          <div *ngIf="justSignedUp" class="mtb20px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 plr10pxi">
              <button (click)="routeToDashboard()" type="button" class="btn mdp_add_to_journal">
                Proceed to Home
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<app-index-footer></app-index-footer>