.m-b-30 {
  margin-bottom: 30px;
}

.toc_adiv a .row{
  padding: 10px 10px 10px 1px
}

.x_content_adults {
  padding: 50px 35px;
  background-color: rgba(255, 232, 187, 1);
  border-radius: 12px;
  border: 6px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.x_content_teens {
  padding: 50px 35px;
  border: 6px solid #4267A5;
    background: #0C2B5F;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.25);
}
.bullet-text::before {
  content: "• ";
  margin-right: 5px;
}