<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          Long term loneliness can be stressful and impact our health. Besides all the illnesses that chronic stress causes, loneliness has also been linked with Alzheimer's disease, reducing the effectiveness of our immune system and even premature death. It is well known that surviving spouses have an increased risk of dying within 3 months of the death of a long term spouse -
           it's called the widowhood effect. Loneliness is recognized as a major health problem in many countries.

         </h3>

      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>