/* line height */
.lh_100p 
{
    line-height: 100%;
}

.lh_120p 
{
    line-height: 120%;
}

.lh_130p 
{
    line-height: 130%;
}

.lh_140p 
{
    line-height: 140%;
}

.lh_150p 
{
    line-height: 150%;
}

.lh_180p 
{
    line-height: 180%;
}

.lh_14px
{
    line-height: 14px;
}

.lh_18px
{
    line-height: 18px;
}

.lh_19px
{
    line-height: 19px;
}

.lh_21px
{
    line-height: 21px;
}

.lh_35px
{
    line-height: 35px;
}

.lh_39px
{
    line-height: 39px;
}
/* /line height */