<app-course-header [toc]="this.toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn"></app-course-header>

 <app-simple-text [bg]="bg">

  <form>               

    <h1 class="txt1">
      <p class="mb0px fw_bold">#2</p>
      When I look at myself I realise that my long held opinions come from my unconscious past influences and I am attached to them. I don’t want to let them go.
    </h1>

  </form>

</app-simple-text> 

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>