<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [bg_tn]="bg_tn" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We have explored how our hidden self-interest operates behind the scenes directing our thoughts and
           actions. This is not wrong, and just part of being human. What challenges can it pose in
            organisations, especially when people are not aware of it? It can hinder cooperation between
             people if one person feels their self-interest is threatened - sharing some work in the fear 
             the other person will take credit for it, for example. It can set up unnecessary rivalries between 
             departments vying for attention or resources, within the same organisation. We can see that clearly 
             in politics, with different factions competing for power. People can put others down in 
             order to get ahead themselves.
           Once you start noticing it, it is everywhere. It just needs to be understood.
          
          

         </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>