<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path"></app-course-header>
<app-oneline-text [bg]="bg">
  <form>
    <h1 class="txt8 fw_500 oneliner_txt_title">
      Benefits of having a healthy relationship with money:
    </h1>
    <div class="clearfix"></div>

    <!-- <h3 class="txt8">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/emoticons/sad.png" alt="">
    </h3> -->

    <h3 class="txt8 oneliner_txt_pointer">
      01. Lose the anxiety of not having enough
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      02. Do what we need to do to support ourselves
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      03. Not allow money to strain our relationships
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      04. We can live with integrity
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      05. Our lives are not unconsciously controlled by the pursuit of it
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      06. Realise that time is more precious than money
    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      07. Realise that money can’t buy happiness
    </h3>
  </form>          
</app-oneline-text>
<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>