<app-transcript-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [toc]="toc" [audioPage]="audioPage"></app-transcript-header>

<app-transcript-content [bg]="bg">
  <form>
                
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="transcript_txt">
          We carry all our hidden emotional needs from home to work. We have explored them in a separate module.
           For example, we have a need to feel valued and important, and we might expect our boss to say
            thank-you, or recognise us in some way. If this does not happen, we can be miserable and blame our 
             for making us unhappy, and say it's a thankless job. Once we wake up to this need in ourselves,
              we can ask why we need others to value what we do - why can’t we value ourselves. Similarly, behind our unhappiness may lie other unmet expectations. Waking up to them and examining them may allow us to let many of them go, and we can be happier as a result. 
          This allows us to take responsibility for our own happiness, and it does not involve anyone else.
          

         </h3>                
      </div>
    </div>
    
  </form>
</app-transcript-content>

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>