<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>

<app-lengthy-text [bg]="bg">
  <form>
    <h1 class="txt2 fw_500 lengthy_txt_title">
      On this journey of learning about yourself, keep in mind some basic principles:
    </h1>
    <div class="clearfix"></div>

    <h3 class="txt2 lengthy_txt_pointer">      
      01. We need a mind that is open to learning about itself
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      02. We need to suspend judgement 
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">
      03. What we see in ourselves is neither right or wrong
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      04. Seeing something clearly brings its own change, often without effort
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      05. Deep down, we are the same human being
    </h3>

    <h3 class="txt2 lengthy_txt_pointer">      
      06. Understanding yourself helps you to understand others
    </h3>
  </form>
</app-lengthy-text>

<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>