<app-course-header [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [toc]="toc" [path]="path" [bg_tn]="bg_tn"></app-course-header>
<app-oneline-text [bg]="bg">
  <form>
    <h1 class="txt8 fw_500 oneliner_txt_title">
      Why are we not at peace with ourselves?

    </h1>
    <div class="clearfix"></div>

    <h3 class="txt8 oneliner_txt_pointer">
      01. We feel others are better than us

    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      02. We do not match our idea of who we should be

    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      03. Others are critical of us


    </h3>

    <h3 class="txt8 oneliner_txt_pointer">
      04. We are not loved for who we are

    </h3>
    <h3 class="txt8 oneliner_txt_pointer">
      05. We have made mistakes and feel guilty


    </h3>

   
    <h3 class="txt8 oneliner_txt_pointer">
      06. We carry memories of pain

    </h3>

   
  </form>          
</app-oneline-text>
<app-course-footer [bg_cft]="bg_cft" (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>s